/*众筹订单页样式*/
.syndicate-all-order {
    padding-bottom: 50px;

    .order-head {
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #333;
        font-size: 16px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }

    .sup-header {
        height: 38px;
        line-height: 38px;
        padding: 0 10px;
        color: #333;
        font-size: 14px;
        background-color: transparent;
    }

    .order-cancel,
    .order-procedure {
        float: right;
        font-size: 12px;
    }

    .company-info {
        position: relative;
        display: -webkit-box;
        padding: 15px 0;
        -webkit-box-align: center;
        background-color: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow: hidden;

        .banner {
            position: absolute;
            width: 100px;
            right: -30px;
            top: 10px;
            transform: rotate(45deg);
            color: #fff;
            background-color: #56b9ff;
            text-align: center;
            font-size: 12px;
        }
    }

    .company-logo {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            border: 1px solid #d6d6d6;
            border-radius: 50%;
        }
    }

    .company-name {
        display: block;
        color: #333;
        white-space: nowrap;
    }

    .money-info {
        padding: 10px 0;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        text-align: center;

        p {
            font-weight: 500;
            color: #404040;
            margin-bottom: 0;

            &.money {
                font-size: 16px;
                text-indent: 12px;
            }

            &.text {
                color: #999;
            }
        }

        [class^="money-"] {
            float: left;
            width: 50%;

            &:first-child {
                border-right: 1px solid #ddd;
            }
        }
    }

    .stage-info {
        .stage {
            padding: 15px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
        }

        .stage-btn {
            width: 100%;
            margin-top: 10px;
            color: #fff;
            background-color: #008df2;
            border: none;
        }

        .stage-item {
            color: #333;
            overflow: hidden;

            &:first-child {
                color: #b6b6b6;
                margin-bottom: 5px;
            }

            .item-left {
                float: left;
            }

            .item-right {
                float: right;
            }

            .status {
                font-size: 12px;
                color: #fff;
                border-radius: 2px;
                text-align: center;
                padding: 3px 10px;
                margin-left: 18px;
                background-color: #ccc;

                &.has {
                    background-color: #ffb658;
                }

                &.not {
                    background-color: #56b9ff;
                }
            }
        }
    }

    .no-order-data {
        .icon-h5-search {
            font-size: 60px;
            margin: 32px auto 0;
            color: #e86463;
        }

        .remind-info {
            width: 60%;
            font-size: 16px;
            margin: 16px auto 0;
        }

        .invest-btn {
            width: 90%;
            margin-top: 19px;
            margin-left: 5%;
            margin-bottom: 10px;
            color: #fff;
            background-color: #008df2;
            border: none;
            padding: 10px 12px;
        }

        .recommend-item {
            margin-top: 10px;
            padding: 17px 13px 15px 13px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            .item-top {
                padding-bottom: 15px;
                border-bottom: 1px dashed #ddd;
                overflow: hidden;
            }

            .company-logo {
                float: left;
                display: block;
                width: 50px;
                height: 50px;
                margin-left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                }
            }

            .company-name {
                white-space: nowrap;

                a {
                    font-size: 16px;
                    color: #444;
                    font-weight: 500;
                    max-width: 222px;
                    display: inline-block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    vertical-align: middle;
                }

                .status {
                    font-size: 12px;
                    color: #fff;
                    border-radius: 2px;
                    background-color: #6bc1ff;
                    padding: 1px 5px;
                    margin-left: 5px;
                }
            }

            .company-brief {
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
            }

            .item-bottom {
                padding-top: 15px;
                overflow: hidden;

                p {
                    margin: 0 0 2px;
                }

                .bottom-left {
                    float: left;
                    width: 40%;
                }

                .bottom-right {
                    float: right;
                    width: 60%;
                    color: #444;
                    text-align: right;
                }
            }
        }
    }

    .loadMore {
         margin-top: 20px;
    }

    .syndicates-bottom-menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 45px;
        width: 100%;
        background-color: rgba(255, 255, 255, .8);
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;

        li {
            position: relative;
            float: left;
            width: 25%;

            a {
                display: block;
                width: 100%;
                height: 50px;
                padding-top: 25px;
                line-height: 20px;
                color: #929292;
                font-size: 12px;
                text-align: center;
            }

            &.active a {
                color: #007aff;
            }

            span {
                position: absolute;
                top: 5px;
                left: 50%;
                margin-left: -10px;
                font-size: 20px;
            }

            .icon-home:before {
                content: "\e901";
            }
        }
    }
}
