/*众筹确认金额页样式*/
.error {
    color: red;
}
.pop-risk-tip {
    .risk-content {
        padding: 20px;
        .risk-title {
            text-align: center;
            color: #000;
            font-weight: 600;
        }
    }
    .ensure-btn {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 15px;
        border-top: 1px solid #DDDDDD;
        text-align: center;
    }
}
.pop-all-protocol {
    position: relative;
    width: 100%;
    height: auto;
    .icon-del {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 15px;
    }
    .ensure-btn {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        border-top: 1px solid #DDDDDD;
        text-align: center;
    }
}
/*获得Kr码弹窗样式*/
.pop-apply-code {
    position: relative;
    .icon-del {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 15px;
    }
    .apply-content {
        padding: 40px 20px 20px;
        .apply-title {
            text-align: center;
            color: #666666;
            font-weight: 600;
        }
        .code-content {
            font-size: 11px;
            color: #999;
            line-height: 1.5;
        }
        .wish-count {
            display: block;
            width: 100%;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #B2B2B2;
            margin: 20px 0 10px;
            padding-left: 10px;
            font-size: 14px;
        }
    }
    .ensure-btn {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        border-top: 1px solid #DDDDDD;
        text-align: center;
    }
}
.confirmForm {
    height: 310px;
}
.syndicates-confirm {
    @default-color:#F7F7F7;
    .href-tip {
        font-size: 11px;
    }
    .error-tip {
        padding: 5px 0 0 15px;
        font-size: 11px;
        background-color: #f0f0f0;
        color: #e66565;
        margin: 0;
    }
    .kr-code-way {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        text-align: right;
        .clearfix;
    }
    .kr-code-enter {
        background-color: #fff;
        border: 1px solid #DFDFDF;
        height: 50px;
        padding: 0 15px;
        overflow: hidden;
        .kr-code-input {
            display: inline-block;
            width: 75%;
            height: 100%;
            border: 0;
            font-size: 14px;
            color: #008DF2;
        }
        .validate-kr-code {
            display: inline-block;
            float: right;
            width: 65px;
            height: 35px;
            line-height: 35px;
            margin-top: 7px;
            text-align: center;
            border-radius: 2px;
            color: #fff;
            background-color: #DEDEDE;
            &.suc {
                background-color: #008DF2;
            }
        }
    }
    .confirm-title {
        width: 100%;
        padding: 5px 15px;
        height: auto;
        background-color: @default-color;
        .validate-suc {
            font-size: 14px;
            color: #22AC38;
        }
        .risk-tip {
            float: right;
            font-size: 14px;
        }
    }
    .confirm-content {
        width: 100%;
        height: 150px;
        background-color: #fff;
        padding-left: 15px;
        border: 1px solid #DFDFDF;
        .content-count {
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            color: #333;
            border-bottom: 1px solid #DFDFDF;
            .invest-val {
                width: 70%;
                height: 100%;
                border: 0;
                margin-left: 15px;
            }
        }
        .content-info {
            .mt-12 {
                margin-top: 12px;
            }
            p {
                margin: 0;
                padding: 0;
                .info-attr {
                    display: inline-block;
                    width: 70px;
                }
                span {
                }
                .red {
                    color: #F22800;
                }
            }
        }

    }
    .content-bottom {
        padding: 20px 0 0 15px;
        background: #f7f7f7;
        border-bottom: 1px solid #DFDFDF;
        .select-way {
            margin-top: 30px;
        }
    }
    .pay-way {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #DFDFDF;
        padding-left: 15px;
        background-color: #fff;
        .way-detail {
            display: -webkit-box;
            -webkit-box-align: center;
            height: 60px;
            border-bottom: 1px solid #DFDFDF;
            &:last-of-type{
                height: 60px;
                border: 0;
            }
            .way-image {
                font-size: 25px;
                margin-right: 10px;
                .ali-pay {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: url("images/alipay.png") no-repeat;
                    background-size: contain;
                }
            }
            .way-info {
                width: 80%;
                .way-intro {
                    font-size: 15px;
                    color: #000;
                }
            }
            .way-handle {
            }
        }
    }
    .ensure-pay {
        display: block;
        width: 75%;
        height: 40px;
        line-height: 40px;
        padding: 0;
        font-size: 15px;
        text-align: center;
        color: #fff;
        background-color: #F28E00;
        border-radius: 3px;
        margin: 30px auto 0;
    }
}
/*ActionSheet样式*/
.shade-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    z-index: 100;
    visibility: hidden;
    &.normal {
        visibility: visible;

    }
}
.layer-bottom {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    transition: all .3s;
    opacity: 0;
    transform: translate3d(0,100%,0);
    z-index: 101;
    &.normal {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    .options {
        display: block;
        width: 100%;
        height: 43px;
        line-height: 43px;
        text-align: center;
        font-size: 14px;
        color: #333;
        background-color: #fff;
        border-bottom: 1px solid #DFDFDF;
        &:last-of-type {
            background-color: #7a8085;
            color: #fff;
            border-bottom: 0;
        }
    }
}
