/*众筹确认金额页样式*/
.pop-risk-tip {
    .risk-content {
        padding: 20px;
        .risk-title {
            text-align: center;
            color: #000;
            font-weight: 600;
        }
    }
    .ensure-btn {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        border-top: 1px solid #DDDDDD;
        text-align: center;
    }
}
.syndicates-confirm {
    @default-color:#F7F7F7;
    padding: 0 15px;
    background-color: @default-color;
    .confirm-title {
        width: 100%;
        height: 37px;
        line-height: 37px;
        background-color: @default-color;
        .risk-tip {
            float: right;
        }
    }
    .confirm-content {
        width: 100%;
        height: 145px;
        background-color: #fff;
        padding-left: 15px;
        .content-count {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #DFDFDF;
        }
    }
}
