.syndicates-desire {
    background-color: #f3f5f7;
    /*搜索结果高亮*/
    em.highlight {
        font-style: normal;
        color: #ff6600;
        font-weight: 600;
    }
    /*无数据时显示*/
    .no-data-layer {
        padding: 32px 0;
        .remind-info {
            font-size: 16px;
            margin-top: 10px;
        }
        .icon-h5-search {
            font-size: 60px;
            margin: auto;
            color: #e86463;
        }
    }
    &.activity-detail {
        background: #011e30;
        padding: 0 10px;
        text-align: justify;
        .icon-del {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            font-size: 22px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 25px;
            }
            section {
                line-height: 23px;
                color: #999;
            }
            .detail-title {
                color: #fcd20e;
                margin-bottom: 10px;
            }
            .qr-code {
                display: block;
                width: 133px;
                height: 133px;
                border: 1px solid #dddddd;
                padding: 14px;
                text-align: center;
                margin: 25px auto 30px;
            }
        }

        .top-title {
            color: #fcd20e;
            margin: 15px 0 10px;
            text-align: center;
            font-size: 18px;
        }
        .close-btn {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 32px;
            text-align: center;
            color: #fff;
            background-color: #203550;
        }
    }
    //.desire-rule {
    //    position: relative;
    //    height: 255px;
    //    background: url(images/zc-rule.jpg) no-repeat center;
    //    background-size: 100% auto;
    //
    //}
    .activity-detail {
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        text-align: center;
        top: -35px;
        color: #769ccd;
        text-decoration: underline;

    }
    .desire-nav {
        width: 100%;
        height: auto;
        margin-top: -30px;
        background-color: #fff;
        .nav-content {
            .clearfix();
            .nav-type {
                width: 25%;
                float: left;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-right: 1px solid #eeeff2;
                &:last-of-type {
                    border-right: none;
                }
                &.active {
                    color: #66a1ff;
                }
            }
            .select-industry {
                position: relative;
                width: 33.33%;
                float: left;
                height: 45px;
                line-height: 45px;
                text-align: left;
                outline: 0;
                border: 0;
                background: #fff;
                color: #888888;
                padding-left: 15px;
                .icon-gototop {
                    position: absolute;
                    font-size: 20px;
                    left: 75px;
                    top: 50%;
                    margin-top: -10px;
                    transform: rotate(180deg);
                }
            }
            .company-type {
                position: relative;
                width: 33.33%;
                float: left;
                height: 45px;
                line-height: 45px;
                text-align: left;
                outline: 0;
                border: 0;
                background: #fff;
                &.active {
                    color: #e6720d;
                }
                &.left {
                    padding-left: 15px;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                }
                &.right {
                    text-align: right;
                    padding-right: 15px;
                }
                &.center {
                    text-align: center;
                }
                .triangle {
                    position: absolute;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-width: 6px;
                    border-style: solid;
                    border-color: #999999 transparent transparent;
                    top: 50%;
                    margin-top: -3px;
                    left: 75px;
                }
                &:hover .type-detail{
                    transform: scale(1);
                    visibility: visible;
                    z-index: 9;
                }
                .type-detail {
                    position: absolute;
                    width: 150px;
                    top: 60px;
                    left: -10px;
                    background: #ffffff;
                    border: solid 1px #ddd;
                    padding: 20px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                    transform: scale(0);
                    visibility: hidden;
                    transition: all .2s;
                    transform-origin: 40% 0;
                    &:before {
                        width: 10px;
                        height: 10px;
                        transform: rotate(-45deg);
                        background: #ffffff;
                        border: solid 1px #ddd;
                        border-width: 1px 1px 0 0;
                        position: absolute;
                        top: -6px;
                        right: 86px;
                        content: " ";
                    }
                    .menu {
                        a {
                            cursor: pointer;
                            &:hover {
                                color: #178fe6;
                            }
                            &:first-of-type {
                                border-top: 0;
                            }
                            display: block;
                            height: 36px;
                            line-height: 36px;
                            border-top: solid 1px #eee;
                            padding: 0 6px;
                            font-size: 13px;
                            color: #333333;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        .search-bar {
            position: relative;
            height: 41px;
            overflow: hidden;
            white-space: nowrap;
            word-spacing: 0;
            padding: 8px;
            background-color: #f3f5f7;
            .icon-search2 {
                position: absolute;
                top: 50%;
                transform: translate(0,-9px);
                left: 50%;
                margin-left: -35px;
                color: #ccc;
                font-size: 18px;
            }
            input {
                width: 100%;
                height: 25px;
                border: solid 1px #efefef;
                border-radius: 3px;
                background: #ffffff;
                box-sizing: border-box;
                overflow: hidden;
                padding: 2px 10px;
                line-height: 25px;
                vertical-align: middle;
                font-size: 13px;
                outline: 0;
                text-align: center;
                -webkit-appearance: none;
                &::-webkit-input-placeholder {
                    color: #ccc;
                }
            }
        }
    }
    .desire-content {
        height: auto;
        .news-list {
            position: relative;
            display: block;
            width: 100%;
            height: 75px;
            -webkit-box-align: center;
            background-color: #fff;
            padding: 10px;
            border-bottom: 1px solid #efefef;
            overflow: hidden;
            .right-discount {
                position: absolute;
                top: 0;
                right: 0;
                width: 75px;
                height: 75px;
                overflow: hidden;
                .discount {
                    position: absolute;
                    top: 5px;
                    right: -18px;
                    width: 70px;
                    height: 20px;
                    background: #56b9ff;
                    color: #fff;
                    line-height: 20px;
                    font-size: 12px;
                    text-align: center;
                    transform: rotate(45deg);
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
            .news-logo {
                position: relative;
                float: left;
                display: block;
                width: 100px;
                height: 55px;
                background-size: 100% auto;
                background-repeat: no-repeat;
                margin-right: 10px;

                .type-tags {
                    display: block;
                    width: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0px 5px;
                    font-size: 12px;
                    background: #35a7fa;
                    z-index: 50;
                    color: #fff;
                    &.bg-4 {
                        background-color: #f1cd00;
                    }
                    &.bg-5 {
                        background-color: #35a7fa;
                    }
                    &.bg-6 {
                        background-color: #ff5f5c;
                    }
                }
            }
            .news-center {
                -webkit-box-float: 1;

                .news-title {
                    display: block;
                    font-size: 15px;
                    line-height: 18px;
                    max-height: 36px;
                    font-weight: 600;
                    word-break: break-all;
                    word-wrap: break-word;
                    color: #333333;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                .news-time {
                    color: #aaaaaa;
                    font-size: 20px;
                    .icon-h5-time {
                        position: relative;
                        top: 4px;
                    }
                    .time-text {
                        font-size: 13px;
                    }
                }
            }
        }
        .desire-company {
            position: relative;
            display: -webkit-box;
            width: 100%;
            height: 72px;
            -webkit-box-align: center;
            background-color: #fff;
            padding: 10px 0;
            margin-bottom: 10px;
            border: 1px solid #efefef;
            overflow: hidden;
            .border-radius {
                position: absolute;
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: #f5ae20 transparent transparent #f5ae20;
                border-width: 20px;
                left: 0;
                top: 0;
                &.sort2 {
                    border-color: #909495 transparent transparent #909495;
                }
                &.sort3 {
                    border-color: #906a39 transparent transparent #906a39;
                }
                .border-numer {
                    position: absolute;
                    color: #fff;
                    left: -13px;
                    top: -18px;
                }
            }
                & > div {
                    height: 72px;
                    &.center {
                        -webkit-box-flex: 1;
                        height: 52px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 10px;
                    }
                    &.right {
                        margin-right: 15px;
                    }
                }
                .company-num {
                    color: #ff5b54;
                    font-size: 15px;
                }
                .praise-add {
                    position: absolute;
                    top: 50px;
                    left: 220px;
                    color: #ccc;
                    font-size: 20px;
                    opacity: 0;
                    &.showPraise {
                        animation-name: praise;
                        animation-duration: 1s;
                        animation-fill-mode: both;
                        animation-timing-function: ease;
                    }
                }
                .company-logo {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-left: 15px;
                    margin-right: 10px;
                }
                .company-name {
                    font-size: 14px;
                    color: #000;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .company-intro {
                    font-size: 12px;
                    line-height: 15px;
                }
                .praise-btn {
                    display: block;
                    width: 55px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 2px;
                    color: #fff;
                    float: right;
                    font-size: 15px;
                    text-align: center;
                    background-color: #ff7f0e;
                    &:hover {
                        background-color: #ff7f0e * 0.9;
                    }

                }
        }
    }
    .desire-no-data {
        display: -webkit-box;
        width: 100%;
        height: 230px;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        background: #f0f0f0;
        .no-data-icon {
            position: relative;
            top: -5px;
            background: url("images/zc-no-data.png") no-repeat center;
            background-size: contain;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

    }
    .more-data {
        height: 30px;
        margin: 10px;
        line-height: 30px;
        background-color: #cdd8e4;
        color: #91a4ba;
        text-align: center;
        border-radius: 3px;
    }
    .desire-detail {
        width: 100%;
        height: 200px;
        background: url("images/zc-detail-banner.jpg") no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        padding-top: 18px;
        .see-detail {
            display: block;
            width: 81px;
            height: 25px;
            line-height: 25PX;
            color: #fff;
            border: 1px solid #83828e;
            text-align: center;
            margin: 17px auto 0;
        }
        .company-logo {
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: contain;
            margin: 0 auto 12px;
        }
        .company-name {
            text-align: center;
            font-size: 16px;
            color: #fff;
        }

    }
    .detail-info {
        padding: 20px 15px;
        color: #666666;
        background-color: #f0f0f0;
        .company-intro {
            margin-bottom: 15px;
            background: #f0f0f0;
            color: #666;
            font-size: 16px;
            margin-top: 5px;
        }
        .address {
            color: #999;
        }
        .website {
            color: #999;
        }
        .industry {
            margin-bottom: 35px;
            color: #999;
        }
        .share-icon {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 13px;
            &.icon-wechat {
                position: relative;
                top: 4px;
                font-size: 20px;
                background-color: #7BD172;
            }
            &.icon-qq {
                background-color: #5CA3E1;
                font-size: 12px;
                margin: 0 6px;
            }
            &.icon-weibo {
                position: relative;
                background-color: #D04340;
                font-size: 20px;
                top: 4px;
            }
        }
        .cancel-list {
            margin-top: 40px;
            text-align: center;
            a:active {
                color: #008DF2;
            }
            img {
                position: relative;
                bottom: 1px;
                right: 6px;
            }
        }
        .praise-btn {
            display: block;
            height: 38px;
            line-height: 38px;
            border-radius: 3px;
            color: #fff;
            text-align: center;
            background: #ff7f0e;
            font-size: 15px;
            margin-bottom: 16px;
        }

    }
}
/*我要上众筹弹窗*/
.desire-modal-window .modal-dialog{
    position: absolute;
    width: 96%;
    height: 230px;
    top: 50%;
    margin: -100px 2% 0 2%;
    background: #fff;
    overflow: auto;
    border: 0;
    border-radius: 0;
}
.activity-detail-window .modal-dialog {
    .modal-content {
        background: #011e30;
        border: 0;
        border-radius: 0;
        .top-line {
            width: 100%;
            height: 2px;
            background-color: #fcd20e;
        }

    }
    position: absolute;
    width: 96%;
    height: 400px;
    top: 50%;
    margin: -200px 2% 0 2%;
    background: #011e30;
    border: 0;
    border-radius: 0;
    overflow: auto;
}
.desire-modal-window .modal-content {
    border: 0;
    border-radius: 0;
}
.desire-modal {
    position: relative;
    height: 230px;
    padding: 0 20px;
    text-align: center;
    .icon-del {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 22px;
        color: #808080;
        cursor: pointer;
    }
    .share-icon {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        &.icon-wechat {
            background-color: #7BD172;
            .qr-code {
                display: none;
                position: absolute;
                width: 140px;
                height: 140px;
                padding:14px;
                background: #fff;
                bottom: 30px;
                left: 50%;
                margin-left: -70px;
                z-index: 10;
                border:solid 1px #eee;
                -webkit-filter:drop-shadow(0px 3px 5px rgba(0,0,0,0.2));
                border-radius: 4px;
                &:before {
                    position: absolute;
                    content:" ";
                    bottom: -6px;
                    left: 50%;
                    margin-left: -8px;
                    margin-top: -7px;
                    border:solid 1px transparent;
                    border-width: 1px 1px 0px 0px;
                    .rotate(-45deg);
                    background: #fff;
                    width: 15px;
                    height: 15px;
                }
            }
            &:hover .qr-code {
                display: block;
            }
        }
        &.icon-qq {
            position: relative;
            background-color: #5CA3E1;
            font-size: 12px;
            bottom: 4px;
            margin: 0 10px;
        }
        &.icon-weibo {
            background-color: #D04340;
        }
    }
    .modal-title {
        padding-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #000;
        &.orange {
            color: #ff9400;
        }
        &.red {
            color: #ff524f;
        }
    }
    .modal-content {
        height: 42px;
        margin-bottom: 35px;
        font-size: 15px;
        &.thirty-point {
            padding: 0 35px;
            margin-bottom: 20px;
        }
    }
    .modal-btn {
        display: block;
        width: 120px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: auto;
        background-color: #008df5;
        border-radius: 2px;
    }
}
/*微信分享遮罩层*/
.share-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(0,0,0,.85);
    .guide-arrow {
        position: absolute;
        width: 100px;
        height: 50px;
        top: 120px;
        right: 0;
        background: url("images/guide-arrow.png") no-repeat center;
        background-size: auto 100%;
    }
    .guide-tip {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%,0);
        color: #fff;
        .point {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}
@-webkit-keyframes praise {
    0% {
        opacity: 0;
        transform: translate3d(0,30px,0);
    }
    80% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0,0,0);
    }
}

@keyframes praise {
    0% {
        opacity: 0;
        transform: translate3d(0,30px,0);
    }

    80% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0,0,0);
    }
}
