/*众筹详情页样式*/
/*我要投资modal*/
.to-invest-window .modal-dialog{
    height: 200px;
}
.syndicate-detail {
    .c-black {
        color: #000;
    }
    .c-white {
        color: #fff;
    }
    .pb-20 {
        padding-bottom: 20px;
        background-color: #fff;
    }
    .pb-50 {
        padding-bottom: 50px;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .detail-desc {
        padding: 20px;
        background-color: #fff;
    }
    .welcome-form {
        >.form-group {
            .col {
                float: left;
                width: 65%;
            }
            &:last-child{
                background-color: #fff;
                padding: 10px 0;
                border-bottom: 0;
                margin: -1px 10px 0;
            }
        }
    }
    .all-co {
        width: 100%;
        height: 44px;
        text-align: center;
        line-height: 44px;
        border: 1px solid #eee;
    }
    .syndicatesInfo-banner {
        position: relative;
        width: 100%;
        background: linear-gradient(top,#1D2C56,#7B6C54) rgba(0,0,0,.5);
        padding: 25px 0;
        &.c-white {
            color: #fff;
        }
        .dark-white {
            color: #999999;
        }
        .company-brief {
            padding: 0 20px;
        }
        .syndicatesInfo-status {
            display: inline-block;
            position: absolute;
            width: auto;
            height: 23px;
            background-color: #F28D00;
            color: #fff;
            text-align: center;
            line-height: 23px;
            padding: 0 18px;
            top: 0;
            left: 0;
            &.bg-30 {
                background-color: #178fe6;
            }
            &.bg-35 {
                background-color: #178fe6;
            }
            &.bg-60 {
                background-color: #F28D00;
            }
            &.bg-50 {
                background-color: #25B964;
            }
            &.bg-40 {
                background-color: red;
            }
        }
        .company-logo {
            width: 60px;
            height: 60px;
            margin: 0 auto 15px;
            background-color: #F78000;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 50%;
        }
    }
    .led-avatar {
        width: 100%;
        height: 105px;
        background-color: #fff;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0 auto 10px;
        }
    }
    .business-plan {
        width: 100%;
        height: 200px;
        padding: 30px 0;
        background-color: #fff;
        .plan-logo {
            width: 100%;
            height: 50px;
            background: url("images/business-plan.png") no-repeat center;
            background-size: contain;
        }
        .view-bp {
            display: block;
            width: 40%;
            height: 40px;
            line-height: 40px;
            margin: 15px auto;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            background-color: #4290EE;
        }
    }
    .past-invest {
        width: 100%;
        height: auto;
        min-height: 200px;
        background: #fff;
        padding: 15px;
        .past-node {
            position: relative;
            width: 100%;
            height: auto;
            border-left: 1px solid #eee;
            padding: 20px 0;
            &:last-of-type {
                padding-bottom: 0;
            }
            .node {
                position: absolute;
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid #F28D00;
                left: -4px;
                top: -6px;
            }
            .past-time {
                position: absolute;
                font-size: 14px;
                top:-12px;
                left: 25px;
            }
            .past-content {
                position: relative;
                width: 90%;
                height: auto;
                min-height: 100px;
                border-radius: 3px;
                left: 12px;
                border: 1px solid #eee;
                .round {
                    width: 100%;
                    height: 34px;
                    line-height: 34px;
                    color: #F28D00;
                    text-align: center;
                    font-weight: bold;
                    background-color: #f7f7f7;
                }
                .detail {
                    width: 100%;
                    padding: 0 10px;
                    position: relative;
                    .num {
                        float: left;
                        width: 50%;
                        height: 100%;
                        border-bottom: 1px solid #eee;
                        padding: 5px;
                    }
                    .line {
                        position: absolute;
                        width: 1px;
                        height: 90%;
                        left: 50%;
                        top: 5%;
                        background-color: #eee;
                    }
                    .c-orange {
                        color: #F28D00;
                    }
                }
                .past-investor {
                    width: 100%;
                    padding: 10px 5% 0;
                    .investor {
                        display: inline-block;
                        margin: 0 10px 10px 0;
                        &:nth-of-type(even) {
                            float: right;
                        }
                        .logo {
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-size: 100% 100%;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .foreign-company {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        .foreign-logo {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: #fff no-repeat center;
            background-size: contain;
            float: left;
            margin-right: 10px;
            border: 1px solid #ddd;
        }
        .foreign-intro {
            padding-left: 55px;
            p {
                line-height: 1.5;
            }
        }
    }
    .high-point-img {
        width: 100%;
        height: auto;
    }
    .view-all {
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #DFDFDF;
    }
    .co-investor {
        width: 100%;
        padding: 10px 5px;
        background-color: #fff;

        .co-investor-logo {
            width: 25%;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .co-logo {
            display: block;
            margin: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-size: 100% 100%;
        }
    }
    .syndicate-goal {
        width: 100%;
        padding: 15px 0 15px;
        background-color: #fff;
        &.fund-info {
            padding-bottom: 0;
        }
        .account {
            padding: 0 20px 10px;
            .has-syndicate {
                font-size: 13px;
                color: #666;
            }
        }
        .mt-15 {
            margin-top: 15px;
        }
        .fl-right {
            float: right;
        }
        .syndicate-detail-num {
            width: 100%;
            padding: 15px 0 0;
            &.line {
                border-top: 1px solid #eee;
            }
            &.fund-info {
                padding: 0;
                .detail{
                    width: 33%;
                    margin-bottom: 10px;
                    border-right: 1px solid #eee;
                    .logo {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-size: 100% 100%;
                        border: 1px solid #ddd;
                        margin: auto;
                    }
                }
                .has-attend {
                    width: 100%;
                    padding: 0 10px;
                    text-align: left;
                    background-color: #fff;
                    border-top: 1px solid #eee;
                    .entity {
                        padding: 20px 0 10px;
                        text-align: center;
                        .detail {
                            border: 0;
                        }
                    }
                    .has-title {
                        border-bottom: 1px solid #eee;
                        height: 40px;
                        line-height: 40px;
                        color: #999;
                    }
                }
            }
            .detail {
                width: 25%;
                float: left;
                border-right: 1px solid #eee;
                p {
                    font-size: 12px;
                    color: #999;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .c-orange {
                    font-size: 15px;
                    color: #f28d00;
                }
            }
        }
    }
    .market-analysis,.detail-desc {
        width: 100%;
        height: auto;
        line-height: 1.5;
        padding: 10px;
        color: #666;
        background-color: #fff;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                color: #F28D00;
                margin-bottom: 10px;
                &.other {
                    color: #888888;
                    border-bottom: 1px solid #eee;
                    .content {
                        color: #000;
                        margin-bottom: 15px;
                    }
                }
                .desc-title {
                    color: #888888;
                }
                .li-point {
                    position: relative;
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background-color: #F28D00;
                    border-radius: 50%;
                    vertical-align: middle;
                    top: -2px;
                }
                .content {
                    color: #666;
                    line-height: 1.5;
                    margin-top: 4px;
                    margin-left: 6px;
                }
            }
        }
    }
    .more-tip {
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color: #fff;
        border: 1px solid #eee;
        text-align: center;
    }
    .toggle-more {
        display: block;
        width:80%;
        margin: 15px auto;
        border: 1px solid #67AEF5;
        color: #67AEF5;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;
    }
    .chart {
        width: 100%;
    }
    .employ-share {
        width: 100%;
        background-color: #fff;
        padding-left: 50px;
    }
    .exp-content {
        background-color: #fff;
        padding: 10px;
    }

}
.bottom-col {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    border: 1px solid #eee;

    .order-btn {
        display: inline-block;
        float: left;
        width: 15%;
        height: 50px;
        padding-top: 5px;
        background: #f7f7f7;
        font-size: 20px;
        color: #008DF2;
        text-align: center;
        border-right: 1px solid #dddede;

        &.no-remind-btn {
            width: 20%;
        }

        .btn-text {
            color: #929292;
            font-size: 14px;
            margin-top: 5px;
        }
    }

    .remind-btn {
        .order-btn;
        padding-top: 0;
        font-size: 30px;
        font-weight: bold;
        color: #929292;

        .remind-text {
            margin-top: 0;
            color: #929292;
        }
    }

    .more-info {
        display: inline-block;
        width: 35%;
        height: 50px;
        line-height: 50px;
        color: #929292;
        text-align: center;
        background-color: #fff;
        float: left;

        &.no-remind-btn {
            width: 40%;
        }
    }
    .invest-btn {
        .more-info;
        background-color: #F28D00;
        color: #fff;
        &.disabled {
            background-color: #ccc;
        }
    }
    .set-remind {
        .more-info;
        background-color: #F28D00;
        color: #fff;
    }
}

