/*众筹首页样式*/
.syndicates-index {
    padding:15px;
    .hot-icon {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        border-style: solid;
        border-width: 25px;
        border-color: #F28D00 #F28D00 transparent transparent;
        &:before {
            content: "热门";
            white-space: nowrap;
            color: #fff;
            transform: translate3d(0,-30px,0) rotate(45deg);
            display: block;
            font-size: 12px;
        }
    }
    &.mt-30 {
        margin-top: 30px;
    }
    &.mb-73 {
        margin-bottom: 73px;
    }
    &.mb-50 {
        margin-bottom: 50px;
    }
    .ml-10 {
        margin-left: 10px;
    }
    &.loadMore {
        width: 100%;
        height: 40px;
        background-color: #D8DFE6;
        color: #000;
        text-align: center;
        line-height: 10px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .syndicates-pic {
        position: relative;
        height: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        .syndicates-status {
            position: absolute;
            width: auto;
            min-width: 80px;
            height: 24px;
            left: 0;
            top: 0;
            padding: 0 10px;
            color: #fff;
            text-align: center;
            line-height: 24px;
            font-size: 15px;
            &.pd-19 {
                padding: 0 19px;
            }
            &.bg-30 {
                background-color: #178fe6;
            }
            &.bg-35 {
                background-color: #25B964;
            }
            &.bg-60 {
                background-color: #F28D00;
            }
            &.bg-50 {
                background-color: #25B964;
            }
            &.bg-40 {
                background-color: red;
            }

        }
    }
    .syndicates-brief-info {
        .c-black {
            color: #000;
            &.fs-15 {
                font-size: 15px;
            }
        }
        .investor-led-title {
            .gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
            position: relative;
            margin-top:-60px;
            height: 60px;
            padding-top:10px;
            line-height: 50px;
            padding-left:10px;
            font-size:15px;

            .led-name {
                overflow: hidden;
                max-width: 200px;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
                color:#fff;
                vertical-align: middle;
            }
            span.text {
                display: inline-block;
                color:#fff;
                vertical-align: middle;
            }
            .mr-10 {
                margin-right: 10px;
            }
        }
        .investor-detail {
            padding: 15px;
            background-color: #ffffff;
            .brief {
                color: #999;
                line-height: 1.1;
                margin-top: 4px;
                overflow: hidden;
            }
            .syndicates-logo {
                display: inline-block;
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 15px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                box-shadow: 0 0 1px rgba(0,0,0,0.2);
            }
            .syndicates-detail {
                .clearfix;
                padding:10px 0;
                border-top:solid 1px #ddd;
                p {
                    margin:0;
                }
            }
            .props {
                border-bottom: solid 1px #ddd;
                margin:20px 0;
            }
            .syndicates-attr {
                float: left;
                color: #AAAAAA;
            }
            .syndicates-intro {
                float: right;
                text-align: right;
            }

            .goal {
                color: #AAAAAA;
                margin: 8px 0px 0px;
                text-align: left;
                .goal-num {
                    float: right;
                    .currency {
                        color: #FF9900;
                    }
                }

            }
            .actions {
                margin-top: 15px;
                overflow: hidden;
                .btn {
                    display: block;
                    margin-top: 10px;
                    border-color: #71a8e9;
                    color: #008df2;
                    &.preheat-detail {
                        display: inline-block;
                        width: 46%;
                        float: left;
                    }
                    &.preheat-remind {
                        .preheat-detail;
                        border: 1px solid #F28D00;
                        float: right;
                        color: #F28D00;
                    }
                }

            }
        }


    }

}
/*跟投人验证弹窗*/
.pop-validate {
    height: auto;
    padding: 20px 64px;
    background: #fff;
    text-align: center;
    .val-tip {
        display: block;
        margin: 33px 0 40px;
        font-size: 15px;
    }
    .validate-btn {
        display: inline-block;
        background-color: #178fe6;
        padding: 0;
        width: 110px;
        height: 30px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
    }
}
/*首页轮播图*/
.c-scale(@x, @y){
    transform: scale(@x, @y);
    -ms-transform: scale(@x, @y);
    -webkit-transform: scale(@x, @y);
    -o-transform: scale(@x, @y);
    -moz-transform: scale(@x, @y);
}

.c-translate(@x, @y){
    transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -webkit-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
}

.c-rotateY(@d){
    transform: rotateY(@d);
    -ms-transform: rotateY(@d);
    -webkit-transform: rotateY(@d);
    -o-transform: rotateY(@d);
    -moz-transform: rotateY(@d);
}

.c-rotateX(@d){
    transform: rotateX(@d);
    -ms-transform: rotateX(@d);
    -webkit-transform: rotateX(@d);
    -o-transform: rotateX(@d);
    -moz-transform: rotateX(@d);
}
.home-wrap, .home-content-wrap {
    /* Slider */
    .slick-slider {
        position: relative;

        display: block;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;

        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;

        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;

        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;

        height: auto;

        border: 1px solid transparent;
    }

    .main-content-wrap {
        position: relative;
        z-index: 1;
    }

    .slider {
        position: relative;
        &.syndicates {
            width: 100%;
            height: 160px;
            .slider-image {
                background: #052d54 url("images/syndicates-banner.jpg") no-repeat center;
                background-size: auto 100%;
                &.next {
                    background: #008DF2 url("images/syndicates-banner-1.jpg") no-repeat center;
                    background-size: auto 100%;
                    .banner-btn {
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        margin-left: 40px;
                        bottom: 15px;
                        width: 110px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background-color: #4BB6FF;
                        color: #fff;
                        font-size: 14px;
                        border-radius: 3px;
                        &:hover {
                            background-color: #4BB6FF * 0.95;
                        }
                    }
                }
            }
        }
        .slider-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            z-index: 2;
            background-position: top center;
            background-repeat: no-repeat;
            background-image: url(images/home-slider-01.png);
            background-size: cover;
            .banner-btn {
                display: inline-block;
                position: absolute;
                left: 50%;
                margin-left: -55px;
                bottom: 15px;
                width: 110px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color: #f4a100;
                color: #fff;
                font-size: 14px;
                border-radius: 3px;
                &:hover {
                    background-color: #f4a100 * 0.95;
                }
            }
            img {
                width: 100%;
            }
        }
        .slider-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: rgba(0, 0, 0, 0.3);
        }
        .slider-content {
            position: relative;
            z-index: 4;
        }
        .ff-slogen {
            text-align: center;
        }
        .ff-slogen-1 {
            margin-top: 93px;
            img {
                display: inline-block;
            }
        }
        .ff-slogen-2 {
            margin-top: 38px;
            img {
                display: inline-block;
            }
        }
        .ff-preheat-btn {
            background: #f67a4f;
            font-size: 30px;
            margin-top: 75px;
            width: 354px;
            height: 76px;
            line-height: 76px;
            padding: 0;
            border-radius: 17px;
        }
        .slogen {

            margin-top: 240px;
            font-family: "Microsoft YaHei", "微软雅黑", "STHeiti";

            &-main {
                color: #fff;
                line-height: 1.01em;
                font-size: 52px;
                font-weight: 600;
                text-align: center;
                line-height: 1.2em;
            }
            &-sub {
                color: #eee;
                line-height: 1.01em;
                font-size: 20px;
                text-align: center;
                margin-top: 26px;
            }
        }
        .quick-redirect {
            margin-top: 30px;
            .btn {
                width: 260px;
                padding: 12px 16px;
                font-size: 18px;
                margin: 0 12px;
                color: #fff;
                border-radius: 3px;
                &:hover, &:active {
                    color: #fff;
                }
                &:visited {
                    color: #fff;
                }
            }
            .btn-blue {
                background: #516dea;
            }
            .btn-yellow {
                background: #ff9600;
            }
        }
    }

    .slider-container {
        position: relative;
        overflow: hidden;

        .top-slide-arrow {
            &.syndicates {
                .top-slide-arrow-left, .top-slide-arrow-right {
                    top: 178px !important;
                }
            }
            &-left, &-right {
                display: block;
                position: absolute;
                top: 266px;
                width: 43px;
                height: 93px;
                background: url(images/slider-arrow-bg.png) no-repeat;
                z-index: 25;

                transition: transform 0.6s;
                -webkit-transition: -webkit-transform 0.6s;
                -moz-transition: -moz-transform 0.6s;
                -o-transition: -o-transform 0.6s;
                -ms-transition: -ms-transform 0.6s;

            }

            &-left {
                left: 0;
                background-position: 0 0;
                .c-translate(-43px, 0);
            }
            &-right {
                right: 0;
                background-position: -43px 0;
                .c-translate(43px, 0);
            }

        }

        &:hover .top-slide-arrow > a {
            .c-translate(0, 0);
        }

    }
}
