.syndicates-no-data-layer {
    padding: 32px 0;
    .remind-info {
        font-size: 16px;
        margin-top: 10px;
    }
    .icon-h5-search {
        font-size: 60px;
        margin: auto;
        color: #e86463;
    }
}

.syndicates-filter {
    height: 2.7em;
    margin: 20px 15px 5px;
    overflow: hidden;

    .filter-inner {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 2.7em;

        .filter-item {
            float: left;
            display: block;
            padding: .2em .5em;
            margin: 0 0 0 .2em;
            font-size: 13px;
            color: #4d4d4d;
            border-radius: 2px;

            &.active {
                color: #fff;
                background-color: #178fe6;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

/*众筹首页样式*/
.syndicates-index {
    padding: 0 15px;
    margin-bottom: 15px;
    &:first-of-type {
        margin-top: 15px;
    }
    .actions {
        overflow: hidden;
        .btn {
            display: block;
            padding: 0;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            border-radius: 0;
            border: 0;
            background: #fff;
            border-top: 1px solid #f0f0f0;
            color: #008df2;
            &.preheat-detail {
                width: 50%;
                float: left;
            }
            &.preheat-remind {
                .preheat-detail;
                color: #F28D00;
                border-left: 1px solid #DFDFDF;
                i {
                    position: relative;
                    font-size: 20px;
                    font-weight: 600;
                    top: 3px;
                }
            }
        }

    }
    .hot-icon {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        border-style: solid;
        border-width: 25px;
        border-color: #F28D00 #F28D00 transparent transparent;
        &:before {
            content: "热门";
            white-space: nowrap;
            color: #fff;
            transform: translate3d(0,-30px,0) rotate(45deg);
            display: block;
            font-size: 12px;
        }
    }
    &.mt-30 {
        margin-top: 30px;
    }
    &.mb-73 {
        margin-bottom: 73px;
    }
    &.mb-50 {
        margin-bottom: 50px;
    }
    .ml-10 {
        margin-left: 10px;
    }
    &.loadMore {
        width: 100%;
        height: 40px;
        background-color: #D8DFE6;
        color: #000;
        text-align: center;
        line-height: 40px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .title-info {
        width: 100%;
        .clearfix;
        padding: 15px;
        background: #fff;
        .syndicates-logo {
            display: block;
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 15px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            box-shadow: 0 0 1px rgba(0,0,0,0.2);
        }
        .syndicates-intro {
            margin-left: 55px;
            a {
                color: #333;
                font-weight: 600;
                white-space: nowrap;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .brief {
                color: #999;
                font-size: 13px;
                line-height: 1.25;
                word-break: break-all;
            }
        }
    }
    .syndicates-pic {
        position: relative;
        height: 160px;
        background-repeat: no-repeat;
        background-size: 100%;
        .syndicates-container {
            position: relative;
            width: 100%;
            display: inline-block;
            .investor-led-title {
                position: absolute;
                top: 0;
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
                font-size: 15px;
                font-weight: 600;
                .led-name {
                    overflow: hidden;
                    max-width: 200px;
                    text-overflow: ellipsis;
                    display: inline-block;
                    white-space: nowrap;
                    color:#fff;
                    vertical-align: middle;
                }
                span.text {
                    display: inline-block;
                    color:#fff;
                    vertical-align: middle;
                }
                .mr-10 {
                    margin-right: 10px;
                }
            }
        }
        img {
            position: relative;
            display: block;
            width:100%;
            max-height: 400px;
            @media (min-width: 700px) {
                max-height: 800px;
            }
        }
        .syndicates-status {
            position: absolute;
            width: 100%;
            bottom: 0;
            min-width: 80px;
            height: 30px;
            padding: 0 10px;
            color: #fff;
            text-align: center;
            line-height: 30px;
            font-size: 14px;
            i {
                display: none;
            }
            &.pd-19 {
                padding: 0 19px;

            }
            &.bg-25 {
                background-color: #ef9311;
            }
            &.bg-30 {
                background-color: #1192ee;
            }
            &.bg-40 {
                background-color: #ec4f50;
            }
            &.bg-35,&.bg-50 {
                background-color: #6fbc37;
            }
            &.bg-60 {
                background-color: #F28D00;
                i {
                    display: inline-block;
                    color:#fff;
                    font-size:16px;
                    position: relative;
                    top:2px;
                }
            }
        }
    }
    .syndicates-brief-info {
        .c-black {
            color: #000;
            &.fs-15 {
                font-size: 15px;
            }
        }

        .investor-detail {
            padding: 15px;
            background-color: #ffffff;
            .brief {
                color: #999;
                font-size: 12px;
                line-height: 1.1;
                margin-top: 4px;
                overflow: hidden;
                word-break: break-all;
            }
            .syndicates-logo {
                display: inline-block;
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 15px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                box-shadow: 0 0 1px rgba(0,0,0,0.2);
            }
            .syndicates-detail {
                .clearfix;
                padding:1px 0;
                p {
                    margin:0;
                }
            }
            .props {
                border-bottom: solid 1px #f0f0f0;
                padding-bottom: 10px;
            }
            .syndicates-attr {
                float: left;
                color: #999;
                font-size: 13px;
            }
            .syndicates-intro {
                float: right;
                color: #333;
                font-size: 13px;
                text-align: right;
            }

            .goal {
                color: #666;
                font-size: 13px;
                margin: 8px 0px 0px;
                text-align: left;
                .goal-num {
                    float: right;
                    .currency {
                        color: #FF9900;
                    }
                }

            }

        }


    }

}
/*我要投资弹窗*/
.pop-to-invest {
    .pop-validate;
    padding: 20px;
}
/*跟投人验证弹窗*/
.pop-validate {
    height: auto;
    padding: 20px 64px;
    background: #fff;
    text-align: center;
    .val-tip {
        display: block;
        margin: 33px 0 40px;
        font-size: 15px;
    }
    .validate-btn {
        display: inline-block;
        background-color: #178fe6;
        padding: 0;
        width: 110px;
        height: 30px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
    }
}
/*首页轮播图*/
.c-scale(@x, @y){
    transform: scale(@x, @y);
    -ms-transform: scale(@x, @y);
    -webkit-transform: scale(@x, @y);
    -o-transform: scale(@x, @y);
    -moz-transform: scale(@x, @y);
}

.c-translate(@x, @y){
    transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -webkit-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
}

.c-rotateY(@d){
    transform: rotateY(@d);
    -ms-transform: rotateY(@d);
    -webkit-transform: rotateY(@d);
    -o-transform: rotateY(@d);
    -moz-transform: rotateY(@d);
}

.c-rotateX(@d){
    transform: rotateX(@d);
    -ms-transform: rotateX(@d);
    -webkit-transform: rotateX(@d);
    -o-transform: rotateX(@d);
    -moz-transform: rotateX(@d);
}
.home-wrap, .home-content-wrap {
    /* Slider */
    .slick-slider {
        position: relative;

        display: block;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;

        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;

        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;

        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;

        height: auto;

        border: 1px solid transparent;
    }

    .main-content-wrap {
        position: relative;
        z-index: 1;
    }

    .slider {
        position: relative;

        &.syndicates {
            width: 100%;
            height: 200px;
            overflow: hidden;

            .slider-image {
                background: #052d54 url("images/syndicates-banner.jpg") no-repeat center;
                background-size: auto 100%;

                &.next {
                    background: #008DF2 url("images/syndicates-banner-1.jpg") no-repeat center;
                    background-size: auto 100%;
                    .banner-btn {
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        margin-left: 40px;
                        bottom: 15px;
                        width: 110px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background-color: #4BB6FF;
                        color: #fff;
                        font-size: 14px;
                        border-radius: 3px;
                        &:hover {
                            background-color: #4BB6FF * 0.95;
                        }
                    }
                }

                a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }

            .slider-bottom {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 40px;
                background-color: rgba(0, 0, 0, .4);
                width: 100%;
                z-index: 10;
                overflow: hidden;

                h3 {
                    margin-top: 12px;
                    padding-left: 10px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
        .slider-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            z-index: 2;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            img {
                width: 100%;
            }
        }
        .slider-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: rgba(0, 0, 0, 0.3);
        }
        .slider-content {
            position: relative;
            z-index: 4;
        }
        .ff-slogen {
            text-align: center;
        }
        .ff-slogen-1 {
            margin-top: 93px;
            img {
                display: inline-block;
            }
        }
        .ff-slogen-2 {
            margin-top: 38px;
            img {
                display: inline-block;
            }
        }
        .ff-preheat-btn {
            background: #f67a4f;
            font-size: 30px;
            margin-top: 75px;
            width: 354px;
            height: 76px;
            line-height: 76px;
            padding: 0;
            border-radius: 17px;
        }
        .slogen {

            margin-top: 240px;
            font-family: "Microsoft YaHei", "微软雅黑", "STHeiti";

            &-main {
                color: #fff;
                line-height: 1.01em;
                font-size: 52px;
                font-weight: 600;
                text-align: center;
                line-height: 1.2em;
            }
            &-sub {
                color: #eee;
                line-height: 1.01em;
                font-size: 20px;
                text-align: center;
                margin-top: 26px;
            }
        }
        .quick-redirect {
            margin-top: 30px;
            .btn {
                width: 260px;
                padding: 12px 16px;
                font-size: 18px;
                margin: 0 12px;
                color: #fff;
                border-radius: 3px;
                &:hover, &:active {
                    color: #fff;
                }
                &:visited {
                    color: #fff;
                }
            }
            .btn-blue {
                background: #516dea;
            }
            .btn-yellow {
                background: #ff9600;
            }
        }
    }

    .slider-container {
        position: relative;
        overflow: hidden;

        &.syndicates {
            height: 200px;
        }

        .slick-dots {
            position: absolute;
            bottom: 14px;
            right: 10px;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 3px;
            padding: 0;
            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 6px;
            height: 6px;
            cursor: pointer;
            border: 0;
            outline: none;
            background: rgba(0, 0, 0, .4);
            border-radius: 6px;
        }

        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li.slick-active {
            width: 11px;

            button {
                height: 4px;
                width: 11px;
                border-radius: 5px;
                background-color: #fff;
            }
        }

        .top-slide-arrow {
            &.syndicates {
                .top-slide-arrow-left, .top-slide-arrow-right {
                    top: 178px !important;
                }
            }
            &-left, &-right {
                display: block;
                position: absolute;
                top: 266px;
                width: 43px;
                height: 93px;
                background: url(images/slider-arrow-bg.png) no-repeat;
                z-index: 25;

                transition: transform 0.6s;
                -webkit-transition: -webkit-transform 0.6s;
                -moz-transition: -moz-transform 0.6s;
                -o-transition: -o-transform 0.6s;
                -ms-transition: -ms-transform 0.6s;

            }

            &-left {
                left: 0;
                background-position: 0 0;
                .c-translate(-43px, 0);
            }
            &-right {
                right: 0;
                background-position: -43px 0;
                .c-translate(43px, 0);
            }

        }

        &:hover .top-slide-arrow > a {
            .c-translate(0, 0);
        }
    }

    .news-container {
    }

    .news-container {
        position: relative;
        height: 145px;
        margin-top: 10px;
        background: #fff;
        color: #555;

        .news-header {
            height: 39px;
            padding-top: 5px;
            line-height: 30px;
            border: 1px solid #e9eaec;

            h3 {
                display: inline-block;
                margin: 0 0 0 10px;
                font-size: 15px;
                color: #333;
                font-weight: normal;
            }

            .view-more {
                float: right;
                color: #008df2;
                margin-right: 10px;
                font-size: 13px;
            }
        }

        .news-items {
            list-style: none;
            margin: 0;
            padding: 0 20px 20px 0;
            background-color: #fff;

            .news-item {
                position: relative;
                margin-top: 5px;
                height: 22px;
                padding-left: 23px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:first-child {
                    margin-top: 10px;
                }

                .item-num {
                    position: absolute;
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: 10px;
                    background-color: #999;
                    transform: rotate(45deg);
                }

                &> a {
                    color: #555;
                    text-decoration: none;
                }
            }
        }
    }
}
.loading-in {
    height: 85px;
    padding: 25px 15px;
    background: #fff;
}
/*众筹2.0改版进度条Directive样式*/
.loading-progress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ececec;
    border-radius: 15px;
    padding: 3px;
    /*含领投*/
    &.lead-investor {
        .loading-bar {
            padding: 4px;
        }
        .loading-point {
            background-color: #ffde59;
        }
        .loading-container {
            .myCanvas {
                vertical-align: bottom;
            }
        }
    }
    .loading-container {
        position: absolute;
        width: auto;
        top: -30px;
        padding-left: 5px;
        color: #73c8ff;
        &.syndicate-achieve {
            top: 35px;
            left: 10px;
            .loading-point {
                background-color: #73c8ff;
            }
            .myCanvas {
                top: -8px;
            }
        }
        &.syndicate-goal {
            top: 26px;
            right: 10px;
            text-align: right;
            padding: 0;
            .loading-point {
                background-color: #dddddd;
            }
            .myCanvas {
                top: -8px;
            }
        }
        .loading-detail {
            color: #555;
        }
        .loading-point {
            margin: 0 5px;
        }
        .myCanvas {
            position: relative;
            top: 5px;
            vertical-align: middle;
        }
    }
    .loading-point {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #73c8ff;
        &.max {
            background-color: #fe7a65;
        }
    }
    .loading-bar {
        position: relative ;
        width: auto;
        height: 100%;
        line-height: 14px;
        color: #fff;
        border-radius: 15px;
        background-color: #73c8ff;
        text-align: center;
        transition: all 2s;
        cursor: pointer;
        .lead-bar {
            position: relative ;
            width: auto;
            height: 100%;
            background-color: #ffde59;
            border-radius: 15px;
        }
        &.max {
            width: 100%;
            background-color: #fe7a65;
        }
    }
    .loading-tip {
        position: absolute;
        width: auto;
        padding: 0 5px;
        height: 30px;
        border:1px solid #F3DDC9;
        left: 50%;
        margin-left: -66px;
        bottom: 15px;
        text-align: center;
        line-height: 30px;
        background-color: #fff;
        transform: translate3d(0,-10px,0);
        transition:all .3s;
        .bubble {
            position: absolute;
            width: 0;
            height: 0;
            border-width: 6px;
            border-style: solid;
            border-color: #F3DDC9 transparent transparent;
            bottom: -13px;
            left: 50%;
            margin-left: -3px;
        }
        .pop {
            position: absolute;
            width: 0;
            height: 0;
            border-width: 6px;
            border-style: solid;
            border-color: #fff transparent transparent;
            bottom: -12px;
            left: 50%;
            margin-left: -3px;
        }
    }
}

// 众筹底部导航
.syndicates-bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    z-index: 100;

    li {
        position: relative;
        float: left;
        width: percentage(1/4);

        a {
            display: block;
            width: 100%;
            height: 50px;
            padding-top: 25px;
            line-height: 20px;
            color: #929292;
            font-size: 12px;
            text-align: center;
        }

        &.active {
            a, span {
                color: #007aff;
            }
        }

        span {
            position: absolute;
            top: 5px;
            left: 50%;
            margin-left: -10px;
            font-size: 20px;
        }
    }
}
