.syndicates-invite {
    max-width: 640px;
    margin: 0 auto;

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    .invite-welcome {
        position: relative;
        background-color: #4c72ef;

        .welcome {
            width: 100%;
        }

        .sign-area {
            position: absolute;
            top: 64%;
            right: 19%;
            width: 49%;
            height: 30%;

            .sign {
                width: 100%;
            }

            p {
                font-size: .8em;
                color: #fff;
                text-align: center;

                &.name {
                    position: absolute;
                    top: 25%;
                    left: 0;
                    width: 100%;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }

        .welcome-msg {
            position: absolute;
            width: 58%;
            top: 72%;
            right: 12%;

            .msg {
                width: 100%;
            }
        }
    }

    .invite-gifts {
        width: 100%;
        padding-bottom: 25px;
        background-color: #4c72ef;

        .gift-title {
            width: 90%;
            margin-top: 20px;
            margin-left: 5%;
        }

        .gift-one {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .gift-two {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .gift-three {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }
    }

    .invite-intro {
        width: 100%;
        padding-bottom: 20px;
        background-color: #eff3ff;
        border-bottom: 1px solid #e7eaf4;

        .intro {
            width: 90%;
            margin-top: 20px;
            margin-left: 5%;
        }

        .btns {
            padding: 0 5%;
            margin-top: 20px;

            .btn-view {
                float: left;
                color: #fff;
                background-color: #6e90ff;
                border-radius: 3px;
                width: 51%;
            }

            .btn-know {
                float: right;
                color: #6e90ff;
                background-color: transparent;
                border: 1px solid #6e90ff;
                border-radius: 3px;
                width: 43%;
            }
        }
    }

    .invite-records {
        padding-top: 20px;
        background-color: #eff3ff;

        .records-wrapper {
            position: relative;
            width: 90%;
            margin-left: 5%;
            background-color: #fce119;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            .records-title {
                background-color: #937600;
                height: 2em;
                width: 60%;
                margin: 0 auto;
                padding-top: .2em;
                color: #fce119;
                font-size: 1.2em;
                text-align: center;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
            }

            .records-list {
                height: 200px;
                padding: 0;
                margin: 20px 15px;
                padding-bottom: 40px;
                color: #3f1a01;
                list-style: none;
                overflow: hidden;

                li {
                    padding: .5em 1em;
                    border-bottom: 1px dashed #fff;

                    span {
                        color: #ff7b72;
                    }
                }
            }

            .records-line {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }

    .invite-rules {
        background-color: #eff3ff;
        border-radius: 2px;
        padding-bottom: 40px;

        .rules-wrapper {
            position: relative;
            width: 90%;
            margin-left: 5%;
            background-color: #fff;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            .rules-title {
                background-color: #4f5467;
                height: 2em;
                width: 60%;
                margin: 0 auto;
                padding-top: .2em;
                color: #fff;
                font-size: 1.2em;
                text-align: center;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
            }
        }

        .rules-list {
            position: relative;
            padding: 20px 15px;

            h4 {
                font-size: 1.1em;
                color: #666;
                border-left: 2px solid #ff7b72;
                padding-left: .3em;
            }

            h5 {
                font-size: 1em;
                padding-left: .4em;
                color: #666;
            }

            .usage {
                font-size: .9em;
                list-style: none;
            }

            .gifts {
                font-size: .9em;
                list-style: none;
            }

            .copy-right {
                color: #999;
                font-size: .8em;
            }
        }

        .rules-line {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    .syndicates-invite-stick {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: #fff;

        .btn {
            height: 40px;
            padding: 8px;
            background-color: #ff8189;
            color: #fff;
            text-align: center;
            border-radius: 0;
            font-size: 15px;
            font-weight: 500;

            &.login-btn {
                width: 100%;
            }

            &.record-btn {
                float: left;
                width: 36%;
                background-color: #f6f6f6;
                color: #666;
                text-decoration: underline;
            }

            &.share-btn {
                float: left;
                width: 64%;
                color: #fff;
                background-color: #ff8189;
            }
        }
    }
}

.invite-record-window {
    .records-list {
        padding: 20px 15px;
        margin: 0;
        color: #3c3c3c;
        list-style: none;
        line-height: 20px;

        li {
            margin-bottom: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
                color: #3c3c3c;
            }

            span {
                color: #fda8b1;
            }
        }

        .no-record {
            padding: 30px 15px;
            color: #999;
            text-align: center;
            font-size: 1.2em;

            .icon-hezi {
                font-size: 20px;
                color: #999;
                vertical-align: text-bottom;
            }
        }
    }

    .ok-btn {
        width: 100%;
        font-size: 15px;
        border-top: 1px solid #ddd;
        padding: 12px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.syndicates-share {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: -40px;
    background-color: #1c1e36;

    .share-bg {
        width: 100%;
    }

    .share {
        display: block;
        width: 88%;
        margin-left: 6%;
        margin-top: 0;
    }

    .share-btn {
        background-color: #fd9d2d;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        width: 66%;
        margin: 50px 17% 100px;
        font-size: 1.5em;
        box-shadow: 0 3px 0 0 #c56e09;
    }

    .tell-btn {
        color: #fd9d2d;
        font-weight: 500;
        width: 66%;
        margin: 50px 17% 100px;
        font-size: 1.5em;
    }
}

.invite-share-window {
    background-color: rgba(0, 0, 0, 0.6);

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        color: #fff;

        .modal-content {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: transparent;

            .share-way {
                width: 100%;
                height: 100%;

                p {
                    margin-top: 80px;
                    color: #fff;
                    font-size: 1.2em;
                    font-weight: 500;
                }

                .point {
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    margin-left: 2px;
                    background-color: #fff;
                    border-radius: 50%;
                    vertical-align: middle;
                    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                    animation: stretchdelay 1.2s infinite ease-in-out;

                    &:nth-child(2) {
                        -webkit-animation-delay: -1.1s;
                        animation-delay: -1.1s;
                    }

                    &:nth-child(3) {
                        -webkit-animation-delay: -1.0s;
                        animation-delay: -1.0s;
                    }
                }

                @-webkit-keyframes stretchdelay {
                    0%, 40%, 100% { -webkit-transform: scale(1.0) }
                    20% { -webkit-transform: scale(1.5) }
                }

                @keyframes stretchdelay {
                    0%, 40%, 100% {
                        transform: scale(1.0);
                        -webkit-transform: scale(1.0);
                    }  20% {
                           transform: scale(1.5);
                           -webkit-transform: scale(1.5);
                       }
                }


                .arrow {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    height: 45px;
                    width: 43px;
                    background: url(images/invite/arrow.png) no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
}

.syndicates-gift {
    .gift {
        width: 109px;
        height: 92px;
        margin: 50px auto 15px;
        background: url(images/invite/gift.png) no-repeat center;
        background-size: contain;
    }

    .money {
        width: 70%;
        margin-left: 15%;
        font-size: 1.2em;
        padding: 10px;
        color: #ff6866;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        text-align: center;
    }

    .rules {
        color: #666;
        font-size: .8em;

        p {
            margin: 5px 0 0 15%;
        }

        .star {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            background: url(images/invite/star.png) no-repeat center;
            background-size: contain;
        }
    }

    .btns {
        width: 90%;
        margin: 40px 5% 0;

        .btn-view {
            width: 60%;
            margin: 0 20%;
            background-color: #fd9d2d;
            color: #fff;
            font-size: 1.1em;
            padding: 10px 0;
        }
    }
}

.syndicates-validate {
    overflow: hidden;

    .title-txt{
        text-align: center;
        color: #666;
        background-color: #ffffff;
        h3{
            margin: 0;
            padding: 10px 0;
        }
        h4{
            margin: 0;
            padding-bottom:20px
        }
    }

    .c-red {
        color: #f67577;
    }

    .avatar-process {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.5em;
        font-size: 1em;
        text-align: center;
        line-height: 1.5em;
    }

    .form-group {
        .clearfix;
        position: relative;
        width: 100%;
        padding: 10px 0;
        color: #666;
        background-color: #fff;
        border-bottom: 1px solid #dfdfdf;
        font-size: 1em;
        white-space: nowrap;

        &.name-group {
            margin: 8px 0;
            padding: 15px 0;
            border-top: 1px solid #dfdfdf;

            + .error-tip {
                margin-top: -5px;
            }
        }

        &:last-child {
            background-color: #f0f0f0;
        }

        .split {
            position: absolute;
            right: 55px;
            top: 0;
            height: 57px;
            width: 8px;
            margin-top: -2px;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            border-top: 1px solid #f0f0f0;
            background-color: #f0f0f0;
        }

        .avatar-container {
            background: url(images/invite/avatar.png) no-repeat center top;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 55px;

            .avatar {
                position: relative;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
            }

            .avatar-tip {
                display: block;
                position: absolute;
                bottom: 1px;
                right: 0;
                width: 55px;
                height: 20px;
                color: #666;
                font-size: 12px;
                line-height: 20px;
                background-color: #efefef;
                text-align: center;
            }

            .progress {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 55px;
                background-color: rgba(0,0,0,.6);
                z-index: 100;
            }
        }

        .label-control {
            float: left;
            width: 28%;
            margin-right: 5px;
            text-align: left;
            padding-left: 10px;
            white-space: nowrap;

            &.condition {
                height: 70px;
            }
        }

        .form-control {
            float: left;
            border: 0;
            outline: 0;
            width: 65%;

            &.place {
                width: 34%;
                background-color: rgb(248, 248, 248);
                border: 1px solid rgb(166, 166, 166);
                border-image-source: initial;
                border-image-slice: initial;
                border-image-width: initial;
                border-image-outset: initial;
                border-image-repeat: initial;
            }
        }

        .btn-captcha {
            position: absolute;
            top: 7px;
            right: 7px;
            width: 68px;
            padding: 4px;
            background-color: #fff;
            color: #008df2;
            border: 1px solid #008df2;
            z-index:20;
            &:hover{
                cursor: pointer;
            }
        }
        .message-code{
            right:82px;
        }

        .btn-submit {
            position: relative;
            width: 90%;
            margin: 15px 5% 10px;
            padding: 8px;
            color: #fff;
            background-color: #188fef;

            .btn-loading-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
            }
        }

        .bottom-tip {
            color: #999;
            font-size: .8em;
            white-space: normal;
            padding: 0 10px;
        }
        &>.col-max{
            float: left;
            width: 55%;
            color: #333;
        }
    }




    .error-tip {
        color: #f67576;
        font-size: 12px;
        margin: 3px 0 3px 10px;

        .tip-icon {
            display: inline-block;
            height: 12px;
            width: 12px;
            margin-right: 5px;
            line-height: 12px;
            color: #fff;
            font-weight: bold;
            border-radius: 50%;
            background-color: #f67576;
            text-align: center;
        }
        .why-card{
            float: right;
            margin-right: 10px;
        }
    }
}
