.syndicates-invite {
    max-width: 640px;
    margin: 0 auto;

    .invite-welcome {
        background-color: #f0f6fd;

        img {
            width: 100%;
        }
    }

    .invite-gifts {
        width: 100%;
        background-color: #1c1e36;

        .gift-title {
            width: 90%;
            margin-top: 20px;
            margin-left: 5%;
        }

        .gift-one {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .gift-two {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .gift-three {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
        }
    }

    .invite-records {
        background-color: #1c1e36;

        .records-wrapper {
            position: relative;
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            background-color: #fce119;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            .records-title {
                background-color: #937600;
                height: 2em;
                width: 60%;
                margin: 0 auto;
                padding-top: .2em;
                color: #fce119;
                font-size: 1.2em;
                text-align: center;
                border-bottom-left-radius: 1.6em;
                border-bottom-right-radius: 1.6em;
            }

            .records-list {
                height: 400px;
                padding: 0;
                margin: 20px 15px;
                padding-bottom: 40px;
                color: #3f1a01;
                list-style: none;
                overflow: hidden;

                li {
                    padding: .5em 1em;
                    border-bottom: 1px dashed #fff;

                    span {
                        color: #ff7b72;
                    }
                }
            }

            .records-line {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }

    .invite-rules {
        background-color: #1c1e36;
        border-radius: 2px;
        padding-bottom: 40px;

        .rules-wrapper {
            position: relative;
            width: 90%;
            margin-left: 5%;
            background-color: #fff;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            .rules-title {
                background-color: #363853;
                height: 2em;
                width: 60%;
                margin: 0 auto;
                padding-top: .2em;
                color: #fff;
                font-size: 1.2em;
                text-align: center;
                border-bottom-left-radius: 1.6em;
                border-bottom-right-radius: 1.6em;
            }
        }

        .rules-list {
            position: relative;
            padding: 20px 15px;

            h4 {
                font-size: 1.1em;
                color: #666;
                border-left: 2px solid #ff7b72;
                padding-left: .3em;
            }

            h5 {
                font-size: 1em;
                padding-left: .4em;
                color: #666;
            }

            .usage {
                font-size: .9em;
                padding-left: 1.6em;
            }

            .gifts {
                font-size: .9em;
                list-style: none;
            }

            .copy-right {
                color: #999;
                font-size: 1em;
            }
        }

        .rules-line {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    .syndicates-invite-stick {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: #fff;

        .btn {
            height: 40px;
            padding: 8px;
            background-color: #fd9d2d;
            color: #fff;
            text-align: center;
            border-radius: 0;
            font-size: 15px;
            font-weight: 500;

            &.login-btn {
                width: 100%;
            }

            &.record-btn {
                float: left;
                width: 36%;
                background-color: #f6f6f6;
                color: #666;
                text-decoration: underline;
            }

            &.share-btn {
                float: left;
                width: 64%;
            }
        }
    }
}

.invite-record-window {
    .records-list {
        padding: 15px;
        margin: 0;
        color: #3c3c3c;
        list-style: none;

        span {
            color: #3a84de;

            &:last-child {
                color: #f16877;
            }
        }

        .no-record {
            padding: 30px 15px;
            color: #999;
            text-align: center;
            font-size: 1.4em;
        }
    }

    .ok-btn {
        width: 100%;
        font-size: 15px;
        border-top: 1px solid #ddd;
        padding: 12px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.syndicates-share {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: -40px;
    background-color: #1c1e36;

    .share-bg {
        width: 100%;
    }

    .share {
        display: block;
        width: 88%;
        margin-left: 6%;
        margin-top: 0;
    }

    .share-btn {
        background-color: #fd9d2d;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        width: 66%;
        margin: 50px 17% 100px;
        font-size: 1.5em;
        box-shadow: 0 3px 0 0 #c56e09;
    }
}

.invite-share-window {
    background-color: rgba(0, 0, 0, 0.6);
    
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        color: #fff;

        .modal-content {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: transparent;

            .share-way {
                width: 100%;
                height: 100%;

                p {
                    margin-top: 80px;
                    color: #fff;
                    font-size: 1.2em;
                    font-weight: 500;
                }

                .point {
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    margin-left: 2px;
                    background-color: #fff;
                    border-radius: 50%;
                    vertical-align: middle;
                    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                    animation: stretchdelay 1.2s infinite ease-in-out;

                    &:nth-child(2) {
                        -webkit-animation-delay: -1.1s;
                        animation-delay: -1.1s;
                    }

                    &:nth-child(3) {
                        -webkit-animation-delay: -1.0s;
                        animation-delay: -1.0s;
                    }
                }

                @-webkit-keyframes stretchdelay {
                    0%, 40%, 100% { -webkit-transform: scale(1.0) }
                    20% { -webkit-transform: scale(1.5) }
                }

                @keyframes stretchdelay {
                    0%, 40%, 100% {
                        transform: scale(1.0);
                        -webkit-transform: scale(1.0);
                    }  20% {
                           transform: scale(1.5);
                           -webkit-transform: scale(1.5);
                       }
                }


                .arrow {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    height: 45px;
                    width: 43px;
                    background: url(images/invite/arrow.png) no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
}

.syndicates-gift {
    .gift {
        width: 109px;
        height: 92px;
        margin: 50px auto 15px;
        background: url(images/invite/gift.png) no-repeat center;
        background-size: contain;
    }

    .money {
        width: 70%;
        margin-left: 15%;
        font-size: 1.2em;
        padding: 10px;
        color: #ff6866;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        text-align: center;
    }

    .rules {
        color: #666;
        font-size: .8em;

        p {
            margin: 5px 0 0 15%;
        }

        .star {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            background: url(images/invite/star.png) no-repeat center;
            background-size: contain;
        }
    }

    .invite-btn {
        width: 90%;
        margin: 40px 5% 0;
        background-color: #fd9d2d;
        color: #fff;
        font-size: 1.2em;
        padding: 8px;
    }
}

.syndicates-validate {
    overflow: hidden;

    .c-red {
        color: #f67577;
    }

    .form-group {
        .clearfix;
        position: relative;
        width: 100%;
        padding: 10px 0;
        color: #666;
        background-color: #fff;
        border-bottom: 1px solid #dfdfdf;
        font-size: 1em;
        white-space: nowrap;

        &.name-group {
            margin: 8px 0;
            padding: 15px 0;
            border-top: 1px solid #dfdfdf;

            + .error-tip {
                margin-top: -5px;
            }
        }

        &:last-child {
            background-color: #f0f0f0;
        }

        .split {
            position: absolute;
            right: 55px;
            top: 0;
            height: 57px;
            width: 8px;
            margin-top: -2px;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            border-top: 1px solid #f0f0f0;
            background-color: #f0f0f0;
        }

        .avatar-container {
            background: url(images/invite/avatar.png) no-repeat center top;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 55px;

            .avatar {
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .avatar-tip {
                display: block;
                position: absolute;
                bottom: 1px;
                right: 0;
                width: 55px;
                height: 20px;
                color: #666;
                font-size: 12px;
                line-height: 20px;
                background-color: #efefef;
                text-align: center;
            }
        }

        .label-control {
            float: left;
            width: 30%;
            margin-right: 5%;
            text-align: left;
            padding-left: 10px;
            white-space: nowrap;
        }

        .form-control {
            float: left;
            border: 0;
            outline: 0;
            width: 65%;
        }

        .btn-captcha {
            position: absolute;
            top: 7px;
            right: 10px;
            width: 82px;
            padding: 4px;
            background-color: #fff;
            color: #008df2;
            border: 1px solid #008df2;
        }

        .btn-submit {
            width: 90%;
            margin: 15px 5% 10px;
            padding: 8px;
            color: #fff;
            background-color: #188fef;
        }

        .bottom-tip {
            color: #999;
            font-size: .8em;
            white-space: normal;
            padding: 0 10px;
        }
    }

    .error-tip {
        color: #f67576;
        font-size: 12px;
        margin: 3px 0 3px 10px;

        .tip-icon {
            display: inline-block;
            height: 12px;
            width: 12px;
            margin-right: 5px;
            line-height: 12px;
            color: #fff;
            font-weight: bold;
            border-radius: 50%;
            background-color: #f67576;
            text-align: center;
        }
    }
}
