.syndicates-pay-outline {
    h5 {
        padding-left: 15px;
    }

    table {
        width: 100%;
        padding: 0 15px;
        background-color: #fff;

        tr {
            border-top: 1px solid #dfdfdf;

            td {
                &:first-child {
                    text-align: right;
                    padding: 18px 10px 18px;
                }

                &:last-child {
                    text-align: left;
                    padding: 18px 0 18px 10px;
                }
            }
        }
    }

    .info-area {
        padding: 20px 0;
        border-top: 1px solid #dfdfdf;
        background-color: #fff;
    }

    .notice {
        padding: 20px 15px;

        h5 {
            font-size: 16px;
        }
    }

    .view-btn {
        margin: 0 auto;
        margin-left: -69px;
        left: 50%;
        position: relative;
        margin-bottom: 40px;
    }
}
.pay-outline-remind {
    .remind-title {
        padding: 0 5px;
        height: 45px;
        line-height: 45px;
        .title-text {
            color: #333;
            font-size: 15px;
            border: 1px solid #DFDFDF;
            text-align: center;
        }
    }
    .remind-content {
        padding: 20px 15px 20px 0;
        background-color: #fff;
        color: #666;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li.remind-list {
                color: #333333;
                font-size: 12px;
                line-height: 25px;
                .list-point {
                    display: inline-block;
                    width: 2px;
                    height: 11px;
                    background-color: #008df2;
                    margin: 0 10px 0 15px;
                }
                .c-orange {
                    color: #f28e00;
                }
            }
        }
    }
    .btn-option {
        padding: 35px;
        .pay-way-online {
            display: block;
            height: 40px;
            line-height: 40px;
            background-color: #008df2;
            color: #fff;
            border-radius: 3px;
            margin-bottom: 15px;
            text-align: center;
        }
        .pay-way-outline {
            .pay-way-online;
            background-color: #f1f7fb;
            color: #008dF2;
            border: 1px solid #79BEEF;
            margin-bottom: 0;
        }
    }
}
