/*众筹订单页样式*/
.syndicate-pay {
    .orange {
        color: #F28E00;
    }
    .pay-title {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        background-color: #F7F7F7;
        .amount {
            float: right;
        }
    }
    .pay-content {
        width: 100%;
        height: auto;
        border: 1px solid #DDDDDD;
        padding-left: 15px;
        background-color: #fff;
        .pay-detail {
            width: 100%;
            height: 70px;
            padding: 10px 0;
            border-bottom: 1px solid #DFDFDF;
            .clearfix;
            &:last-of-type{
                height: 50px;
                padding: 0;
                border: 0;
                .pay-info {
                    height: 100%;
                    line-height: 45px;
                    color: #666666;
                }

            }
            .pay-info {
                float: left;
            }
            .pay-handle {
                float: right;
                margin: 10px 15px 0 0;
            }
        }
    }
    .go-pay {
        display: block;
        width: 70%;
        text-align: center;
        color: #fff;
        background-color: #F28E00;
        border-radius: 3px;
        margin: 30px auto;
    }
}
.set-remind {
    .mt-12 {
        margin-top: 12px;
    }
    .mt-26 {
        margin-top: 26px;
    }
    h4 {
        font-size: 15px;
        margin-top: 22px;
        margin-bottom: 12px;
    }
    .btn-layer {
        border-top: 1px solid #ddd;
        .ensure-btn {
            display: inline-block;
            width: 49%;
            height: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 15px;
            color: #008DF2;
        }
        .cancel-btn {
            .ensure-btn;
            color: #666;
            border-left: 1px solid #ddd;
        }
    }
}
