<div class="remindAlert_pop">
  <div class="pop-content" style="min-height:130px;">
        <p style="font-size:14px;" ng-if="!vm.upgrade">
          立即下载或者打开创投助手参与融资季
        </p>

        <p style="font-size:14px;" ng-if="vm.upgrade">
          App版本太低，请升级至最新版点赞
        </p>
  </div>
  <div class="pop-bottom">
    <div>
      <h4>
        <a href="{{vm.openUrl}}" id ="open-App" style="color: #ffe438;" ng-if="!vm.upgrade">下载/打开创投助手</a>
        <a href="javascript:void(0)" style="color: #ffe438;" ng-click="vm.cancelModal()" ng-if="vm.upgrade">确定</a>
      </h4>
    </div>
  </div>
</div>
