
<!--
ui-sref="rongzi.comdetail({id: item.sid, name: item.sname,category:vm.category})"
-->
<div class="special-item green-color" ng-if="vm.result && mark === 'com'"  ng-repeat="item in vm.result">
  <div class="special-list-border yellowdotted-color"
  ng-click="vm.goDetail(item.sid,item.sname, vm.category)"
  >
    <div class="special-logo green-color"  style="background-image: url({{item.logo}})"></div>
    <div class="special-info">
      <div class="special-name yellowdotted-color" >
        {{item.sname}}
      </div>
      <div class="special-arrow green-arrow"></div>
      <div class="special-content">
          前五项目约谈量：{{item.askCount}}次
      </div>
      <div class="special-content">
          共有项目：{{item.projectCount}}个
      </div>
      <div class="show-info"
       >
        <span class="yellow-color">{{item.startAt | date:'MM月dd日'}}</span>
        <span class="green-color mg-l">查看详情 ></span>
      </div>
    </div>
  </div>
</div>

<!--
ui-sref="rongzi.orgdetail({id: item.sid, name: item.sname,category:vm.category})"
-->
<div class="special-item orange-color" ng-if="vm.result && mark === 'org'"
  ng-repeat="item in vm.result">
  <div class="special-list-border orange-color"
      ng-click="vm.goDetail(item.sid,item.sname, vm.category)">

    <div class="special-logo orange-color"  style="background-image: url({{item.logo}})"></div>
    <div class="special-info">
      <div class="special-name orange-color" >
        {{item.sname}}
      </div>
      <div class="special-arrow"></div>
      <div class="special-content">
          前五项目约谈量：{{item.askCount}}次
      </div>
      <div class="special-content">
          共有项目：{{item.projectCount}}个
      </div>
      <div class="show-info"
       >
        <span class="yellow-color">{{item.startAt | date:'MM月dd日'}}</span>
        <span class="orange-color mg-l">查看详情 ></span>
      </div>
    </div>
  </div>

</div>
