
<div class="org-a-before" ng-show="vm.Abefore">
  <div class="special-item yellow-color" ng-if="vm.ABefore" ng-repeat="item in vm.ABefore">
    <div class="special-list-border orange-color">
      <div class="special-logo yellow-color" ng-click="vm.openApp(item.ccid)" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color" ng-click="vm.openApp(item.ccid)">
          {{item.name}}
        </div>
        <div class="special-provider" ng-if="item.provider">{{item.provider}}&nbsp;提供</div>
        <div class="special-phaseType yellow-color">
          <span ng-if="item.phase" class="border-orange">{{item.phase}}</span>&nbsp;&nbsp;
          <span ng-if="item.industry" class="border-orange">{{item.industry}}</span>
        </div>
        <div class="special-content">
          {{item.brief}}
        </div>
        <div class="special-highlight" ng-if="item.advantage">
          亮点&nbsp;{{item.advantage}}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="org-a-before" ng-show="vm.Aafter">
  <div class="special-item yellow-color" ng-if="vm.AAfter" ng-repeat="item in vm.AAfter">
    <div class="special-list-border orange-color">
      <div class="special-logo yellow-color" ng-click="vm.openApp(item.ccid)" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color" ng-click="vm.openApp(item.ccid)">
          {{item.name}}
        </div>
        <div class="special-provider" ng-if="item.provider">{{item.provider}}&nbsp;提供</div>
        <div class="special-phaseType yellow-color">
          <span ng-if="item.phase" class="border-orange">{{item.phase}}</span>&nbsp;&nbsp;
          <span ng-if="item.industry" class="border-orange">{{item.industry}}</span>
        </div>
        <div class="special-content">
          {{item.brief}}
        </div>
        <div class="special-highlight" ng-if="item.advantage">
          亮点&nbsp;{{item.advantage}}
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="special-item green-color" ng-if="vm.associations" ng-repeat="item in vm.associations">
    <div class="special-list-border green-color">
      <div class="special-logo green-color" ng-click="vm.openApp(item.ccid)" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name green-color" ng-click="vm.openApp(item.ccid)">
          {{item.name}}
        </div>
        <div class="special-provider" ng-if="item.provider">{{item.provider}}&nbsp;提供</div>
        <div class="special-phaseType green-color">
          <span ng-if="item.phase" class="border-green">{{item.phase}}</span>&nbsp;&nbsp;
          <span ng-if="item.industry" class="border-green">{{item.industry}}</span>
        </div>
        <div class="special-content">
          {{item.brief}}
        </div>
        <div class="special-highlight" ng-if="item.advantage">
          亮点&nbsp;{{item.advantage}}
        </div>
      </div>
    </div>
  </div>

  <div class="detail-nodata" ng-show="vm.Abefore.length <= 0">
      虚位以待，请联系客服。
  </div>


  <div class="detail-nodata" ng-show="vm.AAfter.length <= 0">
      虚位以待，请联系客服。
  </div>

  <div class="detail-nodata" ng-show="vm.associations.length <= 0">
      虚位以待，请联系客服。
  </div>
