<div class="special-item green-color">
  <div class="special-list-border orange-color">
    <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
    <div class="special-info">
      <div class="special-name orange-color">
        红杉资本专场
      </div>
      <div class="special-arrow"></div>
      <div class="special-content">
        红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
      </div>
      <div class="special-time green-color">
        4月18日 AM 10:30
      </div>
    </div>
  </div>
</div>
