<div class="special-item green-color">
  <div class="special-list-border green-color">
    <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
    <div class="special-info">
      <div class="special-name green-color">
        红杉资本专场
      </div>
      <!--
      <div class="special-arrow"></div>-->
      <div class="special-provider">前程会提供</div>
      <div class="special-phaseType green-color">
        <span>A轮</span>&nbsp;&nbsp;<span>企业服务</span>
      </div>
      <div class="special-content">
        红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
      </div>
      <div class="special-highlight">
        亮点&nbsp;&nbsp;2万+企业及用户 食品行业经验丰富
      </div>
    </div>
  </div>
</div>
