<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <!-- <div class="special-title m-red-title">
        <span>创业社群专场</span>
      </div> -->
      <div class="special-title" ui-sref="rongzi.community({category: vm.sessions.assc.category})">
        <img src="/styles/images/rongzi/com-title.png"/>
        <span class="orange">查看详情 >></span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>
          甄选素有“黄埔军校”特质的创业社群合作，每周五推出在融项目专场，总计40场，
          对接项目产生数据将计入社群组织实时榜单，快来为你认可的创业基因助威吧！ </span>
      </div>
      <!--
      ui-sref="rongzi.comdetail({id: obj.id, name: obj.name,category: obj.category})"
      -->
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item" ng-repeat="obj in vm.sessions.assc.list">
          <div class="border-bg">
            <div class="logo-border-yellow">
              <div class="logo" ng-if="obj.logo"
                ng-click="vm.goDetail('comdetail', obj.id,obj.name, obj.category)"
              style="background-image: url({{obj.logo}})"></div>
            </div>
          </div>
          <div class="org-name yellow"><span ng-if="obj.name">{{obj.name}}</span></div>
        </div>

        <!-- <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" ng-click="vm.openApp()" style="background-image: url('https://pic.36krcnd.com/avatar/201704/05093225/aecdmbd7zmon2u08.png')"></div>
            </div>
          </div>
          <div class="org-name"><span>阿里系专场</span></div>
        </div>

        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" ng-click="vm.openApp()" style="background-image: url('https://pic.36krcnd.com/avatar/201704/05093230/x9zjcs0oh0fd6o1t.png')"></div>
            </div>
          </div>
          <div class="org-name"><span>清华系专场</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" ng-click="vm.openApp()" style="background-image: url('https://pic.36krcnd.com/avatar/201704/05093233/payhm4rb4xhg5am8.png')"></div>
            </div>
          </div>
          <div class="org-name"><span>腾讯系专场</span></div>
        </div> -->
        <div class="special-info-btn">
          <button class="btn-yellow" ui-sref="rongzi.community({category: vm.community.category})" ><b>查看详情</b></button>
<!--
          <button class="btn-yellow" ui-sref="rongzi.investor({category: vm.sessions.assc.category})"><b>查看详情</b></button>
-->
        </div>
      </div>
    </div>
  </div>
</div>
