<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <div class="m-title special-title ">
        <span >{{vm.investor.secondTitle}}</span>
      </div>
      <div class="split-border"></div>
      <div class="m-txt special-content ">
        <span ng-bind="vm.investor.ruleDescription"
        ng-if="vm.investor.ruleDescription">
        </span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">

        <div class="item" ng-repeat="obj in vm.investor.sessions">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" ng-click="vm.openApp()"  ng-if="obj.logo" style="background-image: url({{obj.logo}})"></div>
            </div>
          </div>
          <div class="org-name"><span ng-if="obj.name">{{obj.name}}</span></div>
        </div>
      <div class="special-info-btn">
        <button class="btn" ui-sref="rongzi.investor({id: vm.investor.id})" ><b>查看详情</b></button>
        </div>
    </div>
  </div>
</div>
