<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <!-- <div class="m-title special-title ">
        <span>明星投资人专场</span>
      </div> -->
      <div class="special-title" ui-sref="rongzi.investor({category: vm.sessions.investor.category})">
        <img class="inv-title" src="/styles/images/rongzi/inv-title.png"/>
        <span class="yellow">查看详情 >></span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>
          集结投资圈中拥有独特投资哲学的明星们。每周二、三各更新两场，总计40场。对接项目产生数据计入投资人实时榜单，快来为自己认可的投资逻辑助威吧
        </span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">

        <div class="item" ng-repeat="obj in vm.sessions.investor.list">
          <div class="border-bg">
            <div class="logo-border-orange">
              <div class="logo" ng-if="obj.logo" ui-sref="rongzi.investorInfo({category: obj.category, id: obj.id, name: obj.name})" style="background-image: url({{obj.logo}})"></div>
            </div>
          </div>
          <div class="org-name orange"><span ng-if="obj.name">{{obj.name}}</span></div>
        </div>
        <div class="special-info-btn">
          <button class="btn-orange" ui-sref="rongzi.investor({category: vm.sessions.investor.category})" ><b>查看详情</b></button>
        </div>
      </div>
    </div>
  </div>
</div>
