<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <!-- <div class="special-title m-red-title">
        <span>顶级机构专场</span>
      </div> -->
      <div class="special-title" ui-sref="rongzi.organization({category: vm.sessions.org.category})">
        <img src="/styles/images/rongzi/org-title.png"/>
        <span class="orange">查看详情 >></span>
      </div>
      <div class="split-border"></div>
      <div class="special-content m-red-txt">
        <span>
          汇集顶级机构被投项目！每周一、四会推出两场顶级机构专场，融资季共计20场。对接项目产生数据将计入机构实时榜单，
          快来为你认可的机构助威吧！
         </span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">

        <div class="item" ng-repeat="obj in vm.sessions.org.list">
          <div class="border-bg">
            <div class="logo-border-yellow">
              <div class="logo" ng-if="obj.logo" ui-sref="rongzi.orgdetail({id: obj.id, name: obj.name,category:obj.category})" style="background-image: url({{obj.logo}})"></div>
            </div>
          </div>
          <div class="org-name yellow"><span ng-if="obj.name">{{obj.name}}</span></div>
        </div>
        <div class="special-info-btn">
        <!--ng-click="vm.detail(vm.org.id, 'org')"-->
          <button class="btn-yellow" ui-sref="rongzi.organization({id: vm.org.id,category:vm.org.category})" ><b>查看详情</b></button>
        </div>
      </div>
    </div>
  </div>
</div>
