<div class="rongzi-common-mask">
  <div class="share-weixin" ng-if="vm.needApp && vm.canWeChatShare && vm.state !== 'end'">
    <div class="state-end" ng-if="vm.status === 'END'">已结束</div>
    <p>分享当前专场页面</p>
    <p>立即获得提前三天查看项目权限</p>
    <div class="weixin" ng-click="vm.shareWechat()">分享至微信</div>
  </div>

  <div class="share-weixin" ng-if="vm.needApp && !vm.canWeChatShare && vm.state !== 'end'">
    <p>专场未开始</p>
    <p>订阅本专场，开场提醒不会错过好项目</p>
  </div>

  <div class="share-weixin" ng-if="vm.needApp && vm.canWeChatShare && vm.state === 'end'">
    <div class="state-end">已结束</div>
    <p>分享当前页面</p>
    <p>可再次开启本专场项目查看权限</p>
    <div class="weixin" ng-click="vm.shareWechat()">分享至微信</div>
  </div>

  <div class="share-weixin" ng-if="!vm.needApp">
    <div class="state-end" ng-if="vm.status === 'END'">已结束</div>
    <p>请下载/打开创投助手</p>
    <p>立刻查看所有优质项目</p>
    <div class="weixin" ng-click="vm.clickSetTrack();vm.downloadMask();">下载/打开创投助手</div>
  </div>

  <div class="or" ng-if="vm.needApp && vm.status === 'TO_START' && vm.canWeChatShare">或</div>
  <div class="or" ng-if="vm.needApp && vm.status === 'GOING' ">或</div>
  <div class="or" ng-if="vm.needApp && vm.status === 'END'">或</div>
  <div class="share-investor" ng-if="vm.needApp && vm.status === 'GOING'">
    <p>成功邀请一位成为投资人</p>
    <p>则所有专场可提前三天查看项目</p>
    <div class="investor" ui-sref="rongzi.inviteInvestor({category: vm.category})">邀请投资人</div>
  </div>

  <div class="share-investor" ng-if="vm.needApp && vm.status === 'TO_START' && vm.canWeChatShare">
    <p>成功邀请一位成为投资人</p>
    <p>则所有专场可提前三天查看项目</p>
    <div class="investor" ui-sref="rongzi.inviteInvestor({category: vm.category})">邀请投资人</div>
  </div>

  <div class="share-investor" ng-if="vm.needApp && vm.status === 'END'">
    <p>成功邀请两位成为投资人</p>
    <p>则所有专场可永久查看项目</p>
    <div class="investor" ui-sref="rongzi.inviteInvestor({category: vm.category})">邀请投资人</div>
  </div>
</div>
