<div class="remindAlert_pop">
  <div class="pop-content" style="height:480px;width:95%;text-align:left;margin:0 auto;">
        <h4  >上榜规则</h4>
        <ul>
          <li>
            1.  参与打榜，需要公司负责人使用创投助手App，完整上传项目信息进行报名；
          </li>
          <li>
            2.  为公平起见，每个项目每天每个用户只能点赞一次；
          </li>
          <li>
            3.  普通用户点赞权重加1，投资人点赞权重加20，投资人权限需要认证；
          </li>
          <li>
            4.  预热期间（4月17日前），总榜单根据点赞权重动态排序；
          </li>
          <li>
            5.  融资季启动后（4月17日-6月17日），每三日00：00点选出最佳TOP3，会在次日融资季首屏进行展示3天 ，融资曝光率更高；
          </li>
          <li>
            6.  最终在6月17日会根据总榜排序，角逐《2017Q2最具号召力的创业项目榜单》。
          </li>
          <li>
            7.  若冒充投资人申请认证刷票数，一经发现将会取消该项目的上榜资格。
          </li>
        </ul>
  </div>
  <div class="pop-bottom">
    <div>
      <h4 ><span ng-click="vm.cancelModal()">关闭</span></h4>
    </div>
  </div>
</div>
