<div class="remindAlert_pop">
  <div class="pop-content"
  style="height:430px;width:95%;text-align:left;margin:0 auto;" ng-if="!vm.p">
        <h4>上榜规则</h4>
        <ul>
          <li>
            1. 每周一、周四的19:00按点赞数排名选出当期热门TOP3，首屏展示至下期热门产出。被推荐后将不再参与热门竞选，转为竞选总榜排名直至活动结束，总榜产生；
          </li>
          <li>
            2. 参与打榜，需要公司负责人使用创投助手APP，完整上传项目信息进行报名；
          </li>
          <li>
            3. 为公平起见，每个项目每天每个用户只能点赞一次；
          </li>
          <li>
            4. 投资人点赞权重加20，普通用户点赞权重加1，投资人权限需要认证；
          </li>
          <li>
            5. 最终在6月17日会根据总榜排序，角逐《2017Q2最具号召力的创业项目榜单》
          </li>
          <li>
            6. 如发现不正当刷票、项目信息虚假等情况，创投助手有权做删票或取消榜单参选机会等处罚。
          </li>
        </ul>
  </div>

  <div class="pop-content" style="height:450px;width:95%;text-align:left;margin:0 auto;" ng-if="vm.p">
        <h4>上榜福利</h4>
        <ul>
          <li>
            1. 资本市场关注：红杉、经纬、IDG等全行业数万一线机构主流投资人参与，资本市场空前高关注度；
          </li>
          <li>
            2. 投资人定向Match：每周热门领域TOP10项目，5000投资人定向分发，精准Match领域投资人；
          </li>
          <li>
            3. 36氪广告位：每期TOP3项目可获得36氪首页banner位（每日百万PV）、创投助手web广告位的品牌曝光直至
            下期热门产出；
          </li>
          <li>
            4. 36氪主站文章：每期TOP3项目有机会获得36氪主站文章、创投助手微博、微信发文等推荐；
          </li>
          <li>
            5. 活动首页：每期TOP3项目可获得融资季活动首页头部位置展示（每日近百万PV）；
          </li>
          <li>
            6. 覆盖创投全领域传播：100+创投合作伙伴，50+媒体，联合传播融资季《2017Q2最具号召力创业项目榜单》。
          </li>
        </ul>
  </div>
  <div class="pop-bottom">
    <div>
      <h4 ><span ng-click="vm.cancelModal()">关闭</span></h4>
    </div>
  </div>
</div>
