<div class="remindAlert_pop">
  <div class="pop-content"
  style="height:500px;width:95%;text-align:left;margin:0 auto;" ng-if="!vm.p">
        <h4  >上榜规则</h4>
        <ul>
          <li>
            1.  参与打榜，需要公司负责人使用创投助手App，完整上传项目信息进行报名;
          </li>
          <li>
            2.  为公平起见，每个项目每天每个用户只能点赞一次；
          </li>
          <li>
            3.  普通用户点赞权重加1，投资人点赞权重加20，投资人权限需要认证；
          </li>
          <li>
            4.  预热期间（4月17日前），总榜单根据点赞权重动态排序；
          </li>
          <li>
            5.  融资季开启(4月17日-6月17日)，新增热门榜，每隔三日00:00点滚动选出近期 热门TOP3，被推荐后不再参与排序，但总榜单排名不变;
          </li>
          <li>
            6.  最终在6月17日会根据总榜排序，角逐《Q2最具号召力的创业项目榜单》;
          </li>
          <li>
            7.  如发现严重刷票、项目信息虚假情况，创投助手有权直接取消榜单参选机会;
          </li>
        </ul>
  </div>

  <div class="pop-content" style="height:500px;width:95%;text-align:left;margin:0 auto;" ng-if="vm.p">
        <h4  >上榜福利</h4>
        <ul>
          <li>
            1.  融资季期间全行业数万一线机构主流投资人参与，提升资本市场关注度；
          </li>
          <li>
            2.  融资季《Q2最具号召力创业项目榜单》，覆盖50+家媒体联合推广宣传；
          </li>
          <li>
            3.  创投助手每周精品项目推荐，定向分发，更精准地对接最Match的投资人；
          </li>
          <li>
            4.  滚动Top3项目可获得36氪主站文章、创投助手微博、微信发文推荐；
          </li>
          <li>
            5.  滚动Top3项目可在活动 首页首屏与顶级机构展示三天；
          </li>
          <li>
            6.  滚动Top3项目可获得36氪主站价值数万、PV百万的首页Banner位连续品牌曝光三天；
          </li>
          <li>
            7.  滚动Top3项目36氪融资平台-创投助手Web主页Banner曝光展示；
          </li>
        </ul>
  </div>
  <div class="pop-bottom">
    <div>
      <h4 ><span ng-click="vm.cancelModal()">关闭</span></h4>
    </div>
  </div>
</div>
