<div class="rongzi-common-top">

  <div class="rongzi-common-logo" >
    <img src="/styles/images/rongzi/rongzi-logo.png" />
  </div>


  <div class="rongzi-common-likes" ng-if="topdata === 'community' ">
    <img src="/styles/images/rongzi/comlike.png" />
  </div>

  <div class="rongzi-common-likes" ng-if="topdata === 'org'">
    <img src="/styles/images/rongzi/orglike.png" />
  </div>

  <div class="rongzi-split-block">
    </div>

  <div class="rongzi-common-text" ng-if="topdata === 'community' " >
      <p>
        所有公开的的专场会参与这个榜单，会将该机构里面投资人约谈前五名的约谈总数之和来构成这个排行榜！所以总的来说还是非常公平的！没有那么多的事儿！看你的项目质量啦！
      </p>
  </div>

  <div class="rongzi-common-text" ng-if="topdata === 'org'" >
      <p style="color:#f18823">
        所有公开的的专场会参与这个榜单，会将该机构里面投资人约谈前五名的约谈总数之和来构成这个排行榜！所以总的来说还是非常公平的！没有那么多的事儿！看你的项目质量啦！
      </p>
  </div>

</div>
