<div class="rongzi-common-top">

  <div class="rongzi-common-logo" >
    <img src="/styles/images/rongzi/rongzi-logo.png" />
  </div>


  <div class="rongzi-common-likes" ng-if="topdata === 'community' ">
    <img src="/styles/images/rongzi/comlike.png" />
  </div>

  <div class="rongzi-common-likes" ng-if="topdata === 'org'">
    <img src="/styles/images/rongzi/orglike.png" />
  </div>

  <div class="rongzi-split-block">
    </div>

  <div class="rongzi-common-text" ng-if="topdata === 'community' " >
      <p>
        融资季创业社群专场战报！根据投资人对专场内所有项目的约谈量统计，每个社群约谈量前五名的项目总和最高，荣登“投资人最喜爱的社群排行榜”之首！
      </p>
  </div>

  <div class="rongzi-common-text" ng-if="topdata === 'org'" >
      <p style="color:#f18823">
        融资季顶级机构专场战报！根据投资人对专场内所有项目的约谈量统计，每个机构约谈量前五名的项目总和最高，荣登“投资人最喜爱的机构排行榜”之首！
      </p>
  </div>

</div>
