<div class="rongzi-common-top">

  <div class="rongzi-common-logo" ng-if="topdata !== 'enroll' ">
    <img src="/styles/images/rongzi/rongzi-logo.png" />
  </div>

  <div class="rongzi-common-logo-enroll" ng-if="topdata === 'enroll' ">
    <img src="/styles/images/rongzi/enroll-logo1.png" />
  </div>

  <div class="rongzi-common-textbtn-community" ng-if="topdata === 'community' ">
    <img src="/styles/images/rongzi/community-text.png" />
  </div>
  <div class="rongzi-common-textbtn-org" ng-if="topdata === 'org'">
    <img src="/styles/images/rongzi/org-text.png" />
  </div>
  <div class="rongzi-common-textbtn-investor" ng-if="topdata === 'investor'">
    <img src="/styles/images/rongzi/investor-text.png" />
  </div>
  <div class="rongzi-common-textbtn-enroll" ng-if=" topdata === 'enroll' ">
    <img src="/styles/images/rongzi/enroll-txt.png" />
  </div>
  <div class="rongzi-enroll-text" ng-if=" topdata === 'enroll' ">
      <ul>
        <li>
          以下就是你的梦想(项目)合集啦，点选项目右侧“报名融资季”立刻让朋友们为你的梦想点赞吧！
          找到与你最Match的投资人！
        </li>

        <li>
            创建/认领新项目将在两个工作日内审核，结果通过短信告知，请保持关注；
        </li>
        <li>
            未报名项目，点击“报名融资季” 即可参与报名；
        </li>
        <li>
            已报名项目，点击“查看分享页” 获取该项目点赞分享页面；
        </li>
        <li>
            若项目信息完善，有完整的BP，会更受投资人青睐哦；
        </li>
      </ul>
  </div>
  <div class="rongzi-enroll-btn" ng-if="topdata === 'enroll'">
      <button ng-if="vm.projectList.length">管理项目（{{vm.projectList.length}}）</button>
      <button ng-if="!vm.projectList.length">管理项目（{{vm.projectList.length}}）</button>
  </div>

  <div class="rongzi-common-pushtext" ng-if="topdata === 'org'">
      <b ng-if="!vm.result.secondTitle">不可错过的顶级机构项目</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-pushtext" ng-if="topdata === 'community'">
      <b ng-if="!vm.result.secondTitle">不可错过的顶级机构项目</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-pushtext-investor" ng-if="topdata === 'investor'">
      <b ng-if="!vm.result.secondTitle">不可错过的明星投资人</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-text">
      <p ng-if="topdata === 'org'">
        汇集顶级机构被投项目！每周一、四会推出两场顶级机构专场，融资季共计20场。对接项目产生数据将计入机构实时榜单，
        快来为你认可的机构助威吧！
      </p>

      <p ng-if="topdata === 'community'" >
        甄选素有“黄埔军校”特质的创业社群合作，每周五推出在融项目专场，总计40场，
        对接项目产生数据将计入社群组织实时榜单，快来为你认可的创业基因助威吧！
      </p>

      <p ng-if="topdata === 'investor' && vm.result.ruleDescription" ng-bind="vm.result.ruleDescription">
      </p>
      <p ng-if="topdata === 'investor' && !vm.result.ruleDescription">
        集结投资圈中拥有独特投资哲学的明星们。每周二、三各更新两场，总计40场。对接项目产生数据计入投资人实时榜单，快来为自己认可的投资逻辑助威吧
      </p>
  </div>

  <div class="rongzi-common-btn" id ="" ng-if="topdata !== 'enroll' ">
    <a href="javascript:void(0)" class="star-btn" ng-click="vm.subscribe(i,$event)"
        id="comm-openApp" ng-if="topdata === 'community'">
      <b ng-if="vm.result.remind === 1 && !vm.needApp">下载创投助手，订阅社群专场</b>
      <b ng-if="vm.result.remind === 1 && vm.needApp">订阅社群专场</b>
      <b ng-if="vm.result.remind === 0">取消订阅社群专场</b>
    </a>

    <a href="javascript:void(0)"
        class="org-btn" id="org-openApp" ng-if="topdata === 'org'"
        ng-click="vm.subscribe(i,$event)">
        <b ng-if="vm.result.remind === 1 && !vm.needApp">下载创投助手，订阅机构专场</b>
        <b ng-if="vm.result.remind === 1 && vm.needApp">订阅机构专场</b>
        <b ng-if="vm.result.remind === 0">取消订阅机构专场</b>
    </a>

<!--
    <a href="javascript:void(0)" class="org-btn" id="investor-openApp" ng-if="topdata === 'investor'"
    ng-click="vm.subscribe(i,$event)">
      <b ng-if="vm.result.remind === 1 && !vm.needApp">下载创投助手，参加融资季</b>
      <b ng-if="vm.result.remind === 1 && vm.needApp">订阅明星投资人专场</b>
        <b ng-if="vm.result.remind === 1 && !vm.needApp">下载创投助手，订阅本专场</b>
        <b ng-if="vm.result.remind === 1 && vm.needApp">订阅机构专场</b>
      <b ng-if="vm.result.remind === 1">订阅机构专场</b>
      <b ng-if="vm.result.remind === 0">取消订阅机构专场</b>
    </a>
  -->

    <a href="javascript:void(0)" class="org-btn bg-green"
      id="investor-openApp" ng-if="topdata === 'investor'"
      ng-click="vm.subscribe(i,$event)">

    <b ng-if="vm.result.remind === 1 && !vm.needApp">下载创投助手，订阅投资人专场</b>
    <b ng-if="vm.result.remind === 1 && vm.needApp">订阅投资人专场</b>
      <b ng-if="vm.result.remind === 0">取消订阅投资人专场</b>
    </a>
  </div>
</div>
