<div class="protocol-wrap">
    <div class="container">

        <div>

            <h1><span>36氪私募股权投融资平台</span></h1>
            <h1>投资风险揭示书</h1>
            <p align="left"><b>尊敬的投资人：</b></p>

            <p style="text-indent: 2em;">为了使您更好地了解互联网私募股权投资的风险，北京协力筑成金融信息服务有限公司（下称“36氪平台公司”）根据《中华人民共和国公司法》、《中华人民共和国合伙企业法》、《关于促进互联网金融健康发展的指导意见》（银发[2015]221号文）、《关于对通过互联网开展股权融资活动的机构进行专项检查的通知》（证监办发[2015]44号）、《场外证券业务备案管理办法》（中证协发[2015]164号）等有关法律法规、部门规章以及《用户服务协议》（下称“服务协议”）、36氪平台公司制定并发布的相关制度、规则的规定，特为您提供此份投资风险揭示书。请您认真仔细阅读本《投资风险揭示书》，慎重决定是否进行互联网私募股权投资。</p>
            <p style="text-indent: 2em;">如您接受上述服务协议及本《投资风险揭示书》，即表明您已充分了解并知晓互联网私募股权投资的风险，并承诺独立承担该等风险可能给您造成的损失。</p>

            <p><span>一、重要提示</span></p>

            <p>
                <span>1、36氪私募股权投融资平台交易规则与上海、深圳证券交易所的业务规则、各地非上市公司股权交易所以及股份报价转让业务规则存在很大差别，在参与私募股权融资项目之前，请您认真阅读服务协议、本《投资风险揭示书》以及36氪私募股权投融资平台发布的交易规则。</span></p>

            <p><span>2、36氪私募股权投融资平台尚处于成长阶段，相关制度、规则尚在不断完善中，请您关注相关制度、规则的调整和更新并加以遵守。</span>
            </p>
            <p><span>3、作为一家专注于私募股权投融资在线服务的平台，在36氪私募股权投融资平台中注册并发布私募股权融资项目信息的公司或其他民事主体并非经中国证券监督管理委员会核准公开发行股票的公司或其他民事主体。主导投资的投资人（“领投人”）计划投资的目标企业（“目标企业”）是领投人认为具备成长潜力和良好发展前景的公司或其他民事主体，但该等主体处于初创期、成长期，受宏观政策、行业形势等影响较大，且自身也可能存在商业模式尚待证明、管理体制不成熟、运营欠规范等风险。</span>
            </p>

            <p><span>4、36氪私募股权投融资平台仅作为私募股权融资项目信息的发布平台，虽然36氪平台公司努力通过制定规则等方式使私募股权融资项目的信息披露真实有效，但36氪平台公司对目标企业、目标企业的股东或其他第三方利用36氪私募股权投融资平台发布的私募股权融资项目信息的真实性、准确性、完整性、合法性、及时性或有效性不做任何性质的担保或保证，您对上述信息的理解和利用依赖于您的投资经验及您自身独立的思考和判断。</span>
            </p>

            <p><span>5、36氪平台公司不对您的投资收益、交易的达成等事项作任何性质的担保或保证；36氪平台公司不对您的投资损失承担任何责任。</span>
            </p>

            <p><span>二、风险揭示 </span></p>
            <p><span>使用36氪平台公司提供的股权投资在线服务进行投资时需考虑与关注以下风险：</span></p>

            <p><span>1、投资失败风险：您和其他投资人可能未能成功设立有限合伙企业作为投资平台，您或者有限合伙企业和您可能无法与目标企业（或转让方）就股权投资事项（或股权转让事项）最终达成一致并签署书面协议，或者您可能由于任何其他原因的存在未能完成对目标企业的投资或未能受让目标企业的股权，您的投资款存在被退回且未获得任何收益的风险，在此期间，您可能丧失了其他潜在的投资机会。</span></p>

            <p><span>2、市场风险：您在36氪私募股权投融资平台进行的投资是通过与其他投资人共同设立有限合伙企业作为投资平台或以其他形式对目标企业进行的私募股权投资，目标企业的市值会因经济因素、政治因素、投资心理和交易制度等各种因素的影响而产生波动，从而导致投资平台收益水平发生变化，并可能引发亏损的风险。可能影响您的投资收益的市场风险主要包括：</span></p>

            <p>
                <span>
                （1）宏观经济风险：由于中国及周边国家、地区或世界宏观经济环境和市场的变化，目标企业的经营可能产生剧烈波动，从而导致目标企业的价值发生不同程度的贬损；
                </span>
            </p>
            <p>
                <span>
                （2）政策风险：目标企业所处行业的法律、法规及中国或其他地区的货币政策、财政政策、产业政策、地区发展政策等相关政策发生变化，可能导致目标企业业务经营环境的恶化，引起目标企业经营情况和价值的波动；
                </span>
            </p>
            <p>
                <span>
                （3）经济周期风险：经济运行具有周期性，受其影响，您所投资的目标企业的经济收益也会随之发生变化，从而产生风险；
                </span>
            </p>
            <p>
                <span>
                （4）利率风险：金融市场利率波动会导致资本市场的价格和收益率的变动，同时会直接影响您所投资的目标企业的融资成本和利润水平，从而产生经济风险；
                </span>
            </p>
            <p>
                <span>
                （5）购买力风险：您所投资目标企业的收益主要以现金形式来分配，而现金可能因通货膨胀的影响而导致购买力下降，从而使您的实际收益下降。
                </span>
            </p>
            <p><span>3、管理风险：您和其他投资人设立的有限合伙企业由领投人或其委托的投资管理人进行管理，存在管理风险。领投人或投资管理人在管理有限合伙企业时，可能未严格执行合伙协议或投资管理协议的约定而对有限合伙企业的运营或资产产生不利影响，特别是可能出现有限合伙企业的资产与领投人、投资管理人管理的其他股权投资合伙企业的资产之间产生利益输送。另外，领投人或投资管理人在管理和运营有限合伙企业的过程中，可能出现违反与目标企业签署的投资协议而使有限合伙企业承担违约责任的风险。</span>
            </p>

            <p><span>4、信用风险：您所投资的目标企业在投资交割后可能发生违约、信用评级降低、拒绝支付股息红利及/或处置收益的情况，从而导致您的经济损失。</span>
            </p>

            <p><span>5、投资管理人、资金托管人的运营风险：领投人委托管理有限合伙企业的投资管理人及36氪平台公司委托管理资金专用账户的资金托管人，可能会因重大违法、违规行为受到行政处罚、被取消业务资格等，或因投资管理人、资金托管人停业、解散、破产、撤销等原因，不能履行相应职责而导致有限合伙企业管理停滞或所托管资金流通不畅的风险。</span>
            </p>

            <p><span>6、流通性风险：受限于目标企业的经营情况、融资计划、管理层决策等因素，目标企业可能无法完成上市，或者目标企业的股权可能在相当长的一段时间内都不能在公开市场上出售或流通，这可能导致您对目标企业的投资不能迅速转变成现金或转变成现金会造成投资价值贬值。</span>
            </p>

            <p><span>7、目标企业的经营风险：大部分目标企业处于初创期、成长期，规模较小，管理制度不健全，抵抗市场风险、行业风险、运营风险的能力较弱，主营业务的收入可能易受管理、营销、市场等因素的影响而产生波动，这在一定程度上容易引起目标企业价值的波动。</span>
            </p>

            <p><span>8、未全面了解目标企业的风险：您对目标企业的了解受限于目标企业、目标企业的股东或其他第三方直接或间接向您提供的信息，该等信息可能并未准确、全面地反映目标企业的实际情况，这将会影响您的判断，并导致潜在的风险。</span>
            </p>

            <p><span>9、对目标企业控制权的风险：您可能由于您直接或间接持有的目标企业的股权比例较小而未取得对目标企业经营管理的决策权，您可能无法对目标企业的重大事项发表建议或施加影响。</span>
            </p>

            <p><span>10、未聘请专业人士的风险：您可能并未聘请专业人士为您对目标企业的投资提供法律、财务、投资方面的建议，这可能会影响您投资判断的准确性与专业性。</span>
            </p>

            <p><span>11、技术风险：36氪私募股权投融资平台可能因设备故障、通信中断、网络攻击、病毒入侵等原因出现系统故障而导致平台服务出错、报错、终止或者股权融资项目信息无法正常和准确地显示。</span>
            </p>

            <p><span>12、不可抗力事件：诸如地震、火灾、水灾、战争等不可抗力因素可能导致36氪私募股权投融资平台系统的瘫痪以及目标企业业务的中断、终止。</span>
            </p>

            <p><span>13、其他36氪平台公司无法预见、无法避免或无法控制的风险。</span>
            </p>
            <p><span>三、特别提醒</span></p>

            <p><span>1、36氪私募股权投融资平台上的项目均为股权投资类项目，这些项目并不承诺向投资人按期支付投资收益并最终返还投资本金，投资人通过持有有限合伙企业的份额或直接持有目标企业的股权或以其他形式间接持有目标企业的股权并不意味着必然能够实现投资收益及收回本金，因此请您谨慎投资并充分考虑亏损的可能。</span>
            </p>

            <p><span>2、作为股东或者合伙人，您应当了解自己作为股东或合伙人的权利（包括但不限于知情权），建议您在投资过程中就该等权利安排相关事宜与其他投资人充分沟通，并在与其最终签署的有限合伙协议、投资协议、股权转让协议中予以明确。</span>
            </p>

            <p><span>3、请您谨慎对待媒体，在私募股权融资项目信息尚未公开前，请您不要以任何形式公开透露拟对目标企业进行的投资及与上述事宜相关的任何信息。</span>
            </p>

            <p>
                <span>本《投资风险揭示书》并不保证揭示您使用36氪平台公司提供的在线私募股权投资服务进行投资所面临的全部风险，您参与此项私募股权融资项目前，应全面了解相关法律法规、认真阅读服务协议以及36氪私募股权投融资平台的制度和规则，并根据您自身的投资目的、投资期限、投资经验、资产状况等判断是否具备相应的投资风险承受能力，做到仔细甄别、慎重决定。</span>
            </p>

        </div>
    </div>
</div>
