<div class="protocol-wrap">
    <div class="container">

        <div>

            <h1><span>【股权众筹平台】</span></h1>
            <h1>风险揭示书</h1>
            <p align="left"><b>尊敬的投资人：</b></p>

            <p style="text-indent: 2em;">为了使您更好地了解股权众筹投资活动的风险，[平台公司]特为您提供此份风险揭示书。如您接受本《风险揭示书》并参与[平台公司]运营的[股权众筹平台]上进行的任何股权众筹投资活动，即表明您已充分了解并知晓该等活动的风险，并承诺有能力承担并愿意承担该等风险可能给您造成的损失。</p>

            <p><span>一、[股权众筹平台]</span></p>

            <p>
                <span>（一）本协议内容包括协议正文及所有乙方通过网站已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。乙方将就网站服务制定特别规则（下称</span><span
                >“</span><span>仅为您提供在线交流，投资股权众筹项目等网络平台服务，[股权众筹平台]对您利用[股权众筹平台]发布的信息的真实性、准确性、完整性、合法性、及时性或有效性不做任何性质的担保、保证或背书。[股权众筹平台]不对您的投资收益、交易的达成等事项作任何性质的担保或保证，不对您的投资损失承担任何责任。</span></p>

            <p><span>（二）使用[股权众筹平台]提供的在线投资服务进行投资时需考虑并关注以下风险：</span>
            </p>
            <p><span>1.投资失败风险：您与其他投资人可能未能成功设立有限合伙企业以投资目标企业，或者有限合伙企业和您可能无法与目标企业就股权投资事项最终达成一致，或者由于任何其他原因导致投资款的交割最终未能实现，您的投资款存在被退回且未获得任何收益的风险，在此期间，您可能丧失了其他潜在的投资机会。</span>
            </p>

            <p><span>2.宏观经济风险：由于中国及周边国家、地区或世界宏观经济环境和市场的变化，目标企业的经营可能会发生波动与变化，从而导致目标企业的价值发生不同程度的贬损。</span>
            </p>

            <p><span>3.政策风险：目标企业所处行业的法律、法规及相关政策若发生变化，可能导致目标企业业务经营环境的恶化，引起目标企业经营情况和价值的波动。</span>
            </p>

            <p><span>4.流通性风险：受限于目标企业的经营情况、融资计划、管理层决策等因素，目标企业可能无法完成上市，或者目标企业的股权可能在相当长的一段时间内都不能在公开市场上出售或流通，这可能导致您对目标企业的投资可能不能迅速转变成现金或转变成现金会造成投资价值贬值。</span></p>

            <p><span>5.目标企业的经营风险：大部分目标企业处于初创期、成长期，规模较小，管理制度不健全，抵抗市场风险、行业风险、财务风险、运营风险的能力较弱，主营业务的收入可能易受管理、营销、市场等因素的影响产生波动，在一定程度上容易引起目标企业价值的波动。</span></p>

            <p><span>6.未全面了解目标企业的风险：您对目标企业的了解受限于目标企业直接或间接向您提供的信息，该等信息可能并未准确、全面地反映目标企业的实际情况，这将会影响您的判断，导致潜在的风险。</span></p>

            <p><span>7.对目标企业控制权的风险：您可能由于您直接或间接持有的目标企业的股权比例较小而未取得对目标企业经营管理的决策权，您可能无法对目标企业的重大事项发表建议或对其施加影响。</span>
            </p>

            <p><span>8.未聘请专业人士的风险：就此股权众筹项目的投资您可能并未聘请专业人士为您提供法律、财务、投资方面的建议，这可能会影响您投资判断的准确性与专业性。</span>
            </p>

            <p><span>9.技术风险：[股权众筹平台]可能因设备故障、通信中断、网络攻击、病毒入侵等原因出现系统故障而导致股权众筹项目信息无法正常和准确地显示。</span>
            </p>

            <p><span>10.不可抗力：诸如地震、火灾、水灾、战争等不可抗力因素可能导致[股权众筹平台]系统的瘫痪以及目标企业业务的中断、中止、终止及损失。</span>
            </p>

            <p><span>11.其他[股权众筹平台]无法预见、无法避免或无法控制的风险。
本《风险揭示书》并不保证揭示您使用[股权众筹平台]提供的在线股权众筹投资服务所面临的全部风险，您在使用[股权众筹平台]前，应全面了解相关法律法规、认真阅读服务协议以及[股权众筹平台]的制度和规则，并根据您自身的投资目的、投资经验、投资期限、资产状况等判断是否具备相应的风险承受能力。</span>
            </p>



        </div>
    </div>
</div>
