<div class="user-basic">
	<img class="user-avatar img-circle blue" ng-src="{{user.avatar | image:146:'avatar'}}" alt="" width="146">
	<div class="user-basic-info">
		<div>
			<span class="user-name">{{user.name}}</span>
			<img ng-if="user.enterpriser"   tooltip="36氪创业者"  class="identity-icon" src="/styles/images/indentity-entrepreneurs.png"
                     width="36" alt="">
            <img ng-if="user.investorType==20" tooltip="36氪投资人" class="identity-icon" src="/styles/images/indentity-investors.png"
                 width="36" alt="">
            <img ng-if="user.investorType==10" tooltip="36氪优质投资人" class="identity-icon" src="/styles/images/hq-investor.png"
                 width="36" alt="">
		</div>
		<p>{{user.intro}}</p>
		<div class="tags">
			<span ng-if="user.country"><i class="icon-h5-location"></i>{{user.country | city}}</span>
			<span ng-if="user.school.length"><i class="icon-h5-school"></i><span ng-repeat="school in user.school">{{school}}</span></span>
		</div>

		<div class="share">
			<a href="{{user.linkedin}}" ng-show="user.linkedin" class="icon-linkedin"></a>
			<!-- <a href="#" class="icon-wechat" ng-show="user.weixin"></a> -->
			<a href="{{user.weibo}}" ng-show="user.weibo" class="icon-weibo"></a>
		</div>
	</div>
</div>
