<div class="user-basic">
	<a href="#" class="user-avatar">
		<img class="img-circle blue" src="/styles/images/user-avatar.jpg" alt="" width="146" height="146">
	</a>
	<div class="user-basic-info">
		<div>
			<a href="#" class="user-name">乔布斯</a>
			<img src="/styles/images/indentity-entrepreneurs.png" alt="">
			<img src="/styles/images/hq-investor.png" alt="">
		</div>
		<p>顺为基金创始合伙人；小米科技创始人兼CEO</p>
		<div class="tags">
			<span><i class="icon-h5-location"></i>北京</span>	
			<span><i class="icon-h5-school"></i>清华大学</span>	
		</div>
		<div class="share">
			<a href="#" class="icon-linkedin"></a>
			<a href="#" class="icon-wechat"></a>
			<a href="#" class="icon-weibo"></a>
		</div>
	</div>
</div>