<div ng-include="'templates/user/basic.html'"></div>

<!-- 暂无数据 -->
<div ng-include="'templates/null.html'" ng-if="!(user.invest_cases.length || user.invest_cases.length || user.founder_cases.length || user.worked_cases.length)"></div>


<!-- 投资信息 -->
<div class="item-panel" ng-if="user.invest_cases.length">
	<div class="title">
	    <h3>投资信息</h3>
	</div>
	<div class="item">
		<div class="item-heading">
			<h4>投资总数</h4>
			<span class="bage">{{user.invest_cases.length || 0}}</span>		
		</div>
		<div class="item-body">
			<div class="clearfix" ng-if="user.investMoneyBegin || user.investMoneyEnd">
				<div class="desc">个人单笔投资</div>
				<div class="investment">{{personunit_type}}{{user.investMoneyBegin | wanText}} - {{personunit_type}}{{user.investMoneyEnd | wanText}}</div>
			</div>
			<div class="clearfix" ng-if="user.orgMoneyBegin || user.orgMoneyEnd">
				<div class="desc">所在机构单笔投资</div>
				<div class="investment">{{orgunit_type}}{{user.orgMoneyBegin | wanText}} - {{orgunit_type}}{{user.orgMoneyEnd | wanText}}</div>
			</div>
		</div>
	</div>
	<div class="item" ng-if="user.industry.length">
		<div class="item-heading">
			<h4>关注领域</h4>
		</div>
		<div class="item-body field">
			<span ng-repeat="field in user.industry">{{field | dict_InvestorFollowedIndustry}}</span>	
		</div>
	</div>
	<div class="item" ng-if="user.isInvestPhase">
		<div class="item-heading">
			<h4>投资阶段</h4>
		</div>
		<div class="item-body investment-phase">
			<span>{{user.isInvestPhase}}</span>
		</div>
	</div>
</div>

<!-- 投资经历 -->
<div class="item-panel" ng-if="user.invest_cases.length">
	<div class="title">
		<h3>投资经历</h3>
		<span class="bage">{{user.invest_cases.length || 0}}</span>
	</div>
	<div class="panel-body">
		<ul class="list-item">
			<!-- <li ng-repeat="invest_case in user.invest_cases | limitTo: user.investCasesLimit"> -->
			<li ng-repeat="invest_case in user.invest_cases">
				<a class="logo" ui-sref="company_detail({id: invest_case.company.id})">
					<img class="img-rounded" ng-src="{{invest_case.company.logo | image:120:'logo'}}" alt="" width="120">
				</a>
				<div class="info">
					<a ui-sref="company_detail({id: invest_case.company.id})">{{invest_case.company.name}}</a>
					<span class="confirm-status" ng-show="invest_case.status!='CONFIRMED'">待确认</span>
					<p class="one-line">{{invest_case.company.brief}}</p>
					<div class="clearfix">
						<span class="pull-left">{{invest_case.phase || '未知轮次' | dict_FinancePhase}} <i class="time">（{{invest_case.financeDate|date:'yyyy.MM'}}）</i></span>
						<span class="pull-right" ng-if="invest_case.financeValue">{{invest_case.financeValueUnit | moneyUnit}} <i class="money">{{invest_case.financeValue | wanText}}</i></span>
					</div>
				</div>
			</li>
		</ul>
		<!-- <a class="load-more" ng-if="user.invest_cases.length && (user.investCasesLimit < user.invest_cases.length)" ng-click="user.investCasesLimit=user.investCasesLimit+2" href="javascript:void(0)"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a> -->
	</div>
</div>

<!-- 创业经历 -->
<div class="item-panel" ng-if="user.founder_cases.length">
	<div class="title">
		<h3>创业经历</h3>
		<span class="bage">{{user.founder_cases.length}}</span>
	</div>
	<div class="panel-body">
		<ul class="list-item">
			<!-- <li ng-repeat="founder_case in user.founder_cases | limitTo: user.founderLimit"> -->
			<li ng-repeat="founder_case in user.founder_cases">
				<a class="logo" ui-sref="company_detail({id: founder_case.groupId})">
					<img class="img-rounded" ng-src="{{founder_case.logo | image:120:'logo'}}" alt="" width="120">
				</a>
				<div class="info">
					<a ui-sref="company_detail({id: founder_case.groupId})">{{founder_case.groupName}}</a>
					<span class="confirm-status" ng-show="!founder_case.isConfirmed">待确认</span>
					<p class="one-line">{{founder_case.brief}}</p>
					<div class="clearfix">
						<span class="pull-left">{{founder_case.position | dict_EmployeeType}}</span>
						<span class="pull-right time" ng-if="founder_case.startDate">{{founder_case.startDate | date: 'yyyy.MM'}} - {{founder_case.isCurrent?'至今':founder_case.endDate | date: 'yyyy.MM'}}</span>
					</div>
				</div>
			</li>
		</ul>
		<!-- <a class="load-more" ng-if="user.founder_cases.length && (user.founderLimit < user.founder_cases.length)" ng-click="user.founderLimit=user.founderLimit+2" href="javascript:void(0)"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a> -->
	</div>
</div>

<!-- 工作经历 -->
<div class="item-panel" ng-if="user.worked_cases.length">
	<div class="title">
		<h3>工作经历</h3>
		<span class="bage">{{user.worked_cases.length}}</span>
	</div>
	<div class="panel-body">
		<ul class="list-item">
			<!-- <li ng-repeat="worked_case in user.worked_cases | limitTo: user.workedLimit"> -->
			<li ng-repeat="worked_case in user.worked_cases">
				<a class="logo" ui-sref="{{worked_case | investorLink:'groupId':'groupIdType'}}">
					<img class="img-rounded" ng-src="{{worked_case.logo | image:120:'logo'}}" alt="" width="120" >
				</a>
				<div class="info">
					<a ui-sref="{{worked_case | investorLink:'groupId':'groupIdType'}}">{{worked_case.groupName}}</a>
					<span class="confirm-status" ng-show="!worked_case.isConfirmed">待确认</span>
					<p class="one-line">{{worked_case.description}}</p>
					<div class="clearfix">
						<span class="pull-left">{{worked_case.position | dict_OrgPositionType | dict_WorkPositionType}} {{worked_case.positionDetail}}</span>
						<span class="pull-right time" ng-if="worked_case.startDate">{{worked_case.startDate | date: 'yyyy.MM'}} - {{worked_case.isCurrent?"至今":worked_case.endDate | date: 'yyyy.MM'}}</span>
					</div>
				</div>
			</li>
		</ul>
		<!-- <a class="load-more" ng-if="user.worked_cases.length && (user.workedLimit < user.worked_cases.length)" ng-click="user.workedLimit=user.workedLimit+2" href="javascript:void(0)"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a> -->
	</div>
</div>




















