<div class="org-basic">
	<div class="basic-body">
		<img class="img-circle" ng-src="{{orgBasicData.data.logo | image:140:'logo'}}" alt="" width="140" height="140">
		<h4 class="org-name">
			{{orgBasicData.data.nameAbbr}}
		</h4>
		<p>专注于智能产品自主研发</p>
		<p>产品理念：为发烧而生</p>
		<a class="website" href="{{orgBasicData.data.website}}">{{orgBasicData.data.website}}</a>
		<div class="tags">
			<span>互联网</span>
			<span>智能设备</span>
			<span>发烧友</span>
		</div>
	</div>
	<div class="org-footer clearfix">
		<div class="pull-left">
			<span class="location"><i class="icon-h5-location"></i>北京</span>	
			<span class="year"><i class="icon-h5-time"></i>2009</span>	
		</div>
		<div class="pull-right share">
			<a href="#" class="icon-linkedin"></a>
			<a href="#" class="icon-wechat"></a>
			<a href="#" class="icon-weibo"></a>
		</div>
	</div>
</div>