<div class="org-basic">
	<div class="basic-body">
		<a href="#" class="org-logo">
			<img class="img-circle" src="http://placehold.it/140x140/09f/fff" alt="" width="140" height="140">
		</a>
		<h4 class="org-name">
			<a href="#">小米科技</a>
		</h4>
		<p>专注于智能产品自主研发</p>
		<p>产品理念：为发烧而生</p>
		<a class="website" href="#">www.mi.com</a>
		<div class="tags">
			<span>互联网</span>
			<span>智能设备</span>
			<span>发烧友</span>
		</div>
	</div>
	<div class="org-footer clearfix">
		<div class="pull-left">
			<span class="location"><i class="icon-h5-location"></i>北京</span>	
			<span class="year"><i class="icon-h5-time"></i>2009</span>	
		</div>
		<div class="pull-right share">
			<a href="#" class="icon-linkedin"></a>
			<a href="#" class="icon-wechat"></a>
			<a href="#" class="icon-weibo"></a>
		</div>
	</div>
</div>