<div ng-include="'templates/organization/basic.html'"></div>

<div class="org-detail">
	<!-- 公司介绍 -->
	<div class="item-panel">
		<div class="title">
			<h3>公司介绍</h3>
		</div>
		<div class="panel-body">


		<div class="carousel-box">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.image}}" style="margin:auto;">
					<div class="carousel-caption">
						<h4>Slide {{$index}}</h4>
						<p>{{slide.text}}</p>
					</div>
				</slide>
			</carousel>
		</div>
  <!-- <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div> -->



			<!-- <div class="carousel">
				<div class="carousel-container">
					<img src="http://placehold.it/580x340/09f/fff" alt="" width="580" height="340">
					<img src="http://placehold.it/580x340/09f/fff" alt="" width="580" height="340">
					<img src="http://placehold.it/580x340/09f/fff" alt="" width="580" height="340">
					<img src="http://placehold.it/580x340/09f/fff" alt="" width="580" height="340">
					<img src="http://placehold.it/580x340/09f/fff" alt="" width="580" height="340">
				</div>
				<div class="point">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</div> -->
			<p class="company-intro">小米公司正式成立于2010年4月，是一家专注于智能产品自主研发的移动互联网公司。“为发烧而生”是小米的产品理念。小米公司首创了用互联网模式开发手机操作系统、发烧友参与开发改进的模式。</p>
			<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
		</div>
	</div>

	<!-- 相关链接 -->
	<div class="item-panel">
		<div class="title">
			<h3>相关链接</h3>
		</div>
		<div class="panel-body links-panel">
			<a href="#">iPhone链接</a>
			<a href="#">Android链接</a>
			<a href="#">Web链接</a>
			<a href="#">iPad链接</a>
			<a href="#">PC链接</a>
		</div>
	</div>

	<!-- 子产品介绍 -->
	<div class="item-panel">
		<div class="sub-product">
			<div>
				<span>小米盒子增强版</span>
				<i>NEXT</i>
				<a href="#">查看官网</a>
			</div>
			<div>
				<span>小米盒子增强版</span>
				<i>NEXT</i>
				<a href="#">查看官网</a>
			</div>
		</div>
		<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
	</div>

	<!-- 创始团队 -->
	<div class="item-panel">
		<div class="title">
			<h3>创始团队</h3>
		</div>
		<div class="panel-body">
			<ul class="list-item">
				<li ng-repeat="item in [1,2]">
					<a class="logo" href="#">
						<img class="img-rounded" src="http://placehold.it/120x120/09f/fff" alt="" width="120" height="120">
					</a>
					<div class="info">
						<a href="#">雷军</a>
						<p>著名天使投资人，小米科技创始人</p>
						<span>创始人兼CEO</span>
					</div>
				</li>
			</ul>
			<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
		</div>
	</div>

	<!-- 融资经历 -->
	<div class="item-panel finance-panel">
		<div class="title">
			<h3>融资经历</h3>
		</div>
		<div class="panel-body">
			<div class="round-info">
				<div class="round">A轮</div>
				<div class="info">
					<span>$<span class="money">2000</span>万</span>
					|
					<span>估值$5000万</span>	
					|
					<span class="time">2013.02</span>
				</div>
			</div>
			<ul class="list-item">
				<li ng-repeat="item in [1,2]">
					<a class="logo" href="#">
						<img class="img-rounded" src="http://placehold.it/120x120/09f/fff" alt="" width="120" height="120">
					</a>
					<div class="info">
						<a href="#">雷军</a> 
						<span class="bage">待确认</span>
						<p>著名天使投资人，小米科技创始人</p>
						<span>创始人兼CEO</span>
					</div>
				</li>
			</ul>
			<div class="round-info">
				<div class="round">天使轮</div>
				<div class="info">
					<span>融资信息未披露</span>
				</div>
			</div>
			<ul class="list-item">
				<li ng-repeat="item in [1,2]">
					<a class="logo" href="#">
						<img class="img-rounded" src="http://placehold.it/120x120/09f/fff" alt="" width="120" height="120">
					</a>
					<div class="info">
						<a href="#">雷军</a>
						<p>著名天使投资人，小米科技创始人</p>
						<span>创始人兼CEO</span>
					</div>
				</li>
			</ul>
			<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
		</div>
	</div>

	<!-- 过往投资方 -->
	<div class="item-panel past-investor">
		<div class="title">
			<h3>过往投资方</h3>
			<span class="bage">4</span>
		</div>
		<div class="panel-body">
			<ul class="list-item">
				<li ng-repeat="item in [1,2]">
					<a class="logo" href="#">
						<img class="img-rounded" src="http://placehold.it/120x120/09f/fff" alt="" width="120" height="120">
					</a>
					<div class="info">
						<a href="#">雷军</a>
						<p>全球华语排名领先票务网站、官方购票渠道!</p>
					</div>
				</li>
			</ul>
			<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
		</div>
	</div>

	<!-- 团队成员 -->
	<div class="item-panel past-investor">
		<div class="title">
			<h3>团队成员</h3>
			<span class="bage">4</span>
		</div>
		<div class="panel-body">
			<ul class="list-item">
				<li ng-repeat="item in [1,2]">
					<a class="logo" href="#">
						<img class="img-rounded" src="http://placehold.it/120x120/09f/fff" alt="" width="120" height="120">
					</a>
					<div class="info">
						<a href="#">詹姆斯</a>
						<p>首席设计师，曾任职谷歌、脸谱等知名公司</p>
					</div>
				</li>
			</ul>
			<a class="load-more" href="#"><i class="glyphicon glyphicon-menu-down"></i> 查看更多</a>
		</div>
	</div>
</div>







































