<div class="org-wrapper">
    <header>
        <div ng-class="::{'top-org': vm.isTop()}" class="logo-wrapper">
            <div class="img-wrapper">
                <img ng-src="{{vm.basic.logo | image }}" alt="">
            </div>
            <div>
                <h4>{{ ::vm.basic.name }}</h4>
            </div>
            <span ng-class="::{'top-org-text': vm.isTop()}">顶级投资机构</span>
        </div>
    </header>
    <section class="brief-wrapper">
        <div>
            <h3>机构简介</h3>
            <div class="org-brief">
                <text-line-clamp line-clamp='4' text="vm.basic.intro" ng-if="vm.investments.length">
                    <div class="text-container">
                        <p></p>
                    </div>
                    <a href="javascript:" >展开</a>
                </text-line-clamp>
                <div ng-if="!vm.investments.length" class="text-container">
                    <p >{{:: vm.basic.intro}}</p>
                </div>
            </div>
        </div>
    </section>
    <section ng-show="vm.investments.length" class="cases-wrapper">
        <div>
            <h3>投资案例</h3>
            <div class="invest-cases">
                <ul>
                    <li  ng-repeat="investment in vm.investments">
                        <div class="project-info">
                            <div class="project-logo-wrapper">
                                <img ng-src="{{investment.logo | image: 'logo'}}" /></div>
                            <div>
                                <h4>{{investment.name}}</h4>
                                <p>{{investment.brief}}</p>
                            </div>
                        </div>
                        <ul class="time-line">
                            <li ng-repeat="detail in investment.details">
                                <p><span>{{detail.investDate | date:'yyyy.MM'}}  </span>
                                    <span>{{detail.phase | dict_FinancePhase}}</span></p>
                                <p class="investors" ng-if="detail.otherParticipants">
                                    合投方：<span ng-bind-html="::vm.joinInvestorNames(detail.otherParticipants)"></span>
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="javascript:" ng-if="vm.investments.length&&!vm.allLoaded" ng-click="vm.loadMore()">查看更多</a>
            </div>
        </div>
    </section>
</div>
