.investor-wrapper {
    height: inherit;
    background-color: rgb(242,244,245);
    .form-submit a{
        background: #6BA2FC!important;
    }
    .upload-wrapper:before{
        height: 0!important;
    }
    .line{
        margin-left: 15px!important;
        padding-right: 15px!important;
        border-bottom: 1px solid #f4f4f4!important;
    }
    .validate-welcome-wrapper{
        margin-top: 160px;
    }
    .form-container{
        //background-color: rgb(242,244,245)!important;
    }
    .basic-info,.form-submit{
        background-color: rgb(242,244,245)!important;
    }
    .basic-info{
        padding: 0!important;
    }
    .line select{
        color:#969fa9;
        direction: rtl;
        option {
            direction: ltr;
        }
    }
    .line label{
        font-size: 15px;
        color: #5A626D;
    }
    .suggestOrganizationObj{
        text-align: right;
    }
}
.investor-success-wrapper {
    .activity-info img{
        height: 21px;
    }
    .activity-card{
        margin-top: 160px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        height: 367px;
        position: relative;
        margin-bottom: 60px;
        .email-card{
          background: #FFFFFF;
          border: 1px solid #ECF1F5;
          box-shadow: 0px 2px 8px 0px #D9E2EB;
          border-radius: 10px;
          width:295px;
          height:187px;
          margin:0 auto;
          display: inline-block;
          margin-top: 30px;

          div{
            width:90%;
            height:50px;
            padding:10px;
            color:#222C38;
            input{
              transform: rotate(-360deg);
              background: #FFFFFF;
              border: 1px solid #E5EBF0;
              box-shadow: inset 1px 1px 4px 0px #CBD2DD;
              border-radius: 4px;
              height: 40px;
              width: 175px;
              margin-left: 5px;
              text-align: center;
            }
          }
        }
        .img-back{
            width: 179px;
            height:229px;
            display: inline-block;
            margin-top: 31px;
        }
        .img-front{
            width: 150px;
            height:200px;
            display: inline-block;
            margin-top: 31px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        p{
            margin: -12px auto 0 auto;
            font-size: 15px;
            color: #969FA9;
            letter-spacing: -0.07px;
            width: 275px;
            text-align: center;
            margin-top:30px
        }
        span{
            font-size: 14px;
            color: #969FA9;
            letter-spacing: -0.07px;
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-top: 25px;
        }
    }
    .header-banner-wrapper{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #FFFFFF;
        border-top: solid 1px #E7E7E7;
        p:first-child{
            font-size: 16px;
            color: #222C38;
            letter-spacing: -0.08px;
        }
        p:last-child{
            font-size: 14px;
            color: #969FA9;
            letter-spacing: -0.07px;
        }
        a{
            display: inline-block;
            width: 110px;
            height: 28px;
            line-height: 28px;
            background: #6BA2FC;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: -0.07px;
        }
    }
}
