<div ng-if="!loadingInst.bangdanDetailLoading" style="">
<div class="bd-investor-detail bd-com-detail">
    <div ng-include="'templates/bangdan/topBanner.html'" ng-if="!vm.inApp" ng-click="vm.downloadApp()"></div>
    <section class="bd-investor-avatar bd-detail-bgp">
            <div class="bd-orgdetail-logo">
                <div class="bd-orgdetail-img bd-gold-border"
                    ng-if="vm.comInfo.rank === 1" style="background-image: url({{vm.comInfo.logo}})">
                </div>
                <div class="bd-orgdetail-img bd-silver-border" ng-if="vm.comInfo.rank === 2"
                    style="background-image: url({{vm.comInfo.logo}})">
                </div>

                <div class="bd-orgdetail-img bd-copper-border" ng-if="vm.comInfo.rank === 3"
                    style="background-image: url({{vm.comInfo.logo}})">
                </div>
                <div class="bd-orgdetail-img bd-normal-border" ng-if="vm.comInfo.rank > 3"
                    style="background-image: url({{vm.comInfo.logo}})">
                </div>

                <div class="bd-belt bd-gold-belt" ng-if="vm.comInfo.rank === 1"></div>
                <div class="bd-belt bd-cilver-belt" ng-if="vm.comInfo.rank === 2"></div>
                <div class="bd-belt bd-copper-belt" ng-if="vm.comInfo.rank === 3"></div>
                <div class="bd-belt " ng-if="vm.comInfo.rank >3"></div>
                <span >{{vm.comInfo.name}}</span>
        </div>
        <div class="rank-num">
                <span class="bd-up-arrow" ng-if="vm.rise && vm.numchange" ></span>
                <span class="bd-down-arrow" ng-if="!vm.rise && vm.numchange"></span>
                <span class="num-change" ng-if="vm.numchange">{{vm.numchange}}</span>

                <span class="top-rank-num">第&nbsp;{{vm.comInfo.rank}}&nbsp;名</span>
                <span class="top-rank-q">/本季度</span>
        </div>
        <div class="push-right" ng-click="vm.joinpro('forward')">
                <div>转发支持</div>
                <div><img src="/styles/images/bangdan/thumbup.png"/>&nbsp;{{vm.comInfo.forwardCount}}</div>
        </div>
        <div class="f-type" ng-if="vm.comInfo.communityTypeEnum">
            {{vm.comInfo.communityName}}
        </div>
    </section>

    <section class="bd-investor-info" ng-if="vm.comInfo.intro">
        <div class="investor-info"
            ng-class="{true:'padd-Btm-f',false:''}[vm.isEqualHeight]">
            <div class="info-content" >
                    <div class="info" ng-if="vm.comInfo.intro">
                        <text-line-clamp line-clamp='4' text="vm.comInfo.intro" isequalheight="vm.isEqualHeight"  >
                            <div class="text-container">
                                <p class="text-content">
                                </p>
                            </div>
                        </text-line-clamp>
                    </div>
            </div>
            <div class="open-more" ng-click="vm.openMore($event)" ng-if="vm.isEqualHeight">
                <span >
                    点击<span class="open-close-txt">展开</span>完整介绍&nbsp;
                    <img class="open-close" src="/styles/images/bangdan/open-more-new.png"/></span>
            </div>
        </div>
    </section>

    <section class="bd-investor-pro" ng-class="{true:'',false:'marg-top'}[!vm.recommend]">
        <div class="pro-top">
            <span class="h-line"></span>
            <span class="p-title"><b>优质项目</b></span>
        </div>

        <section class="bd-tab-section com-detail" ng-if="industryArr.length > 1"
            ng-swipe-left = "vm.moveAction($event, true)"
            ng-swipe-right = "vm.moveAction($event, false)"
            >
            <div
            dynamic-tabs="industryArr"
            ng-model="currentIndustry"
            isspan='true'
            barwidth='18'
            limit='4'
            currtab='vm.cTab'
            ></div>
        </section>

        <div class="pro-num">
            <div class="rank-num">
                <div class="content-num">
                    <div class="bd-sta">
                        <div class="num">
                                {{vm.comInfo.projectCount}}
                        </div>
                        <div class="txt">
                            项目总数
                        </div>
                    </div>
                    <div class="split-line"> </div>
                    <div class="bd-sta">
                        <div class="num">
                                {{vm.comInfo.interviewCount}}
                        </div>
                        <div class="txt">
                            Q{{vm.currQuarter}}总约谈数
                        </div>
                    </div>
                    <div class="split-line"> </div>
                    <div class="bd-sta">
                        <div class="num">
                                {{vm.comInfo.accessCount}}
                        </div>
                        <div class="txt">
                            Q{{vm.currQuarter}}总浏览数
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="txt-intro">
        * 以下项目按本季度被约谈量排序，实时更新
    </div>
    <div class="pro-list"
        ng-swipe-left = "vm.moveAction($event, true)"
        ng-swipe-right = "vm.moveAction($event, false)"
    >
        <ul infinite-scroll='vm.displayMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='2'>
            <li ng-if="vm.prolist" ng-repeat="item in vm.prolist track  by $index"
                ng-click="vm.goProDetail(item.ccid, $event)" >
                <project-item item="item" key="$index" isinvestor='vm.investRole'></project-item>
            </li>
        </ul>
        <div class="more" ng-if="vm.busy && !vm.finish &&  vm.page">
            正在加载更多...&nbsp;
            <img src="/styles/images/bangdan/loading.svg" alt="loading">
        </div>
        <div class="no-more" ng-if="vm.finish">已无更多数据</div>

        <div class="no-more-data" ng-if = "vm.hasInit && !vm.prolist.length > 0">
            <img src="//krplus-pic.b0.upaiyun.com/avatar/201706/21094046/ksv02hcp4zz8jou2.png" alt="数据为空">
            <p>暂无相关数据</p>
        </div>
    </div>
    </section>

    <div ng-include="'templates/bangdan/common/appbottom.html'" ng-if="vm.inApp"></div>

    <section class="bd-outapp-overlap" ng-if="!vm.inApp" style="position:relative;top:40px;"></section>
    <section class="section-detail-footer ng-scope" ng-if="!vm.inApp">
        <div class="bd-out-app-ani bd-item-out animated fadeInUp">
            <div>
                <p>
                    不错过所有优质社群的服务项目
                </p>
            </div>
            <div>
                <a ng-click="vm.downloadApp()">点击查看更多</a>
            </div>
        </div>
    </section>
</div>
</div>
<loading loading="bangdanDetailLoading"></loading>
