<div ng-if="!loadingInst.bangdanLoading" style="">
<div class="combd-wapper" id ="combd-wapper">
  <div ng-include="'templates/bangdan/topBanner.html'" ng-if="!vm.inApp" ng-click="vm.downloadApp()"></div>
  <div class="comdb-top">
    <div class="com-brief">
      * 按本季度截止今日，各社群项目被约谈总量排序，实时更新
    </div>
  </div>
    <section class="com-tabs">
        <div slide-tabs="comType" ng-model="currentComType" isspan='false'></div>
    </section>

    <section class="bd-tab-section" ng-if="industryArr.length > 1"
        >
        <div
        dynamic-tabs="industryArr"
        ng-model="currentIndustry"
        isspan='true'
        barwidth='18'
        limit='4'
        currtab='vm.cTab'
        ></div>
    </section>

  <div class="combd-list-content" ng-if="vm.startloading">
      正在加载数据...&nbsp;
      <img src="/styles/images/bangdan/loading.svg" alt="loading">
  </div>

  <section class=""
      ng-swipe-left = "vm.moveAction($event, true)"
      ng-swipe-right = "vm.moveAction($event, false)"
      >
        <ul class="combd-list"
        infinite-scroll='vm.displayMore()'
        infinite-scroll-disabled='vm.busy'
        infinite-scroll-distance='0'>
          <li class="com-item" ng-repeat="item in vm.list track by $index"
           ng-click="vm.goComDetail(item.communityId, $index + 1)">
              <oic-item item="item" key = '$index' symbol='com' isrise="vm.isRise"></oic-item>
        </li>
      </ul>
      <footer ng-if="vm.busy && !vm.finish && vm.page">
            正在加载更多...&nbsp;
            <img src="/styles/images/bangdan/loading.svg" alt="loading">
      </footer>
      <footer ng-if="vm.finish">已无更多数据</footer>

      <div class="no-data"  ng-if="vm.hasInit && !vm.list.length > 0">
          <img src="//krplus-pic.b0.upaiyun.com/avatar/201706/21094046/ksv02hcp4zz8jou2.png" alt="数据为空">
          <p>暂无相关数据</p>
      </div>
  </section>


  <div class="combd-footer" ng-if="vm.inApp">
    <div>
      <span>榜上无名，30秒加入</span>
      <a  ng-click="vm.addWechat()"><div class="register">立即加入</div></a>
    </div>
  </div>
<!--
  <div class="bd-out-fixdiv bd-txt-center animated bounceInUp" ng-if="!vm.inApp ">
           <a  ng-click="vm.downloadApp()">创投助手内打开</a>
  </div>
-->
  <section class="bdorg-section-footer" ng-if="!vm.inApp && vm.isBottom">
    <div class="bd-out-app-ani" id="div-open-app">
        <div>
            <p>
                一览最全项目数据库
            </p>
        </div>
    </div>
  </section>

  <div class="bdorg-div-pop-in animated fadeInUp" ng-if="!vm.inApp">
      <a  ng-click="vm.downloadApp()"
        class="btn-open-app" id="btn-open-app">点击查看更多</a>
  </div>

  </div>
  <!--
  <div ng-include="'templates/bangdan/common/downloadApp.html'"></div>-->
  </div>
<loading loading="bangdanLoading"></loading>
