<div class="bd-investor-detail">
    <section class="bd-investor-avatar bd-detail-bgp">

    </section>
    <section class="bd-investor-info">
    <div class="investor-info">
        <div class="info-content">
                <div class="info">
                    <p>
                        妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍
                        之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之妨碍之
                    </p>
                </div>
                <div class="industry">
                    <p>
                        <span>关注行业</span>&nbsp;&nbsp;
                        文娱：文娱：文娱：文娱：文娱：
                    </p>
                </div>
        </div>
    </div>
    </section>
    <section class="bd-investor-pro">
        <div class="pro-top">
            <span class="h-line"></span>
            <span class="p-title">已投项目</span>
        </div>
        <div class="pro-num">
            <div class="rank-num">
            </div>
        </div>
    </section>

    <section class="bd-investor-org">

    </section>
</div>
