<div ng-if="!loadingInst.bangdanLoading" style="">
<div class="orgbd-wapper">
  <div class="orgdb-top">
    <div class="org-brief">
      * 按本季度截止今日，各机构项目被约谈总量排序，实时更新
    </div>
  </div>
  <!--
  ui-sref="bangdan.orgbdDetail({id: item.orgId, rank: $index + 1})"
  -->
  <div class="orgbd-list" infinite-scroll='vm.displayMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
    <div class="org-item" ng-repeat="item in vm.list track by $index"
     ng-click="vm.goOrgDetail(item.orgId, $index + 1)">
      <div class="org-number">
        <img src="/styles/images/bangdan/top1.png" ng-if="$index === 0">
        <img src="/styles/images/bangdan/top2.png" ng-if="$index === 1">
        <img src="/styles/images/bangdan/top3.png" ng-if="$index === 2">

        <span ng-if="$index > 2" ng-class="{true:'top-num',false:''}[item.rise == 0]">{{$index + 1}}</span>
        <div class="up-arrow" ng-if="item.rise > 0" ng-class="{true:'top-special',false:'top-nromal'}[$index <= 2]"></div>
        <div class="down-arrow" ng-if="item.rise < 0" ng-class="{true:'top-special',false:'top-nromal'}[$index <= 2]"></div>
        <div class="number-change" ng-if="item.rise != 0" ng-class="{true:'top-special-num',false:'top-nromal-num'}[$index <= 2]">{{abs(item.rise)}}</div>

      </div>
      <div class="org-info">
        <div class="org-logo top1-logo" ng-if="$index === 0" style="background-image: url({{item.logo}})"></div>
        <div class="org-logo top2-logo" ng-if="$index === 1" style="background-image: url({{item.logo}})"></div>
        <div class="org-logo top3-logo" ng-if="$index === 2" style="background-image: url({{item.logo}})"></div>
        <div class="org-logo" ng-if="$index > 2" style="background-image: url({{item.logo}})"></div>
        <div class="org-name">
          <div ng-class="{top3Color: $index < 3}">{{item.name}}</div>
          <div>浏览量 <span>{{item.accessCount}}</span></div>
        </div>
        <div class="interview-num">
          <div ng-class="{top3Color: $index < 3}">{{item.interviewCount}}</div>
          <div>约谈量</div>
        </div>
      </div>
    </div>
  </div>
  <footer ng-if="vm.busy && !vm.finish && vm.page">正在加载更多...</footer>
  <footer ng-if="vm.finish">已无更多数据</footer>
  <div class="orgbd-footer">
    <div>
      <span>榜上无名，30秒入驻</span>

      <a href="javascript:void(0)" ng-click="vm.joinOrg()"><div class="register">立即入驻</div></a>
    </div>
  </div>
</div>
<div ng-include="'templates/bangdan/common/downloadApp.html'"></div>
</div>
<loading loading="bangdanLoading"></loading>
