<div ng-if="!loadingInst.bangdanLoading" style="">
<div class="orgbd-wapper" id ="orgbd-wapper" ng-class="{true:'bd-paddingTop62',false:''}[!vm.inApp]">
  <div class="orgdb-top">
    <div class="org-brief">
      * 按本季度截止今日，各机构项目被约谈总量排序，实时更新
    </div>
  </div>

  <section class="bd-tab-section" ng-if="industryArr.length > 1"
      ng-swipe-left = "vm.moveAction($event, true)"
      ng-swipe-right = "vm.moveAction($event, false)"
      >
      <div
      dynamic-tabs="industryArr"
      ng-model="currentIndustry"
      isspan='true'
      barwidth='18'
      limit='4'
      currtab='vm.cTab'
      ></div>
  </section>

  <div class="orgbd-list-content-load" ng-if="vm.startloading">
      正在加载数据...&nbsp;
      <img src="/styles/images/bangdan/loading.svg" alt="loading">
  </div>

    <section class="orgbd-list-content"
        ng-swipe-left = "vm.moveAction($event, true)"
        ng-swipe-right = "vm.moveAction($event, false)"
      >
        <ul class="orgbd-list"
          infinite-scroll='vm.displayMore()'
          infinite-scroll-disabled='vm.busy'
          infinite-scroll-distance='2'
          ng-if="vm.list.length > 0"
        >
          <li class="org-item" ng-repeat="item in vm.list track by $index"
             ng-click="vm.goOrgDetail(item.orgId, $index + 1)">
                <oic-item item="item" key = '$index' symbol='org'></oic-item>
          </li>
        </ul>
        <div class="orgbd-load" ng-if="vm.busy && !vm.finish &&  vm.page">
              正在加载更多...&nbsp;
              <img src="/styles/images/bangdan/loading.svg" alt="loading">
        </div>
        <div class="orgbd-nodata" ng-if="vm.finish">已无更多数据</div>

        <div class="nodata" ng-if="vm.hasInit && !vm.list.length > 0">
            <img src="//krplus-pic.b0.upaiyun.com/avatar/201706/21094046/ksv02hcp4zz8jou2.png" alt="数据为空">
            <p>暂无相关数据</p>
        </div>
    </section>


  <div class="orgbd-footer" ng-if="vm.inApp">
    <div>
      <span>榜上无名，30秒入驻</span>
      <a  ng-click="vm.addWechat()"><div class="register">立即入驻</div></a>
    </div>
  </div>

<section class="bdorg-section-footer" ng-if="!vm.inApp && vm.isBottom">
  <div class="bd-out-app-ani" ng-if="!vm.inApp" id="div-open-app">
      <div>
          <p>
              一览最全项目数据库
          </p>
      </div>
  </div>
</section>

<div class="bdorg-div-pop-in animated fadeInUp" ng-if="!vm.inApp ">
    <a  ng-click="vm.downloadApp()"
      class="btn-open-app" id="btn-open-app">点击查看更多</a>
</div>

</div>
<!--
<div ng-include="'templates/bangdan/common/downloadApp.html'"></div>-->
</div>
<loading loading="bangdanLoading"></loading>
