<div class="orgbd-share-wapper">
  <div class="logo" style="background-image: url({{vm.data.logo}})"></div>
  <div class="riband" ng-if="vm.data.rank == 1"><img src="/styles/images/bangdan/top1-riband.png" /></div>
  <div class="riband" ng-if="vm.data.rank == 2"><img src="/styles/images/bangdan/top2-riband.png" /></div>
  <div class="riband" ng-if="vm.data.rank == 3"><img src="/styles/images/bangdan/top3-riband.png" /></div>
  <div class="name" ng-class="{mgt: vm.data.rank > 3}">{{vm.data.name}}</div>
  <div class="number">
    <div class="num-line"></div>
    <div class="num">第<span>{{vm.data.rank}}</span>名</div>
    <div class="num-line"></div>
    <div ng-if="vm.numchange" class="rank-riseDown">
        <span ng-if="vm.rise">上升</span>
        <span ng-if="!vm.rise">下降</span>
        {{vm.numchange}}
        名
    </div>
    <div class="num-text">
      <span>2017 · 风口机构排行榜</span><br/>
      <span>共 {{vm.data.totalOrgCount}} 家机构排名</span>
    </div>
  </div>
  <div class="info">
    <div class="counts">
      <div>{{vm.data.projectCount}}</div>
      <div>机构项目数</div>
    </div>
    <div class="counts count-border">
      <div>{{vm.data.interviewCount}}</div>
      <div>总约谈数</div>
    </div>
    <div class="counts">
      <div>{{vm.data.accessCount}}</div>
      <div>总浏览数</div>
    </div>
  </div>
  <div class="member">
    <p>我是<span>{{vm.data.name | splitName: 10}}</span>家族成员</p>
    <p>为Ta站台</p>
  </div>
  <!--
  ui-sref="bangdan.orgbdDetail({id: vm.id,rank:vm.rank})"
  ui-sref="bangdan.orgbd"
  -->
  <div class="go-btn go-list"  ng-click="vm.bangdanOrg()">风口机构榜</div>
  <div class="go-btn go-detail"  ng-click="vm.bangdanOrgDetail(vm.id, vm.data.rank)">
      <span>{{vm.data.name | splitName: 5}}</span>详情
  </div>
</div>
<!--
 <div ng-include="'templates/bangdan/common/downloadApp.html'"></div>
 -->
