<div class="nativeAlert_pop">
    <div class="bd-share-logo">
        <div class="bd-share-img">
            <img src="https://krplus-pic.b0.upaiyun.com/201504/10084425/ce1c817baec6b01f.png" />
        </div>
        <div class="bd-belt bd-gold-belt"></div>
        <span>红杉资本</span>
    </div>
    <div class="bd-share-rank">
        <div class="rank-num">
                <span>-</span>
                <span class="txt">第</span>
                <span class="num">1</span>
                <span class="txt">名</span>
                <span>-</span>
        </div>
        <div class="total-rank">
            共500家机构排名
        </div>
    </div>
    <div class="bd-share-promote">
        <div class="center-div">
            我是红杉资本家族成员为Ta站台
        </div>
    </div>
    <div class="bd-share-app">
            <div class="share-app bd-share-wechat"></div>
            <div class="split-block"> </div>
            <div class="share-app bd-share-webo"></div>
    </div>

    <div class="bd-share-txt">
        <span>2017</span>
        <span>风口机构排行榜</span>
    </div>

    <img class="pop-close" src="/styles/images/find/close@2x.png" ng-click="vm.cancelModal()"/>
</div>
