.krfunction(){
    .reset(){
        p,h3,h4,ul,li,input{
            margin:0;
            padding:0;
        }
        p{
            line-height: 1.2;
        };
        li{
            list-style: none;
        }
    }
    @error-color: #ff0039;
}
