<div class="syndicates-gift" ng-if="!loadingInst.syndicatesGift">
    <div class="gift"></div>
    <div class="money">{{giftMoney}}元</div>
    <div class="rules">
        <p><span class="star"></span>跟投人审核通过后，投资券会发放至账户中</p>
        <p><span class="star"></span>投资券有效期为60天。</p>
    </div>
    <div class="btns clearfix">
        <a class="btn btn-view" href="#" ui-sref="syndicates">下一个BAT正在融资</a>
        <a class="btn btn-invite" ui-sref="syndicatesShare" data-stat-click="woyeyaoqing-h5.yaoqingbutton">获取更多的投资券</a>
    </div>
</div>

<div loading="syndicatesGift"></div>
