<div class="syndicates-invite">
    <div class="invite-welcome">
        <img src="styles/images/invite/welcome.png" alt="邀请好友赚翻天">
    </div>

    <div class="invite-gifts">
        <img class="gift-title" src="styles/images/invite/gift-title.png" alt="三重福利">
        <img class="gift-one" src="styles/images/invite/gift-1.png" alt="注册就送200元/位新手好礼">
        <img class="gift-two" src="styles/images/invite/gift-2.png" alt="邀请好友就送500元/位推荐重礼">
    </div>

    <div class="invite-records">

    </div>

    <div class="invite-rules">

    </div>
</div>

<div loading="syndicatesInvite"></div>
