<div class="syndicates-invite" ng-if="!loadingInst.syndicatesInvite">
    <div class="invite-welcome">
        <img class="welcome" src="styles/images/invite/welcome.png" alt="邀请好友赚翻天">
        <div class="sign-area" ng-if="isLogin">
            <img class="sign" src="styles/images/invite/invite-sign.png" alt=""/>
            <p class="name">{{ formUserNmae }}的专属页</p>
            <p>即刻把专属页面发送给好友</p>
        </div>
        <div class="welcome-msg" ng-if="!isLogin">
            <img class="msg" src="styles/images/invite/invite-join.png" alt=""/>
        </div>
    </div>
    <div class="invite-gifts">
        <img class="gift-one" src="styles/images/invite/gift-1.png" alt="注册就送200元/位新手好礼">
        <img class="gift-two" src="styles/images/invite/gift-2.png" alt="邀请好友就送500元/位推荐重礼">
    </div>
    <div class="invite-intro">
        <img class="intro" src="styles/images/invite/invite-intro.png" alt="股权投资">
        <div class="btns clearfix">
            <a class="btn btn-view" href="#" ui-sref="syndicates">下一个BAT正在融资</a>
            <a class="btn btn-know" href="#" ui-sref="syndicatesClass">了解股权投资</a>
        </div>
    </div>
    <div class="invite-records clearfix">
        <div class="records-wrapper">
            <div class="records-title">投资券GET · 光荣榜</div>
            <ul class="records-list" ng-mousedown="scrollClick()">
                <li ng-repeat="item in couponList">
                    {{item.user.name}}获得<span>{{item.amount}}元</span>投资券
                </li>
            </ul>

            <img class="records-line" src="styles/images/invite/gift-line.png" alt="">
        </div>
    </div>

    <div class="invite-rules clearfix">
        <div class="rules-wrapper">
            <div class="rules-title">活动细则</div>
            <div class="rules-list">
                <h4>如何邀请：</h4>
                <h5>推荐人：</h5>
                <ul class="usage">
                    <li>点击“立即参与” - 登录36氪账号 - 看到页面显示“xxx的专属邀请页”后，即可把专属页面发给好友。</li>
                </ul>
                <h4>福利规则：</h4>
                <ul class="gifts">
                    <li>1、活动时间：2015年12月4日——2015年12月31日。</li>
                    <li>2、投资券将直接发送至您在36氪股权投资的账户中，有效期为60天。</li>
                    <li>3、投资券可在支付剩余款时抵扣相应金额的现金但不可用于支付保证金。</li>
                    <li>4、每笔订单最多叠加使用2张使用。</li>
                </ul>

                <p class="copy-right">本活动最终解释权归36氪所有</p>
            </div>
            <img class="rules-line" src="styles/images/invite/rules-line.png" alt="">
        </div>
    </div>

    <div class="syndicates-invite-stick" ng-if="isLogin">
        <a class="btn record-btn" href="" ng-click="viewInviteRecord($event);">邀请记录</a>
        <a class="btn share-btn" href=""  data-stat-click="laxinhuodong-h5.fenxiangbutton">
            <span class="icon-share3"></span>
            点击进行分享
        </a>
    </div>

    <div class="syndicates-invite-stick" ng-if="!isLogin">
        <a class="btn login-btn" href="" login-btn data-stat-click="laxinhuodong-h5.denglubutton">立即参与</a>
    </div>
</div>

<div loading="syndicatesInvite"></div>
