<div class="syndicates-validate" ng-show="!loadingInst.syndicatesValidate">
    <div class="avatar-process" ng-if="!investor.avatar && process != 100"></div>
    <form ng-submit="$event.preventDefault()"  action="" name="syndicatesValidateForm">
        <!-- 完善资料（姓名&头像）-->
        <div class="form-group name-group">
            <label class="label-control" for="investor-name"><span class="c-red">*</span>姓名</label>
            <input class="form-control" type="text" id="investor-name" name="investor-name" placeholder="须与身份证一致" maxlength="15" required ng-pattern="/^[\u4E00-\u9FA5a-zA-Z\s]{0,15}$/" ng-model="investor.name">
            <div class="split" ng-if="!investor.avatar || action.uploaded"></div>
            <div class="avatar-container" style="background-image: url({{investor.avatar | image: 70 : 'user'}});" ng-if="!investor.avatar || action.uploaded">
                <input class="avatar" type="file" id="investor-avatar" name="investor-avatar" required
                       ng-file-select
                       ng-file-change="imgFileSelected($files, $event)"
                       ng-multiple="false"
                       resetOnClick="true" accept="image/*"
                       ng-click="androidUpload($event)">
                <span class="avatar-tip" ng-if="!investor.avatar">头像</span>
            </div>
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-name'].$invalid && syndicatesValidateForm['investor-name'].$dirty">
            <span ng-show="syndicatesValidateForm['investor-name'].$error.required"><span class="tip-icon">!</span>请输入你的姓名</span>
            <span ng-show="syndicatesValidateForm['investor-name'].$error.pattern"><span class="tip-icon">!</span>请输入正确的姓名</span>
        </div>
        <!-- 认证跟投人（身份证号码）-->
        <div class="form-group">
            <label class="label-control" for="investor-id"><span class="c-red">*</span>身份证</label>
            <input class="form-control" type="text" id="investor-id" name="investor-id" placeholder="点击填写" required ng-model="investor.id">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-id'].$invalid && syndicatesValidateForm['investor-id'].$dirty">
            <span ng-show="syndicatesValidateForm['investor-id'].$error.required"><span class="tip-icon">!</span>请输入你的身份证号</span>
        </div>
        <div class="form-group">
            <label class="label-control" for="investor-id"><span class="c-red">*</span>确认身份证</label>
            <input class="form-control" type="text" id="investor-id-confirm" name="investor-id-confirm" placeholder="点击填写" required ng-model="investor['id-confirm']" ng-blur="enterId()">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-id-confirm'].$invalid && syndicatesValidateForm['investor-id-confirm'].$dirty">
            <span ng-show="syndicatesValidateForm['investor-id-confirm'].$error.required"><span class="tip-icon">!</span>请重新输入你的身份证号</span>
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm.$error.idcardInvalid && enterCard">
            <span><span class="tip-icon">!</span>两次输入身份证号码不一致</span>
        </div>
        <!-- 完善资料（邮箱）-->
        <div class="form-group" ng-if="!investor.hasEmail">
            <label class="label-control" for="investor-email"><span class="c-red">*</span>邮箱</label>
            <input class="form-control" type="email" id="investor-email" name="investor-email" placeholder="点击填写" required ng-model="investor.email">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-email'].$invalid && syndicatesValidateForm['investor-email'].$dirty" ng-if="!investor.hasEmail">
            <span ng-show="syndicatesValidateForm['investor-email'].$error.required"><span class="tip-icon">!</span>请输入你的邮箱</span>
            <span ng-show="syndicatesValidateForm['investor-email'].$error.email"><span class="tip-icon">!</span>请输入合法邮箱地址</span>
            <span ng-show="investor.email && syndicatesValidateForm['investor-email'].$error.checked && !syndicatesValidateForm['investor-email'].$error.email"><span class="tip-icon">!</span>你输入的邮箱已被占用</span>
        </div>
        <!-- 完善资料（手机号码）-->
        <div class="form-group" ng-if="!investor.hasPhone">
            <label class="label-control" for="investor-phone"><span class="c-red">*</span>手机号码</label>
            <!--ng-pattern="REGEXP.phone" -->
            <input class="form-control" type="text" id="investor-phone" name="investor-phone" placeholder="点击填写" required ng-model="investor.phone">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-phone'].$invalid && syndicatesValidateForm['investor-phone'].$dirty" ng-if="!investor.hasPhone">
            <span ng-show="syndicatesValidateForm['investor-phone'].$error.required"><span class="tip-icon">!</span>请输入你的电话号码</span>
            <span ng-show="syndicatesValidateForm['investor-phone'].$error.pattern"><span class="tip-icon">!</span>请输入合法手机号码</span>
            <span ng-show="investor.phone && syndicatesValidateForm['investor-phone'].$error.checked && !syndicatesValidateForm['investor-phone'].$error.phone"><span class="tip-icon">!</span>你输入的手机号码已被占用</span>
        </div>
        <!-- 完善资料（验证码）-->
        <div class="form-group" ng-if="!investor.hasPhone">
            <label class="label-control" for="investor-captcha"><span class="c-red">*</span>验证码</label>
            <input class="form-control" type="text" id="investor-captcha" name="investor-captcha" placeholder="点击填写" required ng-model="investor.captcha">
            <a class="btn btn-captcha" href="" ng-click="getCode($event)" ng-disabled="wait || syndicatesValidateForm['investor-phone'].$invalid">{{wait ? wait + '秒' : '点击获取'}}</a>
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-captcha'].$invalid && syndicatesValidateForm['investor-captcha'].$dirty" ng-if="!investor.hasPhone">
            <span ng-show="syndicatesValidateForm['investor-captcha'].$error.required"><span class="tip-icon">!</span>请输入你收到的验证码</span>
        </div>
        <!-- 认证跟投人（公司）-->
        <div class="form-group">
            <label class="label-control" for="investor-company"><span class="c-red">*</span>公司</label>
            <input class="form-control" type="text" id="investor-company" name="investor-company" placeholder="点击填写" required ng-model="investor.company">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-company'].$invalid && syndicatesValidateForm['investor-company'].$dirty">
            <span ng-show="syndicatesValidateForm['investor-company'].$error.required"><span class="tip-icon">!</span>请输入你的公司名称</span>
        </div>
        <!-- 认证跟投人（职位）-->
        <div class="form-group">
            <label class="label-control" for="investor-work"><span class="c-red">*</span>职位</label>
            <input class="form-control" type="text" id="investor-work" name="investor-work" placeholder="点击填写" required ng-model="investor.work">
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm['investor-work'].$invalid && syndicatesValidateForm['investor-work'].$dirty">
            <span ng-show="syndicatesValidateForm['investor-work'].$error.required"><span class="tip-icon">!</span>请输入你的职位</span>
        </div>
        <!-- 认证跟投人（所在地）-->
        <div class="form-group">
            <label class="label-control"><span class="c-red">*</span>所在地</label>
            <select class="form-control place" name="address1" ng-model="investor.address.address1"
                    ng-options="c.id as c.name for c in addr1Options" required ng-change="addr1Change()">
                <option value="">请选择</option>
            </select>
            <select class="form-control place" name="address2" ng-model="investor.address.address2" ng-show="addr2Options.length"
                    ng-options="c.id as c.name for c in addr2Options">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm.address1.$invalid && syndicatesValidateForm.address1.$dirty">
            <span ng-show="syndicatesValidateForm.address1.$error.required"><span class="tip-icon">!</span>请选择你的所在地</span>
        </div>
        <!-- 认证跟投人（投资条件）-->
        <div class="form-group">
            <label class="label-control condition"><span class="c-red">*</span>投资条件</label>
            <div ng-repeat="item in condition">
                <input type="radio" name="condition" id="condition{{$index}}" ng-model="investor.condition" value="{{item.value}}" required/>
                <label for="condition{{$index}}">{{item.desc}}</label>
            </div>
        </div>
        <div class="error-tip error" ng-show="syndicatesValidateForm.condition.$invalid && syndicatesValidateForm.condition.$dirty">
            <span ng-show="syndicatesValidateForm.condition.$error.required"><span class="tip-icon">!</span>请选择你的投资条件</span>
        </div>
        <div class="form-group">
            <a href="" class="btn btn-submit" ng-click="submitForm($event)" ng-disabled="hasClick">提交申请</a>
            <p class="text-center bottom-tip">
                点击-提交申请，即表示你同意<br>
                <a href="" ng-click="seeRisk()">《风险揭示书》</a>
                <a href="" ng-click="seeProtocol()">《用户服务协议》</a>
            </p>
        </div>
    </form>
</div>

<div loading="syndicatesValidate"></div>
