.demos-wrapper{
  @back: #F9F9F9;
  @scheme:#6BA2FC;
    background:#FFFFFF;
    overflow:hidden;
    h1,h2,h3,h4,h5,h6{
      color:black;
    }
    a{
      color:@scheme;
    }
    p{
      color:#222C38;
      text-align: left;
      font-size: 14px;
      letter-spacing: -0.07px;
      line-height: 24px;
    }
    ul,li{
      text-align: left;
      list-style-type:disc;
    }
    .demos-header{
      .header-info{
        background-color: @back;
        .text-content{
          font-size: 14px;
          color: black;
          letter-spacing: -0.07px;
          line-height: 24px;
        }
      }
    }
  .column-detail-wrapper{
    text-align: center;
    height:70px;
    line-height: 70px;
    a{
      width:75px;
      height: 25px;
      font-size: 18px;
      background: #FFFFFF;
      font-weight: 600;
      color: black;
      margin: 0 auto;
      border-bottom: 4px solid #6BA2FC;
    }
  }
  .li-line{
    display: block;
    background: #E7E7E7;
    width: 100%;
    height: 1px;
    margin-left: 4%;
  }
  .section-footer{
      height: 48px;
      line-height: 48px;
      background: #6BA2FC;
      font-size: 17px;
      color: #FFFFFF;
      letter-spacing: -0.08px;
      margin-top: 15px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      &.disabled {
          background: #ccc;
      }
    }
    .more-btn{
      height:50px;
      text-align: center;
      a{
        display: block;
        width: 110px;
        height: 32px;
        line-height: 32px;
        background: #6BA2FC;
        border-radius: 20px;
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 0px;
        line-height: 32px;
        margin: 0 auto;
        margin-top:20px;
      }
    }

.activty-process{
  background-color: @back;
  width:100%;
  padding:20px;
  height: auto;
  margin-bottom: 40px;
  .column-detail-wrapper{
    text-align: center;
    height:70px;
    line-height: 70px;
    a{
      width:75px;
      background-color: @back;
      height: 25px;
      font-size: 18px;
      font-weight: 600px;
      color: black;
      margin: 0 auto;
      border-bottom: 4px solid @scheme;
    }
  }
  .sub-activity{
    width:100%;
    height:360px;
    text-align: center;
    margin:0 auto;
    margin-left: 30px;
    ul{
      list-style-type: none;
      margin: 0;
      padding:0;
      li{
        list-style-type: none;
        margin: 0;
        padding:0;
        height:60px;
        text-align: left;
        border-left: 2px solid @scheme;
        .out{
          width: 12px;
          height: 12px;
          background-color: #efefef; /* Can be set to transparent */
          border: 1px @scheme solid;
          -webkit-border-radius: 6px;
          position: relative;
          right:7px;
          .inside{
            width: 6px;
            height: 6px;
            top:2px;
            left:2px;
            position:absolute;
            background-color:@scheme;
            -webkit-border-radius: 3px;
            padding:3px;
          }
        }

        .act-time{
          margin-left: 20px;
          margin-top: -15px;
          font-size: 14px;
          color: #6BA2FC;
          letter-spacing: -0.07px;
          line-height: 20px;
        }
        .act-info{
          margin-left: 20px;
          margin-top: 4px;
          font-size: 14px;
          color: #222C38;
          letter-spacing: -0.07px;
          line-height: 20px;
          font-weight: 600;
        }
      }
      li:last-child{
        border:none;
        .out{
          right:5px;
        }
      }
    }

  }
}
.section-footer{
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: -0.08px;
  .back{
    background-color:black;
  }
  .blue{
    background-color:@scheme;
  }
  .all{
    height: 100%;
    width: 100%;
  }
  .half{
    float: left;
    height: 100%;
    width: 50%;
  }
}
.demos-content-wrapper{
  .projectList-content-href{
    .base-info-detail{
        .item-brief{
          width:100%;
          height:30px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
  }
}
}


.login-wrapper {
    height: 100%;
    background-color: rgb(242,244,245);
    .login-wrapper-iframe{
        height: 100%;
    }
    .button-submit{
        position: absolute;
        top: 299px;
        left: 50%;
        transform: translateX(-50%);
        background: #6BA2FC;
        color: #fff;
        border: 0;
        display: none;
    }
    .header-banner-wrapper{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #FFFFFF;
        border-top: solid 1px #E7E7E7;
        display: none;
        p:first-child{
            font-size: 16px;
            color: #222C38;
            letter-spacing: -0.08px;
        }
        p:last-child{
            font-size: 14px;
            color: #969FA9;
            letter-spacing: -0.07px;
        }
        a{
            display: inline-block;
            width: 110px;
            height: 28px;
            line-height: 28px;
            background: #6BA2FC;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: -0.07px;
        }
    }
}
.activity-info{
    // position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    h3{
        margin-top: 20px;
        margin-bottom: 0;
        height: 24px;
        line-height: 24px;
        font-size: 15px;
        color: #222C38;
        letter-spacing: -0.07px;
        font-weight: 600;
        text-align: center;
    }
    .activity-info-span{
        font-size: 13px;
        letter-spacing: -0.06px;
        line-height: 24px;
        display:block;
        text-align:center;
    }
    img{
        display: inline-block;
        width: 250px;
        height: 13px;
        margin:25px auto 6px auto;
    }
    div{
        width: 250px;
        margin: 0 auto;
        position: relative;
        span{
            font-size: 12px;
            color: #222C38;
            letter-spacing: -0.06px;
        }
        .activity-info-left{
            position: absolute;
            left: -18px;
        }
        .activity-info-right{
            position: absolute;
            right: -18px;
        }
    }
}



@media screen and (min-width: 768px) {
    body,html {
        width:768px !important;
        margin:0 auto;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .demos-wrapper .section-footer{
      width:768px !important;
    }
}
