.dailyNews-wrapper {
    .dailyNews-content-wrapper {
        font-size: 13px;
        .section-top {
            display: flex;
            align-items: center;
            justify-content: center;
            &-text {
                font-size: 14px;
                color: #5A626D;
                line-height: 16px;
                padding: 15px 0;
                margin: 0;
                text-align: center;
            }
            &-split {
                width: 20px;
                height: 1px;
                background: #ccc;
                margin: 0 11px;
                vertical-align: middle;
            }
        }
        ul {
            margin-bottom: 0!important;
            li {
                position: relative;
                background: #fff;
                padding: 0;
                overflow: hidden;
                * {
                    user-select: none;
                }
                a {
                    display: block;
                }
                &:last-child {
                    border-bottom: 0!important;
                }
            }
            li.active {
                background: #f8f8f8;
            }
            .dailyNews-content-href {
                position: relative;
                min-height: 92px;
                overflow: hidden;
                padding: 15px 80px 15px 0;
                border-bottom: 1px solid #E7E7E7;
                margin-left: 15px;

                .base-info-detail {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    h3 {
                        font-size: 15px;
                        color: #222C38;
                        letter-spacing: 0;
                        line-height: 18px;
                        margin-top: 0;
                        font-weight: 600;
                        margin-bottom: 12px;
                        word-wrap: break-word;
                    }
                    .header-info {
                        text-align: center;
                        margin-top: 0;
                        margin-bottom: 4px;
                        .text-toggle {
                            color: #5A626D;
                            line-height: 45px;
                            display: block;
                            font-size: 14px;
                        }
                    }
                    .company-info {
                        font-size: 13px;
                        color: #969FA9;
                        line-height: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 6px;
                    }
                    .text-container {
                        position: relative;
                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            height: 1px;
                            left: 0;
                            right: 0;
                            transform: scaleY(0.5);
                        }
                        &:before {
                            top: 0;
                        }
                        &:after {
                            bottom: 0;
                        }
                        .text-content {
                            text-align: left;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            line-height: 18px;
                            font-size: 15px;
                            color: #222C38;
                            letter-spacing: 0;
                            font-weight: 600; //使用after让浏览器重绘文字 使-webkit-line-clamp生效
                            &:after {
                                width: 0;
                                height: 0;
                                display: inline-block;
                                overflow: hidden;
                                content: attr(style);
                            }
                            &.hot-tag {
                                &:before {
                                    content: '热';
                                    background-color: #f7647f;
                                }
                            }
                            &.recommend-tag {
                                &:before {
                                    content: '热';
                                    background-color: #ffb446;
                                }
                            }
                            &.with-tag {
                                &:before {
                                    display: inline-block;
                                    height: 18px;
                                    width: 18px;
                                    margin-right: 3px;
                                    font-size: 12px;
                                    color: #fff;
                                    line-height: 18px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .item-wrapper {
                        height: 16px;
                        line-height: 16px;
                    }
                    .item-left {
                        height: 16px;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        img {
                            display: block;
                            width: 12px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        span {
                            display: block;
                            font-size: 10px;
                            background-color: #6BA2FC;
                            color: #fff;
                            line-height: 15px;
                            border-radius: 2px;
                            padding: 1px 4px 0;
                        }
                    }
                    .item-center {
                        height: 16px;
                        position: relative;
                        display: inline-block;
                        //margin-left: 20px;
                        vertical-align: middle;
                        //img {
                        //    width: 14px;
                        //    position: absolute;
                        //    top: 50%;
                        //    transform: translateY(-50%);
                        //}
                        span {
                            font-size: 13px;
                            color: #969FA9;
                            letter-spacing: 0;
                            line-height: 16px;
                            padding: 1px 0 0;
                            //margin-left: 19px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            max-width: 125px;
                            display: inline-block;
                        }
                    }
                }

                .basic-info-logo {
                    position: absolute;
                    top: 17px;
                    right: 15px;
                    width: 55px;
                    height: 55px;
                    border: 1px solid #E7E7E7;
                    border-radius: 5px;
                    background-size: contain;
                }
            }
        }
    }
    .daily-news-load-more {
        font-size: 14px;
        color: #92979E;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        margin: 15px 0;
        p,
        svg {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        p {
            margin-right: 8.8px;
        }
    }
}
