.finance-wrapper {
    background-color: rgb(242,244,245);
    .finance-content-wrapper{
        font-size: 13px;
        .section-top{
            p{
                font-size: 14px;
                color: #5A626D;
                letter-spacing: 0px;
                line-height: 16px;
                padding: 15px 0;
                margin: 0;
                text-align: center;
                &:before,&:after{
                    content: '';
                    width: 20px;
                    height:1px;
                    background: #CCCCCC;
                    margin: 0 11px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        ul{
            margin-bottom: 0!important;
            li{
                background: #fff;
                padding: 0px;
                overflow: hidden;
                *{
                    user-select: none;
                }
                a{
                    display: block;
                }
                &:last-child{
                    .base-info-detail{
                        border-bottom: 0!important;
                    }
                }
            }
            li.active{
                background: #f8f8f8;
            }

            .finance-content-href{
                width: 100%;
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
                .base-info-detail{
                    padding: 15px 0;
                    border-bottom: 1px solid #E7E7E7;
                    margin-left: 15px;
                    position: relative;
                    h4{
                        font-size: 15px;
                        color: #222C38;
                        letter-spacing: 0px;
                        line-height: 18px;
                        margin: 0;
                        span{
                            font-size: 9px;
                            color: #FFFFFF;
                            height: 16px;
                            margin-left: 8px;
                            padding: 2px 4px 3px 4px;
                            border-radius: 2px;
                            display: inline-block;
                            line-height: 15px;
                            vertical-align: top;
                            background: #6BA2FC;
                        }
                    }
                    .item-finance{
                        font-size: 13px;
                        color: #222C38;
                        letter-spacing: 0px;
                        line-height: 16px;
                        margin-top: 12px;
                        margin-bottom: 8px;
                        span{
                            background: #E7E7E7;
                            width: 1px;
                            height: 12px;
                            display: inline-block;
                            margin: 0 10px;
                            position: relative;
                            top: 1px;
                        }
                    }
                    .item-investorStr{
                        font-size: 13px;
                        color: #5A626D;
                        letter-spacing: 0px;
                        line-height: 16px;
                        margin-bottom: 0;
                        width: 70%;
                    }
                    .item-link{
                        height: 16px;
                        line-height: 16px;
                        margin-top: 8px;
                        margin-bottom: 0;
                        position: relative;
                        img{
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0,-50%);
                            left: 0;
                        }
                        span{
                            font-size: 13px;
                            color: #464E58;
                            letter-spacing: 0px;
                            line-height: 16px;
                            margin-left: 19px;
                        }
                    }
                    div{
                        width: 75px;
                        height:25px;
                        border: 1px solid #6BA2FC;
                        border-radius: 4px;
                        font-size: 12px;
                        color: #6BA2FC;
                        letter-spacing: 0px;
                        line-height: 23px;
                        text-align: center;
                        display: inline-block;
                        position: absolute;
                        transform: translate(0,-50%);
                        top: 50%;
                        right: 15px;
                    }
                }
            }
        }
    }
    footer{
        margin: 5px 0;
        line-height: 19px;
        text-align: center;
    }
}
