.finance-wrapper {
    .finance-content-wrapper {
        font-size: 13px;
        .section-top {
            p {
                font-size: 14px;
                color: #5A626D;
                letter-spacing: 0px;
                line-height: 16px;
                padding: 15px 0;
                margin: 0;
                text-align: center;
                &:before,
                &:after {
                    content: '';
                    width: 20px;
                    height: 1px;
                    background: #CCCCCC;
                    margin: 0 11px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        ul {
            margin-bottom: 0!important;
            li {
                margin: 0;
                border-bottom: 1px solid #E7E7E7;
                padding: 0 15px 18px;
                position: relative;
                overflow: hidden;
                background-color: #fff;
                * {
                    user-select: none;
                }
                a {
                    display: block;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            li.active {
                background: #f8f8f8;
            }
            .item-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-size: 15px;
                    color: #222C38;
                    letter-spacing: 0px;
                    line-height: 18px;
                    margin: 0;
                    white-space: normal;
                }
                .item-link {
                    height: 20px;
                    line-height: 20px;
                    margin-bottom: 0;
                    position: relative;
                    align-self: flex-start;
                    img {
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        left: 0;
                    }
                    span {
                        font-size: 13px;
                        color: #6BA2FC;
                        // color: #464E58;
                        letter-spacing: 0px;
                        line-height: 20px;
                        margin-left: 19px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        max-width: 110px;
                        display: inline-block;
                    }
                }
            }
            .item-bottom {
                position: relative;
                display: flex;
                margin-top: 10px;
                align-items: center;
                flex-wrap: nowrap;
                .item-industry-tag {
                    font-size: 12px;
                    color: #6BA2FC;
                    margin-right: 8px;
                    padding: 2px 4px;
                    display: block;
                    line-height: 14px;
                    border: 1px solid #6BA2FC;
                    border-radius: 2px;
                    white-space: nowrap;
                }
                .item-location-tag {
                    height: 24px;
                    line-height: 24px;
                    font-size: 13px;
                    color: #222C38;
                    font-weight: 600;
                    margin-right: 8px;
                    white-space: nowrap;
                }
                .item-expose-date {
                    height: 24px;
                    line-height: 24px;
                    position: absolute;
                    right: 0;
                    white-space: nowrap;
                }
            }
            .item-finance {
                font-size: 13px;
                color: #222C38;
                letter-spacing: 0px;
                line-height: 16px;
                margin-top: 10px;
                margin-bottom: 8px;
                span {
                    background: #E7E7E7;
                    width: 1px;
                    height: 12px;
                    display: inline-block;
                    margin: 0 10px;
                    position: relative;
                    top: 1px;
                }
            }
            .item-investorStr {
                height: 24px;
                line-height: 24px;
                font-size: 13px;
                color: #5A626D;
                letter-spacing: 0px;
                margin-bottom: 0;
                white-space: nowrap;
                position: relative;
                .span-first {
                    display: inline-block;
                    vertical-align: top;
                    position: absolute;
                }
                .span-second {
                    display: inline-block;
                    margin-left: 50px;
                    max-width: 70px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .finance-list-load-more {
        font-size: 16px;
        color: #92979E;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        margin: 15px 0;

        p,
        svg {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        p {
            margin-right: 8.8px;
        }
    }
}
