.find-wrapper {
    background-color: rgb(242,244,245);
    .intro{
        background:white;
        cursor: pointer;
        //height: 165px;
        .swiper-container {
            width: 100%;
            //height: 165px;
            position: relative;
            overflow: hidden;
            background: #f3f3f3;
            .swiper-indicator{
                display:block;
                position: absolute;
                height:10px;
                line-height:10px;
                font-size:12px;
                bottom:10px;
                z-index:1;
                color:#fff;
                transform: translateX(-50%);
                left: 50%;
                span{
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background: rgba(255,255,255,0.30);
                    border-radius: 50%;
                    margin: 0 3px;
                }
                .active{
                    background-color: #fff;
                }
            }
        }
        .swipe-wrapper {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-slide {
            a {
                position: relative;
                display:block;
                width:100%;
                height:100%;
                overflow:hidden;
            }
            img {
                width: 100%;
                margin-left: 50%;
                transform: translateX(-50%);
                vertical-align: top;
            }
        }
    }

    .section-one{
        background-color: #fff;
        margin: 10px 0;
        height: 113px;
        position: relative;
        cursor: pointer;
        .line-one{
            margin: 0 auto 10px auto;
            padding-top:25px;
            text-align: center;
            display: inline-block;
            width: 33%;
            margin: 0 -1px;
            img{
                width: 30px;
                height:30px;
            }
            span{
                display: block;
                margin-top: 15px;
                font-size: 15px;
                color: #222C38;
                letter-spacing: 0px;
                line-height: 18px;
            }
        }
    }
    .section-two{
        background-color: #fff;
        margin-bottom: 10px;
        padding-top:13px;
        cursor: pointer;
        position: relative;
        .line-top{
            text-align: center;
            img{
                width:12px;
                height:12px;
                display: inline-block;
                vertical-align: middle;
            }
            span{
                font-size: 14px;
                color: #5A626D;
                letter-spacing: 0px;
                line-height: 17px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .line-middle{
            padding: 15px 0;
            border-bottom: 1px solid #E7E7E7;
            margin-left: 15px;
            position: relative;
            h4{
                font-size: 15px;
                color: #222C38;
                letter-spacing: 0px;
                line-height: 18px;
                margin: 0;
                span{
                    font-size: 9px;
                    color: #FFFFFF;
                    height: 17px;
                    margin-left: 8px;
                    padding: 0px 4px 1px 4px;
                    border-radius: 2px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .item-finance{
                font-size: 13px;
                color: #222C38;
                letter-spacing: 0px;
                line-height: 16px;
                margin-top: 12px;
                margin-bottom: 8px;
            }
            .item-investorStr{
                font-size: 13px;
                color: #5A626D;
                letter-spacing: 0px;
                line-height: 16px;
                margin-bottom: 0;
            }
            div{
                width: 75px;
                height:25px;
                border: 1px solid #6BA2FC;
                border-radius: 4px;
                font-size: 12px;
                color: #6BA2FC;
                letter-spacing: 0px;
                line-height: 23px;
                text-align: center;
                display: inline-block;
                position: absolute;
                transform: translate(0,-50%);
                top: 50%;
                right: 15px;
            }
        }
        .line-bottom{
            font-size: 13px;
            color: #6BA2FC;
            letter-spacing: 0px;
            text-align: center;
            padding: 7px;
            height: 38px;
        }
    }
}
