// 关注热点
.hot-focus-wrapper {
    // 关注热点过滤器
    .hot-focus-filter {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        &.top-filter {
            padding: 12px 0;
            background: #16191C;
            box-shadow: 0 0 0 0 rgba(255,255,255,0.40);

            .filter-item {
                opacity: 0.5;
                font-size: 15px;
                color: #fff;
                line-height: 18px;

                &.active {
                    opacity: 1;
                }
            }
        }

        &.bottom-filter {
            padding-top: 15px;
            background-color: #fff;

            .filter-item {
                width: 46px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                border: 1px solid transparent;
                border-radius: 99px;
                color: rgba(34, 44, 56, 0.4);

                &.active {
                    border-color: rgba(107, 162, 252, 0.4);

                    span {
                        font-size: 13px;
                        color: #6BA2FC;
                    }
                }
            }
        }
    }
    // 关注热点列表
    .hot-focus-list {
        background-color: #fff;
        padding: 5px 0;
        .hot-focus-list-item {
            position: relative;
            margin-left: 15px;
            padding: 15px (44px + 15px * 2) 15px 0;
            border-bottom: 1px solid #e7e7e7;

            &:last-child {
                border-bottom: 0;
            }
        }

        .item-left {
            .item-title {
                font-size: 14px;
                color: #232d38;
                width: 100%;
                margin-bottom: 10px;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 600;
                text-overflow: ellipsis;
            }

            .item-desc {
                font-size: 13px;
                color: #969FA9;
                line-height: 18px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .item-right {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 44px;
            height: 44px;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
            background: no-repeat center;
            background-size: cover;
        }
    }

    // 列表为空情形
    .hot-focus-list-empty {
        background-color: #fff;
        min-height: 400px;
    }
}

.hot-focus-loading .loading-wrap {
    background-color: #fff;
}
