// 关注热点
.hot-focus-wrapper {
    // 关注热点过滤器
    .hot-focus-filter {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        &.top-filter {
            padding: 12px 0;
            background: #16191C;
            box-shadow: 0 0 0 0 rgba(255,255,255,0.40);

            .filter-item {
                position: relative;
                opacity: 0.5;
                font-size: 15px;
                color: #fff;
                line-height: 18px;

                &.active {
                    opacity: 1;

                    &:before {
                        content: ' ';
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 10px;
                        height: 2px;
                        background-color: #fff;
                    }
                }
            }
        }

        &.bottom-filter {
            padding-top: 15px;
            background-color: #fff;

            .filter-item {
                width: 46px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                border: 1px solid transparent;
                border-radius: 99px;
                color: rgba(34, 44, 56, 0.4);

                &.active {
                    border-color: rgba(107, 162, 252, 0.4);

                    span {
                        font-size: 13px;
                        color: #6BA2FC;
                    }
                }
            }
        }
    }

    // 关注热点列表
    .hot-focus-list {
        background-color: #fff;
        padding: 5px 0;
        min-height: 400px;
        .hot-focus-list-item {
            position: relative;
            margin-left: 15px;
            padding: 15px (100px + 15px * 2) 15px 0;
            border-bottom: 1px solid #e7e7e7;

            &:last-child {
                border-bottom: 0;
            }
        }

        .item-left {
            .item-title {
                font-size: 14px;
                color: #232d38;
                width: 100%;
                margin-bottom: 4px;
                line-height: 18px;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 600;
                text-overflow: ellipsis;
            }
            .item-desc {
                font-size: 13px;
                color: #969FA9;
                line-height: 18px;
                width: 100%;
                margin-bottom: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .item-industry {
                line-height:16px;
                .item-industry-title{
                    font-size: 10px;
                    background-color: #6BA2FC;
                    color: #fff;
                    //border: 1px solid #6BA2FC;
                    line-height: 15px;
                    border-radius: 2px;
                    padding: 1px 4px 0;
                }
                .item-industry-cont{
                    font-size: 13px;
                    line-height: 16px;
                    white-space: nowrap;
                    color: #5A626D;
                    margin-left: 10px;
                }
            }
        }

        .item-right {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 100px;
            height: 60px;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
            background: no-repeat center;
            background-size: cover;
        }
    }

    // 列表为空情形
    .hot-focus-list-empty {
        background-color: #fff;
        min-height: 400px;
        overflow: hidden;

        img {
            display: block;
            margin: 0 auto;
            width: 60px;
            margin-top: 90px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: #5A626D;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
    }
}

.hot-focus-loading .loading-wrap {
    background-color: #fff;
}
