.hot-focus-detail-wrapper {
    background-color: #fff;
    padding-top: 15px;

    // 顶部 LOGO
    .hot-focus-top-area {
        position: relative;
        height: 70px;
        padding-left: (20px + 44px + 5px);
        padding-right: 15px;
        margin: 0 15px;
        background: #fff;
        box-shadow: 0 0 5px 0 rgba(150,159,169,0.40);

        .hot-focus-company-logo {
            position: absolute;
            left: 15px;
            top: 15px;
            height: 44px;
            width: 44px;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
        }

        .hot-focus-title {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 17px;
            color: #222C38;
            margin: 0;
            line-height: 70px;
        }
    }

    // 图表1标题
    .chart-1-title {
        position: relative;
        display: block;
        padding-left: 15px;
        font-size: 16px;
        color: #222C38;
        line-height: 19.5px;
        margin: 20px 0;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            width: 5px;
            height: 14px;
            background: #6BA2FC;
        }
    }
}
