// 项目专辑页面
.project-album-normal {
    .project-album-banner {
        height: 140.6px;
        overflow: hidden;
        background: rgba(66, 133, 244, 0.6) no-repeat center;
        background-size: cover;

        .banner-total {
            margin-top: 46px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .banner-split {
            width: 20px;
            height: 1px;
            background-color: #fff;
            margin: 0 6px;
        }

        .banner-text {
            font-size: 13px;
            color: #fff;
            letter-spacing: 0;
            line-height: 17px;
        }

        h1 {
            font-size: 30px;
            color: #fff;
            letter-spacing: 0;
            line-height: 30px;
            text-align: center;
            margin: 0;
            font-weight: 600;
        }
    }

    .project-album-desc {
        padding: 12px 15px;
        font-size: 14px;
        color: #5A626D;
        letter-spacing: 0;
        line-height: 22px;

        .text-toggle{
            color: #5A626D;
            line-height: 45px;
            display: block;
            font-size: 14px;
            text-align: center;
        }

        .text-container {
            padding: 15px 0;
            position: relative;

            &:after {
                content:"";
                display: block;
                position: absolute;
                height: 1px;
                left: 0;
                background: #E7E7E7;
                right: 0;
                transform: scaleY(0.5);
            }

            &:after {
                bottom: 0;
            }

            .text-content {
                text-align: left;
                overflow : hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-height: 22px;
                font-size: 15px;
                color: #5A626D;
                letter-spacing: 0px;

                &:after {
                    width: 0;
                    height: 0;
                    display: inline-block;
                    overflow: hidden;
                    content: attr(style);
                }
            }
        }
    }

    .project-album-list {
        padding-bottom: 60px;
        //background-color: #fff;
        //wy
        .roadShow-tab-wrapper{
            font-size: 13px;
            //margin-top: 2px;
            p{
                line-height: 20px;
            };
            ul{
                list-style-type: none;
            }
            li{
                background: #fff;
                height: auto;
                overflow: hidden;
                position: relative;
                list-style-type: none;
                *{
                    user-select: none;
                }
                a{
                    //max-height: 131px;
                    height: auto;
                    display: inline-block;
                    width: 100%;
                    //margin-left: 4%;
                    border-bottom: 1px solid #E7E7E7;
                    //padding:15px;
                }
                &:last-child .roadShow-content-href{
                    border-bottom:0;
                }
            }
            li.active{
                background: #f8f8f8;
            }
            li:first-child{
                a{
                    margin-top:10px;
                }
            }

            .pro-info,.pro-pic{
                float:left;
                height:100%;
                margin-top:-15px;
                //padding: 10px;
            }

            .pro-info{
                width: 73%;
                margin-left: -25px;
                height: auto;
                padding: 15px;

                .pro-title{
                    font-family: PingFangSC-Semibold;
                    font-size: 16px;
                    color: #222C38;
                    letter-spacing: 0px;
                    line-height: 22px;
                    //margin-top: -10px;
                    padding-left: 10px;
                    width: 98%;
                }
                p{
                    font-size: 13px;
                    color: #969FA9;
                    letter-spacing: 0px;
                    line-height: 18px;
                    width: 98%;
                    text-overflow: ellipsis;
                    float: left;
                    margin-top: 8px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    padding-left: 10px;
                }
                .item-more{
                    font-size: 13px;
                    color: #6BA2FC;
                    letter-spacing: 0px;
                    line-height: 16px;
                    width:26px;
                    height: 18px;
                    position: relative;
                    left: 10px;
                    bottom:5px;
                    //clear: both;
                }
            }
            .pro-pic{
                width:28%;
                overflow: hidden;
                text-align: center;
                margin-bottom: 10px;
                .pro-num{
                    width: 75px;
                    height: 75px;
                    background-size:75px 75px;
                    background-repeat:no-repeat;
                    //margin-left: -10px;
                    margin-left: 15px;
                    overflow: hidden;
                    margin-top: 15px;
                    .item-num{
                        background: rgba(0,0,0,0.60);
                        height: 21px;
                        width: 75px;
                        display: inline-block;
                        font-size: 12px;
                        color: #FFFFFF;
                        letter-spacing: 0px;
                        line-height: 20px;
                        position: relative;
                        bottom: -54px;
                    }
                }
            }

            footer{
                margin: 5px 0;
                line-height: 19px;
                text-align: center;
            }
        }
        footer {
            font-size: 14px;
            color: #92979E;
            letter-spacing: 0;
            line-height: 30px;
            text-align: center;
            margin: 15px 0;
        }
    }

    .loading-wrap {
        background-color: #fff;
    }
}

// 项目专辑底部菜单栏
.project-album-bottom-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 49px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 10px #747171;

    &-item {
        position: relative;
        width: 25%;
        height: 49px;
        padding-top: 5px;

        img {
            margin: 0 auto 2px;
            &.inactive-image {
                display: block;
            }

            &.active-image {
                display: none;
            }
        }

        div {
            position: absolute;
            bottom: 3px;
            left: 0;
            right: 0;
            width: 100%;
            font-size: 10px;
            color: #969FA9;
            letter-spacing: 0.11px;
            line-height: 14px;
            text-align: center;
        }

        &.item-active {
            div {
                color: #4285F4;
            }

            img {
                &.inactive-image {
                    display: none;
                }

                &.active-image {
                    display: block;
                }
            }
        }

        &.item-calendar {
            img {
                width: 24px;
            }
        }

        &.item-rong {
            img {
                width: 22px;
            }
        }

        &.item-hunting {
            img {
                width: 18px;
            }
        }

        &.item-timer {
            img {
                width: 22px;
            }
        }
    }
}
