.user-basic {
	padding: 30px 16px 30px;
	background: url(images/user-basic-bg.jpg) center 0 no-repeat;
	background-size: cover;
	.clearfix;

	.user-avatar {
		float: left;
	}

	.user-basic-info {
		margin-left: 94px;
		color: @base-white;

		img {
			vertical-align: top;
		}

		p {
			font-size: 18px;
			line-height: 24px;
			margin-top: 4px;
		}
	}

	.user-name {
		font-size: 24px;
		color: @base-white;
		margin-right: 6px;
	}

	.tags {
		font-size: 18px;
		line-height: 24px;
		color: #bdced1;

		span {
			margin-right: 12px;
		}

		i {
			font-size: 22px;
			vertical-align: text-bottom;
			margin: 0 4px 0 -2px;
		}
	}
}