.item-panel {
	margin-top: 20px;
	background-color: @base-white;

	.item {
		border-bottom: 2px solid #eee;
		padding: 10px 16px;
	} 

	h4 {
		font-size: 22px;
		font-weight: normal;
		margin: 10px 0;
		display: inline-block;
	}

	.desc {
		float: left;
		color: @font-color-dark;
	} 

	.investment {
		float: right;
	}

	.field {
		margin: 6px -5px 10px;
		span {
			display: inline-block;
			padding: 0 10px;
			line-height: 24px;
			border: 1px solid #f6edd8;
			background-color: #fffcf5;
			margin: 0 5px;
			border-radius: 2px;
			color: #af9b6c;
		}
	}

	.investment-phase {
		margin: 10px 0 20px;
	}

	.panel-body {
		padding: 0;
	}
}





























