<div  class="demos-wrapper">
    <loading ng-init="loadingInst.openApp=false"  loading="openApp"></loading>


    <!--<div id="demosCover" ng-style="{'background-image': (vm.cover.bgPic | backgroundUrl)}" rong-cover-->
    <!--class="cover-wrapper">-->
        <!--<section>-->
            <!--<h3>{{vm.cover.name}}</h3>-->
            <!--<h4>共{{vm.cover.proSetCount}}个{{vm.getCollectionType()}}</h4>-->
            <!--<p ng-if="vm.cover.intro">{{vm.cover.intro}}</p>-->
        <!--</section>-->
        <!--<img src="/styles/images/arrow.png" width="14" class="animated bounce" alt="">-->
    <!--</div>-->

    <div class="demos-header">
        <div class="header-img" ng-style="{'background-image': (vm.cover.headPic | backgroundUrl)}">
            <p>
                <span class="header-name">{{vm.cover.name}}</span>
                <span class="header-proSetCount">共{{vm.cover.proSetCount}}个{{vm.getCollectionType()}}</span>
            </p>
        </div>
        <div class="header-info" ng-if="vm.cover.intro">
            <text-line-clamp line-clamp='3' text="vm.cover.intro">
                <div class="text-container">
                    <div class="text-content"></div>
                </div>
                <a class="text-toggle" href="javascript:void(0)" >展开</a>
            </text-line-clamp>
        </div>
    </div>

    <div class="column-detail-wrapper">
        <section ng-if="vm.isColumn()">
            <ul infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1'>
                <li ng-style="{'background-image': (item.imgUrl | backgroundUrl)}"
                    ng-click="vm.goProjects(item.id)"
                    ng-repeat="item in vm.collectionInfoList track by $index">
                    <div>
                        <h3>{{item.name}}</h3>
                        <h4>共{{item.proCount}}个项目</h4>
                    </div>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.page">加载...</footer>
            <footer ng-if="vm.finish">全部内容加载完毕</footer>
        </section>
    </div>
    <div>

    </div>
    <div ng-if="!vm.isColumn()"  id="demosContent" >
        <div  ng-class="{'slide-up': vm.demos}" class="password-wrapper" ng-if="vm.needPwd">
            <section   class="password-content">
                <span ng-if="vm.invalid" class="pwd-invalid">密码错误</span>
                <p>查看该项目集需要密码 <br>请输入四位密码</p>
                <input maxlength="4" type="text" ng-model="vm.password" />
                <a ng-click="vm.vadliateAndGetDemos()" ng-class="{'pwd-active': vm.password.length === 4}"
                    href="javascript:">确定</a>
            </section>
        </div>

        <section  class="demos-content-wrapper">
            <ul infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1'>
                <li ontouchstart="" kr-active="'active'"
                    ng-repeat="item in vm.demos track
                    by $index">
                    <a class="demos-content-href" href="http://36kr.com/company/{{item.cid}}?ktm_source=xsd.h5.xiangmuji.{{item.cid}}" pid="item.cid" tou-open>
                        <div class="base-info-wrapper">
                            <div  class="logo-wrapper">
                                <img ng-src="{{item.logo | image}}" alt="">
                            </div>
                            <div>
                                <h3>{{item.name}}</h3>
                                <p>{{item.brief}}</p>
                                <p ng-if="item.tags" class="tags"><img src="/styles/images/company-share/tag.png"
                                    width="9" alt=""> {{item.tags}}</p>
                                <p ng-if="item.advantage" class="hot"><img src="/styles/images/company-share/hot.png"
                                    width="9" alt=""> {{item.advantage}}
                                </p>
                            </div>
                        </div>
                        <div ng-if="item.finance_phase && item.invest && item.address "
                            class="invest-info-wrapper">
                            <div>{{item.finance_phase}}</div>
                            <div>{{item.invest}}</div>
                            <div>{{item.address}}</div>
                        </div>
                    </a>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.page">加载...</footer>
            <footer ng-if="vm.finish">全部内容加载完毕</footer>
        </section>
    </div>

</div>
