<div  class="demos-wrapper">
    <loading ng-init="loadingInst.openApp=false"  loading="openApp"></loading>


    <!--<div id="demosCover" ng-style="{'background-image': (vm.cover.bgPic | backgroundUrl)}" rong-cover-->
    <!--class="cover-wrapper">-->
        <!--<section>-->
            <!--<h3>{{vm.cover.name}}</h3>-->
            <!--<h4>共{{vm.cover.proSetCount}}个{{vm.getCollectionType()}}</h4>-->
            <!--<p ng-if="vm.cover.intro">{{vm.cover.intro}}</p>-->
        <!--</section>-->
        <!--<img src="/styles/images/arrow.png" width="14" class="animated bounce" alt="">-->
    <!--</div>-->

    <div class="demos-header">
        <div class="header-img" ng-style="{'background-image': (vm.cover.imgUrl | backgroundUrl)}">
            <p>
                <span class="header-name">{{vm.cover.name}}</span>
                <span class="header-proSetCount" ng-if="vm.cover.proSetCount">共{{vm.cover.proSetCount}}个{{vm.getCollectionType()}}</span>
            </p>
        </div>
        <div class="header-info" ng-if="vm.cover.intro">
            <text-line-clamp line-clamp='3' text="vm.cover.intro">
                <div class="text-container">
                    <div class="text-content"></div>
                </div>
                <a class="text-toggle" href="javascript:void(0)" >展开</a>
            </text-line-clamp>
        </div>
    </div>

    <div class="column-detail-wrapper" ng-if="vm.isColumn()">
        <section >
            <ul infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1'>
                <li ng-style="{'background-image': (item.imgUrl | backgroundUrl)}"
                    ng-click="vm.goProjects(item.id)"
                    ng-repeat="item in vm.collectionInfoList track by $index">
                    <div>
                        <h3>{{item.name}}</h3>
                        <h4>共{{item.proCount}}个项目</h4>
                    </div>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.ts">加载...</footer>
            <footer ng-if="vm.finish">全部内容加载完毕</footer>
        </section>
    </div>

    <div ng-if="!vm.isColumn()"  id="demosContent" >
        <div  ng-class="{'slide-up': vm.demos}" class="password-wrapper" ng-if="vm.needPwd">
            <section   class="password-content">
                <span ng-if="vm.invalid" class="pwd-invalid">密码错误</span>
                <p>查看该项目集需要密码 <br>请输入四位密码</p>
                <input maxlength="4" type="text" ng-model="vm.password" />
                <a ng-click="vm.vadliateAndGetDemos()" ng-class="{'pwd-active': vm.password.length === 4}"
                    href="javascript:">确定</a>
            </section>
        </div>

        <section  class="demos-content-wrapper">
            <ul infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='3'>
                <li ontouchstart="" kr-active="'active'"
                    ng-repeat="item in vm.demos track
                    by $index">
                    <a class="projectList-content-href"
                       href="http://36kr.com/company/{{item.rcid}}?ktm_source=chuangtou.h5.xiangmuji.{{vm.id}}.{{item.rcid}}"
                       pid="item.rcid" tou-open path="'crmCompany/' + item.ccid + '?ktm_source=xiangmuji.native.' + vm.id + '.' + item.ccid">
                        <div class="base-info-detail">
                            <div  class="logo-wrapper" >
                                <img ng-src="{{item.logo | image}}" alt="" ng-if="item.logo">
                                <img ng-style="{'background-color':(item.ccid | demoDefaultColor)}" ng-if="!item.logo">
                                <span class="logo-name" ng-if="!item.logo">{{item.name | demoNameDufault}}</span>
                                <span class="logo-funding" ng-if="item.funding === 2">正在融资</span>
                            </div>
                            <div class="content-wrapper">
                                <h3><span class="item-name">{{item.name}}</span><span class="item-signs" ng-repeat="innerItem in item.signs" ng-style="{'background-color':innerItem.color}">{{innerItem.name}}</span><span class="item-pubdate">{{item.pubdate}}</span></h3>
                                <p class="item-brief">{{item.brief}}</p>
                                <p class="item-industry" ng-if="item.industry1"><span class="span-first">行业</span><span class="span-second">{{item.industry1}}</span></p>
                                <p class="item-advantage" ng-if="item.advantage"><span class="span-first">亮点</span><span class="span-second">{{item.advantage}}</span></p>
                            </div>
                        </div>
                    </a>
                    <span class="li-line" style=""></span>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.ts">加载更多...</footer>
            <footer ng-if="vm.finish">全部内容加载完毕</footer>
        </section>
    </div>

</div>
