@import 'swiper.min.css';
@import 'angular-notify.min.less';
@import 'components/bootstrap';
@import 'components/global/customized-var';
@import 'components/global/icon';
@import 'components/global/global';
@import 'components/user/basic';
@import 'components/user/detail';
@import 'components/company/detail_base';
@import 'components/company/company-basic';
@import 'components/company/company-capital';
@import 'components/company/company-product-intro.less';
@import 'components/company/company-tips';
@import 'components/company/company-team.less';
@import 'components/company/company-team-pro.less';
@import 'components/company/company-capital-history.less';
@import 'components/company/company-links.less';
@import 'components/company/company-business.less';
@import 'components/company/company-plan.less';
@import 'components/company/company-footbar.less';
@import 'components/company/pop-app-download.less';
@import 'components/company/company-tips-full';
@import 'components/company/company-capital-history-full';
@import 'components/company/company-qichacha';
@import 'components/company/create_company';
@import 'components/company/create-apply-alert';
@import 'components/company/my-company';
@import 'components/company/finacing-success';
@import 'components/investor/apply.less';
@import 'components/org/basic';
@import 'components/org/detail';
@import 'components/guide/welcome';


.ac-container {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}

