* {
  padding: 0;
  margin: 0
}

ul, ol {
  list-style: none;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

html, body {
  height: 100%;
  background-color: #221d24;
}

.mask{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  z-index: 400;

}


.j3rank {
  width: 100%;
  background: url('images/jisu3/0.png') repeat-y;
  background-size: 100% auto;

  .logo {
    width: 17%;
    max-width: 100px;
    background: url("images/jisu3/1.png") no-repeat;
    background-size: 100% auto;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .bgm-icon {
    z-index: 101;
    position: absolute;
    width: 26px;
    height: 26px;
    background: url(images/jisu3/2.png) no-repeat;
    background-size: contain;
    top: 20px;
    right: 20px;

  }
}

.container {

  margin: 0 auto;
  max-width: 520px;
  .nav {
    z-index: 200;
    position: relative;
    display: block;
    background-color: rgb(24, 12, 26);
    position: fixed;
    width: 100%;
    margin: 0 auto;
    max-width: 520px;
    .title {
      width: 78%;
      margin: 58px auto 10px;
      img {
        width: 100%;
      }

    }

  }
  .footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;

    margin: 0 auto;
    max-width: 520px;
    .rule, .active {
      width: 50%;
      padding: 0 0;
      margin: 0 0;
      height: 100%;
      color: white;
      text-decoration: none;
      line-height: 2.5;
      text-align: center;
      float: left;
    }
    .rule {
      background-color: rgb(255, 139, 82);
    }
    .active {
      background-color: rgb(235, 86, 62);
    }
  }
  .rank {
    padding: 140px 0 20px 0;
    ul {
      margin-bottom: 10%;
      li {
        border: rgb(59, 48, 59) solid 1px;
        background-color: rgb(35, 30, 37);
        margin: 0 auto 10px;
        box-sizing: border-box;
        width: 90.6%;
        padding: 15px 25px;
      }
      .num20 {
        float: left;
        margin: 0 0 10px 4.7%;
        width: 43.8%;
        position: relative;
        padding: 15px 5px;
        img {
          width: 100%;
        }
        .num {
          position: absolute;
          color: white;
          width: 22%;
          top: 0;
          left: 0;
          background-size: contain;

          &::after {
            display: block;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 10%;
            content: attr(data-num);
            font-size: 10px;
            left: -17%;
          }
        }
        .img {
          display: inline-block;
          width: 22%;
          border-radius: 50%;
          overflow: hidden;
          vertical-align: top;
          margin: 0 2px 0 10%;
          border: 1px solid #dadde4;
          width: 29px;
          height: 29px;
        }
        .info {
          width: 61%;
          display: inline-block;
          h4 {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

          }
          h3 {
            font-size: 13px;
            display: inline-block;
            margin: 10px 0 0 0;
            width: 80%;
            a {
              display: inline-block;
              float: right;
              font-size: 10px;
            }
          }

        }
      }
      .num20:nth-child(even) {
        float: right;
        margin: 0 4.7% 10px 0;
      }
      .top {
        position: relative;
        img {
          width: 100%;
        }
        .num {
          position: absolute;
          color: white;
          width: 9.1%;
          top: 0;
          left: 0;
          background-size: contain;

          &::after {
            display: block;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 10%;
            content: attr(data-num);
            font-size: 14px;
            left: -7px;
          }

        }
        .img {
          display: inline-block;
          //width: 17%;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 3%  0 4%;
          margin-left: 4px;
          vertical-align: top;
          border: 1px solid #dadde4;
        }

      }
      .info {
        display: inline-block;
        color: white;
        width: 75%;
        h4 {
          font-weight: normal;
          display: inline-block;
          em {
            color: rgb(251, 98, 63);
          }
        }
        span {
          font-size: 10px;
          color: #666;
          margin: 5px 0;
          display: inline-block;
          line-height: 1.5;
        }
        a {
          color: rgb(251, 98, 63);
          display: inline-block;
          float: right;
        }
      }

    }
  }

}

.warn {

  border-top: rgb(251, 102, 52) solid 3px;
  color: white;
  margin: 4%;
  position: relative;
  top: 6%;
  background-color: rgb(34, 29, 36);
  line-height: 140%;
  height: 85%;
  overflow: scroll;
  h3 {
    color: rgb(251, 102, 52);
    margin: 4% auto;
    text-align: center;
    font-weight: normal;
  }
  h4 {
    color: rgb(251, 102, 52);
    margin: 0 5%;
    font-size: 12px;
  }
  ul {
    font-size: 12px;
    margin: 1% 5% 3%;
    padding: 0;
    color: #838383;
    li {
      display: block;

    }

    em {
      color: rgb(251, 102, 52);
    }
  }

  .scrollwrap{
    height: 80%;
    overflow: auto;
  }

  .J_closepop {
    width: 100%;
    height: 40px;
    line-height: 33px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    background-color: rgb(251, 102, 52);
    border: rgb(251, 102, 52) solid 4px;
  }
}