<div class="bestlist-wrapper">

  <div class="bestlist-top-wrapper">

      <div class="bestlist-logo">

      </div>
      <div class="bestlist-btn">

      </div>
      <div class="bestlist-text">
          <p>
            覆盖市面80%的在融项目，史上最大的投融对接狂欢季，
           Top20机构专场、40明星投资人专场、20社群专场，周周放送。
          </p>
      </div>
  </div>
  <div class="bestlist-middle">
      <span>上榜规则&nbsp;></span>
  </div>
  <div class="bestlist-content">
      <ul>
          <li  class="dot" ng-style="{border-color: ($index <= 3)?'#ffb933':'#ef411d'}" ng-if="vm.prolist.data" ng-repeat=" item in vm.prolist.data track by $index" >
              <div class="content">
                  <div>
                    <label ng-if="$index < 9">0{{$index + 1}}</label>
                    <label ng-if="$index >= 9">{{$index + 1}}</label>
                  </div>
                    <div ng-if="!item.logo" class="mg logo">
                    </div>
                    <div ng-if="item.logo" class="mg logo" style="background-image: url('{{item.logo}}')">
                    </div>
                    <div class="mg text">
                      <p>
                        <span ng-if="item.name">{{item.name}}</span>
                        <span ng-if="item.phase">{{item.phase}}</span>
                      </p>
                      <p>
                        {{item.brief}}
                      </p>
                    </div>
                    <div class="mg praise">
                          <span class="num" >
                              {{item.rank}}
                          </span>
                          <div class="praise-btn">
                                点赞
                          </div>
                    </div>
              </div>
          </li>
      </ul>
  </div>
  <div ng-include="'templates/rongzi/meiqia.html'"></div>
  <div class="bestlist-bottom">
    <div>
      返回融资季
    </div>
    <div>
      我要报名
    </div>
    <div>
      助力创业者
    </div>
  </div>
</div>
