<div class="rongzi-tab tab-comm-border">
  <a ng-click="vm.tabChange($event)" class="tab-comm-selected" id ="a-before"
  href="javascript:void(0)">
    <b>名企名校</b>
  </a>
  <a ng-click="vm.tabChange($event)" id ="a-after"   href="javascript:void(0)" >
    <b>其他创业社群</b>
  </a>

</div>

<div class="org-a-before" ng-show="vm.Abefore">
  <div class="rongzi-split-block" >
  </div>

  <div class="special-item green-color">
    <div class="special-list-border yellowdotted-color">
      <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name yellowdotted-color">
          <b>红杉资本专场</b>
        </div>
        <div class="special-arrow green-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="special-type yellowdotted-color">
            孵化器
        </div>
        <div class="special-start">
            <span class="yellowdotted-color"><b>正在进行</b></span>&nbsp;&nbsp;&nbsp;
            <span class="green-color"><b>查看详情 ></b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="rongzi-split-block" >
    <div class="rongzi-tag tag-org-oncome">
      <b>即将开始</b>
    </div>
    <div class="rongzi-favorite">
      投资人最喜爱的顶级机构排行榜>>
    </div>
  </div>

  <div class="special-item green-color">
    <div class="special-list-border yellowdotted-color">
      <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name yellowdotted-color">
          红杉资本专场
        </div>
        <div class="special-arrow green-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="special-time green-color">
          4月18日 AM 10:30
        </div>
      </div>
    </div>
  </div>
  <div class="rongzi-vacancy">
    虚位以待，请联系客服。
  </div>

  <div class="rongzi-split-block" >
    <div class="rongzi-tag tag-end">
      <b>已完结</b>
    </div>
  </div>

  <div class="special-item green-color">
    <div class="special-list-border yellowdotted-color">
      <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name gray-color">
          红杉资本专场
        </div>
        <div class="special-arrow green-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="special-end">
          <span class="gray-color"><b>4月18日</b></span>&nbsp;&nbsp;&nbsp;
          <span class="green-color"><b>查看详情 ></b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="rongzi-split-block" >
  </div>
</div>


<div class="org-a-after" ng-show="vm.Aafter">
  <div class="rongzi-split-block" >
    暂无数据
  </div>

</div>



<!--
<div class="org-list">
  <div class="a-before" id="famous">
    <div class="phase-title"><h2>名企名校</h2></div>
    <div class="org-item" ng-if="vm.corUni" ng-repeat="item in vm.corUni">
      <div class="logo" ng-click="vm.openApp()" style="background-image: url('{{item.logo}}')"></div>
      <div class="name" ng-click="vm.openApp()">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>

  </div>
  <div class="a-after" id="other">
    <div class="phase-title"><h2>其他创业社群</h2></div>

    <div class="org-item" ng-if="vm.other" ng-repeat="item in vm.other">
      <!-- <div class="fa">F A</div>
      <div class="logo" ng-click="vm.openApp()" style="background-image: url('{{item.logo}}')"></div>
      <div class="name" ng-click="vm.openApp()">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>

  </div>
</div>
-->
