<div class="list-tab">
  <a href="#/rongzi/community?id={{vm.result.id}}#famous"><div class="tab-before">名企名校</div></a>
  <a href="#/rongzi/community?id={{vm.result.id}}#other"><div class="tab-after">其他创业社群</div></a>
</div>
<div class="org-list">
  <div class="a-before" id="famous">
    <div class="phase-title"><h2>名企名校</h2></div>
    <div class="org-item" ng-if="vm.corUni" ng-repeat="item in vm.corUni">
      <div class="logo" ng-click="vm.openApp()" style="background-image: url('{{item.logo}}')"></div>
      <div class="name" ng-click="vm.openApp()">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>

  </div>
  <div class="a-after" id="other">
    <div class="phase-title"><h2>其他创业社群</h2></div>

    <div class="org-item" ng-if="vm.other" ng-repeat="item in vm.other">
      <div class="fa">F A</div>
      <div class="logo" style="background-image: url('{{item.logo}}')"></div>
      <div class="name">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>

  </div>
</div>
