<div class="rongzi-common-backg enroll-wrapper">
  <div  ng-include="'templates/rongzi/common/top.html'" ng-init=" topdata = 'enroll'">
  </div>

  <div class="enroll-content">
    <div ng-include="'templates/rongzi/enrollList.html'"></div>
  </div>

  <div class="enroll-vacancy">
    <div class="enroll-item">
      <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/org_logo/%E7%BB%8F%E7%BA%AC%E4%B8%AD%E5%9B%BD.jpg')"></div>
      <div class="enroll-info">
        <div class="name">创投助手</div>
        <div class="phase">A轮</div>
        <div class="intro">顶级机构的项目触手可得！在接下来为期8周的融资季</div>
      </div>
      <div class="enroll-btn">
        <span>等&nbsp;&nbsp;&nbsp;待</span><br/>
        <span>审核中</span>
      </div>
    </div>
  </div>

  <div class="enroll-content">
    <div ng-include="'templates/rongzi/enrollNoProject.html'"></div>
  </div>

</div>
