<div class="investor-list">

  <!-- <div class="investor-item" ng-if="vm.result.sessions" ng-repeat="item in vm.investors">
    <div class="list-border">
      <div class="avatar"
      style="background-image: url('{{item.logo}}')" ng-click="vm.openApp()"></div>
      <div class="investor-info">
        <div class="name" ng-click="vm.openApp()">
          <div ng-repeat="obj in item.nameArr track by $index"><span>{{obj}}</span></div>
        </div>
        <div class="arrows">
          <img class="arr-l" src="/styles/images/rongzi/arrow.png"/>
          <img src="/styles/images/rongzi/arrow.png"/>
          <img class="arr-r" src="/styles/images/rongzi/arrow.png"/>
        </div>
        <div class="content" ng-bind="item.intro">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。投资案例：奇虎360、阿里巴巴、陌陌、今日头条等。
        </div>
        <div class="time" ng-bind="item.startAt | date:'MM月dd日 a hh:mm'">
          4月18日 AM 10：30
        </div>
      </div>
    </div>
  </div>
  <div class="more" ng-click="vm.displayMore()" ng-show="!vm.more">查看更多</div> -->


  <div class="special-item green-color">
    <div class="special-list-border orange-color">
      <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name orange-color" ng-click="vm.openApp()">
          红杉资本专场
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="show-info">
          <span class="orange-color">正在进行</span><span class="green-color mg-l" ui-sref="rongzi.investorInfo({id: 1})">查看详情 ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="special-state orange-color">即将开始</div>
  <div class="special-item green-color">
    <div class="special-list-border orange-color">
      <div class="special-logo green-color" ng-click="vm.openApp()" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name orange-color">
          红杉资本专场
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="special-time green-color">
          4月18日 AM 10:30
        </div>
      </div>
    </div>
  </div>
  <div class="site">虚位以待，请联系客服</div>
  <div class="special-state">已完结</div>

  <div class="special-item green-color">
    <div class="special-list-border gray-color">
      <div class="special-logo green-color" ui-sref="rongzi.investorInfo({id: 1})" style="background-image: url(https://pic.36krcnd.com/avatar/201704/05093313/fzo1epnn95opm68j.png)"></div>
      <div class="special-info">
        <div class="special-name gray-color">
          红杉资本专场
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          红杉资本全球执行合伙人，携程旅行网和如家连锁酒店创始人。榜单中排名第一的华人投资者。
        </div>
        <div class="show-info">
          <span class="gray-color">4月18日</span><span class="green-color mg-l">查看详情 ></span>
        </div>
      </div>
    </div>
  </div>

</div>
