<div class="inviteInvestorWapper">
  <div class="invite-bg">
    <div class="top">
      <div class="top-logo ng-scope">
        <img src="/styles/images/rongzi/rongzi-logo.png">
      </div>
      <div class="invite-title" ng-if="vm.type === 'orange'">
        <img src="/styles/images/rongzi/invitation-orange.png"/>
      </div>
      <div class="invite-title" ng-if="vm.type === 'green'">
        <img src="/styles/images/rongzi/invite-top.png"/>
      </div>
    </div>
    <div class="invite-tag "
    ng-class="{true:'invite-bg-orange',false:'invite-bg-green'}[vm.type === 'orange']" >邀请规则</div>
    <div class="invite-rule">
      <span>我可以获得</span><br/>
      <span> 1.微信分享活动至朋友圈，邀请一个成功认证投资人用户则获得所有专场提前三天查看权限。</span><br/>
      <span> 2.邀请两个成功认证投资人用户则获得所有专场永久查看权限</span>
    </div>
    <div class="invite-code">
      <span
      ng-class="{true:'invite-color-orange',false:'invite-color-green'}[vm.type === 'orange']">
      您的专属邀请码：</span>
      <span class="code-bg"
        ng-class="{true:'code-color-orange',false:'code-color-green'}[vm.type === 'orange']">
      45w2</span>
    </div>
    <div class="invite-info">
      <div class="invite-one">
        <p class="invite-color-white">您已成功邀请<span class="invite-num">1</span>人，</p>
        <p
          ng-class="{true:'invite-color-orange',false:'invite-color-green'}[vm.type === 'orange']">
          获得所有专长提前三天查看权限，</p>
        <p
          ng-class="{true:'invite-color-orange',false:'invite-color-green'}[vm.type === 'orange']">
          永久权限就差一步！</p>
      </div>
      <div class="invite-count" ng-if="vm.inviteCount > 1">
        <p class="invite-color-white">您已成功邀请<span class="invite-num">{{vm.inviteCount}}</span>人，</p>
        <p class="invite-color-green">获得所有专场永久查看权限，</p>
        <p class="invite-color-green">真是羡煞旁人。</p>
      </div>
    </div>
    <div class="rongzi-common-bottom" ui-sref="rongzi.main">
      返回主会场
    </div>
  </div>
</div>
