<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <div class="special-title">
        <span >{{data.secondTitle}}</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span ng-model="data.ruleDescription" ng-if="data.ruleDescription">每日24：00统计更新，创业者自主投递项目参选，根据24小时内对接数取前三名展示，展示时长24小时。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item" ng-repeat="obj in data.sessions">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" ng-if="obj.logo" style="background-image: url({{obj.logo}})"></div>
            </div>
          </div>
        </div>
        <div class="org-name"><span ng-if="obj.name">{{obj.name}}</span></div>

      </div>

      <div class="special-info-btn">
        <button class="btn"><b>查看详情</b></button>
      </div>
    </div>
  </div>

  <div class="outer-border special-green">
    <div class="inner-border">
      <div class="special-title">
        <span>顶级机构专场</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>每周一、四上新，联合两家Top机构推出在融项目20+，持续2个月共计20场。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
      </div>
      <div class="special-info-btn">查看详情</div>
    </div>
  </div>

  <div class="outer-border" id="aaa">
    <div class="inner-border">
      <div class="special-title">
        <span>顶级机构专场</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>每周一、四上新，联合两家Top机构推出在融项目20+，持续2个月共计20场。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <img src='https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg' class="logo"/>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <img src='https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg' class="logo"/>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
