<div class="main-special">
  <div class="outer-border">
    <div class="inner-border">
      <div class="special-title">
        <span>顶级机构专场</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>每周一、四上新，联合两家Top机构推出在融项目20+，持续2个月共计20场。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item mg-r">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/org_logo/%E7%BB%8F%E7%BA%AC%E4%B8%AD%E5%9B%BD.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/org_logo/%E7%BB%8F%E7%BA%AC%E4%B8%AD%E5%9B%BD.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item mg-l">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/org_logo/%E7%BB%8F%E7%BA%AC%E4%B8%AD%E5%9B%BD.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
      </div>
      <div class="special-info-btn">查看详情</div>
    </div>
  </div>

  <div class="outer-border special-green">
    <div class="inner-border">
      <div class="special-title">
        <span>顶级机构专场</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>每周一、四上新，联合两家Top机构推出在融项目20+，持续2个月共计20场。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item mg-r">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item mg-l">
          <div class="border-bg">
            <div class="logo-border">
              <div class="logo" style="background-image: url('https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg')"></div>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
      </div>
      <div class="special-info-btn">查看详情</div>
    </div>
  </div>

  <div class="outer-border">
    <div class="inner-border">
      <div class="special-title">
        <span>顶级机构专场</span>
      </div>
      <div class="split-border"></div>
      <div class="special-content">
        <span>每周一、四上新，联合两家Top机构推出在融项目20+，持续2个月共计20场。</span>
      </div>
      <div class="split-border"></div>
      <div class="special-logo">
        <div class="item mg-r">
          <div class="border-bg">
            <div class="logo-border">
              <img src='https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg' class="logo"/>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item">
          <div class="border-bg">
            <div class="logo-border">
              <img src='https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg' class="logo"/>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
        <div class="item mg-l">
          <div class="border-bg">
            <div class="logo-border">
              <img src='https://krplus-pic.b0.upaiyun.com/201603/03094503/xy2pxrbbj1yq5nfc.jpg' class="logo"/>
            </div>
          </div>
          <div class="org-name"><span>经纬中国</span></div>
        </div>
      </div>
      <div class="special-info-btn">查看详情</div>
    </div>
  </div>
</div>