
<div class="rongzi-wrapper">

  <div class="rongzi-top-wrapper">
  </div>
  <div class="rongzi-block">
  </div>

  <div class="rongzi rongzi-institute-wrapper">
  </div>
  <div class="rongzi-block">
  </div>

  <div class="rongzi rongzi-investor-wrapper">
  </div>
  <div class="rongzi-block">
  </div>

  <div class="rongzi rongzi-startup-wrapper">
  </div>
  <div class="rongzi-block">
  </div>

  <div class="rongzi rongzi-list-wrapper">
  </div>

</div>
<div ng-include="'templates/rongzi/meiqia.html'"></div>
