
<div class="rongzi-wrapper" ng-class="{true:'paddTopBar',false:''}[!vm.needApp]">
  <div ng-if="!loadingInst.rongziLoading">
    <div class="rongzi-top-wrapper">
        <div class="m-logo">
          <img src="/styles/images/rongzi/m-top.png"/>
        </div>

        <!-- <div class="rong-timer" ng-if="!vm.result.fundingSeasonActivityInfo.begin">
          <img src="/styles/images/rongzi/timer_2.png"/>

            <img src="/styles/images/rongzi/timer.png"/>

          <div class="rong-num" id ="timer" ng-if="vm.result.fundingSeasonActivityInfo">
                  {{vm.result.fundingSeasonActivityInfo.leftDays}}
          </div>
        </div> -->
        <div class="rongzi-text">
          融资季！最大规模投资人和创业者的对接活动。我们网罗了市面上80%的优质项目，会在接下来两个月的时间分批分专场奉献给你。我们将会有三大专区供你选择。<br/>
          · 顶级机构专场：每周两个最Top的机构超过20个项目送给你，让你体验最顶尖项目的水平
        </div>
        <div class="subscribe">
          <!--
            <a href="javascript:void(0)" id ="main-open" class="btn subscribe-btn"
             ng-show="!vm.needApp">
             <b ng-if="vm.remind === 1">融资季专场，开场提醒订阅</b>
             <b ng-if="vm.remind === 0">取消提醒订阅</b>
           </a>
         -->
          <a id="main-open" class="btn subscribe-btn btn-height"
            ng-click="vm.subscribe(item, $event)">
            <b ng-if="vm.remind === 1">融资季专场，开场提醒</b>
            <b ng-if="vm.remind === 0">取消提醒订阅</b>
          </a>
        </div>
        <!-- <div class="rongzi-text">
            <p>
              融资季&nbsp;|&nbsp;错过再等一年！
            </p>
            <p>
              覆盖市面80%的在融项目，史上最大的投融对接狂欢季，
              Top20机构专场、40明星投资人专场、20社群专场，周周放送。
            </p>
        </div> -->

        <!-- <div class="rongzi-arrow">
          <img src="/styles/images/rongzi/vertical-arrow.png" />
        </div> -->
    </div>

    <div class="rongzi-block">
      <div class="rongzi-invest-arrow-right">
        <img class="kr36" width="33" src="/styles/images/rongzi/arrow-right.png" />
      </div>
    </div>

    <div class="rongzi rongzi-list-wrapper">
      <div ng-include="'templates/rongzi-common/m-starlist.html'"></div>
    </div>

    <div class="rongzi-block">
      <div class="rongzi-invest-arrow-left">
        <img class="kr36" width="33" src="/styles/images/rongzi/arrow-left.png" />
      </div>
    </div>

    <div class="rongzi rongzi-institute-wrapper">
      <div ng-include="'templates/rongzi-common/m-org.html'"></div>
    </div>

    <div class="rongzi-block">
      <div class="rongzi-invest-arrow-right">
        <img class="kr36" width="33" src="/styles/images/rongzi/arrow-right.png" />
      </div>
    </div>

    <div class="rongzi rongzi-investor-wrapper">
      <div ng-include="'templates/rongzi-common/m-investor.html'" ></div>
    </div>

    <div class="rongzi-block">
      <div class="rongzi-invest-arrow-left">
        <img class="kr36" width="33" src="/styles/images/rongzi/arrow-left.png" />
      </div>
    </div>

    <div class="rongzi rongzi-startup-wrapper">
      <div ng-include="'templates/rongzi-common/m-community.html'"></div>
    </div>

    <div ng-include="'templates/rongzi/meiqia.html'"></div>
  </div>

  <loading loading="rongziLoading"></loading>
</div>
