
 <div style="height:40px; width:100px;background-color:red;color:white">
    <center>
      <a href="#" id ="open-app">打开App</a>
    </center>
</div>


<br />

<!-- <div style="height:40px; width:100px;background-color:red;color:white">
   <center>
     <a href="https://passport.36kr.com/pages" id ="1open">登录{{vm.pwd}}</a>
   </center>
</div>

<br />
<div style="height:40px; width:100px;background-color:red;color:white">
   <center>
     <a href="https://rong.36kr.com/m/#/investor/apply" id ="2open">申请投资人111</a>
   </center>
</div> -->


<br />
<br />
<br />

<!--接入美洽客服系统-->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 48706);
</script>
<script language="javascript" type="text/javascript">
  var interval = 1000;
  function ShowCountDown(year,month,day,divname)
  {
    var now = new Date();
    var endDate = new Date(year, month-1, day);
    var leftTime=endDate.getTime()-now.getTime();
    var leftsecond = parseInt(leftTime/1000);
    //var day1=parseInt(leftsecond/(24*60*60*6));
    var day1=Math.floor(leftsecond/(60*60*24));
    var hour=Math.floor((leftsecond-day1*24*60*60)/3600);
    var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60);
    var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60);
    //var cc = document.getElementById(divname);
  //  cc.innerHTML = "距离"+year+"年"+month+"月"+day+"日还有："+day1+"天"+hour+"小时"+minute+"分"+second+"秒";
  }
//  window.setInterval(function(){ShowCountDown(2017,4,6,'timer');}, interval);
</script>
<script>
  var krdata = {};
  krdata.type = "test";
  //krdata.ios_custom_url = "krtou://";
  //krdata.android_custom_url = "krtou://";
  //console.log(window.linkedme);
  krdata.params = '{"openlink":"http://rongh5.local.36kr.com/#/rongzi/main","currentRoom":"1","weburl":"http://rongh5.local.36kr.com/#/rongzi/main"}';

  window.linkedme.init("3a89d6c23e6988e0e600d63ca3c70636", {type: "test"}, function (err, res){
    if (err) {
        return;
    }
    window.linkedme.link(krdata, function(err, data) {
      if (err) {
        // 生成深度链接失败，返回错误对象err
      } else {
        // 生成深度链接成功，深度链接可以通过data.url得到
        console.log(data.url);
        $('#open-app').attr('href',data.url);
      }
    },false);
  });

</script>
