
<div class="fixDownloadBar" ng-if="!vm.needApp">
  <div class="innerDiv">
      <div>
          <img src="/styles/images/rongzi/topbar-logo.png"/>
      </div>
      <div>
          顶级机构都在用
          <!--
          <img src="/styles/images/rongzi/topbar-content.png"/>
        -->
      </div>
      <div ng-click="vm.openApp()">
        <img src="/styles/images/rongzi/downloadApp.png"/>
      </div>
    </div>
</div>
<!--接入美洽客服系统-->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 48706);
</script>
