<div class="rongzi-common-backg detail-wrapper">

  <div class="rongzi-common-top">
    <div class="rongzi-common-logo" >
      <img src="/styles/images/rongzi/rongzi-logo.png" />
    </div>

    <div class="rongzi-common-textbtn-org">
      <img src="/styles/images/rongzi/org-text.png" />
    </div>

      <div class="rongzi-enroll-text">
          <p>
            覆盖市面80%的在融项目，史上最大的投融对接狂欢季，
           Top20机构专场、40明星投资人专场、20社群专场，周周放送。
          </p>
      </div>
  </div>

  <div class="organization-content">
    <div ng-include="'templates/rongzi/organizationList.html'"></div>
  </div>

<div class="detail-bottom">
  <div ui-sref="rongzi.organization({category:vm.category})">
    返回机构专场
  </div>
  <div ui-sref="rongzi.main">
    返回融资季主会场
  </div>
</div>

</div>
