<div class="list-tab">
  <a href="#/rongzi/organization?id={{vm.result.id}}#a-before"><div class="tab-before">A轮及以前</div></a>
  <a href="#/rongzi/organization?id={{vm.result.id}}#a-after"><div class="tab-after">A轮后</div></a>
</div>
<div class="org-list">
  <div class="a-before" id="a-before">
    <div class="phase-title"><h2>A轮及以前</h2></div>
    <div class="org-item" ng-if="vm.beforeA" ng-repeat="item in vm.beforeA">
      <div class="logo" style="background-image: url('{{item.logo}}')" ng-click="vm.openApp()"></div>
      <div class="name" ng-click="vm.openApp()">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>

  </div>

  <div class="a-after" id="a-after">
    <div class="phase-title"><h2>A轮后</h2></div>

    <div class="org-item" ng-if="vm.afterA" ng-repeat="item in vm.afterA">
      <div class="logo" ng-click="vm.openApp()" style="background-image: url('{{item.logo}}')"></div>
      <div class="name" ng-click="vm.openApp()" >{{item.name}}</div>
      <div class="time">{{item.startAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>

  </div>
</div>
