<div class="rongzi-tab" >
  <a ng-click="vm.tabChange($event)" class="tab-selected" id ="a-before"  href="#/rongzi/organization?id={{vm.result.id}}#a-before">
    <b>A轮及以前</b>
    <!--
    <div class="tab-before"></div>-->
  </a>
  <a ng-click="vm.tabChange($event)" id ="a-after"   href="#/rongzi/organization?id={{vm.result.id}}#a-after" >
    <b>A轮后</b>
    <!--
    <div class="tab-after tab-selected"></div>-->
  </a>
</div>

<div class="rongzi-split-block" >
  <div class="rongzi-tag">
    正在进行
  </div>
</div>

<div class="org-list">
  <div class="a-before" id="a-before">
    <div class="phase-title"><h2>A轮及以前</h2></div>
    <div class="org-item" ng-if="vm.beforeA" ng-repeat="item in vm.beforeA">
      <div class="logo" style="background-image: url('{{item.logo}}')" ng-click="vm.openApp()"></div>
      <div class="name" ng-click="vm.openApp()">{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>
  </div>

  <div class="a-after" id="a-after">
    <div class="phase-title"><h2>A轮后</h2></div>

    <div class="org-item" ng-if="vm.afterA" ng-repeat="item in vm.afterA">
      <div class="logo" ng-click="vm.openApp()" style="background-image: url('{{item.logo}}')"></div>
      <div class="name" ng-click="vm.openApp()" >{{item.name}}</div>
      <div class="time">{{item.startAt | date:'MM月dd日 a hh:mm'}}</div>
    </div>

  </div>
</div>
