<div class="rongzi-common-backg organization-wrapper">
  <div  ng-include="'templates/rongzi-common/top.html'" ng-init=" topdata = 'org'">
  </div>

  <div class="organization-content">
    <div ng-include="'templates/rongzi/organizationList.html'"></div>
  </div>

  <div class="organization-vacancy">
    <div class="org-item">
      <div class="logo">
        <div class="site">
          <span>虚位以待</span>
          <span>联系客服</span>
        </div>
      </div>
      <div class="time">4月18日 AM 10：30</div>
    </div>
    <div class="org-item">
      <div class="logo">
        <div class="site">
          <span>虚位以待</span>
          <span>联系客服</span>
        </div>
      </div>
      <div class="time">4月18日 AM 10：30</div>
    </div>
  </div>

  <div ng-include="'templates/rongzi-common/bottom.html'" ng-init="item = 'org'">
  </div>

</div>
