<!--
<div class="rongzi-favorite" ui-sref="rongzi.orglike({category:vm.category})">
  投资人最喜爱的顶级机构排行榜>>
</div>
-->
<div class="rongzi-tab tab-org-border" >
  <a ng-click="vm.tabChange($event)" id ="AAfter" class="tab-org-selected"  href="javascript:void(0)" >
    <b>A轮后</b>
  </a>

  <a ng-click="vm.tabChange($event)"  id ="ABefore"
  href="javascript:void(0)">
    <b>A轮及以前</b>
  </a>
</div>

<div class="org-a-before" ng-show="vm.Abefore">

  <div class="special-item yellow-color" ng-if="vm.ABefore.goingSessions" ng-repeat=" item in vm.ABefore.goingSessions">
    <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category})" >
      <div class="special-logo yellow-color" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color">
          {{item.name}}
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          {{item.intro}}
        </div>
        <div class="show-info">
            <span class="yellow-color"><b>正在进行</b></span>&nbsp;&nbsp;&nbsp;
            <span class="orange-color"><b>查看详情 ></b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="rongzi-split-block" ng-if="vm.ABefore.startSessions.length >0">
    <div class="rongzi-tag tag-org-oncome">
      <b>即将开始</b>
    </div>
    <!--
    <div class="rongzi-favorite" ui-sref="rongzi.orglike({category:vm.category})">
      投资人最喜爱的顶级机构排行榜>>
    </div>
  -->
  </div>

  <div class="special-item yellow-color" ng-if="vm.ABefore.startSessions.length >0" ng-repeat=" item in vm.ABefore.startSessions">
    <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category,state:'start'})">
      <div class="special-logo yellow-color" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color">
          {{item.name}}
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          {{item.intro}}
        </div>
        <div class="special-time yellow-color" ng-bind="item.startAt | date:'MM月dd日 a hh:mm'">
        </div>
      </div>
    </div>
  </div>
  <div class="rongzi-vacancy">
    虚位以待，请联系客服。
  </div>

  <div class="rongzi-split-block" ng-if="vm.end.length">
    <div class="rongzi-tag tag-end">
      <b>已完结</b>
    </div>
  </div>
<ul infinite-scroll='vm.getFinishedData(0)' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
  <li  ng-if="vm.end" ng-repeat=" item in vm.end track by $index" >
    <div class="special-item yellow-color">
      <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category,state:'end'})">
        <div class="special-logo yellow-color" style="background-image: url({{item.logo}})"></div>
        <div class="special-info">
          <div class="special-name gray-color">
            {{item.name}}
          </div>
          <div class="special-arrow"></div>
          <div class="special-content">
            {{item.intro}}
          </div>
          <div class="show-info">
            <span class="gray-color"><b ng-bind="item.startAt | date:'MM月dd日'"></b></span>&nbsp;&nbsp;&nbsp;
            <span class="orange-color"><b>查看详情 ></b></span>
          </div>
        </div>
      </div>
    </div>
    </li>
  </ul>
  <footer ng-if="vm.busy && !vm.finish &&  vm.page">加载更多...</footer>
  <footer ng-if="vm.finish">全部内容加载完毕</footer>
  <div class="rongzi-split-block" >
  </div>

</div>

<!--a轮后-->

<div class="org-a-after" ng-show="vm.Aafter">
  <!--
  <div class="rongzi-split-block" ng-if="vm.AAfter.goingSessions.length > 0">
  </div>
-->

  <div class="special-item yellow-color" ng-if="vm.AAfter.goingSessions.length" ng-repeat=" item in vm.AAfter.goingSessions">
    <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category})">
      <div class="special-logo yellow-color" style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color">
          {{item.name}}
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          {{item.intro}}
        </div>
        <div class="show-info">
            <span class="yellow-color"><b>正在进行</b></span>&nbsp;&nbsp;&nbsp;
            <span class="orange-color"><b>查看详情 ></b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="rongzi-split-block" ng-if="vm.AAfter.startSessions.length">
    <div class="rongzi-tag tag-org-oncome">
      <b>即将开始</b>
    </div>
    <!--
    <div class="rongzi-favorite"   ui-sref="rongzi.orglike({category:vm.category})">
      投资人最喜爱的顶级机构排行榜>>
    </div>
  -->
  </div>

  <div class="special-item yellow-color" ng-if="vm.AAfter.startSessions" ng-repeat=" item in vm.AAfter.startSessions">
    <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category,state:'start'})">
      <div class="special-logo yellow-color"  style="background-image: url({{item.logo}})"></div>
      <div class="special-info">
        <div class="special-name orange-color">
          {{item.name}}
        </div>
        <div class="special-arrow"></div>
        <div class="special-content">
          {{item.intro}}
        </div>
        <div class="special-time yellow-color" ng-bind="item.startAt |  date:'MM月dd日 a hh:mm'">
        </div>
      </div>
    </div>
  </div>
  <div class="rongzi-vacancy">
    虚位以待，请联系客服。
  </div>

  <div class="rongzi-split-block" ng-if="vm.end.length">
    <div class="rongzi-tag tag-end">
      <b>已完结</b>
    </div>
  </div>

<ul infinite-scroll='vm.getFinishedData(1)' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
    <li  ng-if="vm.end" ng-repeat=" item in vm.end track by $index" >
      <div class="special-item yellow-color" >
        <div class="special-list-border orange-color" ui-sref="rongzi.orgdetail({id: item.id, name: item.name,category:item.category,state:'end'})">
          <div class="special-logo yellow-color"  style="background-image: url({{item.logo}})"></div>
          <div class="special-info">
            <div class="special-name gray-color">
              {{item.name}}
            </div>
            <div class="special-arrow"></div>
            <div class="special-content">
              {{item.intro}}
            </div>
            <div class="show-info">
              <span class="gray-color"><b ng-bind="item.startAt | date:'MM月dd日'"></b></span>&nbsp;&nbsp;&nbsp;
              <span class="orange-color"><b>查看详情 ></b></span>
            </div>
          </div>
        </div>
      </div>
    </li>
</ul>
<footer ng-if="vm.busy && !vm.finish &&  vm.page">加载更多...</footer>
<footer ng-if="vm.finish">全部内容加载完毕</footer>
  <div class="rongzi-split-block" >
  </div>

</div>
