<div class="share-wapper">
  <div class="rzj-logo">
    <img src="/styles/images/rongzi/rzj-logo.png"/>
  </div>
  <div class="share-content">
    <div class="share-logo">
      <img class="logo-bg" src="/styles/images/rongzi/share-logo.png">
      <div class="logo" style="background-image: url({{vm.project.logo}})"></div>
    </div>
    <div class="name">{{vm.project.name}}</div>
    <div class="industry">{{vm.project.industry}}</div>
    <div class="intro">{{vm.project.brief}}</div>
    <div class="content">
      {{vm.project.intro}}
    </div>
    <div class="rank">
      <div class="rank-num">当前排名：<span>{{vm.project.rank}}</span>名</div>
      <div class="like-num">距离上榜还差：<span>788</span>赞</div>
    </div>
    <div class="like" ng-click="vm.like(vm.project.id)" ng-class="{liked: vm.project.liked}">
      <span ng-show="!vm.project.liked">赞</span><span ng-show="vm.project.liked">已点赞</span>（{{vm.project.likes}}）
    </div>
    <div class="share">
      <span>邀好友为梦想点赞！</span>
    </div>
  </div>
  <div class="share-fotter">
    <div class="back-list" ui-sref="rongzi.bestlist()">返回号召力榜单</div>
    <div class="go-rzj" ui-sref="rongzi.main()">进入融资季</div>
  </div>
</div>