.startup {
    .section-intro {
        height: 250px;
        background-color: #1b0a3e;
        background: url(images/startup/bg.png) no-repeat center top;
        overflow: hidden;

        .time {
            width: 148px;
            height: 49px;
            margin: 25px auto 0;
            background-image: url(images/startup/time.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .logo {
            width: 279.5px;
            height: 70.5px;
            margin: 0 auto;
            background-image: url(images/startup/logo.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .desc {
            font-size: 14px;
            color: rgba(255,255,255,.6);
            text-align: center;

            em {
                color: #ffd800;
            }
        }

        .remind-btn {
            display: block;
            width: 120px;
            height: 30px;
            color: #fff;
            background: #ffae00;
            border-radius: 4px;
            margin: 10px auto 0;
            text-align: center;
            line-height: 30px;
            font-size: 14px;
            font-weight: 500;
        }

        .rules {
            display: block;
            margin: 5px auto 0;
            text-align: center;
            text-decoration: underline;
        }
    }
}
