<div class="syndicates-desire">
    <a class="activity-detail" href="" ng-click="activityDetail()">活动详情</a>
    <div class="desire-nav">
        <div class="nav-content">
            <div class="nav-type" ng-repeat="item in newsList track by $index" ng-click="switchNews($index,item.id)" ng-bind="item.name" ng-class="{'active':item.active}"></div>
        </div>
        <div class="search-bar">
            <span class="icon-search2" ng-show="!keyword"></span>
            <form name="searchForm" ng-submit="submit()">
                <input type="text" placeholder="搜索" ng-model="news.keyword">
            </form>
        </div>
    </div>
    <div ng-hide="loadingInst.syndicatesNewsList">
        <div class="desire-content">
            <div class="news-list" ui-sref="syndicatesDesireDetail({id:item.id})" ng-repeat="item in newsData track by $index" ng-class="{'normal':$index % 3 == 0 && $index != 0}">
                    <a class="news-logo" href="" ui-sref="syndicatesNews.detail({id:data.id})" style="background-image:url({{item.list_image | image}})"></a>
                    <!--<span class="praise-add" ng-class="{'showPraise':item.isPraise}">+{{point}}</span>-->
                    <div class="news-center">
                        <a class="news-title" href="" ui-sref="syndicatesNews.detail({id:data.id})" ng-bind-html="item.title"></a>
                        <section class="news-time">
                            <span class="icon-h5-time"></span>
                            <span class="time-text" ng-bind="item.time"></span>
                        </section>
                    </div>
            </div>
        </div>
        <div class="more-data" ng-click="loadMore()" ng-show="totalPage != newsPageNo && newsData.length">加载更多</div>
    </div>
    <div loading="syndicatesNewsList"></div>
</div>
