@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7hmwww');
	src:url('fonts/icomoon.eot?#iefix7hmwww') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7hmwww') format('truetype'),
		url('fonts/icomoon.woff?7hmwww') format('woff'),
		url('fonts/icomoon.svg?7hmwww#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-app-selected:before {
	content: "\e625";
}
.icon-app-checked:before {
	content: "\e61f";
}
.icon-app-tag .path1:before {
	content: "\e620";
	color: rgb(153, 152, 153);
}
.icon-app-tag .path2:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(153, 152, 153);
}
.icon-app-tag .path3:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-app-tag .path4:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(153, 152, 153);
}
.icon-app-tag .path5:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(153, 152, 153);
}
.icon-star:before {
	content: "\e614";
}
.icon-h5-location:before {
	content: "\e600";
}
.icon-h5-school:before {
	content: "\e601";
}
.icon-h5-time:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-wechat:before {
	content: "\e604";
}
.icon-weibo:before {
	content: "\e605";
}
.icon-tip:before {
	content: "\e606";
}
.icon-add:before {
	content: "\e607";
}
.icon-display:before {
	content: "\e609";
}
.icon-edit:before {
	content: "\e60a";
}
.icon-tag:before {
	content: "\e60c";
}
.icon-link:before {
	content: "\e60d";
}
.icon-user:before {
	content: "\e60f";
}
.icon-del:before {
	content: "\e611";
}
.icon-eye:before {
	content: "\e61d";
}
.icon-big-add:before {
	content: "\e618";
}
.icon-feedback:before {
	content: "\e61a";
}
.icon-gototop:before {
	content: "\e619";
}
.icon-turn-left:before {
	content: "\e61b";
}
.icon-turn-right:before {
	content: "\e61c";
}
.icon-hexinziyuan:before {
	content: "\e608";
}
.icon-jiejuefangan:before {
	content: "\e60e";
}
.icon-jingpinfenxi:before {
	content: "\e60b";
}
.icon-qita:before {
	content: "\e610";
}
.icon-shichangxianzhuang:before {
	content: "\e612";
}
.icon-shichangzhanbi:before {
	content: "\e617";
}
.icon-yinglimoshi:before {
	content: "\e616";
}
.icon-yonghutongdian:before {
	content: "\e615";
}
.icon-youshifenxi:before {
	content: "\e613";
}
.icon-mail:before {
	content: "\e61e";
}
.icon-qq:before {
	content: "\f1d6";
}
