<div class="container investor-apply-wrapper" ng-show="!loadingInst.applyLoading">
    <div class="error-wrapper">
        <!--所有报错信息-->
        <!-- 自定义错误信息 -->
        <div class="error"
             ng-if="error.code">
            <span>{{error.msg}}</span>
        </div>
        <!-- 自定义错误信息 -->
    </div>
    <div class="welcome validate-welcome-wrapper" ng-show="validate.step === 1">
        <div class="welcome-words"
             ng-show="investorValidateApply.status != 'success' && investorValidateApply.status !='checking'">
            <p>认证成为投资人,开启发现项目之旅</p>
        </div>
        <form class="form-container" name="guideForm"
              ng-show="investorValidateApply.status != 'success' && investorValidateApply.status !='checking'"
              ng-submit="$event.preventDefault()">
            <div error-wrapper error-group="errorGroup"></div>
            <div class="welcome-form">
                <div class="line upload-avatar">
                    <ul class="intro-pic-list">
                        <li style="background-image: url({{ guideForm.avatar.uploaded || user.avatar | image:70: 'avatar'}});"
                            class="pic-avatar">
                            <div ng-show="guideForm.avatar.uploading"
                                 ng-style="{height: guideForm.avatar.progress + '%'}" ></div>
                        </li>
                        <li ng-show='!guideForm.picture.uploading'>
                            <input class="input-file" type="file" name="avatar" accept="image/*"
                                   ng-file-select
                                   ng-file-change="imgFileSelected(guideForm.avatar, $files)"
                                   ng-click="androidUpload(guideForm.avatar, $event, 1)"
                                   ng-model="avatar" ng-multiple="false" resetOnClick="true"
                            />
                        </li>
                    </ul>
                    <label class="avatar-label">真实头像</label>
                </div>
                <div class="line">
                    <label>真实姓名</label>
                    <div class="control">
                        <input class="form-control" placeholder="未填写" type="text" name="name" maxlength="15"
                               ng-model="user.name" ng-pattern="/^[\u4E00-\u9FA5a-zA-Z\s]{0,15}$/" required/>
                    </div>
                </div>
                <!--<div class="line" ng-if="!user.hasEmail">
                    <label>邮箱</label>
                    <div class="control">
                        <input class="form-control" type="email" placeholder="未填写" name="email"
                               ng-model="user.email" required/>
                    </div>
                </div>-->
                <div class="line" ng-if="!user.hasPhone">
                    <label>国家</label>
                    <div class="control icon-select">
                        <select name="cc" ng-model="user.cc" class="form-control country"
                                ng-change="changeCountry(guideForm.phone)"
                                ng-options="item as (item.desc+' +'+item.cc) for item in countryDict"></select>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasPhone">
                    <label>手机号</label>
                    <div class="control">
                        <input class="form-control" type="text" placeholder="未填写" name="phone"
                               ng-model="user.phone" ng-pattern="REGEXP.phone" required/>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasPhone">
                    <label>验证码</label>
                    <div class="control validate-code">
                        <input class="form-control" type="text" placeholder="未填写" name="smscode"
                               ng-model="user.smscode" required/>
                    </div>
                    <div class="control code-group text-code">
                        <a class="btn btn-linear get-code wait" href="javascript:void(0)" ng-disabled="wait" ng-if="wait">{{wait+'秒'}}</a>
                        <a class="btn btn-linear get-code btn-thin btn-sms"
                           href="javascript:void(0)"
                           ng-disabled="!user.phone"
                           ng-if="!wait"
                           ng-click="getCode($event, false)">点击获取</a>
                    </div>
                    <div ng-if="!wait" class="control code-group voice-code">
                        您也可以尝试
                        <a class="btn btn-linear get-code btn-thin"
                           href="javascript:void(0)"
                           ng-disabled="!user.phone || user.cc.cc != '86' || user.cc.cc != 86"
                           ng-click="getCode($event, true)">接听语音验证码</a>
                    </div>
                </div>
            </div>
            <div class="basic-info basic-info-cutter "></div>
        </form>
    </div>
    <div class="investor-validate investor-validate-apply" ng-show="investorValidateApply.status != 'success' && investorValidateApply.status !='checking'">
        <!--跟投人未提交验证-->
        <div>
            <form ng-submit="$event.preventDefault()"
                  name="investorValidateForm"
                  class="form-container">
                <div error-wrapper error-group="investorErrorGroup"></div>

                <div ng-show="validate.step === 1">

                    <div class="line">
                        <label>投资身份</label>
                        <div class="control icon-select pr-15">
                            <select ng-model="invest.investorRole"
                                    name="identity"
                                    class="fr" required>
                                <option name="" value="">未选择</option>
                                <option name="" value="PERSONAL_INVESTOR">个人投资人</option>
                                <option name="" value="ORG_INVESTOR">机构投资人</option>
                            </select>
                        </div>
                    </div>
                    <!--新增机构-->
                    <div class="line content-list" ng-if="(invest.investorRole=='ORG_INVESTOR')">
                        <div>
                            <label>机构</label>
                        </div>
                        <div kr-suggest type="comAndOrg" class="kr-fleft control"
                             suggest-obj="suggestOrganizationObj" max-length="30" min-length="1"
                             autocomplete-options="suggestOrganizationOption" placeholder="未填写" name="companyName"
                        > </div>
                    </div>
                    <div ng-if="(invest.investorRole=='ORG_INVESTOR')" class="line clearfix">
                        <label>职位</label>
                        <div class="control">
                            <input class="form-control" type="text" placeholder="" name="position" required
                                   ng-model="user.position" />
                        </div>
                    </div>

                    <div class="line">
                        <label>微信号</label>
                        <div class="control">
                            <input class="form-control" type="text" placeholder="未填写" name="weixin" required
                                   maxlength="20" ng-minlength="6"
                                   ng-model="user.weixin" />
                        </div>
                    </div>
                </div>

                <div ng-show="validate.step === 2">

                    <div class="recommend-investor" ng-if="suggestInvestor.length">
                        <div class="recommend-tip">
                            根据您填写的信息，系统判断您为知名投资人，已获取了您的公开信息，请选择与您匹配的信息（如都不匹配，请直接上传名片）：
                        </div>
                        <div class="recommend-container">
                            <img class="left-arrow" src="/styles/images/find/arrowLeft@2x.png" ng-if="suggestInvestor.length > 1 && suggest.currentIndex != 0" />
                            <img class="right-arrow" src="/styles/images/find/arrowRight@2x.png" ng-if="suggestInvestor.length > 1 && suggest.currentIndex != suggestInvestor.length-1" />
                            <div class="recommend-slick">
                                <slick slides-to-show="1" prev-arrow=".left-arrow" next-arrow=".right-arrow" infinite="false" ng-if="suggestInvestor.length" current-index="suggest.currentIndex">
                                    <div class="investor-container" ng-repeat="item in suggestInvestor" ng-class="{active: item.active}">
                                        <div class="investor-item" ng-click="selectItem($index)" ng-class="{active: item.active}">
                                            <span class="select-tag icon-app-selected"></span>
                                            <div class="user-top">
                                                <a href="" ui-sref="investorInfo({id:item.id})" target="_blank" ng-click="$event.stopPropagation();">
                                                    <img ng-src="{{item.logo || 'https://pic.36krcnd.com/avatar/201701/04074353/ocaycn399wc7wclo.png'}}" class="user-logo" alt="">
                                                </a>
                                                <div class="user-content">
                                                    <a href="" class="user-name" ui-sref="investorInfo({id:item.id})" target="_blank" ng-click="$event.stopPropagation();">
                                                        {{item.name}}
                                                    </a>
                                                    <section class="user-work">
                                                        {{item.orgName}} <span ng-if="item.orgName && item.position">|</span> {{item.position}}
                                                    </section>
                                                    <section class="follow-industry">
                                                        <img class="tag-img" src="/styles/images/investorValidate/follow.png" />
                                                        <span ng-if="!item.industryEnumList.length">暂无</span>
                                                        <span ng-repeat="obj in item.industryEnumList" ng-if="item.industryEnumList.length">
                                                  <span>{{obj | dict_CompanyIndustry}}</span>
                                                  <span ng-if="$index !== item.industryEnumList.length - 1"> · </span>
                                                </span>
                                                    </section>
                                                    <section class="follow-industry">
                                                        <img class="tag-img" src="/styles/images/investorValidate/phase.png" />
                                                        <span ng-if="!item.phaseEnumList.length">暂无</span>
                                                        <span class="follow-item" ng-repeat="obj in item.phaseEnumList" ng-if="item.phaseEnumList.length" ng-class="{'hidePoint' : $index === item.phaseEnumList.length-1}">
                                              <span>{{obj | dict_CompanyFinancePhase}}</span>
                                              <span class="list-point"> · </span>
                                            </span>
                                                    </section>
                                                    <div class="user-bottom">
                                                        已投：
                                                        <span class="case-item" ng-repeat="obj in item.investCaseList" ng-if="item.investCaseList.length" ng-class="{'hidePoint' : $index === item.investCaseList.length-1}">
                                                            <span>{{obj.name}}</span>
                                                            <span class="list-point">、</span>
                                                        </span>
                                                        <span ng-if="!item.investCaseList.length">暂无</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>

                        </div>
                    </div>
                    <div class="upload-wrapper">
                        <!--上传名片-->
                        <div class="line upload-pictures">
                            <label for="pictures">上传名片<span class="tip">(仅供审核使用)</span></label>
                            <div class="col-max">
                                <div class="item">
                                    <div class="intro-pic-list icon-select">
                                        <div class="pic-wrapper pic-input">
                                            <div class="pic-wrapper" ng-show="investorValidateForm.pictures.uploaded || invest.pictures" style="background-image: url({{ investorValidateForm.pictures.uploaded || invest.pictures}});"></div>
                                            <input ng-file-select
                                                   type="file" name="pictures" id="pictures" class="input-file" accept="image/*"
                                                   ng-file-change="imgFileSelected(investorValidateForm.pictures, $files)"
                                                   ng-click="androidUpload(investorValidateForm.pictures, $event, 0)"
                                                   ng-model="pictures" ng-multiple="false" resetOnClick="true"
                                            />
                                            <div ng-show="investorValidateForm.pictures.uploading" class="stick pic-stick" style="height:{{investorValidateForm.pictures.progress}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="basic-info"></div>-->

            </form>
            <div class="next-step" ng-click="nextStep()" ng-if="validate.step === 1">还有一步，上传名片</div>
            <div class="form-submit">
                <a class="submit-btn" href="" ng-click="submitForm($event)" ng-disabled="hasClick" ng-if="validate.step === 2">提交认证</a>
            </div>
            <span class="prev-page" ng-click="validate.step = 1" ng-if="validate.step === 2">返回上一页</span>
        </div>
    </div>
    <!-- 申请成功 -->
    <div class="investor-apply-success" ng-show="investorValidateApply.status == 'success'">
        <h3 class="title">投资人认证</h3>
        <div class="jumbotron">
            <p class="text-center">
                <span class="icon-apply"></span>
                <label>恭喜！你已认证成功，获得 <i class="icon-tou">投</i> 身份标识</label>
                现在你可以去PC端或<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.android36kr.investment" class="btn btn-link">打开APP</a>查看融资中的项目了
            </p>
        </div>
    </div>
    <!-- 提交认证申请审核中 -->
    <div class="investor-apply-alter" ng-show="investorValidateApply.status == 'checking' ">
        <h3 class="title">投资人认证</h3>
        <div class="jumbotron">
            <p class="text-center">
                <span class="icon-apply"></span>
                <label>感谢您选择在36氪投资</label>
                如信息属实，会在1个工作日内为你开通投资人权限
            </p>
        </div>
    </div>

</div>

<div loading="applyLoading"></div>

<script type="text/ng-template" id="templates/util/pop-captcha.html">
    <div class="pop-form">
        <div class="geetest-captcha">
            <div geetest type="type" phone="phone" is-voice="isVoice" callback="callback"></div>
        </div>
    </div>
</script>
