<div class="container">
    <div class="error-wrapper">
        <!--所有报错信息-->
        <!-- 自定义错误信息 -->
        <div class="error"
             ng-if="error.code">
            <span>{{error.msg}}</span>
        </div>
        <!-- 自定义错误信息 -->
    </div>
    <div class="welcome">
        <div class="welcome-words"
             ng-show="invevalStatusstorValidateApply.status != 'success' && investorValidateApply.status !='checking'">
            <p>认证成为投资人,开启发现项目之旅</p>
        </div>
        <form class="form-container" name="guideForm"
              ng-show="invevalStatusstorValidateApply.status != 'success' && investorValidateApply.status !='checking'"
              ng-submit="$event.preventDefault()">
            <div error-wrapper error-group="errorGroup"></div>
            <div class="welcome-form">
                <div class="line upload-avatar">
                    <ul class="intro-pic-list">
                        <li style="background-image: url({{ guideForm.avatar.uploaded || user.avatar | image:70: 'avatar'}});"
                            class="pic-list">
                        </li>
                        <li ng-show='!guideForm.picture.uploading'>
                            <input class="input-file" type="file" name="avatar" accept="image/*"
                                   ng-file-select
                                   ng-file-change="imgFileSelected(guideForm.avatar, $files)"
                                   ng-click="androidUpload(guideForm.avatar, $event)"
                                   ng-model="avatar" ng-multiple="false" resetOnClick="true"
                            />
                        </li>
                    </ul>
                    <label class="avatar-label">真实头像</label>
                </div>
                <div class="line">
                    <label>真实姓名</label>
                    <div class="control">
                        <input class="form-control" placeholder="未填写" type="text" name="name" maxlength="15"
                               ng-model="user.name" ng-pattern="/^[\u4E00-\u9FA5a-zA-Z\s]{0,15}$/" required/>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasEmail">
                    <label>邮箱</label>
                    <div class="control">
                        <input class="form-control" type="email" placeholder="未填写" name="email"
                               ng-model="user.email" required/>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasPhone">
                    <label>国家</label>
                    <div class="control icon-select">
                        <select name="cc" ng-model="user.cc" class="form-control country"
                                ng-change="changeCountry(guideForm.phone)"
                                ng-options="item as (item.desc+' +'+item.cc) for item in countryDict"></select>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasPhone">
                    <label>手机号</label>
                    <div class="control">
                        <input class="form-control" type="text" placeholder="未填写" name="phone"
                               ng-model="user.phone" ng-pattern="REGEXP.phone" required/>
                    </div>
                </div>
                <div class="line" ng-if="!user.hasPhone">
                    <label>验证码</label>
                    <div class="control validate-code">
                        <input class="form-control" type="text" placeholder="未填写" name="smscode"
                               ng-model="user.smscode" required/>
                    </div>
                    <div class="control code-group">
                        <a class="btn btn-linear get-code wait" href="javascript:void(0)" ng-disabled="wait" ng-if="wait">{{wait+'秒'}}</a>
                        <a class="btn btn-linear get-code btn-thin btn-sms"
                           href="javascript:void(0)"
                           ng-disabled="!user.phone"
                           ng-if="!wait"
                           ng-click="getCode($event)">点击获取</a>
                        <a class="btn btn-linear get-code btn-thin"
                           href="javascript:void(0)"
                           ng-disabled="!user.phone || user.cc.cc != '86' || user.cc.cc != 86"
                           ng-if="!wait"
                           ng-click="getCode($event, true)">接听语音验证码</a>
                    </div>
                </div>
            </div>
            <div class="basic-info"></div>
        </form>
    </div>
    <div class="investor-validate investor-validate-apply" ng-show="invevalStatusstorValidateApply.status != 'success' && investorValidateApply.status !='checking'">
        <!--跟投人未提交验证-->
        <div>

            <form ng-submit="$event.preventDefault()"
                  name="investorValidateForm"
                  class="form-container">
                <div error-wrapper error-group="investorErrorGroup"></div>
                <div>
                    <div class="line brief">
                        <label>个人简介</label>
                        <div class="col-max">
                            <textarea ng-model="invest.intro" name="intro" placeholder="简单介绍你的个人经历，30字" maxlength="30" required></textarea>
                        </div>
                    </div>
                    <!--上传名片-->
                    <div class="line upload-pictures">
                        <label for="pictures">上传名片<span class="tip">(仅供审核使用)</span></label>
                        <div class="col-max">
                            <div class="item">
                                <div class="intro-pic-list icon-select">
                                    <div class="pic-wrapper pic-input">
                                        <div class="pic-wrapper" ng-show="investorValidateForm.pictures.uploaded || invest.pictures" style="background-image: url({{ investorValidateForm.pictures.uploaded || invest.pictures}});"></div>
                                        <input ng-file-select
                                               type="file" name="pictures" id="pictures" class="input-file" accept="image/*"
                                               ng-file-change="imgFileSelected(investorValidateForm.pictures, $files)"
                                               ng-click="androidUpload(investorValidateForm.pictures, $event)"
                                               ng-model="pictures" ng-multiple="false" resetOnClick="true"
                                        />
                                        <div ng-show="investorValidateForm.pictures.uploading" class="stick pic-stick" style="height:{{investorValidateForm.pictures.progress}}%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="basic-info">
                        关注行业
                    </div>
                    <div class="line normal">
                        <div class="col-flex clearfix">
                            <div picker="invest.investorFocusIndustrys"
                                 template-url="templates/common/picker.html"
                                 mp-map="desc,value"
                                 mp-multiple="true"
                                 name="industry"
                                 required
                                 ng-model="invest.industry"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="basic-info">
                        关注阶段
                    </div>
                    <div class="line">
                        <div class="col-flex">
                            <div picker="invest.fundsPhase"
                                 template-url="templates/common/picker.html"
                                 mp-map="desc,value"
                                 mp-multiple="true"
                                 name="stage"
                                 required
                                 ng-model="invest.investPhases"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="basic-info">
                        工作经历
                    </div>
                    <div class="line">
                        <label>投资身份</label>
                        <div class="control icon-select">
                            <select ng-model="invest.investorRole"
                                    name="identity"
                                    class="fr" required>
                                <option name="" value="">未选择</option>
                                <option name="" value="PERSONAL_INVESTOR">个人投资者</option>
                                <option name="" value="ORG_INVESTOR">任职投资机构</option>
                                <option name="" value="COMPANY_INVEST_DEPT">任职公司投资并购部</option>
                            </select>
                        </div>
                    </div>
                    <div class="i-body" ng-if="(invest.investorRole=='ORG_INVESTOR')">
                        <div class="line content-list" ng-if="organization.response.data.length!==1">
                            <!--任职机构-->
                            <label>任职机构</label>
                            <div class="control icon-select">
                                <select name="organizationSelectName" ng-change="organization.choose()"
                                        ng-options="y.id as y.groupName for y in organization.response.data"
                                        ng-model="organization.form.id" required
                                        class="fr">
                                </select>
                            </div>
                        </div>
                        <!--新增机构-->
                        <div class="line content-list" ng-if="organization.isAddExperience">
                            <!--机构简称-->
                            <div mass-autocomplete="{debounce_blur:700}">
                                <label>机构简称</label>
                                <div class="control suggest_wrap">
                                    <input type="text" ng-model="organization.addForm.name"
                                           name="organizationName"
                                           placeholder="未填写"
                                           required
                                           class="form-control fr"
                                           mass-autocomplete-item="autocomplete_options_organization" minlength='2' maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="line content-list" ng-if="organization.isAddExperience && organization.isAdd">
                            <label>机构简介</label>
                            <div class="control">
                                <input type="text" name="organizationBrief" placeholder="未填写" minlength='10'  maxlength="300"
                                       ng-model="organization.addForm.brief" required/>
                            </div>
                        </div>
                        <!--新增机构-->
                        <div class="content-list">
                            <!--职位-->
                            <div class="line clearfix">
                                <label>职位</label>
                                <div class="control icon-select">
                                    <select ng-options="c.value as c.desc for c in orgPositionType"
                                            ng-model="organization.form.position"
                                            name="position"
                                            class="fr" required>
                                        <option value="">未选择</option>
                                    </select>
                                </div>
                            </div>
                            <!--任职时间-->
                            <div class="line clearfix">
                                <label>任职时间</label>
                                <div class="fr">
                                    <div class="il-bk icon-select">
                                        <select name="time" required ng-options="y for y in yearOptions" ng-model="organization.form.startYear">
                                            <option value="">年</option>
                                        </select>
                                    </div>
                                    <div class="il-bk icon-select">
                                        <select name="time" required  ng-model="organization.form.startMonth" ng-options="m for m in monthOptions">
                                            <option value="">月</option>
                                        </select>
                                    </div>－至今
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="i-body" ng-if="(invest.investorRole=='COMPANY_INVEST_DEPT')">
                            <div class="line content-list" ng-if="company.response.data.length!==1">
                                <!--任职公司-->
                                <label>任职公司</label>
                                <div class="control  icon-select">
                                    <select name="companySelectName" ng-change="company.choose()" ng-options="y.id as y.groupName for y in company.response.data" ng-model="company.form.id" required>
                                    </select>
                                </div>
                            </div>
                            <!--新增公司-->
                            <div class="line content-list" ng-if="company.isAddExperience">
                                <label>公司简称</label>
                                <div mass-autocomplete="{debounce_blur:700}">
                                    <div class="control suggest_wrap">
                                        <input type="text" ng-model="company.addForm.name"
                                               name="companyName"
                                               placeholder="未填写"
                                               required
                                               class="form-control fr"
                                               mass-autocomplete-item="autocomplete_options"/>
                                    </div>
                                </div>
                            </div>
                            <div class="content-list">
                                <!--职位-->
                                <div class="line clearfix">
                                    <label>职位</label>
                                    <div class="control icon-select">
                                        <select name="position" required  ng-options="c.value as c.desc for c in workPositionType" ng-model="company.form.position">
                                            <option value="">未选择</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="line clearfix">-->
                                    <!--<label>职位详情</label>-->
                                    <!--<div class="control fr">-->
                                        <!--<input type="text"  ng-model="company.form.positionDetail" placeholder="如iOS开发/UI设计师">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--任职时间-->
                                <div class="line clearfix">
                                    <label>任职时间</label>
                                    <div class="fr">
                                        <div class="il-bk icon-select">
                                            <select name="time" required ng-options="y for y in yearOptions" ng-model="company.form.startYear">
                                                <option value="">年</option>
                                            </select>
                                        </div>
                                        <div class="il-bk icon-select">
                                            <select name="time" required ng-model="company.form.startMonth" ng-options="m for m in monthOptions">
                                                <option value="">月</option>
                                            </select>
                                        </div>－至今
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div>
                    <div class="basic-info">
                        单笔可投
                    </div>
                    <div class="line">
                        <label>主投币种</label>
                        <div class="control icon-select clearfix">
                            <select ng-model="invest.mainCurrency" required
                                    name="moneyUnit" class="">
                                <option value="">未选择</option>
                                <option value="CNY">人民币</option>
                                <option value="USD">美元</option>
                            </select>
                        </div>
                    </div>
                    <div class="line invest-money normal">
                        <label>单笔可投额度</label>
                        <div class="row-1">
                            <!-- 人民币 -->
                            <div class="fr clearfix ml-10">
                                <input ng-model="invest.investMin" ng-change="changeMoney('investMin')"
                                       type="tel" maxlength="6" placeholder="未填写" required
                                       class="form-control investor-amount" name="investFrom"/>
                                万
                                <span class="icon-zhi">－</span>
                                <input ng-model="invest.investMax" ng-change="changeMoney('investMax')"
                                       type="tel" placeholder="未填写" maxlength="6" required
                                       class="form-control investor-amount" name="investTo"/>
                                万
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basic-info"></div>
                <div class="form-submit">
                    <a href="" class="btn btn-default btn-auth" ng-click="submitForm($event)" ng-disabled="hasClick">提交认证</a>
                </div>
            </form>
        </div>
    </div>
    <!-- 申请成功 -->
    <div class="investor-apply-success" ng-show="investorValidateApply.status == 'success'">
        <h3 class="title">投资人认证</h3>
        <div class="jumbotron">
            <p class="text-center">
                <span class="icon-apply"></span>
                <label>恭喜！你已认证成功，获得 <i class="icon-tou">投</i> 身份标识</label>
                现在你可以去PC端或<a href="http://asset.36tr.com/m/hub.html" class="btn btn-link">打开APP</a>查看融资中的项目了
            </p>
        </div>
    </div>
    <!-- 提交认证申请审核中 -->
    <div class="investor-apply-alter" ng-show="investorValidateApply.status == 'checking' ">
        <h3 class="title">投资人认证</h3>
        <div class="jumbotron">
            <p class="text-center">
                <span class="icon-apply"></span>
                <label>感谢您选择在36氪投资</label>
                如信息属实，会在3个工作日内为你开通投资人权限
            </p>
        </div>
    </div>

</div>
