<div class="dailyNews-wrapper">
    <div ng-if="vm.responseData.length">
        <div class="dailyNews-content-wrapper">
            <div ng-repeat="itemData in vm.responseData">
                <div class="section-top">
                    <div class="section-top-split"></div>
                    <div class="section-top-text">
                        {{itemData.displayTime}} 共 {{itemData.reportCount}} 篇
                    </div>
                    <div class="section-top-split"></div>
                </div>
                <ul>
                    <li ontouchstart="" kr-active="'active'" ng-repeat="item in itemData.reports track by $index">
                        <div class="dailyNews-content-href">
                            <div class="base-info-detail" ng-click="vm.link(item.ccid, item.link)">
                                <h3 class="header-info">
                                    <text-line-clamp line-clamp='2' text="item.title">
                                        <div class="text-container">
                                            <div class="text-content"></div>
                                        </div>
                                    </text-line-clamp>
                                </h3>
                                <p class="company-info">
                                    [{{item.name}}] {{item.brief}}
                                </p>
                                <div class="item-wrapper">
                                    <div class="item-left" ng-show="item.industry1">
                                        <!--<img src="/styles/images/find/White@3x.png" />-->
                                        <!--<span>{{item.industry1 | findDefault : '其他'}}</span>-->
                                        <span>{{item.industry1}}</span>
                                    </div>
                                    <div class="item-center">
                                        <!--<img src="/styles/images/find/Logo@3x.png" />-->
                                        <span>{{item.source| findDefault : '媒体报道'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="basic-info-logo"
                                style="background-image: url({{item.logo | image}});"
                                ng-click="vm.openNativePage('crmCompany/' + item.ccid + '?ktm_source=find.dailyNews.' + item.ccid)"
                            ></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div scroll-load load-callback="vm.loadMore" boundary="100" ng-if="vm.hasInit && vm.responseData.length"></div>
            <div class="daily-news-load-more" ng-if="vm.hasInit && vm.responseData.length">
                <p>加载更多··· </p>
                <img src="/styles/images/loading.svg" alt="loading">
            </div>
        </div>
    </div>
    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png">
        <span>抱歉，没有找到您要的内容</span>
    </div>
</div>
