<div class="dailyNews-wrapper">
    <div class="dailyNews-select">
        <div class="dailyNews-select-left">
            看你想看的媒体时讯
        </div>
        <div class="dailyNews-select-right" ng-click="vm.filter($event)">
            <span ng-if="!(vm.sendData.industrys || vm.sendData.websites)">
                  <i>
                      <img src="/styles/images/find/Black@2x.png" alt="">
                  </i>
                  <span class="Black">筛选</span>
            </span>
            <span ng-if="vm.sendData.industrys || vm.sendData.websites">
                  <i>
                      <img src="/styles/images/find/FilterRed@2x.png" alt="">
                  </i>
                  <span class="redBlack">筛选</span>
            </span>
        </div>
    </div>
    <div ng-if="vm.responseData.length">
        <div class="dailyNews-content-wrapper">
            <div ng-repeat="itemData in vm.responseData">
                <div class="section-top">
                    <div class="section-top-split"></div>
                    <div class="section-top-text">
                        {{itemData.displayTime}} 共 {{itemData.reportCount}} 篇
                    </div>
                    <div class="section-top-split"></div>
                </div>
                <ul>
                    <li ontouchstart="" kr-active="'active'" ng-repeat="item in itemData.reports track by $index">
                        <div class="dailyNews-content-href">
                            <div class="base-info-detail" ng-click="vm.clickNews('ClickNews', { target: 'news', company_id: item.ccid, news_id: item.id, news_url: item.link, news_index: $index })">
                                <h3 class="header-info">
                                    <text-line-clamp line-clamp='2' text="item.title">
                                        <div class="text-container">
                                            <div class="text-content"></div>
                                        </div>
                                    </text-line-clamp>
                                </h3>
                                <p class="company-info">
                                    [{{item.name}}] {{item.brief}}
                                </p>
                                <div class="item-wrapper">
                                    <div class="item-left" ng-show="item.industry1">
                                        <span>{{item.industry1}}</span>
                                    </div>
                                    <div class="item-center">
                                        <span>{{item.source| findDefault : '媒体报道'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="basic-info-logo" ng-class="{nopic: !item.logo}"
                                ng-style="!item.logo ? {'background-color': '{{item.ccid | demoDefaultColor}}'} : {'background-image': 'url({{item.logo | image:120}})'}"
                                ng-click="vm.openNativePage('crmCompany/' + item.ccid + '?ktm_source=find.dailyNews.' + item.ccid)"
                            >
                                {{!item.logo ? (item.name | demoNameDufault2) : ''}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div scroll-load load-callback="vm.loadMore" boundary="100" ng-if="vm.hasInit && vm.responseData.length"></div>
            <div class="daily-news-load-more" ng-if="vm.hasInit && vm.responseData.length && vm.ts">
                <p>加载更多··· </p>
                <img src="/styles/images/loading.svg" alt="loading">
            </div>
            <div div class="daily-news-load-more" ng-if="vm.responseData.length && !vm.ts">
                全部内容加载完毕
            </div>
        </div>
    </div>
    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png">
        <span>抱歉，没有找到您要的内容</span>
    </div>

    <div class="dailyNews-select-bg" ng-style="{'display':vm.displayFlag==true?'block':'none'}" ng-click="vm.filterDismiss($event)"></div>
    <div class="dailyNews-select-box" ng-style="{'transform':vm.displayFlag==true?'translateX(0px)':'translateX(400px)'}">
        <div class="dailyNews-select-modal">
            <div class="dailyNews-select-title">
                <div class="dailyNews-select-title-l">
                    标签
                </div>
                <span class="dailyNews-select-title-r" ng-click="vm.setShowFlag()" ng-style="{'transform':vm.showMoreFlag==8?'rotate(135deg)':'rotate(-45deg)'}">
                </span>
            </div>
            <div class="dailyNews-select-option">
                <span ng-repeat="item in vm.flagArrayAll" ng-click="vm.itemFlagClick(item, $event)" ng-class="{'flag-active':(item.active == true)}" ng-show="$index <= vm.showMoreFlag">
                    {{item.label | dict_InvestorFollowedIndustry}}
                    <img src="/styles/images/find/tagClose@2x.png" />
                </span>
            </div>
            <div class="dailyNews-select-line"></div>
            <div class="dailyNews-select-title">
                <div class="dailyNews-select-title-l">
                    来源
                </div>
                <span class="dailyNews-select-title-r" ng-click="vm.setShowSource()" ng-style="{'transform':vm.showMoreSource==8?'rotate(135deg)':'rotate(-45deg)'}">
                </span>
            </div>
            <div class="dailyNews-select-option">
                <span ng-repeat="item in vm.sourceArrayAll" ng-click="vm.itemSourceClick(item, $event)" ng-class="{'source-active':(item.active == true)}" ng-show="$index <= vm.showMoreSource">
                    {{item.label}}
                    <img src="/styles/images/find/tagClose@2x.png" />
                </span>
            </div>
        </div>
        <div class="pop-bottom" ng-style="{'transform':vm.displayFlag==true?'translateX(0px)':'translateX(400px)'}">
            <div class="pop-bottom-left" ng-click="vm.rollBack()">
                <div>重置</div>
            </div>
            <div class="pop-bottom-right" ng-click="vm.submit()">
                <div class="pop-bottom-right-top">完成</div>
                <div class="pop-bottom-right-bottom">共筛选出{{vm.proNum}}个项目</div>
            </div>
        </div>
    </div>
</div>
