<div class="finance-wrapper">
    <div ng-if="vm.responseData.length">
        <img class="img-fixed" src="/styles/images/find/filter@2x.png" ng-click="vm.filter($event)" />
        <div class="finance-content-wrapper">
            <div ng-repeat="itemData in vm.responseData">
                <div class="section-top">
                    <p>{{itemData.tsExpose}} 共 {{itemData.datas.length}} 条</p>
                </div>
                <ul>
                    <li kr-active="'active'" class="line-middle"
                        ng-repeat="item in itemData.datas track by $index"
                        ng-click="vm.link(item.ccid, item.link, $event)"
                    >
                        <div class="item-top">
                            <h4>{{item.name}}</h4>
                            <a class="item-link"
                                ng-if="item.link"
                                href="https://36kr.com/app/tou?crmCompany={{item.ccid}}&ktm_source=find.finance.{{item.ccid}}"
                                tou-open path="'crmCompany/' + item.ccid + '?ktm_source=find.finance.' + item.ccid"
                            >
                                <img src="images/find/link@2x.png" />
                                <span>查看详情</span>
                            </a>
                        </div>
                        <div class="item-bottom">
                            <div class="item-industry-tag">
                                {{item.industry1}}
                            </div>
                            <div class="item-location-tag">
                                北京
                            </div>
                            <p class="item-investorStr">
                                <span class="span-first">投资方：</span>
                                <span class="span-second">{{item.investors | findDefault : '未披露'}}</span>
                            </p>
                            <div class="item-expose-date">
                                {{item.exposeDate}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div scroll-load load-callback="vm.loadMore" boundary="100" ng-if="vm.hasInit && vm.responseData.length"></div>
            <div class="finance-list-load-more" ng-if="vm.hasInit && vm.responseData.length">
                <p>加载更多··· </p>
                <img src="/styles/images/loading.svg" alt="loading">
            </div>
        </div>
    </div>
    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png">
        <span>抱歉，没有找到您要的内容</span>
    </div>
</div>
