<div  class="finance-wrapper">
    <div ng-if="vm.responseData.length">
        <img class="img-fixed" src="/styles/images/find/filter@2x.png" ng-click="vm.filter($event)"/>
        <div  class="finance-content-wrapper" infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
            <div ng-repeat="itemData in vm.responseData">
                <div class="section-top">
                    <p>{{itemData.tsExpose}}共 {{itemData.datas.length}} 条</p>
                </div>
                <ul >
                    <li ontouchstart="" kr-active="'active'" ng-repeat="item in itemData.datas track by $index">
                        <a class="finance-content-href"
                           href="https://36kr.com/app/tou?crmCompany={{item.ccid}}?ktm_source=find.finance.{{item.ccid}}"
                           tou-open path="'crmCompany/' + item.ccid + '?ktm_source=find.finance.' + item.ccid">
                            <div class="base-info-detail">
                                <h4>{{item.name}}<span>{{item.industry1}}</span></h4>
                                <p class="item-finance">{{item.phase}}<span></span>{{item.amount | findDefault : '未披露'}}</p>
                                <p class="item-investorStr">
                                    <span class="span-first">投资方：</span>
                                    <span class="span-second">{{item.investors | findDefault : '未披露'}}</span>
                                </p>
                                <p class="item-link" ng-if="item.link" ng-click="vm.link(item.ccid, item.link, $event)"><img src="/styles/images/find/link@2x.png"/><span>{{item.website | findDefault : '媒体报道'}}</span></p>
                                <div>联系创始人</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <footer ng-if="vm.busy && vm.responseData.length">加载更多...</footer>
        </div>
    </div>
    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png" >
        <span>抱歉，没有找到您要的内容</span>
    </div>

</div>
