<div class="finance-wrapper">
    <div ng-if="vm.responseData.length">
        <img class="img-fixed" src="/styles/images/find/filter@2x.png" ng-click="vm.filter($event)" />
        <div class="finance-content-wrapper">
            <div ng-repeat="itemData in vm.responseData">
                <div class="section-top">
                    <p>{{itemData.tsExpose}} 共 {{itemData.datas.length}} 条</p>
                </div>
                <ul>
                    <li kr-active="'active'" class="line-middle"
                        ng-repeat="item in itemData.datas track by $index"
                        ng-click="vm.link(item.ccid, item.link, $event)"
                    >
                        <div class="item-left" ng-click="vm.link(item.ccid, item.link, $event)">
                            <h4 ng-bind-html="item.structuredTitle | SimpleRender"></h4>
                            <p class="item-investor-str" ng-if="item.investors">
                                投资方：{{item.investors | findDefault : '未披露'}}
                            </p>
                            <p class="item-brief" ng-if="item.brief">
                                {{item.brief}}
                            </p>
                            <div class="item-extra-info">
                                <div class="item-industry-tag" ng-if="item.industry1&&item.industry1!='其它'">
                                    {{item.industry1}}
                                </div>
                                <div class="item-location-tag" ng-if="item.address">
                                    {{item.address}}
                                </div>
                                <div class="item-vertical-split"></div>
                                <div class="item-expose-date">
                                    {{item.structuredDate}}
                                </div>
                            </div>
                        </div>
                        <div class="item-right" ng-click="vm.openNativePage('/crmCompany/'+item.ccid+'?ktm_source=find.home.' + item.ccid)">
                            <div class="item-logo" ng-style="{backgroundImage: 'url(\'{{item.logo | image}}\')'}"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div scroll-load load-callback="vm.loadMore" boundary="100" ng-if="vm.hasInit && vm.responseData.length"></div>
            <div class="finance-list-load-more" ng-if="vm.hasInit && vm.responseData.length">
                <p>加载更多··· </p>
                <img src="/styles/images/loading.svg" alt="loading">
            </div>
        </div>
    </div>
    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png">
        <span>抱歉，没有找到您要的内容</span>
    </div>
</div>
