<div class="guide-wrapper">
    <div class="guide-content-wrapper">
        <div class="guide-content-h1">
            很遗憾，您还不是认证投资人
        </div>
        <div class="guide-content-h2">
            成为认证投资人可以获取以下关注热点
        </div>
        <!--<div class="project-concern">-->
            <!--<div>-->
                <!--<span class="num">1</span>-->
                <!--<span class="cont">项目近期关注度走势</span>-->
            <!--</div>-->
            <!--<img src="" alt="">-->
        <!--</div>-->
        <!--<div class="competing-products">-->
            <!--<div class="center">-->
                <!--<span class="num">2</span>-->
                <!--<span class="cont">相似竞品对比情况</span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div class="competing-products-item">-->
                    <!--<div class="competing-products-item-pic">-->
                        <!--<div style="background-image: url('https://krplus-pic.b0.upaiyun.com/avatar/201703/23114734/4chxz1sl9cwqe7h7.png');">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="competing-products-item-info">-->
                        <!--<div  class="item-info-title">豆瓣</div>-->
                        <!--<div class="item-info-bottom">-->
                            <!--<span class="item-info-bottom-num">搜索量2189</span>-->
                            <!--<span class="item-info-bottom-pic item-info-bottom-pic1"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="competing-products-item">-->
                    <!--<div class="competing-products-item-pic">-->
                        <!--<div style="background-image: url('https://krplus-pic.b0.upaiyun.com/avatar/201703/23114734/4chxz1sl9cwqe7h7.png');">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="competing-products-item-info">-->
                        <!--<div  class="item-info-title">简书</div>-->
                        <!--<div class="item-info-bottom">-->
                            <!--<span class="item-info-bottom-num">搜索量1940</span>-->
                            <!--<span class="item-info-bottom-pic item-info-bottom-pic2"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="competing-products-item" style="filter: blur(1px);">-->
                    <!--<div class="competing-products-item-pic">-->
                        <!--<div style="background-image: url('https://krplus-pic.b0.upaiyun.com/avatar/201703/23114734/4chxz1sl9cwqe7h7.png');">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="competing-products-item-info">-->
                        <!--<div  class="item-info-title">字里行间</div>-->
                        <!--<div class="item-info-bottom">-->
                            <!--<span class="item-info-bottom-num">搜索量1830</span>-->
                            <!--<span class="item-info-bottom-pic item-info-bottom-pic3"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="item-center">
            <img src="/styles/images/find/guideImg@2x.png" alt="">
        </div>
        <div class="btn">
            <img src="/styles/images/find/btn@2x.png" alt="">
        </div>
    </div>
</div>
