<div class="hot-focus-detail-wrapper">
    <div class="hot-focus-top-area">
        <div class="hot-focus-company-logo"></div>
        <h1 class="hot-focus-title">36氪搜索量增长30%</h1>
    </div>
    <p class="hot-focus-desc">
        近日，36氪的搜索量大增，在竞品中也表现良好。下面是截止到昨天36氪最近7天的搜索量走势图。
    </p>
    <div class="chart-1-area">
        <highchart id="chart-1" config="vm.chartConfig1"></highchart>
    </div>
    <div class="chart-2-area">
        <highchart id="chart-2" config="vm.chartConfig2"></highchart>
    </div>
</div>
