<div class="hot-focus-wrapper">
    <ul class="hot-focus-filter top-filter">
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'SEARCH'}"
            ng-click="vm.goToSee({eventEnum: 'SEARCH'})"
        >
            搜索
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'FOCUS'}"
            ng-click="vm.goToSee({eventEnum: 'FOCUS'})"
        >
            关注
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'TALK'}"
            ng-click="vm.goToSee({eventEnum: 'TALK'})"
        >
            约谈
        </li>
    </ul>
    <ul class="hot-focus-filter bottom-filter">
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'DAY'}"
            ng-click="vm.goToSee({intervalEnum: 'DAY'})"
        >
            <span>昨天</span>
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'WEEK'}"
            ng-click="vm.goToSee({intervalEnum: 'WEEK'})"
        >
            <span>一周</span>
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'MONTH'}"
            ng-click="vm.goToSee({intervalEnum: 'MONTH'})"
        >
            <span>一月</span>
        </li>
    </ul>
    <div class="hot-focus-list" ng-if="!loadingInst.hotFocus && vm.focusList.length">
        <div class="hot-focus-list-item" ng-repeat="item in vm.focusList" ng-click="vm.goToDetail(item.cid)">
            <div class="item-left">
                <div class="item-title">
                    [{{item.name}}]Google近一周搜索量增长22%
                </div>
                <div class="item-desc">
                    {{item.brief}}
                </div>
            </div>
            <div class="item-right" ng-style="{'background-image': 'url({{item.logo | image}})'}">

            </div>
        </div>
    </div>
    <div class="hot-focus-list-empty" ng-if="!loadingInst.hotFocus && !vm.focusList.length">
    </div>
</div>
<div class="hot-focus-loading" loading="hotFocus"></div>
