<div class="hot-focus-detail-wrapper" ng-if="!loadingInst.hotFocusDetailLoading">
    <div class="hot-focus-top-area" ng-click="vm.openNativePage('crmCompany/' + vm.detailData.cid + '?ktm_source=find.focusDetail.' + vm.detailData.cid, vm.detailData.cid)">
        <div class="hot-focus-company-logo" ng-class="{nopic: !vm.detailData.logo}"
             ng-style="!vm.detailData.logo ? {'background-color':'{{vm.detailData.cid | demoDefaultColor}}'} : {'background-image': 'url({{vm.detailData.logo | image:120}})'}">
            {{!vm.detailData.logo ? (vm.detailData.name | demoNameDufault2) : ''}}
        </div>
        <h1 class="hot-focus-title">{{vm.detailData.name + vm.params.title}}</h1>
    </div>
    <h2 class="chart-1-title">走势情况</h2>
    <div class="chart-1-area" ng-if="vm.detailData">
        <highchart id="chart-1" config="vm.chartConfig1"></highchart>
    </div>
    <div class="chart-2-title" ng-if="vm.detailData.companyCompetitors.length">
        <div class="title-split"></div>
        <h2 ng-if="vm.params.intervalEnum === 'DAY'">近七天竞品{{vm.event}}情况</h2>
        <h2 ng-if="vm.params.intervalEnum === 'WEEK'">近六周竞品{{vm.event}}情况</h2>
        <h2 ng-if="vm.params.intervalEnum === 'MONTH'">近半年竞品{{vm.event}}情况</h2>
        <div class="title-split"></div>
    </div>
    <div class="chart-2-area" ng-if="vm.detailData.companyCompetitors.length">
        <ul class="company-competitors">
            <li
                ng-repeat="(index, item) in vm.detailData.companyCompetitors"
                ng-click="vm.openNativePage('crmCompany/' + item.cid + '?ktm_source=find.focusDetail.' + item.cid, item.cid)"
            >
                <div class="company-logo" ng-class="{nopic: !item.logo}"
                     ng-style="!item.logo ? {'background-color':'{{item.cid | demoDefaultColor}}'} : {'background-image': 'url({{item.logo | image:120}})'}">
                    {{!item.logo ? (item.name | demoNameDufault2) : ''}}
                </div>
                <h2 class="company-name">{{item.name}}</h2>
            </li>
        </ul>
        <div class="company-competitors-chart">
            <div class="chart-left">
                <div class="company-data"
                    ng-repeat="item in vm.detailData.companyCompetitors"
                    ng-click="vm.openNativePage('crmCompany/' + item.cid + '?ktm_source=find.focusDetail.' + item.cid, item.cid)"
                >{{vm.event}}量：{{item.sum}}</div>
            </div>
            <div class="chart-right">
                <div class="company-bar-area"
                    ng-repeat="item in vm.detailData.companyCompetitors"
                    ng-click="vm.openNativePage('crmCompany/' + item.cid + '?ktm_source=find.focusDetail.' + item.cid, item.cid)"
                >
                    <div class="company-bar" style="width: {{item.percent}}%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hot-focus-detail-loading" loading="hotFocusDetailLoading"></div>
