<div class="hot-focus-wrapper">
    <ul class="hot-focus-filter top-filter">
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'SEARCH'}"
            ng-click="vm.selectTrack('ClickHotspot', {eventEnum: 'SEARCH'})"
        >
            搜索
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'FOCUS'}"
            ng-click="vm.selectTrack('ClickHotspot', {eventEnum: 'FOCUS'})"
        >
            收藏
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.eventEnum === 'TALK'}"
            ng-click="vm.selectTrack('ClickHotspot', {eventEnum: 'TALK'})"
        >
            约谈
        </li>
    </ul>
    <ul class="hot-focus-filter bottom-filter">
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'DAY'}"
            ng-click="vm.selectTrack('ClickHotspot', {intervalEnum: 'DAY'})"
        >
            <span>按天</span>
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'WEEK'}"
            ng-click="vm.selectTrack('ClickHotspot', {intervalEnum: 'WEEK'})"
        >
            <span>按周</span>
        </li>
        <li class="filter-item"
            ng-class="{'active': vm.params.intervalEnum === 'MONTH'}"
            ng-click="vm.selectTrack('ClickHotspot', {intervalEnum: 'MONTH'})"
        >
            <span>按月</span>
        </li>
    </ul>
    <div class="hot-focus-list" ng-if="!loadingInst.hotFocus && vm.focusList.length">
        <div class="hot-focus-list-item"
            ng-repeat="(index, item) in vm.focusList"
        >
            <div class="item-left"
                ng-click="vm.trendTrack('ClickHotspot', { target: 'trend', hotspot_id: item.cid, company_id: item.cid, hotspot_index: $index }, item)"
            >
                <div class="item-title">
                    [<span>{{item.name}}</span>] {{item.structuredTitle}}
                </div>
                <div class="item-desc">
                    {{item.brief}}
                </div>
                <div class="item-industry" ng-show="item.industryStr">
                    <span class="item-industry-title">{{item.industryStr}}</span>
                    <!--<span class="item-industry-cont">{{item.industryStr}}</span>-->
                </div>
            </div>
            <div class="item-right" ng-class="{nopic: !item.logo}"
                ng-style="!item.logo ? {'background-color': '{{item.cid | demoDefaultColor}}'} : {'background-image': 'url({{item.logo | image:120}})'}"
                ng-click="vm.openNativePage('crmCompany/' + item.cid + '?ktm_source=find.focusList.' + item.cid)"
            >{{!item.logo ? (item.name | demoNameDufault2) : ''}}</div>
        </div>
    </div>
    <div class="hot-focus-list-nomore" ng-if="!loadingInst.hotFocus && vm.focusList.length">
        <p>全部内容加载完毕</p>
    </div>
    <div class="hot-focus-list-empty" ng-if="!loadingInst.hotFocus && !vm.focusList.length">
        <img src="/styles/images/find/empty.png" alt="数据为空">
        <p>暂无相关数据</p>
    </div>
</div>
<div class="hot-focus-loading" loading="hotFocus"></div>
