<div  class="roadShow-wrapper hotSpot-wrapper">
    <loading ng-init="loadingInst.openApp=false"  loading="openApp"></loading>
    <div ng-if="vm.responseData.length">
        <section  class="roadShow-content-wrapper hotSpot-content-wrapper" scroll callback="vm.scrollCallback(args)">
            <ul infinite-scroll='vm.loadData()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
                <li ontouchstart="" kr-active="'active'" id="{{item.time}}"
                    ng-repeat="item in vm.responseData track
                    by $index">
                    <div class="roadShow-content-href" href="javascript:" tou-open path="'projectsSet/'+ item.id + '?from=hot'">
                        <div class="base-info-wrapper">
                            <img ng-src="{{item.imgUrl | image}}" alt="">
                        </div>
                        <div class="base-info-detail">
                            <h3>{{item.name}}</h3>
                            <div class="item-middle">
                                <p ng-bind="item.fetchCode | delHtmlTag"></p>
                                <span class="item-more" ng-click="vm.more(item, $event)">更多</span>
                            </div>
                            <div class="item-bottom">
                                <span class="item-time">{{item.proCount}}个项目</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.page">加载更多...</footer>
            <footer ng-if="vm.finish">全部内容加载完毕</footer>
        </section>
    </div>

    <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data">
        <img src="/styles/images/find/search@2x.png" >
        <span>抱歉，没有找到您要的内容</span>
    </div>
</div>
