<div  class="find-wrapper">
    <div class="intro">
        <div ng-if="vm.slides.length" kr-swiper slides="vm.slides" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="item in vm.slides">
                    <a href="javascript:" ng-show="item.action === 'web'" ng-click="vm.openUrl(item.location)">
                        <img ng-src="{{item.imgUrl}}"/>
                    </a>
                    <a href="javascript:"  ng-show="item.action === 'native'" ng-click="vm.openNativePage('/'+item.location)">
                        <img ng-src="{{item.imgUrl}}"/>
                    </a>
                </div>
            </div>
        <span class="swiper-indicator">
            <span ng-repeat="item in vm.slides" ng-class="{active:(vm.slides.active - 1 == $index)}"></span>
        </span>
        </div>
    </div>
    <div class="section-one">
        <div class="line-one">
            <img src="/styles/images/find/collection@2x.png"/>
            <span>路演日历</span>
        </div>
        <div class="line-one">
            <img src="/styles/images/find/financing@2x.png"/>
            <span>投资热点</span>
        </div>
        <div class="line-one">
            <img src="/styles/images/find/activity@2x.png"/>
            <span>每日报道</span>
        </div>
    </div>
    <div class="section-two">
        <div class="line-top">
            <img src="/styles/images/find/collection@2x.png"/>
            <span>项目集</span>
        </div>
        <div class="line-middle" ng-repeat="item in vm.responseData">
            <h4>{{item.name}}<span ng-repeat="innerItem in item.item" ng-style="{'background-color':innerItem.color}">{{innerItem.name}}</span></h4>
            <p class="item-finance">{{item.finance}}</p>
            <p class="item-investorStr">投资方：{{item.investorStr}}</p>
            <div>联系创始人</div>
        </div>
        <p class="line-bottom">查看全部</p>
    </div>

</div>
