<!-- 行业报告 -->
<div>
  <div class="block-part-div">
    <form ng-submit="vm.doSearch($event)">
      <img width="16px" src="/styles/images/find/SearchReport@2x.png" alt="">
      <input class="block-part-search" type="search" ng-model="vm.keyword" placeholder="搜索行研报告（根据标签、来源、标题搜索）"/>
      <div ng-click="vm.doSearch($event)" class="search-btn">搜索</div>
    </form>
  </div>
  <div id="block-part-con" class="block-part-con" infinite-scroll='vm.loadMore()' infinite-scroll-disabled='0' infinite-scroll-distance='0'>
      <loading loading="industryReportListLoading"></loading>
      <div class="block-part-report" ng-repeat="(i,cell) in vm.reportList" ng-click="vm.reportLink(cell, $event)" ng-if="vm.reportList.length">
        <loading loading="industryReportListLoading"></loading>
        <div>
          <span class="float-left block-part-report-title">
            {{cell.title}}
          </span>
          <span class="float-right block-part-report-time">
            {{cell.publishTime}}
          </span>
          <div class="report-clear"></div>
          <span class="float-left block-part-report-title">
              <span class="block-part-report-tag"  ng-repeat="tag in cell.tags">
                {{tag}}
              </span>
          </span>
          <span class="float-right block-part-report-webs" ng-show="cell.tags.length">
            {{cell.website}}
          </span>
          <div class="report-clear"></div>
        </div>
      </div>
      <div class="section-part-empty" ng-if="!vm.reportList.length && !vm.endLoading">
          <!-- <img src="images/find/empty.png" alt="数据为空"> -->
          <p>暂无相关数据</p>
      </div>
      <div class="load-more" ng-if="vm.reportList.length && vm.busy && vm.endLoading">
          <p>加载更多··· </p>
      </div>
      <div class="load-more" ng-if="!vm.dataItemLength && vm.reportList.length">
          <p>全部数据加载完毕</p>
      </div>
  </div>
</div>
