<div class="nativeAlert_pop">
    <h4>{{vm.item.name}}</h4>
    <div class="pop-time" ng-if="vm.item.startAt">
        <span>{{vm.item.startAt | dateRoadShow}}</span>
        <span ng-if="vm.item.endAt">-{{vm.item.endAt | dateRoadShow}}</span>
    </div>
    <p class="pop-content" ng-bind-html="vm.item.fetchCode"></p>
    <a class="pop-open"
       href="https://36kr.com/app/tou?companysetlist={{vm.item.id}}&ktm_source=find.more.{{vm.item.id}}"
       tou-open path="'projectsSet/'+ vm.item.id + '?ktm_source=' + vm.ktm_source" ng-click="vm.cancel()">
        立即查看项目({{vm.item.proCount}})
    </a>
    <img class="pop-close" src="/styles/images/find/close@2x.png" ng-click="vm.cancel()"/>
</div>
