<div class="find-news-detail">
    <h1 class="find-news-title">{{vm.news.data.title}}</h1>
    <div class="find-news-info source-margin">
        <span class="find-news-info-source">
            <a href="{{vm.news.data.link}}" target="_blank">{{vm.news.data.source}}</a>
        </span>
        <span class="find-news-info-time">{{vm.news.data.ts}}</span>
    </div>
    <div class="find-news-info" ng-show="vm.news.investors">
        <div class="find-news-info-invest">
            <span class="find-news-info-icon"></span>
            投资方
        </div>
        <div class="find-news-info-invest-con">
            {{vm.news.investors}}
        </div>
    </div>
    <div class="find-news-info" ng-show="vm.news.amount || vm.news.phase">
        <div class="find-news-info-invest">
            <span class="find-news-info-icon"></span>
            融资明细
        </div>
        <div class="find-news-info-invest-con">
            {{vm.news.amount}}
            <span ng-show="vm.news.amount && vm.news.phase">·</span>
            {{vm.news.phase}}
        </div>
    </div>
    <div class="find-news-info-line"></div>
    <div class="find-news-content" dynamic-html="vm.news.data.content"></div>
    <loading loading="newsDetailLoading"></loading>
</div>
