<div class="project-album">
    <div ui-view></div>
    <ul class="project-album-bottom-bar">
        <li class="project-album-bottom-bar-item item-calendar">
            <img src="/styles/images/find/calendar.png" alt="路演日历">
            <div>路演日历</div>
        </li>
        <li class="project-album-bottom-bar-item item-rong">
            <img src="/styles/images/find/rong.png" alt="机构在融">
            <div>机构在融</div>
        </li>
        <li class="project-album-bottom-bar-item item-hunting">
            <img src="/styles/images/find/hunting.png" alt="HUNTING+">
            <div>HUNTING+</div>
        </li>
        <li class="project-album-bottom-bar-item item-timer">
            <img src="/styles/images/find/timer.png" alt="限时首发">
            <div>限时首发</div>
        </li>
    </ul>
</div>
