<div class="project-album-normal">
    <div class="project-album-list">
        <!---内容区---->
        <section  class="roadShow-tab-wrapper"
                  callback="vm.scrollCallback(args)">
            <ul infinite-scroll='vm.loadData()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='0'>
                <li ontouchstart="" kr-active="'active'" id="{{item.time}}"
                    ng-repeat="item in vm.responseData track
                  by $index">
                    <a class="box"
                        href="https://36kr.com/app/tou?companysetlist={{item.id}}&ktm_source=find.hotSpot.{{item.id}}"
                        tou-open path="'projectsSet/'+ item.id + '?ktm_source=hot'">
                        <div class="pro-pic">
                            <div class="pro-num" ng-style="{'background-image':'url({{item.headPic | image}})'}">
                                <span class="item-num">{{item.proCount}}个项目</span>
                            </div>
                        </div>
                        <div class="pro-info">
                            <div  class="pro-title" ng-if="item.name">{{item.name}}</div>
                            <p ng-bind="item.fetchCode | delHtmlTag"></p>
                            <!--<div class="item-more" ng-click="vm.more(item, $event)">更多</div>-->
                        </div>
                    </a>
                </li>
            </ul>
            <footer ng-if="vm.busy && !vm.finish &&  vm.page">
                    加载更多...
                <img src="/styles/images/loading.svg" alt="loading">
            </footer>
            <footer ng-if="vm.responseData.length&&vm.finish">全部内容加载完毕</footer>
        </section>

        <div ng-if="!vm.responseData.length&& vm.hasInit" class="find-no-data">
            <img src="/styles/images/find/search@2x.png" >
            <span>抱歉，没有找到您要的内容</span>
        </div>
    </div>
    <div loading="findLoading"></div>
</div>
<div ng-include="'templates/find/projectAlbumBottomBar.html'"></div>
