<div style="overflow: hidden;height: 100%">
    <div style="height: 100%;overflow: hidden"
         perfect-scrollbar
         wheel-propagation="true"
         wheel-speed="1"
         id="contentScroll">
        <div  class="roadShow-wrapper">
            <img class="img-fixed" src="/styles/images/find/seeNewest@2x.png" ng-click="vm.backTop()"/>
            <div class="null_today">今日没有路演活动</div>
            <div class="roadShow-intro" swiper-origin slides="vm.originDateArray" class="swiper-container"
                 change-End-Call-Back="vm.onTransitionEnd" change-Start-Call-Back="vm.onTransitionStart">
                <div class="roadShow-intro-inner swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="i in vm.originDateArray track by $index">
                        <ul class="sidebar">
                            <li>日</li>
                            <li>一</li>
                            <li>二</li>
                            <li>三</li>
                            <li>四</li>
                            <li>五</li>
                            <li>六</li>
                        </ul>
                        <div class="date-content">
                            <a ng-repeat="item in vm.originDateArray[$index]" scroll-index="$index" kr-scroll-click
                               du-smooth-scroll="date{{item.year}}{{item.month}}{{item.day}}"
                               du-scrollspy
                               offset="91" du-scroll-container="contentScroll"
                               ng-class="{today:(item.today == true), active:item.active}"
                               ng-click="vm.noDataClick(item)">
                                <div class="item-active">
                                    <p class="item-day">{{item.dayInt}}</p>
                                    <p class="item-month" ng-bind="item.month | month"></p>
                                </div>
                                <div class="item-notActive">{{item.dayInt}}</div>
                                <ul ng-if="item.num">
                                    <!--<li ng-repeat="innerItem in item.num track by $index"></li>-->
                                    <li ng-if="item.num"></li>
                                </ul>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="arrowLeft" ng-click="vm.arrow('left')">
                    <img src="/styles/images/find/arrowLeft@2x.png"/>
                </div>
                <div class="arrowRight" ng-click="vm.arrow('right')">
                    <img src="/styles/images/find/arrowRight@2x.png"/>
                </div>
            </div>
            <div ng-if="vm.responseData.length">
                <section  class="roadShow-content-wrapper">
                <ul infinite-scroll='vm.loadMore()'
                    infinite-scroll-disabled='vm.busy'
                    infinite-scroll-distance='0.1'
                    infinite-scroll-container="'#contentScroll'"
                    infinite-scrollUse-document-bottom="false">
                    <li ontouchstart="" kr-active="'active'" id="{{item.startAt | dateRoadShowID}}"
                        ng-repeat="item in vm.responseData track
                            by $index">
                        <a class="roadShow-content-href"
                           href="https://36kr.com/app/tou?companysetlist={{item.id}}&ktm_source=find.roadShow.{{item.id}}"
                           tou-open path="'projectsSet/'+ item.id + '?ktm_source=calendar'">
                            <div class="base-info-wrapper">
                                <img ng-src="{{item.headPic | image}}" alt="">
                            </div>
                            <div class="base-info-detail">
                                <h3>{{item.name}}</h3>
                                <div class="item-middle">
                                    <p ng-bind="item.fetchCode | delHtmlTag"></p>
                                    <span class="item-more" ng-click="vm.more(item, $event)">更多</span>
                                </div>
                               <div class="item-bottom">
                                   <span class="item-time">{{item.startAt | dateRoadShow}}</span>
                                   <span class="item-time" ng-if="item.endAt && item.endAt !== item.startAt">-{{item.endAt | dateRoadShow}}</span>
                                   <span class="item-num">{{item.proCount}}个项目</span>
                               </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <footer ng-if="!vm.busy && vm.hasMore">
                    <p>加载更多··· </p>
                    <svg width='16px' height='16px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
                        class="uil-default">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(0 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(30 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(60 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(90 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(120 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(150 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(180 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(210 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(240 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(270 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(300 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite' />
                        </rect>
                        <rect x='46' y='40' width='8' height='20' rx='5' ry='5' fill='#939396' transform='rotate(330 50 50) translate(0 -40)'>
                        <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite' />
                        </rect>
                    </svg>
                </footer>
                <footer ng-if="!vm.hasMore">全部内容加载完毕</footer>
            </section>
            </div>

            <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data find-no-data-roadShow">
                <img src="/styles/images/find/search@2x.png" >
                <span>抱歉，没有找到您要的内容</span>
            </div>
        </div>
    </div>
</div>
