<div style="overflow: hidden;height: 100%">
    <div style="height: 100%;overflow: hidden"
         perfect-scrollbar
         wheel-propagation="true"
         wheel-speed="1"
         id="contentScroll">
        <div  class="roadShow-wrapper">
            <!--<img class="img-fixed" src="/styles/images/find/seeNewest@2x.png" ng-click="vm.backTop()"/>-->
            <div class="null_today">今日没有路演活动</div>
            <div class="roadShow-intro" swiper-origin slides="vm.originDateArray" class="swiper-container"
                 change-End-Call-Back="vm.onTransitionEnd" change-Start-Call-Back="vm.onTransitionStart">
                <div class="roadShow-intro-inner swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="i in vm.originDateArray track by $index">
                        <ul class="sidebar">
                            <li>日</li>
                            <li>一</li>
                            <li>二</li>
                            <li>三</li>
                            <li>四</li>
                            <li>五</li>
                            <li>六</li>
                        </ul>
                        <div class="date-content">
                            <a ng-repeat="item in vm.originDateArray[$index]" scroll-index="$index" kr-scroll-click
                               du-smooth-scroll="date{{item.year}}{{item.month}}{{item.day}}"
                               du-scrollspy
                               offset="91" du-scroll-container="contentScroll"
                               ng-class="{today:(item.today == true), active:item.active}"
                               ng-click="vm.noDataClick(item)">
                                <div class="item-active">
                                    <p class="item-day">{{item.dayInt}}</p>
                                    <p class="item-month" ng-bind="item.month | month"></p>
                                </div>
                                <div class="item-notActive">{{item.dayInt}}</div>
                                <ul ng-if="item.num">
                                    <!--<li ng-repeat="innerItem in item.num track by $index"></li>-->
                                    <li ng-if="item.num"></li>
                                </ul>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="arrowLeft" ng-click="vm.arrow('left')">
                    <img src="/styles/images/find/arrowLeft@2x.png"/>
                </div>
                <div class="arrowRight" ng-click="vm.arrow('right')">
                    <img src="/styles/images/find/arrowRight@2x.png"/>
                </div>
            </div>
            <div ng-if="vm.responseData.length">
                <section  class="roadShow-content-wrapper">

                <ul infinite-scroll='vm.loadMore()'
                    infinite-scroll-disabled='vm.busy'
                    infinite-scroll-distance='0.1'
                    infinite-scroll-container="'#contentScroll'"
                    infinite-scrollUse-document-bottom="false">
                    <li ontouchstart="" kr-active="'active'" id="{{item.startAt | dateRoadShowID}}"
                        ng-repeat="item in vm.responseData track
                            by $index">
                        <!--<a class="roadShow-content-href"
                           href="https://36kr.com/app/tou?companysetlist={{item.id}}&ktm_source=find.roadShow.{{item.id}}"
                           tou-open path="'projectsSet/'+ item.id + '?ktm_source=calendar'">-->
                        <a href="javascript:void(0);" ui-sref="demos({id: item.id})" class="roadShow-content-href">
                            <div class="pro-pic">
                                <div class="pro-num" ng-style="{'background-image':'url({{item.headPic | image:200}})'}">
                                    <span class="item-num">{{item.proCount}}个项目</span>
                                </div>
                            </div>
                            <div class="pro-info">
                                <div  class="pro-title" ng-if="item.name">{{item.name}}</div>
                                <p ng-bind="item.fetchCode | delHtmlTag"></p>
                                <div class="item-bottom">
                                    <span class="item-time">{{item.startAt | dateRoadShow}}</span>
                                    <span class="item-time" ng-if="item.endAt && item.endAt !== item.startAt">-{{item.endAt | dateRoadShow}}</span>
                                </div>
                                <!--<div class="item-more" ng-click="vm.more(item, $event)">更多</div>-->
                            </div>
                        </a>
                    </li>
                </ul>

                <!--<ul infinite-scroll='vm.loadMore()'-->
                    <!--infinite-scroll-disabled='vm.busy'-->
                    <!--infinite-scroll-distance='0.1'-->
                    <!--infinite-scroll-container="'#contentScroll'"-->
                    <!--infinite-scrollUse-document-bottom="false">-->
                    <!--<li ontouchstart="" kr-active="'active'" id="{{item.startAt | dateRoadShowID}}"-->
                        <!--ng-repeat="item in vm.responseData track-->
                            <!--by $index">-->
                        <!--<a class="roadShow-content-href"-->
                           <!--href="https://36kr.com/app/tou?companysetlist={{item.id}}&ktm_source=find.roadShow.{{item.id}}"-->
                           <!--tou-open path="'projectsSet/'+ item.id + '?ktm_source=calendar'">-->
                            <!--<div class="base-info-wrapper">-->
                                <!--<img ng-src="{{item.headPic | image}}" alt="">-->
                                <!--<span class="item-num">{{item.proCount}}个项目</span>-->
                            <!--</div>-->
                            <!--<div class="base-info-detail">-->
                                <!--<h3>{{item.name}}</h3>-->
                                <!--<div class="item-middle">-->
                                    <!--<p ng-bind="item.fetchCode | delHtmlTag"></p>-->
                                    <!--&lt;!&ndash;<span class="item-more" ng-click="vm.more(item, $event)">更多</span>&ndash;&gt;-->
                                <!--</div>-->
                               <!--<div class="item-bottom">-->
                                   <!--<span class="item-time">{{item.startAt | dateRoadShow}}</span>-->
                                   <!--<span class="item-time" ng-if="item.endAt && item.endAt !== item.startAt">-{{item.endAt | dateRoadShow}}</span>-->
                               <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <footer ng-if="!vm.busy && vm.hasMore">
                    <p>加载更多··· </p>
                    <img src="/styles/images/loading.svg" alt="loading">
                </footer>
                <footer ng-if="!vm.hasMore">全部内容加载完毕</footer>
            </section>
            </div>

            <div ng-if="!vm.responseData.length && vm.hasInit" class="find-no-data find-no-data-roadShow">
                <img src="/styles/images/find/search@2x.png" >
                <span>抱歉，没有找到您要的内容</span>
            </div>

            <div loading="roadShowLoading"></div>
        </div>
    </div>
</div>

<div ng-include="'templates/find/projectAlbumBottomBar.html'"></div>
