<div  class="share-wrapper">
    <loading ng-init="loadingInst.openApp=false"  loading="openApp"></loading>
    <div  class="share-header-wrapper">
        <div class="section-top">
            <p ng-if="vm.type === 'HOTSPOT'">发现投资热点，为你推荐同标签下优质项目</p>
            <p ng-if="vm.type === 'CALENDAR'">足不出户，一览创投圈最热门路演</p>
            <p>下载36氪创投助手，查看{{vm.proSetCount}}个项目，一键约谈</p>
        </div>
        <!--<p class="section-content" ng-bind-html="vm.responseColumn.fetchCode"></p>-->
        <div class="header-info" ng-if="vm.responseColumn.fetchCode">
            <text-line-clamp line-clamp='8' text="vm.responseColumn.fetchCode">
                <div class="text-container">
                    <div class="text-content"></div>
                </div>
                <a class="text-toggle" href="javascript:void(0)" >展开</a>
            </text-line-clamp>
        </div>
    </div>
    <div  class="share-content-wrapper" ng-if="vm.responseDetail.length">
        <div class="section-top">
            <img src="/styles/images/find/recommend@2x.png"/>
            <span>推荐项目</span>
        </div>
        <ul >
            <li ontouchstart="" kr-active="'active'" ng-repeat="item in vm.responseDetail track by $index">
                <a class="projectList-content-href"
                   href="http://36kr.com/company/{{item.rcid}}?ktm_source=find.share.{{vm.id}}.{{item.rcid}}">
                    <div class="base-info-detail">
                        <div  class="logo-wrapper">
                            <img ng-src="{{item.logo | image}}" alt="">
                            <span ng-if="item.funding === 2">正在融资</span>
                        </div>
                        <div class="content-wrapper">
                            <h3>{{item.name}}<span class="item-signs" ng-repeat="innerItem in item.signs" ng-style="{'background-color':innerItem.color}">{{innerItem.name}}</span><span class="item-pubdate">{{item.pubdate}}</span></h3>
                            <p class="item-brief">{{item.brief}}</p>
                            <p class="item-industry" ng-if="item.industry1"><span class="span-first">行业</span><span class="span-second">{{item.industry1}}</span></p>
                            <p class="item-advantage" ng-if="item.advantage"><span class="span-first">亮点</span><span class="span-second">{{item.advantage}}</span></p>
                        </div>

                    </div>
                </a>
                <span class="li-line" style=""></span>
            </li>
        </ul>
    </div>
    <a ng-if="vm.responseDetail.length" class="footer" href="http://36kr.com/app/tou?companysetlist={{vm.id}}?ktm_source=find.share.{{vm.id}}">打开App查看全部项目({{vm.totalCount}})</a>
</div>
