<div class="startup">
    <div class="section-intro">
        <div class="time"></div>
        <div class="logo"></div>
        <div class="desc">
            <em>56</em> 家创业服务商 <em>10</em> 项创业福利 <em>“抢”</em> 不停！
        </div>
        <a class="remind-btn" href="javascript:void(0);" ng-click="startRemind();" login-btn>开抢提醒</a>
        <a class="rules" href="javascript:void(0);">活动规则</a>
    </div>

    <div class="sections">
        <div class="section-1">

        </div>

        <div class="section-2">

        </div>

        <div class="section-3">

        </div>

        <div class="section-4">
            
        </div>
    </div>
</div>
