<div class="startup">
    <div class="section-intro">
        <div class="time"></div>
        <div class="logo"></div>
        <div class="desc">
            <em>56</em> 家创业服务商 <em>10</em> 项创业福利 <em>“抢”</em> 不停！
        </div>
        <a class="remind-btn" href="javascript:void(0);" ng-click="startRemind();" login-btn>开抢提醒</a>
        <a class="rules" href="javascript:void(0);" ng-click="seeRules();">活动规则</a>
    </div>

    <div class="sections">
        <div class="section-{{ $index + 1 }}" ng-repeat="data in listData | orderBy: id">
            <div class="section-header">
                <span class="line"></span>
                <h4 class="title">{{ data.title }}</h4>
                <span class="line"></span>
            </div>
            <div class="section-item" ng-repeat="item in data.list" ng-class="{ during: status == 'during' }">
                <div class="item-left">
                    <div class="logo">
                        <img src="{{ item.img }}" alt="{{ item.title }}"/>
                    </div>
                    <div class="banner"></div>
                </div>
                <div class="item-right">
                    <div class="item-title">{{ item.title }}</div>
                    <div class="item-des">{{ item.desc }}</div>
                    <div class="item-opt">
                        <a href="javascript:void(0);" class="btn opt-btn">立即抢</a>
                        <span>剩余888份</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
