<h5 class="rules-title text-center">活动规则</h5>

<p class="sub-title">活动流程：</p>
<p>1、登录并创建公司 2、抢购服务兑换码 3、记录兑换码 4、等待服务商联络，完成线下购买</p>

<p class="sub-title">活动说明：</p>
<p>1、活动将于8.20日上午10:00正式开抢，8.25日下午17:00结束。</p>
<p>2、参与用户必须是36氪融资平台公司管理员。<a href="{{ createUrl }}">创建公司，成为管理员>></a></p>
<p>3、每个服务专区提供的福利只能领取一次，每项创业福利只能领取一次，每个用户最多领取三项创业福利。</p>
<p>4、兑换码是兑换创业福利的唯一凭证，每项创业福利兑换使用截止日期为2015年10月31日。</p>
<p>5、参与活动中遇到任何问题可关注36氪融资微信公众号：rong-36kr 留言咨询。</p>

<a href="javascript:void(0);" class="close-btn" ng-click="close();">知道了</a>


