<div  class="activityIndex-wrapper">
    <img class="logo" src="/styles/images/activity/panda.jpg"/>
    <div class="section-content">
      <div class="section-one">
          <h3>【投资一瓶酒的时间】</h3>
          <p>「我们的项目有什么问题？</p>
          <p>&nbsp;&nbsp;&nbsp;指点下我们吧！</p>
          <p>&nbsp;&nbsp;&nbsp;你会投我们吗？</p>
          <p>&nbsp;&nbsp;&nbsp;你们不懂！</p>
          <p>&nbsp;&nbsp;&nbsp;你创过业吗？</p>
          <p>&nbsp;&nbsp;&nbsp;签个保密协议吧！</p>
          <p>&nbsp;&nbsp; ……」</p>
            <p>
              <span>在 2016 年里大家投资了多少时间在解答这些问题上？是否有些烦累？36氪创投助手携手熊猫精酿为投资人送上 2017 年的第一瓶酒，简简单单投资一瓶酒的时间，享受精酿带来的短暂微醺。</span>
            </p>
            <p>
              <span>我们为大家带来了 50 套熊猫精酿新年礼盒，请大家点击下方「立即参加」按钮进行免费领取，送完即止，我们将在 2017 年 1 月 4 日通过短信和邮件与您取得联系。</span>
            </p>
        </div>
        <div class="section-one">
            <h3>【我们这一年】</h3>
            <p>
              <span>36氪创投助手 App 自 2016 年 3 月 17 日上线以来，平均每周产生约谈 4500 次，七成项目获得顶级 VC 约谈，其中更有 90% 优选项目获得投资。平台入驻的投资人超过了 4000 人，每个投资人平均约谈项目也有 31 个。这一个个数字离不开每一位投资人的支持。在 2017 年里，36氪创投助手的初心不变，始终为创业者和投资人提供最好的融资对接服务，成为中国最大的融资平台。</span>
            </p>
        </div>
        <div class="section-one">
            <h3>【关于熊猫精酿】</h3>
            <p>
              <span>熊猫精酿是国内精酿啤酒的先锋品牌。2013 年，由潘丁浩与夏语林两位资深精酿啤酒发烧友创立， 现如今产品已经覆盖全国 50 多个城市，并达到 1000 吨的年销量。自成立之日起至今始终坚持  “先锋、多元、匠心、独立”的品牌文化与精神。</span>
            </p>
            <p>
             <span>古来贤达士，饮酒不复疑。谁说约谈创业者只能在咖啡馆？在 2017 年，欢迎更多投资人到熊猫精酿约谈创业者。</span>
            </p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即参加</div>
</div>
