<div  class="activityIndex-wrapper  ideaBank-wrapper">
    <img class="logo" src="/styles/images/activity/krspace/ideaBank.jpg"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>赛石杯第三届IdeaBank全国泛大学生创业大赛，由浙江大学未来企业家俱乐部主办，同济大学创业者协会、浙江大学研究生会与36氪创投助手联合主办。本届大赛首创创业比赛+品牌推广的一站式孵化模式，邀请社会知名企业家指导，旨在激发全国泛大学生创新创业思维，助力优秀创业项目在短时间内完成蜕变。</p>
            <p>本页面为该活动投资人报名唯一入口，报名通过的投资人不仅可以第一时间接触到这些未曝光的大学生创业项目，还能成为导师，与大学生创业团队一起做一件非常有趣的事情。也许下一头独角兽就在其中</p>
        </div>
        <div class="section-one">
            <h3>报名时间</h3>
            <p>2016年11月25日-12月12日</p>
        </div>
        <div class="section-one">
            <h3>赛事日程</h3>

            <div class="section-title">
                <span>初筛</span>
            </div>
            <div class="section-line">
                <span class="section-time">时间：</span>
                <span class="section-info">2016年12月13日-2016年12月15日</span>
            </div>
            <div class="section-line">
                <span class="section-time">形式：</span>
                <span class="section-info">在专业顾问团指导下筛选出24个优秀项目。专家顾问团拟邀请资深导师与创投从业人员组成。</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
            </div>

            <div class="section-title">
                <span>预赛</span>
            </div>
            <div class="section-line">
                <span class="section-time">时间：</span>
                <span class="section-info">2016年12月17日（周六）</span>
            </div>
            <div class="section-line">
                <span class="section-time">形式：</span>
                <span class="section-info">24支入选队伍依据组别，萌芽组进行60s电梯演讲，成长组进行5min展示，由梦想导师全程指点，决出8强队伍。</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
            </div>

            <div class="section-title">
                <span>决赛</span>
            </div>
            <div class="section-line">
                <span class="section-time">时间：</span>
                <span class="section-info">2016年12月18日（周日）</span>
            </div>
            <div class="section-line">
                <span class="section-time">形式：</span>
                <span class="section-info">8支入选队伍依据组别，萌芽组进行5min展示，成长组进行8min展示，然后最后由大咖嘉宾现场打分，进行奖项评定，决出各组别的金银铜奖。</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
            </div>

            <div class="section-title">
                <span>创想周</span>
            </div>
            <div class="section-line">
                <span class="section-time">时间：</span>
                <span class="section-info">2016年12月19日-12月25日</span>
            </div>
            <div class="section-line">
                <span class="section-time">形式：</span>
                <span class="section-info">一周时间，团队在导师指导和帮助下，结合自身项目，策划营销事件，并取得一定成果，并依托知名平台进行自由形式汇报。</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
            </div>


        </div>
        <div class="section-one">
            <h3>活动地点</h3>
            <p>上海同济大学</p>
        </div>
        <div class="section-one">
            <h3>活动负责人</h3>
            <p>微信号：mirandapan1993</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>
