<div class="investor-success-wrapper">
    <div class="activity-info">
        <h3>本次活动仅对投资人开放</h3>
        <img src="/styles/images/activity/krspace/group3@2x.png"/>
        <div>
            <span class="activity-info-left">验证手机</span>
            <span class="activity-info-middle">填写信息</span>
            <span class="activity-info-right">报名成功</span>
        </div>
    </div>
    <div class="activity-card">
        <img ng-show ='vm.ifShow' class="img-back" src="/styles/images/activity/krspace/whiteBack@2x.png"/>
        <p ng-show ='vm.ifShow'>活动需审核，您可登录「36氪创投助手」App接收最终版邀请函</p>
        <span ng-show ='vm.ifShow'>※ 活动当天需凭借邀请函入场 ※</span>

        <img ng-show ='!vm.ifShow' class="img-back" src="/styles/images/activity/panda_.jpg"/>
        <p ng-show ='!vm.ifShow'>感谢您的参加，我们将在 2017 年 1 月 4 日通过短信和邮件的方式与您取得联系，请您密切关注。</p>
        <span ng-show ='!vm.ifShow'>※ 活动当天需凭借邀请函入场 ※</span>
    </div>
    <div class="header-banner-wrapper">
        <div>
            <img width="42" src="/styles/images/topBanner.png" alt="">
        </div>
        <div>
            <p>36氪创投助手</p>
            <p>即刻约见创始人</p>
        </div>
        <div>
            <a id="openApp" href="https://36kr.com/app/tou?ktm_source=investorSuccess">立即打开App</a>
        </div>
    </div>
</div>
