<div  class="krspace-wrapper">
    <img class="logo" src="/styles/images/activity/krspace/logo@2x.png"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>“氪空间第8期毕业礼” 是 36 氪氪空间所孵化的第8期团队的毕业展示活动，氪空间已成功孵化170个项目，往期项目融资成功率高达97%。报名即可参加线下毕业礼。</p>
        </div>
        <div class="section-one">
            <h3>活动时间和地点</h3>
            <p>2016/11/18  15:00-18:00</p>
            <p>地点审核通过后通知（仅限投资人报名）</p>
        </div>
        <div class="section-one">
            <h3>活动流程</h3>
            <div class="section-line">
                <span class="section-time">14:45-15:00</span>
                <span class="section-info">签到入场</span>
            </div>
            <div class="section-line">
                <span class="section-time">15:00-15:05</span>
                <span class="section-info">氪空间四期纪念视频首映及氪空间负责人致辞</span>
            </div>
            <div class="section-line">
                <span class="section-time">15:05-16:40</span>
                <span class="section-info">第四期团队毕业Demo</span>
            </div>
            <div class="section-line">
                <span class="section-time">16:40-16:55</span>
                <span class="section-info">颁发毕业证及明星项目颁奖</span>
            </div>
            <div class="section-line">
                <span class="section-time">16:55-17:05</span>
                <span class="section-info">第五期团队名单公布</span>
            </div>
            <div class="section-line">
                <span class="section-time">17:05-18:00</span>
                <span class="section-info">自由交流</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动联系人</h3>
            <p>daisy（微信）：Daisy_hope920</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>
