<div  class="krspace-wrapper">
    <img class="logo" src="/styles/images/activity/krspace/artboard.png"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>活动为上下半场。上半场为氪空间第8期项目1V1对接会，下半场为第9期部分项目首度曝光。当天活动为私密闭门对接会，报名通过的投资人可以参加。</p>
            <p>氪空间已成功孵化170个项目，往期项目融资成功率高达97%。报名即有机会参加线下毕业礼。</p>
        </div>
        <div class="section-one">
            <h3>活动时间</h3>
            <p>2016年12月1日 13：30-22：30</p>
        </div>
        <div class="section-one">
            <h3>活动流程</h3>
            <div class="section-line">
                <span class="section-time">13:30-14:00</span>
                <span class="section-info">签到、扫描等流程</span>
            </div>
            <div class="section-line">
                <span class="section-time">14:00-14:10</span>
                <span class="section-info">主持人开场及流程介绍</span>
            </div>
            <div class="section-line">
                <span class="section-time">14:10-15:10</span>
                <span class="section-info">8期项目路演 （3min/个，20个）</span>
            </div>
            <div class="section-line">
                <span class="section-time">15:10-16:10</span>
                <span class="section-info">定向融资1V1（8-10min/家，5-6家）</span>
            </div>
            <div class="section-line">
                <span class="section-time">16:10-16:30</span>
                <span class="section-info">free talk</span>
            </div>
            <div class="section-line">
                <span class="section-time">16:30-16:40</span>
                <span class="section-info">下半场介绍</span>
            </div>
            <div class="section-line">
                <span class="section-time">16:40-17:40</span>
                <span class="section-info">9期项目路演 （3min/个，20个）</span>
            </div>
            <div class="section-line">
                <span class="section-time">17:40-18:20</span>
                <span class="section-info">free talk</span>
            </div>
            <div class="section-line">
                <span class="section-time">18:20-22:30</span>
                <span class="section-info">free party</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动地点</h3>
            <p>审核通过后通知（仅限投资人报名）</p>
        </div>
        <div class="section-one">
            <h3>活动负责人</h3>
            <p>daisy（微信）：Daisy_hope920</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>
