<div  class="login-wrapper">
    <div class="activity-info" id="activityInfoFirst">
      <h3 ng-if="vm.bothh3">本次活动对投资人和创业者开放</h3>
      <h3 ng-if="vm.investorh3">本次活动仅对对投资人开放</h3>
      <h3 ng-if="vm.startuph3">本次活动仅对创业者开放</h3>
        <span class="activity-info-span">请认真填写您的信息</span>
        <img src="/styles/images/activity/krspace/group1@2x.png"/>
        <div>
            <span class="activity-info-left">验证手机</span>
            <span class="activity-info-middle">填写信息</span>
            <span class="activity-info-right">报名成功</span>
        </div>
    </div>
    <div class="login-wrapper-iframe" login-iframe=""></div>
    <!--<button class="button-submit">下一步</button>-->
    <div class="header-banner-wrapper">
        <div>
            <img width="42" src="/styles/images/topBanner.png" alt="">
        </div>
        <div>
            <p>36氪创投助手</p>
            <p>即刻约见创始人</p>
        </div>
        <div>
            <a id="openApp"  href="https://36kr.com/app/tou?ktm_source=investorSuccess">立即打开App</a>
        </div>
    </div>
</div>
