<div  class="activityIndex-wrapper">
    <img class="logo" src="/styles/images/activity/musicRoadshow.jpg"/>
    <div class="section-content">
        <div class="section-one">
            <h1>第四届中国音乐产业大会投融资项目路演</h1>
            <h2>36氪创投助手独家招募投资人</h2>
        </div>
        <div class="section-one">
            <p>
                <span>投融资项目路演是每一届中国音乐产业大会的重点版块。希望藉此寻找具有潜力的音乐产业相关项目，</span
                ><span>让项目方与投资人可以进行高效的对接。大会将以路演的形式展示10+优质项目，现场将会有近百家投资机构代表参与。</span
                ><span>本次路演将与36氪创投助手深度合作，为投资人与创业者提供精品项目私密深度对接服务，</span
                ><span>通过36氪创投助手的特色功能，整合线上线下的资源，打造全新的路演形式，更好的为项目方与投资人进行服务。</span>
            </p>
        </div>
        <div class="section-one">
            <h3>投资机构招募：</h3>
            <p>我们需要</p>
            <ul class="requirements">
                <li>包括但不限于个人投资人/投资机构投资人/公司投资并购部投资人；</li>
                <li>对音乐产业感兴趣的投资方；</li>
                <li>拥有一定的音乐产业预投计划资金；</li>
            </ul>
        </div>
        <div class="section-one">
            <h3>您将获得：</h3>
            <ul class="acquire">
                <li>潜力机构未曝光精品项目：一系列各大顶级机构从未曝光的精品项目，任您选择；</li>
                <li>高效10+对接优质项目：我们会从100多个优质项目中挑选10个项目现场进行路演，高质量的节约您的时间；</li>
                <li>面向100+机构宣讲：优秀的投资方，将有机会到大会现场在上百家音乐产业相关机构负责人面前进行专场讨论与演讲；</li>
                <li>参与第四届中国音乐产业大会：100多位演讲嘉宾，让投资人对音乐产业的各细分领域进行深入的了解；</li>
            </ul>
        </div>
        <div class="section-one">
            <div class="section-line">
                <span class="section-time">活动时间：</span>
                <span class="section-info">2016年12月16日</span>
            </div>
            <div class="section-line">
                <span class="section-time">活动地点：</span>
                <span class="section-info">北京朝阳区亮马桥路四季酒店5层</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动安排：</h3>
            <div class="section-line">
                <span class="section-time">13:30-13:45</span>
                <span class="section-info">主题演讲</span>
            </div>
            <div class="section-line">
                <span class="section-time">14:30—14:45</span>
                <span class="section-info">主题演讲</span>
            </div>
            <div class="section-line">
                <span class="section-time">14:45—15:30</span>
                <span class="section-info">专题讨论 什么样的项目更受资本青睐</span>
            </div>
            <div class="section-line">
                <span class="section-time">15:30—17:00</span>
                <span class="section-info">投融资项目路演</span>
            </div>
            <div class="section-line">
                <span class="section-time">17:00—18:00</span>
                <span class="section-info">商务交流</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动联系人：</h3>
            <p>宋女士：13501097755</p>
            <p>或微信号：mirandapan1993</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()" >报名</div>
</div>
