<div  class="activityIndex-wrapper">
    <img class="logo" src="/styles/images/activity/krspace/wise.jpeg"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>11月23日-12月1日，通过36氪创投助手报名WISE大会，每天报名的前5位投资人即有机会免费获取原价1088元的WISE大会门票，数量有限，先到先得。其他报名的投资人朋友将有机会获得7折优惠门票一张。</p>
        </div>
        <div class="section-one">
            <h3>报名时间</h3>
            <p>2016年11月23日-12月1日</p>
        </div>
        <div class="section-one">
            <h3>WISE大会介绍</h3>
            <p>36氪年底举办的中国首届“独角兽大会”，目前正在邀请30家10亿美金估值的公司登台一起发声，以趋势引领者的角色在寒冬里为广大创业者分享真知灼见，坚定不断探索的信念。现在柳传志先生、冯仑先生和王石先生已确定将在本次大会中出席并分别在各会场做开场发言，古永锵、程维、张旭豪等都是本次盛会的嘉宾。</p>
            <div class="section-line">
                <span class="section-time">12月6日</span>
                <span class="section-info">独角兽峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">投资人峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">未来峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time">12月7日</span>
                <span class="section-info">时代峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">free talk</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">企服年会</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动地点</h3>
            <p>审核通过后，所有免费门票将于12月1日晚-12月2日早统一发放。（仅限投资人报名）</p>
        </div>
        <div class="section-one">
            <h3>活动负责人</h3>
            <p>daisy（微信）：Daisy_hope920</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>
