<div  class="krspace-wrapper">
    <img class="logo" src="/styles/images/activity/krspace/wise.jpeg"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>11月23日-12月1日，通过36氪创投助手报名Wise大会，每天报名的前5位投资人即有机会免费获取原价1088元的Wise大会门票，数量有限，先到先得。其他报名的投资人朋友将有机会获得7折优惠门票一张。</p>
            <p>36氪Wise独角兽大会将于12月6日召开，现场将会有50位独角兽公司CEO、2000位创业公司CEO、6000名参与者，本期Wise大会嘉宾有：联想控股董事长柳传志、万通控股董事长冯仑、创新工场董事长兼CEO李开复、滴滴优步创始人兼CEO程维……</p>
        </div>
        <div class="section-one">
            <h3>报名时间</h3>
            <p>2016年11月23日-12月1日</p>
        </div>
        <div class="section-one">
            <h3>Wise大会安排</h3>
            <div class="section-line">
                <span class="section-time">12月6日</span>
                <span class="section-info">独角兽峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">投资人峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">未来峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time">12月7日</span>
                <span class="section-info">时代峰会</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">free talk</span>
            </div>
            <div class="section-line">
                <span class="section-time"></span>
                <span class="section-info">企服年会</span>
            </div>
        </div>
        <div class="section-one">
            <h3>活动地点</h3>
            <p>审核通过后，所有免费门票将于12月1日晚-12月2日早统一发放。（仅限投资人报名）</p>
        </div>
        <div class="section-one">
            <h3>活动负责人</h3>
            <p>daisy（微信）：Daisy_hope920</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>
