<div  class="activityIndex-wrapper">
    <img class="logo" src="/styles/images/wonderland.jpg"/>
    <div class="section-content">
        <div class="section-one">
            <h3>活动介绍</h3>
            <p>欢迎来到36氪创投助手的 wonderland，我们已经在娃娃机里装满了礼品，有时尚时尚最时尚的罐头蛋糕，有带给你沉浸式体验的无人机，还有将童趣与科技完美结合的 Candy Book。</p>
        </div>
        <div class="section-one">
            <p>快来按照下方的步骤完成报名，即可免费获得 4 次抓娃娃机的机会！！！</p>
        </div>
        <div class="section-one">
            <h3>报名方法：</h3>
            <div class="section-line">
                <span>1、点击下方「立即报名」按钮</span>
            </div>
            <div class="section-line">
                <span >2、投资人请选择「机构投资人」身份，非投资人请选择「其他」身份</span>
            </div>
            <div class="section-line">
                <span >3、完善其他资料</span>
            </div>
        </div>
        <div class="section-one">
            <p>如有问题请联系活动现场的工作人员</p>
        </div>
    </div>
    <div class="section-footer" ng-click="vm.start()">立即报名</div>
</div>

