<div class="rongzi-common-top">

  <div class="rongzi-common-logo">
  </div>

  <div class="rongzi-common-textbtn-community" ng-if="topdata === 'community' ">
  </div>
  <div class="rongzi-common-textbtn-org" ng-if="topdata === 'org'">
  </div>
  <div class="rongzi-common-textbtn-investor" ng-if="topdata === 'investor'">
  </div>

  <div class="rongzi-common-pushtext" ng-if="topdata === 'org'">
      <b ng-if="!vm.result.secondTitle">不可错过的顶级机构项目</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-pushtext" ng-if="topdata === 'community'">
      <b ng-if="!vm.result.secondTitle">不可错过的顶级机构项目</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-pushtext-investor" ng-if="topdata === 'investor'">
      <b ng-if="!vm.result.secondTitle">不可错过的明星投资人</b>
      <b ng-if="vm.result.secondTitle">{{vm.result.secondTitle}}</b>
  </div>

  <div class="rongzi-common-text">
      <p ng-if="topdata === 'org'" ng-bind="vm.result.ruleDescription">
      </p>

      <p ng-if="topdata === 'community'" ng-bind="vm.result.ruleDescription">
      </p>

      <p ng-if="topdata === 'investor'" ng-bind="vm.result.ruleDescription">
      </p>
  </div>

  <div class="rongzi-common-btn">
        <button class="star-btn" ng-if="topdata === 'community'">
          <b ng-if="!vm.result.buttonName">订阅社群专场</b>
          <b ng-if="vm.result.buttonName">{{vm.result.buttonName}}</b>
        </button>
        <button class="org-btn" ng-if="topdata === 'org'">
          <b ng-if="!vm.result.buttonName">订阅机构专场</b>
          <b ng-if="vm.result.buttonName">{{vm.result.buttonName}}</b>
        </button>
        <button class="org-btn" ng-if="topdata === 'investor'">
          <b ng-if="!vm.result.buttonName">订阅投资人专场</b>
          <b ng-if="vm.result.buttonName">{{vm.result.buttonName}}</b>
        </button>
  </div>
</div>
