<div class="syndicates-gift company-expand-gift" ng-if="!loadingInst.syndicatesGift">
    <div class="tell"></div>
    <div class="gift"></div>
    <div class="money">{{giftMoney}}元</div>
    <div class="rules">
        <p><span class="star"></span> 以跟投人身份审核通过后系统消息为准。</p>
        <p><span class="star"></span>投资券有效期为60天。</p>
    </div>
    <div class="company-btn-box clearfix">
        <a href="javascript:;" class="margin-btn y-btn" ui-sref="syndicates" data-stat-click="tongguoyanzheng.shouyebutton.click">下一个BAT正在融资</a>
        <a href="javascript:;" ui-sref="syndicatesInvite({id:uid})" data-stat-click="tongguoyanzheng.yaoqingbutton.click">获取更多的投资券</a>
    </div>
</div>

<div loading="syndicatesGift"></div>
