<div class="join-content-wrapper">
    <div class="success-wrapper">
        <img class="apply-success" src="//krplus-pic.b0.upaiyun.com/201602/29023524/4sks2j6u2e1blm16.png" />
        <p class="success-tip"><span>你的报名信息已经收到，</span><span>审核结果将在3天内反馈</span></p>
        <p class="detail-tip">建议你补充基本信息，投资偏好与投资案例，有利于创业者更好地了解你。</p>
        <p class="help-qrcode">
            <img src="//krplus-pic.b0.upaiyun.com/201603/18112835/oujqm9bcf9y7dgnh.jpg" />
            <span>下载36氪创投助手，随时随地获取最新项目。</span>
        </p>
    </div>
</div>


