<div class="syndicate-all-order">
    <div class="order-head">我的订单</div>
    <div class="nav-tab-wapper">
		<ul class="nav nav-tabs" role="tablist">
	        <li ui-sref-active="active" ng-click="queryData('', 'zhongchouAllOrder.all')">
				<a ui-sref="zhongchouAllOrder.all" href="#/zhongchouAllOrder/all">
					全部
					<!--<span class="badge" ng-if="!loadingData">{{listData.length || 0}}
					</span>-->
		        </a>
	        </li>
	        <li ui-sref-active="active" ng-click="queryData('', 'zhongchouAllOrder.obligations')"><a  ui-sref="zhongchouAllOrder.obligations" href="#/zhongchouAllOrder/obligations">待付款</a></li>
	        <li ui-sref-active="active" ng-click="queryData('', 'zhongchouAllOrder.paid')"><a  ui-sref="zhongchouAllOrder.paid" href="#/zhongchouAllOrder/paid">已付款</a></li>
	    </ul>
    </div>
    <div class="order-item" ng-repeat="item in orderData" ng-if="!noData">
        <div class="sup-header">
            <p class="clearfix">
                <span>订单号:{{item.payment.business_id}}</span>
                <a class="order-cancel" ng-if="(item.status < 3 || (item.status > 9 && item.status != 14)) && item.trade_c_f_deposit.payment.status == 1" ng-click="cancelOrder(item.trade_id);">取消订单</a>

                <span class="fl-right">{{ item.status | dict_trade_crowd_funding_status }}</span>
            </p>
        </div>
        <!--<div class="sup-header">-->
            <!--<span class="order-status" ng-if="item.status < 3 || (item.status > 9 && item.status != 14)">订单状态：{{ item.status | dict_trade_crowd_funding_status }}</span>-->
            <!--<span class="order-status" ng-if="item.status >= 3 && item.status <= 9 || item.status == 14">订单状态：交易关闭</span>-->
            <!--<a class="order-procedure" ng-if="item.payment.status == 3 && item.financing.formality && item.financing.formality.status > 1" ui-sref="procedure({ cfid: item.financing.formality.cf_id })" data-stat-click="orderlist.ViewProcess">查看手续进度</a>-->
        <!--</div>-->
        <div class="company-info">
            <a class="company-logo" ui-sref="company_detail({ id:item.company.id })" data-stat-click="orderlist.company">
                <img src="{{ item.company.logo | image }}" alt="{{ item.company.name }}">
            </a>
            <a class="company-name" ui-sref="company_detail({ id:item.company.id })" data-stat-click="orderlist.company">{{item.company.name}}</a>
            <span class="kr-code" ng-if="!!item.invite_code">Kr码</span>
        </div>
        <div class="money-info">
            <div class="money-buy">
                <p class="clearfix">
                    <span>认购金额</span>
                    <span class="fl-right">￥{{ item.investment }}</span>
                </p>
                <p class="clearfix">
                    <span>管理费</span>
                    <span class="fl-right">￥{{ item.investment }}</span>
                </p>
            </div>
        </div>
        <div class="stage-info">
            <div class="stage stage-one" ng-if="item.trade_c_f_deposit">
                <div class="stage-item">阶段一<span class="status" ng-class="{'not': item.trade_c_f_deposit.payment.status == 1, 'has': item.trade_c_f_deposit.payment.status == 3}">{{ item.trade_c_f_deposit.payment.status | dict_trade_status }}</span></div>
                <div class="stage-item">
                    <div class="item-left">支付保证金</div>
                    <div class="item-right">￥{{ item.trade_c_f_deposit.deposit }}元</div>
                </div>
                <div class="stage-item" ng-if="item.trade_c_f_deposit.payment.status == 3">
                    <div class="item-left">付款时间</div>
                    <div class="item-right">{{ item.trade_c_f_deposit.payment.notify_time }}</div>
                </div>

            </div>
            <div class="stage stage-two" ng-if="item.trade_c_f_balance">
                <div class="stage-item">阶段二<span class="status" ng-class="{'not': item.trade_c_f_balance.payment.status == 1, 'has': item.trade_c_f_balance.payment.status == 3}">{{ item.trade_c_f_balance.payment.status | dict_trade_status }}</span></div>
                <div class="stage-item">
                    <div class="item-left">支付剩余款</div>
                    <div class="item-right">￥{{ item.trade_c_f_balance.balance }}元</div>
                </div>
                <div class="stage-item" ng-if="item.trade_c_f_balance.payment.status == 3">
                    <div class="item-left">付款时间</div>
                    <div class="item-right">{{ item.trade_c_f_balance.payment.notify_time }}</div>
                </div>
                <div class="stage-item" ng-if="(item.status < 3 || (item.status > 9 && item.status != 14)) && item.trade_c_f_balance.payment.status == 1">
                    <div class="item-left">剩余付款时间</div>
                    <div class="item-right"><span countdown date='{{ item.trade_c_f_balance.payment.close_time }}' open-date='{{ item.trade_c_f_balance.payment.open_time }}'></span></div>
                </div>

                <div class="coupon-split" ng-if="item.trade_c_f_balance.payment.amount_coupons > 0"></div>

                <div class="stage-item coupon" ng-if="item.trade_c_f_balance.payment.amount_coupons > 0">
                    <div class="item-left">已优惠</div>
                    <div class="item-right">-￥{{ item.trade_c_f_balance.payment.amount_coupons }}元</div>
                </div>

                <div class="stage-item" ng-if="item.trade_c_f_balance.payment.amount_coupons > 0">
                    <div class="item-left">支付剩余款</div>
                    <div class="item-right">￥{{ item.trade_c_f_balance.payment.amount }}元</div>
                </div>
            </div>
            <div class="stage-btn-box" ng-if="(item.status < 3 || (item.status > 9
                && item.status != 14))
                && item.trade_c_f_deposit.payment.status == 1
                && item.trade_c_f_deposit.payment.platform_type != 1">
                <a class="btn btn-default stage-btn" ui-sref="syndicatesPayWay({tid:item.trade_c_f_deposit.trade_id, type:'deposit'})" data-stat-click="orderlist.pay">支付保证金</a>
            </div>
            <div class="stage-btn-box" ng-if="(item.status < 3 || (item.status > 9
                && item.status != 14))
                && item.trade_c_f_deposit.payment.status == 1
                && item.trade_c_f_deposit.payment.platform_type == 1">
                <a class="btn btn-default stage-btn" ui-sref="syndicatesPayOutline({ tid:item.trade_c_f_deposit.trade_id, type:'deposit' })" data-stat-click="orderlist.do">查看汇款信息</a>
            </div>
            <div class="stage-btn-box" ng-if="(item.status < 3 || (item.status > 9
                && item.status != 14))
                && (item.trade_c_f_deposit.payment.status == 3)
                && (item.trade_c_f_balance.payment.status == 0)
                && !item.trade_c_f_deposit.refund_timeout
                && !item.invite_code">
                <a class="btn btn-default stage-btn" ng-click="askForRefund(item.trade_c_f_deposit.trade_id);" data-stat-click="orderlist.do">申请退款</a>
            </div>
            <div class="stage-btn-box" ng-if="(item.status < 3 || (item.status > 9
                && item.status != 14)) &&
                item.trade_c_f_balance.payment.status == 1 &&
                item.trade_c_f_balance.payment.platform_type != 1 &&
                !item.trade_c_f_balance.refund_timeout">
                <a class="btn btn-default stage-btn"  ui-sref="syndicatesPayWay({tid:item.trade_c_f_balance.trade_id, type:'balance'})" data-stat-click="orderlist.pay" data-stat-click="orderlist.do">支付剩余款</a>
            </div>
            <div class="stage-btn-box" ng-if="(item.status < 3 || (item.status > 9
                && item.status != 14)) && item.trade_c_f_balance.payment.status == 1 &&
                item.trade_c_f_balance.payment.platform_type == 1">
                <a class="btn btn-default stage-btn"  ui-sref="syndicatesPayOutline({ tid: item.trade_c_f_balance.trade_id, type: 'balance' })" data-stat-click="orderlist.do">查看汇款信息</a>
            </div>
            <div class="stage-btn-box" ng-if=" item.payment.status == 3 &&
                        item.financing.formality &&
                        item.financing.formality.status > 1">
                <a class="btn btn-default stage-btn"  ui-sref="procedure({ cfid: item.financing.formality.cf_id })" data-stat-click="orderlist.ViewProcess">查看手续进度</a>
            </div>
        </div>
    </div>
    <div class="syndicates-index loadMore" ng-click="loadMore()" ng-if="!noData && !noMore && orderData.length">
        查看更多
    </div>

    <div class="no-order-data" ng-if="noData">
        <div class="icon-h5-search text-center"></div>
        <p class="remind-info text-center">没有找到相关的订单</p>
        <a class="invest-btn btn btn-default" ng-if="currentStatus == 'zhongchouAllOrder.all'" ui-sref="syndicates()">查看全部项目</a>

        <div class="recommend-item" ng-if="currentStatus == 'zhongchouAllOrder.all'" ng-repeat="item in recommendList | limitTo: 3">
            <div class="item-top" ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.id })">
                <div class="company-logo" ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.id })">
                    <img src="{{ item.company.logo | image }}" alt="{{ item.company.name }}" />
                </div>
                <div class="company-name">
                    <a ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.id })">{{ item.company.name }}</a>

                    <span class="status bg-{{item.timeout && item.fundingStatus != 'preheat'  ? 50 : item.color}}">
                        {{ item.timeout && item.name != '融资成功' && item.fundingStatus != 'preheat' ? "筹集成功" : item.name }}
                    </span>
                </div>
                <div class="company-brief">{{ item.company.brief }}</div>
            </div>
            <div class="item-bottom" ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.id })">
                <div ng-repeat="key in item.desc.cf_advantage | limitTo : 3">
                    <div class="bottom-left">
                        <p>{{ key.label }}</p>
                    </div>
                    <div class="bottom-right">
                        <p>{{ key.value }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'templates/syndicates/bottom-menu.html'"></div>
</div>
