<div class="syndicate-order-all">
    <div class="order-head">众筹订单</div>
    <div class="order-nav">
        <div class="nav-type" ng-repeat="order in orderStatus" ng-click="selectStatus($index)" ng-class="{active:order.active}">
            {{order.name}}
            <div class="under-line" ng-if="order.active"></div>
        </div>
    </div>
    <div class="order-content" ng-hide="orderData.length">
        <div class="empty-image icon-file-text"></div>
        <p class="text-center">您还没有线上订单，快去开启投资之旅</p>
    </div>
    <div class="order-detail" ng-repeat="item in orderData">
        <div class="company-data">
            <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="syndicates-logo" style="background-image: url({{item.company.logo || ''}});"></a>
            <div class="company-name"><a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})">{{item.company.name}}</a></div>
            <div class="status"><span class="order-status">{{item.payment.status | dict_trade_status}}</span></div>
        </div>
        <!--融资进度条-->
        <loading-bar percent="item.percent">
        </loading-bar>
        <div class="syndicate-info first">
            <div class="info-attr">众筹目标</div>
            <div class="info-val">￥{{item.financing.cf_raising | WanNum}}</div>
        </div>
        <div class="syndicate-info border">
            <div class="info-attr">筹集金额</div>
            <div class="info-val">￥{{item.financing.cf_success_raising | WanNum}}</div>
        </div>
        <div class="syndicate-info first">
            <div class="info-attr">领投人</div>
            <div class="info-val">{{item.financing.investorData.name}} <span ng-if="item.financing.investorData.type=='ORGANIZATION'">{{item.financing.manager.name}}</span></div>
        </div>
        <div class="syndicate-info">
            <div class="info-attr">融资状态</div>
            <div class="info-val">{{item.financing.round | dict_CompanyFinancePhase}} {{item.financing.status |dict_crowd_funding_status}}</div>
        </div>
        <div class="syndicate-info">
            <div class="info-attr">投资金额</div>
            <div class="info-val">￥{{item.investment}}</div>
        </div>
        <div class="syndicate-info" ng-class="{'border':item.payment.status==1 && item.status==1 && item.payment.platform_type!=1}">
            <div class="info-attr">订单金额</div>
            <div class="info-val">￥{{item.payment.amount}}</div>
        </div>
        <div class="pay-layer" ng-if="item.payment.status==1 && item.status==1 && item.payment.platform_type!=1">
            <a ui-sref="syndicatesPayWay({tid:item.trade_id,amount:item.payment.amount})" class="pay-btn">去付款</a>
        </div>
    </div>
    <div class="syndicates-index loadMore" ng-click="loadMore()" ng-show="!noMore">
        查看更多
    </div>
</div>
