<div class="syndicate-all-order">
    <div class="order-head">众筹订单</div>
    <div class="order-item" ng-repeat="item in orderData">
        <div class="sup-header">
            <span class="order-status">{{ item.payment.status | dict_trade_status }}</span>
            <a class="order-procedure" ng-if="item.payment.status == 3 && item.financing.formality && item.financing.formality.status > 1" ui-sref="procedure({ cfid: item.financing.formality.cf_id })" data-stat-click="orderlist.ViewProcess">查看手续进度</a>
        </div>
        <div class="company-info">
            <a class="company-logo" ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.cf_id })">
                <img src="{{ item.company.logo }}" alt="{{ item.company.name }}">
            </a>
            <a class="company-name" ui-sref="syndicatesDetail({ companyId:item.company.id, fundingId:item.cf_id })">{{item.company.name}}</a>
            <div class="banner">Kr码认购</div>
        </div>
        <div class="money-info">
            <div class="money-buy">
                <p class="money">{{ item.investment }}<sup>￥</sup></p>
                <p class="text">认购金额</p>
            </div>
            <div class="money-manage">
                <p class="money">{{ item.lead_fee }}<sup>￥</sup></p>
                <p class="text">认购金额</p>
            </div>
        </div>
        <div class="stage-info">
            <div class="stage stage-one">
                <div class="stage-item">阶段一<span class="status">已付款</span></div>
                <div class="stage-item">
                    <div class="item-left">支付保证金</div>
                    <div class="item-right">￥300万</div>
                </div>
                <div class="stage-item">
                    <div class="item-left">付款时间</div>
                    <div class="item-right">2015-08-12 12:30</div>
                </div>
                <div class="btn btn-default stage-btn">付款</div>
            </div>
            <div class="stage stage-two">
                <div class="stage-item">阶段二<span class="status has">待付款</span></div>
                <div class="stage-item">
                    <div class="item-left">支付保证金</div>
                    <div class="item-right">￥30,0300万</div>
                </div>
                <div class="stage-item">
                    <div class="item-left">付款时间</div>
                    <div class="item-right">2015-08-12 12:30</div>
                </div>
                <div class="btn btn-default stage-btn">付款</div>
            </div>
        </div>
    </div>

    <div class="syndicates-index loadMore" ng-click="loadMore()" ng-if="!noMore && orderData.length">
        查看更多
    </div>
    <div class="order-content" ng-if="noData">
        <div class="empty-image icon-file-text"></div>
        <p class="text-center">您还没有线上订单，快去开启投资之旅</p>
    </div>
    <a ui-sref="syndicates()" class="invest-btn" ng-if="noData">开启投资</a>
</div>
