<ul class="syndicates-bottom-menu clearfix">
    <li ui-sref="syndicates" ui-sref-active="active">
        <span class="icon-home"></span>
        <a href="">全部项目</a>
    </li>
    <li ui-sref="syndicatesNews" ui-sref-active="active">
        <span class="icon-speaker"></span>
        <a href="">新闻公告</a>
    </li>
    <li ui-sref-active="active">
        <span class="icon-flag"></span>
        <a href="">新人课堂</a>
    </li>
    <li ui-sref="syndicatesAllOrder" ui-sref-active="active">
        <span class="icon-note"></span>
        <a href="">我的订单</a>
    </li>
</ul>
