<form name="confirmForm">
    <div class="syndicates-confirm">
        <!--预热中，Kr码购买-->
        <div ng-if="isPreHeat && !validateSuc">
            <div class="kr-code-title">Kr码优先购买</div>
            <div class="kr-code-tip">输入Kr码</div>
            <div class="kr-code-enter">
                <input type="text" maxlength="8" class="kr-code-input" ng-disabled="validateSuc" placeholder="Kr码为8位数字和字母组合" ng-model="krCode.number" name="krCode" />
                <!---->
            </div>
            <p class="error-tip" ng-if="errMsg && hasCheck && !validateSuc">{{errMsg}}</p>
            <div class="kr-code-btn">
                <a href="" class="btn validate-kr-code" ng-disabled="krCode.number.length != 8" ng-click="checkCode()">使用</a>
                <a href="" class="href-tip" ui-sref="syndicatesKrCode({fundingId:fundingId,cid:companyId})">申请Kr码</a>
            </div>
        </div>
        <div ng-if="validateSuc || !isPreHeat">
            <div class="confirm-pay-title">支付保证金</div>
            <div class="confirm-title">
                <!--<p class="validate-suc" ng-if="validateSuc && isPreHeat">Kr码验证成功</p>-->
                认购的项目
               <a href="" class="risk-tip" ng-click="seeRisk()">风险点</a>
            </div>
            <div class="confirm-project">
                    <img ng-src="{{companyData.logo}}" ui-sref="company_detail({id:companyId})" width="40" alt="" data-stat-click="payment.companyLogo"/>
                    <section ui-sref="company_detail({id:companyId})" data-stat-click="payment.companyName">{{companyData.name}}</section>
            </div>
            <div class="confirm-title">
                支付保证金
            </div>
            <div class="confirm-content">
                <div class="content-count">
                    <b>认购金额</b>
                    <input type="text" class="invest-val" name="investVal" placeholder="请输入投资金额" maxlength="10" ng-model="formData.investVal" ng-pattern="/^[0-9]{0,}$/" required />
                    <div class="cal-btn minus-btn" ng-click="countVal('minus')" ng-class="{'active':activeBtn == 'minus'}">一</div>
                    <div class="cal-btn plus-btn icon-big-add" ng-click="countVal('plus')" ng-class="{'active':activeBtn == 'plus'}"></div>
                </div>
                <div class="content-info">
                    <p>
                        <span class="error" ng-show="confirmForm.investVal.$error.pattern">请输入一个有效的投资金额</span>
                        <span class="error" ng-show="confirmForm.investVal.$error.required">请先输入投资的金额</span>
                    </p>
                    <p class="mt-12">
                    <span class="info-attr">股权占比</span>
                        <span>{{sharePercent}}</span>
                    </p>
                    <p>
                        <span class="info-attr">保证金</span>
                        <span>￥{{formData.ensureVal}} X 1% ＝ <span class="c-orange">{{formData.ensureVal * 0.01}}元</span></span>
                    </p>
                    <p class="mt-20">
                        <input type="checkbox" ng-model="isRead" ng-click="isRead!=isRead"  />
                        同意  <a href="" ng-click="seeAgreement()">服务协议及风险提示</a>
                    </p>

                    <!--<p>
                        <span class="info-attr">管理费</span>
                        <span>￥{{manager_fee}}</span>
                    </p>
                    <p>
                        <span class="info-attr">支付总额</span>
                        <span class="red">￥{{total_fee}}</span>
                    </p>-->
                </div>
            </div>
            <div class="confirm-title">
                选择支付方式
            </div>
            <div class="pay-way">
                <div class="way-detail" ng-click="selectWay('alipay')" data-stat-click="payment.alipay">
                    <div class="way-image">
                        <span class="ali-pay">
                        </span>
                    </div>
                    <div class="way-info">
                        <div class="way-intro">支付宝</div>
                        <div class="intro-detail">推荐有支付宝账号的用户使用</div>
                    </div>
                    <div class="way-handle" ng-if="payType == 'alipay'">
                        <a href="" class="glyphicon glyphicon-ok"></a>
                    </div>
                </div>
                <div class="way-detail" ng-click="selectWay('card')" data-stat-click="payment.card">
                    <div class="way-image">
                        <span class="icon-uniE620">
                            <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>
                    <div class="way-info">
                        <div class="way-intro">银行卡支付</div>
                        <div class="intro-detail">支持借记卡，无需开通网银</div>
                    </div>
                    <div class="way-handle" ng-if="payType == 'card'">
                        <a href="" class="glyphicon glyphicon-ok"></a>
                    </div>
                </div>
            </div>
            <!--<a href="" class="outline-pay" ui-sref="payOutlineRemind({tid:tid,type:'deposit'})" ng-click="payOutline()">线下汇款</a>-->
            <a class="ensure-pay btn" ng-disabled="!isRead || confirmForm.$invalid" ng-click="ensurePay()" data-stat-click="payment.pay">支付保证金</a>
            <ul class="deposit-tip">
                <li>
                    保证金提示：
                </li>
                <li>
                    <span class="list-point"></span>
                    越早支付保证金，越先锁定投资名额
                </li>
                <li>
                    <span class="list-point"></span>
                    支付完保证金后，3天冷静期内可以申请退款
                </li>
                <li>
                    <span class="list-point"></span>
                    如放弃支付剩余款，保证金恕不退还，将由项目方收取
                </li>
                <li>
                    <span class="list-point"></span>
                    通过Kr码认购，将没有申请退款的权利
                </li>
            </ul>
        </div>
    </div>
</form>
<!--ActionSheet-->
<div class="shade-layer" ng-class="{'normal':actionSheet}" ng-click="cancel($event)">
</div>
<div class="layer-bottom" ng-class="{'normal':actionSheet}">
    <a href="{{item.link}}" class="options" target="_blank" ng-repeat="item in baseData.detail.agreements" ng-click="seeProtocol($event,item.link,'pdf')" ng-if="system == 'ios'">{{item.name}}</a>
    <a href="{{item.link}}" class="options" target="_blank" ng-repeat="item in baseData.detail.agreements_img" ng-click="seeProtocol($event,item.link,'img')" ng-if="system == 'android'">{{item.name}}</a>
    <!--<a class="options">投资协议</a>
    <a class="options">有限合伙协议</a>
    <a class="options">风险揭示书</a>-->
    <a class="options" ng-click="cancel()">取消</a>
</div>
<!--ActionSheet-->
