<div class="syndicate-pay syndicates-confirm">
    <div class="coupon-container">
        <div class="coupon-item" ng-repeat="item in inviteData" ng-click="selectCoupon($index)">
            <div class="coupon-num"><span class="coupon-unit">￥</span>{{item.amount}}</div>
            <div class="coupon-info" ng-class="{'active':item.active}">
                <!--<i class="selected icon-select" ng-show="item.active"></i>-->
                <!--<i class="selected icon-cancel" ng-click="cancelSelect($index);$event.stopPropagation();"></i>-->
                <div class="info-detail"><span class="detail-title">优惠劵</span><span class="detail-time">（剩余{{item.leftTime}}）</span></div>
            </div>
        </div>
    </div>
    <div class="load-more" ng-show="lastPage != pageNo && !hasUseCoupon" ng-click="loadMore()">加载更多</div>
</div>
<div class="coupon-bottom">
    <span class="icon-icon-select" ng-class="{'active':isUse}" ng-click="useCoupon()">
    </span>
    不使用优惠劵
    <a href="" class="ensure-btn" ng-click="ensure()">确定</a>
</div>
<div class="error-window" ng-class="{active:countMax}" style="margin-top:{{calTop}}">
    <div class="error-tip">最多只能使用两张优惠券</div>
    <div ng-click="countMax = false">知道了</div>
</div>
