<div class="home-wrap" ng-if="!isInApp">
    <div class="slider-container">
        <div class="top-slide-arrow syndicates">
            <!--<a href="javascript:void(0)" class="top-slide-arrow-left"></a>
            <a href="javascript:void(0)" class="top-slide-arrow-right"></a>-->
        </div>
        <slick infinite=true autoplay=false pauseOnHover=false speed=1000 prev-arrow=".top-slide-arrow-left"
               next-arrow=".top-slide-arrow-right">
            <div class="slider syndicates">
                <div class="slider-image">
                    <a href="" class="banner-btn" ng-click="gotoInvest()">我要投资</a>
                </div>
            </div>
            <div class="slider syndicates">
                <div class="slider-image next">
                    <a href="{{helpHost}}/q-m-zc.html" class="banner-btn">查看详情</a>
                </div>
            </div>
        </slick>
    </div>
</div>
<div class="container">
    <div class="syndicates-index"
         ng-style="{marginTop:isInApp?0:''}"
         ng-repeat="item in investorList track by $index"
         ng-class="{'mt-30': $index == 0,'mb-50': $index == investorList.length-1 && noMore}">

        <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})">
            <div class="syndicates-pic" style="">
                <div class="syndicates-status bg-{{item.color}}" ng-class="{'pd-19':item.color == '60'}">
                    <i class="icon-h5-time"></i> {{item.name}}
                </div>
                <img ng-src="{{item.desc.file_list_img}}" alt=""/>
                <span class="hot-icon" ng-if="item.hot == 1"></span>
            </div>

        </a>
        <div class="syndicates-brief-info">
            <div class="investor-led-title" ng-if="item.investorData.name">
                <a ui-sref="{{item.investorData | investorLink:'id':'type'}}" title="{{item.investorData.name}}" class="led-name">
                    {{item.investorData.name}}
                </a>
                <span class="text">领投</span>
            </div>
            <div class="investor-detail">
                <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="syndicates-logo" style="background-image: url({{item.company.logo || ''}});"></a>
                <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})">{{item.company.name}}</a>
                <div class="brief">{{item.company.brief}}</div>
                <div class="props">
                    <div class="syndicates-detail" ng-repeat="key in item.desc.cf_advantage | limitTo : 3">
                        <div class="syndicates-attr">
                            <p>{{key.label}}</p>
                        </div>
                        <div class="syndicates-intro">
                            <p>{{key.value}}</p>
                        </div>
                    </div>
                </div>
                <!--融资进度条-->
                <loading-bar percent="item.percent" loading-tip="item.cf_success_raising">
                </loading-bar>

                <div class="goal">
                    已筹集<span class="ml-10">{{item.cf_success_raising | unitConversion}}</span>
                    <span class="goal-num">众筹目标<b class="currency ml-10">{{item.cf_raising | unitConversion}}</b>
                    </span>
                </div>
                <div class="actions clearfix">
                    <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="btn btn-default" ng-if="item.color != '60'">查看详情</a>
                    <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="btn btn-default preheat-detail" ng-if="item.color == '60'">查看详情</a>
                    <a href="" class="btn btn-default preheat-remind" login-btn ng-if="item.color == '60'"
                       ng-click="startRemind($event,item.has_reminder,item.id,$index)">
                        开投提醒
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="syndicates-index loadMore" ng-click="loadMore()" ng-show="!noMore">
        查看更多
    </div>
</div>
