<div class="home-wrap" ng-if="!isInApp" ng-hide="loadingInst.syndicatesBanner">
    <div class="slider-container syndicates">
        <slick infinite=true autoplay=true pauseOnHover=false speed=1000 dots="true" arrows="false" ng-if="banners">
            <div class="slider syndicates" ng-repeat="item in banners">
                <div class="slider-image" style="background-image: url('{{item.img_url | image:640}}'); background-color:#333">
                    <a href="{{item.link_url}}" ng-stat-click="lunbotu.button"></a>
                </div>
            </div>
        </slick>
    </div>

    <div class="news-container clearfix">
        <div class="news-header">
            <h3>新闻公告</h3>
            <a class="view-more" ui-sref="syndicatesNews" data-stat-click="zcHomePageMobile.news.more">更多</a>
        </div>
        <ul class="news-items">
            <li class="news-item" ng-repeat="news in bannerNews">
                <span class="item-num"></span>
                <a ui-sref="syndicatesNewsDetail({id: news.id})" data-stat-click="zcHomePageMobile.news.hotNews.{{$index + 1}}">{{news.title}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="syndicates-filter">
        <ul class="filter-inner">
            <li class="filter-item" ng-click="syndicatesFilter('all');" ng-class="{ 'active': selectedStatus == 'all' }" data-stat-click="zcHomePageMobile.statusFilter.all">全部</li>
            <li class="filter-item" ng-click="syndicatesFilter('underway');" ng-class="{ 'active': selectedStatus == 'underway' }" data-stat-click="zcHomePageMobile.statusFilter.fundraising">锚定中/募资中</li>
            <li class="filter-item" ng-click="syndicatesFilter('raise');" ng-class="{ 'active': selectedStatus == 'raise' }" data-stat-click="zcHomePageMobile.statusFilter.done">募资完成</li>
            <li class="filter-item" ng-click="syndicatesFilter('finish');" ng-class="{ 'active': selectedStatus == 'finish' }" data-stat-click="zcHomePageMobile.statusFilter.end">融资成功</li>
        </ul>
    </div>

    <div class="syndicates-index"
         ng-style="{marginTop:isInApp?0:''}"
         ng-repeat="item in investorList track by $index"
         ng-class="{'mb-50': $index == investorList.length-1 && noMore}" ng-hide="loadingInst.syndicatesList">
        <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})">
            <div class="title-info">
                <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="syndicates-logo" style="background-image: url({{item.company.logo || ''}});"  data-stat-click="zhongchouliebiao.zhongchougongsilogo.{{$index}}.{{item.id}}"></a>
                <div class="syndicates-intro">
                    <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})">
                        {{item.company.name}}
                    </a>
                    <div class="brief">{{item.company.brief}}</div>
                </div>
            </div>
            <div class="syndicates-pic">
                <div class="syndicates-container">
                    <img height="160" ng-src="{{item.desc.file_list_img | image:640}}" alt="" data-stat-click="zhongchouliebiao.gongsitu.{{$index}}.{{item.id}}"/>
                    <div class="investor-led-title" ng-if="item.investorData.name">
                        <a ui-sref="{{item.investorData | investorLink:'id':'type'}}" title="{{item.investorData.name}}" class="led-name">
                            {{item.investorData.name}}
                        </a>
                        <span class="text">领投</span>
                    </div>
                    <div class="syndicates-status bg-{{item.timeout && item.fundingStatus != 'preheat'  ? 50 : item.color}}" ng-class="{'pd-19':item.color == '60'}">
                        <i class="icon-h5-time"></i>
                        {{item.timeout && item.name != '融资成功' && item.fundingStatus != 'preheat' ? "募资完成" : item.name}}
                    </div>
                </div>
                <span class="hot-icon" ng-if="item.hot == 1"></span>
            </div>

        </a>
        <div class="syndicates-brief-info">
            <div class="investor-detail">
                <div class="props">
                    <div class="syndicates-detail" ng-repeat="key in item.desc.cf_advantage | limitTo : 3">
                        <div class="syndicates-attr">
                            <p>{{key.label}}</p>
                        </div>
                        <div class="syndicates-intro">
                            <p>{{key.value}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-in">
            <loading-progress percent="item.percent" loading-tip="true" suc-raise="item.cf_success_raising_offer" raise-goal="item.cf_raising">
            </loading-progress>
        </div>
        <div class="actions clearfix">
            <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="btn btn-default" ng-if="item.color != '60'" data-stat-click="zhongchouliebiao.caozuobutton.{{$index}}.{{item.id}}">查看详情</a>
            <a ui-sref="syndicatesDetail({companyId:item.company.id,fundingId:item.id})" class="btn btn-default preheat-detail" ng-if="item.color == '60'" data-stat-click="zhongchouliebiao.caozuobutton.{{$index}}.{{item.id}}">查看详情</a>
            <a href="" class="btn btn-default preheat-remind" login-btn ng-if="item.color == '60'"
               ng-click="startRemind($event,item.has_reminder,item.id,$index)" data-stat-click="zhongchouliebiao.kaitoutixing.{{item.id}}">
                <i class="icon-h5-time"></i>
                开投提醒
            </a>
        </div>
    </div>
    <div class="syndicates-index loadMore" ng-click="loadMore()" ng-show="!noMore">
        查看更多
    </div>
    <div class="syndicates-no-data-layer text-center" ng-show="!investorList.length && !loadingInst.syndicatesList">
        <div class="icon-h5-search"></div>
        <p class="remind-info">暂无数据</p>
    </div>
</div>
<div loading="syndicatesList"></div>

<div ng-include="'templates/syndicates/bottom-menu.html'"></div>
