<form name="applyCodeForm" ng-hide="loadingInst.codePage">
    <div class="syndicates-confirm">
        <div class="kr-code-title">申请Kr码</div>
        <div ng-show="!applySuc">
            <div class="kr-code-progress">
                <div class="kr-code-container">
                    <span class="first-point active">1<span class="point-stage first">提交申请</span></span><div class="progress-line active"></div><span class="first-point" ng-class="{'active':krCode.status == 3 || krCode.status == 1}">2<span class="point-stage second" ng-if="krCode.status == 1 || krCode.status == 'unapply'">审核中</span><span class="point-stage second active" ng-if="krCode.status == 3">审核未通过</span></span><div class="progress-line"></div><span class="first-point">3<span class="point-stage third">收到Kr码</span></span>
                </div>
                <p class="fail-tip auditing" ng-if="krCode.status == 1">正在处理中，请耐心等待！</p>
                <p class="fail-tip red" ng-if="krCode.status == 3">抱歉，暂不符合发放条件</p>
                <p class="fail-tip" ng-if="krCode.status == 3">开放募资后，可以直接认购 ，感谢支持！</p>
            </div>
            <div ng-show="krCode.status == 'unapply'">
                <div class="kr-code-enter apply-code">
                    <input class="kr-code-input" type="numer" placeholder="请输入意愿跟投金额" ng-model="wishNum" num-validate name="wishNum" required />
                    <!---->
                </div>
                <div class="apply-reason">
                    <div class="error" ng-show="applyCodeForm.wishNum.$error.notNumber">金额只能为纯数字</div>
                    <div class="error" ng-show="applyCodeForm.wishNum.$error.required && applyCodeForm.wishNum.$dirty">金额不能为空</div>
                    <div class="error" ng-show="minError">不能小于最低跟投金额</div>
                    申请理由
                </div>
                <textarea class="invest-reason" placeholder="请输入投资理由" ng-model="reason" name="reason" required></textarea>
                <div class="empty-error" ng-show="applyCodeForm.reason.$error.required && applyCodeForm.reason.$dirty">申请理由不能为空</div>
            </div>
            <div class="kr-code-btn" ng-if="krCode.status == 'unapply'">
                <a href="" class="btn validate-kr-code" ng-disabled="applyCodeForm.$invalid && !minError" ng-click="apply()" baidu-btn="申请Kr码点击">申请</a>
                <a ui-sref="syndicatesConfirm({fundingId:fundingId,cid:companyId})" class="href-tip">返回</a>
            </div>
            <div class="info-container" ng-hide="krCode.status == 'unapply'">
                <ul class="info-list">
                    <li>
                        <span class="info-list-tag"></span>
                        <div class="list-title">了解Kr码的发放规则</div>
                        <div class="list-content">
                            1、提交申请后，需要最多3个工作日的审核时间。
                        </div>
                        <div class="list-content">
                            2、如果审核通过，我们会通过短信发送Kr码到你的手机上。
                        </div>
                        <div class="list-content">
                            3、审核结果，最晚会在开放募资前3天内通知您。
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="applySuc">
            <div class="kr-code-apply apply-suc">
                <div class="apply-icon icon-schedule"></div>
                <p class="apply-tip">
                    申请Kr码已提交
                </p>
                <p>申请完成！如果符合要求，我们会联系你。</p>
                <a ui-sref="syndicatesDetail({fundingId:fundingId,companyId:companyId})" class="href-tip apply-suc">返回</a>
            </div>
        </div>
    </div>
</form>
<div loading="codePage"></div>
