
<div class="krt-m-wrapper krt-common-wrapper">
    <header><img src="styles/images/krtui/banner-m-bg.jpg" alt=""></header>

    <div class="first-screen common-screen">
         <div class="container">
            <div class="title">
                <div class="arrow-down"></div>
                <div class="fonts">从前</div>
            </div>

             <div class="first-introdu introduces">
                 <div class="subtile subtile1">同进同退</div>
                 <dl class="first">
                     <dt class="logo"><img src="styles/images/krtui/p-01.png" alt=""></dt>
                     <dd>股权投资怎么获得收益呢？</dd>
                 </dl>
                 <dl class="second">
                     <dt class="logo"><img src="styles/images/krtui/p-02.png" alt=""></dt>
                     <dd>您好，您投资的企业在IPO、回购、股权转让、并购重组、新三板上市后，您就可以获得退出机会。退出需要领投人与项目方进行协商，成功退出即可赚取投资收益。</dd>
                 </dl>
             </div>

             <div class="second-introdu introduces">
                 <div class="subtile subtile2">退出期限没有预期</div>
                 <dl class="first">
                     <dt class="logo"><img src="styles/images/krtui/p-03.png" alt=""></dt>
                     <dd>多久可以获得收益？</dd>
                 </dl>
                 <dl class="second">
                     <dt class="logo"><img src="styles/images/krtui/p-04.png" alt=""></dt>
                     <dd>您好，股权投资属于风险投资，没有固定投资回报周期。一般来讲，每个项目的退出期限需要领投人在投后管理过程中与项目方之间进行协商，领投人会为跟投人选择最佳退出时机。</dd>
                 </dl>
             </div>
         </div>
    </div>

    <div class="second-screen common-screen">
        <div class="container">
            <div class="title">
                <div class="arrow-down"></div>
                <div class="fonts">现在</div>
            </div>

            <h2>下轮氪退</h2>
            <p>跟投人可以自主退出</p>

            <div class="desc">
                <div class="logo"><img src="styles/images/krtui/kt-logo.png" alt=""></div>
                你投资的企业在两年内的随后两次正式融资，本轮认购的跟投人均有权利选择退出，获得投资回报！
            </div>
            <a href="{{helpHost}}/#next-quit" class="next-krtui a-btn">了解下轮氪退</a>
        </div>
    </div>

    <div class="third-screen common-screen">
        <div class="container">
            <h3>最新上线 <span>下轮氪退</span> 新锐公司</h3>
            <div class="company-content">

                <div class="company-list">
                    <div class="company-items">
                        <div class="top-img"><img src="styles/images/krtui/company-bg01.jpg" alt=""></div>

                        <div class="company-items-detail">
                            <div class="items-detail-top">
                                <div class="company-logo"><img src="//krplus.b0.upaiyun.com/201506/02/d936244746a2709b1bf7f61ef46f6601.jpg!200" alt=""></div>
                                <div class="company-name-slogan">
                                    <span class="names">停车宝</span>
                                    <span class="descp">提供停车支付及智能停车服务的应用</span>
                                </div>
                            </div>
                            <div class="team"><span>团队成员:</span>  开放、创新、踩得住点</div>
                            <div class="product"><span>产品数据:</span>  高增长网络，产品第一</div>
                        </div>

                    </div>
                    <a class="a-btn" href="https://z.36kr.com/project/148">点击查看</a>
                </div>

                <div class="company-list">
                    <div class="company-items">
                        <div class="top-img"><img src="styles/images/krtui/company-bg02.jpg" alt=""></div>
                        <div class="company-items-detail">
                            <div class="items-detail-top">
                                <div class="company-logo"><img src="//krplus-pic.b0.upaiyun.com/201511/18/3e1d4fae96114e658d3f90ebb7918da8.jpg!200" alt=""></div>
                                <div class="company-name-slogan">
                                    <span class="names">玩聚北京</span>
                                    <span class="descp">城市派对共享计划</span>
                                </div>
                            </div>
                            <div class="team"><span>顶尖孵化器:</span>  氪空间、洪泰众创空间孵化</div>
                            <div class="product"><span>核心价值:</span>  解决“孤独来袭，无处可去”之痛</div>
                        </div>
                    </div>
                    <a class="a-btn" href="https://z.36kr.com/project/149">点击查看</a>
                </div>

                <div class="company-list">
                    <div class="company-items">
                        <div class="top-img"><img src="styles/images/krtui/company-bg03.jpg" alt=""></div>

                        <div class="company-items-detail">
                            <div class="items-detail-top">
                                <div class="company-logo"><img src="//krplus-pic.b0.upaiyun.com/201512/07060648/bucc9tsjyz632jef.png!200" alt=""></div>
                                <div class="company-name-slogan">
                                    <span class="names">脉圈</span>
                                    <span class="descp">陌陌后的中国下一个社交巨头</span>
                                </div>
                            </div>
                            <div class="team"><span>上轮融资:</span>  顶级VC经纬千万级种子轮投资</div>
                            <div class="product"><span>团队成员:</span>  拥有深厚名校校友圈资源</div>
                        </div>

                    </div>
                    <a class="a-btn" href="https://z.36kr.com/project/154">点击查看</a>
                </div>

                <div class="company-list">
                    <div class="company-items">
                        <div class="top-img"><img src="styles/images/krtui/company-bg04.jpg" alt=""></div>

                        <div class="company-items-detail">
                            <div class="items-detail-top">
                                <div class="company-logo"><img src="//krplus-pic.b0.upaiyun.com/201512/23120054/cz5me4pxrqwk4vjo.png!200" alt=""></div>
                                <div class="company-name-slogan">
                                    <span class="names">coolook </span>
                                    <span class="descp">一款基于数据挖掘的全球性的国际资讯整合及推荐引擎</span>
                                </div>
                            </div>
                            <div class="team"><span>团队成员:</span> 多名国内知名公司高管</div>
                            <div class="product"><span>产品数据:</span> 留存率海外榜首</div>
                        </div>

                    </div>
                    <a class="a-btn" href="https://z.36kr.com/project/153">点击查看</a>
                </div>
            </div>
        </div>
    </div>

    <div class="fourth-screen common-screen">
        <div class="container">
            <h1>36氪股权投资</h1>
            <p>1%的投资，成就100%的梦想</p>
            <div class="code-q">
                <div class="weixin-code">

                </div>
                <img src="styles/images/krtui/code-q.jpg" alt="">
                <span>长按二维码，成为跟投人</span>
            </div>
            <h1 class="gqzc-logo">股权众筹</h1>
        </div>
    </div>
</div>

<script>

</script>

</body>
</html>
