<div class="syndicate-order">
    <div class="order-title">
        你有  <span class="error">{{tempList.length}}</span>个{{tempData.company.name}}待付款订单
    </div>
    <div class="order-content">
        <div class="order-detail" ng-repeat="item in tempData">
            <div class="order-info">
                <div class="company-name">{{item.company.name}}</div>
                <div class="pay-tip">总支付金额: <span class="error">￥{{item.payment.amount}}</span></div>
            </div>
            <div class="order-handle">
                <a class="go-pay-btn" href="" ng-click="goPay(item.trade_id,item.payment.amount)" baidu-btn="待付款订单页-去付款按钮点击">去付款></a>
            </div>
        </div>
    </div>
    <div class="viewAll" ng-click="viewAll()" ng-if="!showAll && tempList.length > 3">
        查看全部({{tempList.length - tempData.length}})
    </div>
    <a ui-sref="syndicatesConfirm({cid:companyId,fundingId:fundingId})" class="re-buy" baidu-btn="待付款订单页-重新购买按钮点击">重新购买</a>
</div>
