<div class="pay-outline-remind">
    <div class="remind-title">
        <section class="title-text">线下汇款提醒</section>
    </div>
    <div class="remind-content">
        <ul>
            <li class="remind-list"><span class="list-point"></span>选择银行汇款后，不能更换支付方式。</li>
            <li class="remind-list"><span class="list-point"></span>付款成功以<span class="c-orange">到款时间</span>为准。</li>
            <li class="remind-list"><span class="list-point"></span>建议使用支付宝、快捷支付，快捷又安全。</li>
        </ul>
    </div>
    <div class="btn-option">
        <a href="" class="pay-way-online" ng-click="cancel()">线上支付</a>
        <a href="" class="pay-way-outline" ng-click="payOutline()">线下付款</a>
    </div>
</div>
