<div class="syndicate-pay">
    <div class="pay-title">
        总支付金额  <span class="error amount">￥{{tradeData.amount}}</span>
    </div>
    <div class="pay-content">
        <div class="pay-detail" ng-repeat="bank in bankData.agreement_list track by $index" ng-click="selectCard($index)">
            <div class="pay-info">
                <div>{{bank.bank_name}}**** **** ****{{bank.card_no}}</div>
                <div>单笔限额{{bank.limit_once}},<span class="orange">每日限额{{bank.limit_everyday}}</span></div>
            </div>
            <div class="pay-handle" ng-if="$index === cardIndex">
                <a href="" class="glyphicon glyphicon-ok"></a>
            </div>
        </div>
        <div class="pay-detail">
            <div class="pay-info icon-big-add" ng-click="addCard()">
                <span class="add-card">选择其他银行</span>
            </div>
        </div>
    </div>
    <a href="" class="go-pay btn" ng-click="goPay()" tooltip="{{cardIndex === '' ? '请选择银行卡' : ''}}">立即支付</a>
</div>
