<div class="syndicates-pay text-center set-remind" ng-if="!!isRefundModal">
    <h4>申请退款</h4>
    <p>确认申请后，我们会在2个工作日内处理退款的订单。</p>
    <div class="btn-layer mt-26">
        <a href="javascript:void(0)" class="ensure-btn" ng-click="ok()">确定</a>
        <a href="javascript:void(0)" class="cancel-btn ml-10" ng-click="cancel()">取消</a>
    </div>
</div>

<div class="syndicates-pay text-center set-remind" ng-if="!!isCancelOrder">
    <h4>取消订单</h4>
    <p>取消后，不能恢复此订单！如果你想认购更多的金额，建议你取消这笔订单。</p>
    <div class="btn-layer mt-26">
        <a href="javascript:void(0)" class="ensure-btn" ng-click="ok()">确定</a>
        <a href="javascript:void(0)" class="cancel-btn ml-10" ng-click="cancel()">取消</a>
    </div>
</div>
