<!-- 众筹 2.0 浮层提示 -->
<div class="new-tips pop text-center">
    <a class="btn-close icon-del" href="" ng-click="close()">
    </a>

    <div class="pop-header clearfix">
        <div class="pop-logo"></div>
    </div>

    <div class="pop-body">
        <h4 class="pop-title">36氪股权投资 2.0 上线啦!</h4>

        <ul class="tips">
            <li class="tip"><span class="font-blue">3</span> 天冷静期内，付款后还能反悔</li>
            <li class="tip">仅 <span class="font-blue">1%</span> 的保证金就能认购，随意支配 <span class="font-blue">99%</span></li>
            <li class="tip">不变的是先到先得，看谁付保证金更快</li>
        </ul>

        <a href="javascript:void(0);" class="btn btn-ok" ng-click="close()">知道了</a>
    </div>
</div>
