<div class="m-dropdown-menu">
    <ul class="top-menu">
        <li>
            <a href="{{ucHost}}/#/uc/account/basic">我的账号</a>
        </li>
        <li>
            <a href="{{ucHost}}/#/uc/message/inbox/followed/">我的消息</a>
        </li>
        <li>
            <a href="{{ucHost}}/#/uc/favorite">我的收藏</a>
        </li>
        <li>
            <label class="animated" for="toggle" ng-class="{'active': isActive}" ng-click="activeButton()"></label>
        </li>
    </ul>
    <input id="toggle" name="toggle" type="checkbox">
    <ul class="animate down-menu">
        <li class="animate">
            <a href="{{ucHost}}/#/uc/account/basic">我的账号</a>
        </li>
        <li class="animate">
            <a href="{{ucHost}}/#/uc/message/inbox/followed/">我的消息</a>
        </li>
        <li class="animate">
            <a href="{{ucHost}}/#/uc/favorite">我的收藏</a>
        </li>
        <li class="animate">
            <a ui-sref="syndicatesAllOrder">我的订单</a>
        </li>
        <li class="animate">
            <a href="{{ucHost}}/#/uc/mycompany">我管理的公司</a>
        </li>
        <li class="animate">
            <a href="{{ucHost}}/#/uc/follow/1">我关注的公司</a>
        </li>
    </ul>
</div>

<div class="procedure-wrapper">
    <div class="project-section">
        <div class="section-header">
            <p>投资的项目</p>
        </div>
        <div class="project-info clearfix">
            <div class="project-logo">
                <a ui-sref="syndicatesDetail({ companyId: formality.financing.company.id, fundingId: formality.cf_id })" data-stat-click="comInfo.comLogo">
                    <img ng-src="{{ formality.financing.company.logo | image:40:'logo' }}" width="40" height="40" alt="{{ formality.financing.company.name }}">
                </a>
            </div>
            <div class="project-des">
                <h4 class="project-title" data-stat-click="comInfo.comName">
                    <a ui-sref="syndicatesDetail({ companyId: formality.financing.company.id, fundingId: formality.cf_id })">{{ formality.financing.company.name  }}</a>
                </h4>
                <p class="project-sub-title">
                    {{ formality.financing.company.brief }}
                </p>
            </div>
        </div>
    </div>

    <div class="procedure-section">
        <div class="section-header">
            <p>手续进度</p>
            <span>完成时间以实际进度为准</span>
        </div>
        <div class="procedure-area clearfix">
            <ul class="procedures">
                <li class="procedure" ng-class="{ 'active': formality.status == 2, 'passed': formality.status > 2  }">
                    <div class="dot"></div>
                    <div class="line"></div>
                    <p class="status">身份证扫描件收集中<span ng-if="formality.status == 2">(请在{{ formality.forecast_complete_time }}前完成)</span></p>
                </li>
                <li class="procedure" ng-class="{ 'active': formality.status == 3, 'passed': formality.status > 3  }">
                    <div class="dot"></div>
                    <div class="line"></div>
                    <p class="status">合同签署并回寄中<span ng-if="formality.status == 3">（请在{{ formality.forecast_complete_time }}前完成）</span></p>
                </li>
                <li class="procedure"  ng-class="{ 'active': formality.status == 4, 'passed': formality.status > 4  }">
                    <div class="dot"></div>
                    <div class="line"></div>
                    <p class="status">有限合作企业成立中<span ng-if="formality.status == 4">（请在{{ formality.forecast_complete_time }}前完成）</span></p>
                </li>
                <li class="procedure"  ng-class="{ 'active': formality.status == 5, 'passed': formality.status > 5  }">
                    <div class="dot"></div>
                    <div class="line"></div>
                    <p class="status">入资中<span ng-if="formality.status == 5">（请在{{ formality.forecast_complete_time }}前完成）</span></p>
                </li>
                <li class="procedure" ng-class="{ 'active': formality.status == 6  }">
                    <div class="dot"></div>
                    <p class="status">入资成功<span ng-if="formality.status == 6">（{{ formality.forecast_complete_time }}）</span></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="task-section">
        <div class="section-header">
            <p>需要完成的任务</p>
        </div>
        <div class="task-area">
            <!--身份证扫描并收集中-->
            <div class="upload-area" ng-if="formality.status == 2">
                <form action="" method="post" role="form" name="AuditForm" ng-submit="submitForm($event)">
                    <div class="icon-folder" ng-if="!audit.exist && !previewMode"></div>
                    <div class="icon-timer" ng-if="audit.exist && audit.status == 1 && !previewMode"></div>
                    <div class="icon-success" ng-if="audit.exist && audit.status == 2 && !previewMode"></div>
                    <div class="icon-fail" ng-if="audit.exist && audit.status == 3 && !previewMode"></div>

                    <div class="preview" ng-repeat="item in audit.auditPics" style="background-image: url({{ item }})" ng-if="audit.exist && audit.status == 3 && audit.reaudit || previewMode">
                        <div class="progress-num" data-percent="{{ progress }}" ng-if="progress > 0"></div>
                    </div>

                    <p class="tip text-center" ng-if="!audit.exist && !previewMode && !audit.status">越早上传身份证，越快到下一步</p>
                    <p class="tip text-center" ng-if="audit.exist && audit.status == 3 && audit.reaudit || previewMode">上传前，请阅读下方身份证扫描件规范</p>

                    <p class="tip text-center" ng-if="audit.exist && audit.status == 1">身份证扫描件审核中...</p>

                    <p class="tip text-center success" ng-if="audit.exist && audit.status == 2">审核已通过</p>
                    <p class="tip text-center" ng-if="audit.exist && audit.status == 2">待其他跟投人都完成后，进入下一步。如果需要更新扫描件请联系客服</p>

                    <p class="tip text-center fail" ng-if="audit.exist && audit.status == 3 && !audit.reaudit">你的审核未通过</p>
                    <p class="tip text-center" ng-if="audit.exist && audit.status == 3 && !audit.reaudit">更改建议：{{ audit.reason }}</p>

                    <button type="submit" class="btn btn-primary btn-submit" ng-if="audit.exist && (!audit.status || audit.status == 3 && audit.reaudit)" data-stat-click="task.submit">提交审核</button>
                    <a class="btn btn-upload" href="javascript:void(0);" ng-class="{ 'btn-primary': !audit.exist , 'btn-default': audit.exist }" ng-if="!audit.status || audit.status == 3 && audit.reaudit">
                        <span ng-if="!audit.exist" data-stat-click="task.uploadPic">上传身份证扫描件</span>
                        <span ng-if="audit.exist" data-stat-click="task.uploadAgain">重新上传</span>
                        <input type="file" name="auditPic" ng-file-select
                               ng-file-change="imgFileSelected($files, $event)"
                               ng-multiple="true"
                               accept=".jpg, .gif, .png"
                               resetOnClick="true">
                    </a>
                    <a class="btn btn-upload btn-primary" href="javascript:void(0);" ng-if="audit.status == 3 && !audit.reaudit">
                        <span ng-if="audit.exist" data-stat-click="task.uploadAgain">重新上传</span>
                        <input type="file" name="auditPic" ng-file-select
                               ng-file-change="imgFileSelected($files, $event)"
                               ng-multiple="true"
                               accept=".jpg, .gif, .png"
                               resetOnClick="true">
                    </a>
                </form>
            </div>

            <!--合同签署并回资中-->
            <div class="sign-area" ng-if="formality.status == 3">
                <div class="icon-writing"></div>
                <p class="tip text-center">赶紧打印签字吧！</p>
                <p class="text-center">然后把文件寄给我们，剩下就等着做股东吧！</p>
                <a href="{{ formality.file_contract  }}" class="btn btn-primary btn-download" target="_blank" data-stat-click="task.download">下载文件</a>

                <ul class="steps">
                    <li class="step">
                        <span>第一步</span>
                        <div class="content">
                            <p>下载并解压文件</p>
                        </div>
                    </li>
                    <li class="step">
                        <span>第二步</span>
                        <div class="content">
                            <p>打印文件</p>
                            <p ng-bind-html="formality.desc_print"></p>
                        </div>
                    </li>
                    <li class="step">
                        <span>第三步</span>
                        <div class="content">
                            <p>签署文件</p>
                            <p ng-bind-html="formality.desc_sign"></p>
                        </div>
                    </li>
                    <li class="step">
                        <span>第四步</span>
                        <div class="content">
                            <p>回寄地址</p>
                            <p ng-bind-html="formality.address_post"></p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--有限合伙企业成立中-->
            <div class="found-area" ng-if="formality.status == 4 || formality.status == 5">
                <div class="icon-smile"></div>
                <p class="tip text-center">你已经完成了所有的任务</p>
                <p class="text-center">只需静静地等待正式成为 <a ui-sref="syndicatesDetail({ companyId: formality.financing.company.id, fundingId: formality.cf_id })">{{ formality.financing.company.name  }}</a> 的投资人，如果有进度更新，我们会及时通知您</p>
            </div>

            <!--入资成功-->
            <div class="success-area" ng-if="formality.status == 6">
                <div class="icon-people"></div>
                <p class="tip text-center">祝贺你</p>
                <p class="text-center">你已经正式成为 <a ui-sref="syndicatesDetail({ companyId: formality.financing.company.id, fundingId: formality.cf_id })">{{ formality.financing.company.name  }}</a> 的投资人！</p>
            </div>
        </div>
    </div>

    <div class="rules-section" ng-if="formality.status == 2">
        <div class="section-header">
            <p>身份证扫描件规范</p>
        </div>
        <div class="rules-area">
            <ol>
                <li>1、在一张A4大小页面同时将 <strong>身份证</strong> 正反面扫描；</li>
                <li>2、注意不要添加任何 <strong>水印</strong> 标记；</li>
                <li>3、保持 <strong>原尺寸扫描</strong>，务必清晰；</li>
                <li>4、请务必于 <strong>2个工作日</strong> 内上传完。</li>
            </ol>
            <p>股权的交割手续需要各位股东实名制在工商部门完成注册登记手续，因此我们需要您提供本人的身份证扫描件电子版（请您仔细阅读注意事项），以便我们协助各位投资人办理后续的工商注册登记事项。</p>
        </div>
    </div>

    <div class="rules-section" ng-if="formality.status == 3">
        <div class="section-header">
            <p>请您阅读</p>
        </div>
        <div class="rules-area">
            <ol>
                <li>1、<strong>不要</strong> 填写日期；</li>
                <li>2、务必本人用 <strong>黑色碳素笔签名</strong>，签名尽量规范整齐，切勿潦草签、艺术签、人名章；</li>
                <li>3、务必在指定位置签字且 <strong>必须与股东名单名字相符</strong>；</li>
                <li>4、请务必于 <strong>3天</strong> 内将签署好的签字页寄到指定地点。</li>
            </ol>
            <p>如您对签字环节有任何疑问，请联系我们。</p>
        </div>
    </div>

    <div class="service-section">
        <div class="item">
            <span class="icon phone"></span>
            <p>客服电话：<span>010-57499061</span></p>
        </div>
        <div class="item">
            <span class="icon email"></span>
            <p>客服邮箱：<span>zc_service@36kr.com</span></p>
        </div>
    </div>
</div>
