<div class="syndicate-suc" ng-hide="loadingInst.zhongchouSuc">
    <div class="suc-content">
        <div class="suc-hand"></div>
        <p class="suc-tip">恭喜您，成功认购{{companyName}}！</p>
        <p class="suc-default">36氪股权投资，发现下一个伟大公司。</p>
    </div>
    <div class="suc-bottom">
        <a ui-sref="syndicates" class="go-on-btn btn">查看更多项目</a>
        <p class="share-text">分享至：</p>
        <a href="" class="share-weibo" share-way="tsina" baidu-share="config" ng-click="shareSyndicate()" baidu-btn="支付成功页-分享微博按钮点击"></a>
        <a href="" class="share-qq" share-way="sqq" baidu-share="config" ng-click="shareSyndicate()" baidu-btn="支付成功页-分享QQ空间按钮点击"></a>
    </div>
</div>
<div loading="zhongchouSuc"></div>
