@mainCor:#ef0021;
@orgCor:#ff4620;
@pushTxt:#ffe438;
@commBtn:#007a4f;
@starTxt:#139f8d;
@btmBtn:#ffb331;
@mTitle:#00aa59;
@mTxt:#00aa83;
@mRedTitle:#ff5000;
@mRedTxt:#ff8a00;
@redStart:#ff4800;
@grayEnd:#a0a0a0;

@green: #00856e;
@orange: #ff4800;
@yellowBorder:#ff982e;
// @gray: #808080;
@meat: #ffdbac;
@yellow: #ffb14a;


.paddTopBar{
  padding-top:55px;
  @media screen and (min-width: 768px) {
    padding-top:95px;
  }
}

.loading-wrap{
  min-height: 1000px;
}

.bg-green {
  background-color: @green !important;
}

.m-red-title{
  color:@mRedTitle;
  border: solid 1px #ff8a00;
  border: solid 1px #ff8a00;
  box-shadow: 0 0 5px rgba(255, 138, 0, 1);
  -webkit-box-shadow: 0 0 5px rgba(255, 138, 0, 1);
  -moz-box-shadow: 0 0 5px rgba(255, 138, 0, 1);
  span{
    text-shadow: 0 0 2px #ff8a00, 0 0 2px #ff8a00;
  }
}

//tab标签样式
.rongzi-tab{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  width: 95%;
  margin: 0 auto;
  color:#fffbdd;
  position: relative;
  height: 35px;
  overflow: hidden;
  margin-top: 50px;
  a{
    color:#fffbdd;
    width: 50%;
    float:left;
  }
}

.tab-org-border{
  border:1px solid @orange;
}

.tab-comm-border{
  border:1px solid @green;
}

//选中样式
.tab-org-selected{
  background-color: @orange;
}

.tab-comm-selected{
  background-color: @green;
  //color:#fffbdd;
}

//已完结 和正在进行
.rongzi-split-block{
  padding: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
}

//tag条
.rongzi-tag{
  width:25%;
  height: 30px;
  color:#fffbdd;
  left: 0px;
  margin-left: 0px;
  margin-top: 15px;
  line-height: 30px;
  border-top-right-radius:15px;
  border-bottom-right-radius: 15px;
}

.rongzi-favorite{
  color: #ff982e;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin-top: -25px;
  margin-right: 30px;
}

//虚位以待
.rongzi-vacancy{
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffd200;
  position: relative;
  height: 50px;
  line-height: 50px;
}

.tag-comm-oncome{
  //background-color: @redStart;
    background-color: @green;
}

.tag-org-oncome{
  background-color: @redStart;
}

.tag-end{
  background-color: @grayEnd;
}

.m-red-txt{
  color:@mRedTxt;
}

.m-title{
  color:@mTitle;
  border: solid 1px @mTxt;
  border: solid 1px #mTxt;
  box-shadow: 0 0 5px rgba(0, 170, 131, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 170, 131, 1);
  -moz-box-shadow: 0 0 5px rgba(0, 170, 131, 1);
  span{
    text-shadow: 0 0 2px @mTxt, 0 0 2px @mTxt;
  }
}

.fixDownloadBar{
  min-height: 45px;
  max-width: 768px;
  height: auto;
  width: 100%;
  background-color: #fc491e;
  line-height: 40px;
  position: fixed;
  top:0px;
  overflow: hidden;
  text-align: center;
  .innerDiv{
    height: auto;
    min-height: 45px;
    margin: 5px 5px;
    border: 1px dashed #fd8f25;
    @media screen and (min-width: 768px) {
      height: 85px;
    }
    div{
      width: 33%;
      float: left;
      min-height: 45px;
      height: auto;
      img{
        width: 100%;
      }
    }
    div:nth-of-type(1){
        img{
          margin-top: 5px;
          width: 80%;
        }
    }
    div:nth-of-type(2){
      font-size: 14px;
      color: #fff4e5;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 45px;
      @media screen and (max-width: 320px) {
        letter-spacing: 0px;
        font-size: 14px;
      }
      @media screen and (min-width: 768px) {
        font-size: 25px;
        line-height: 85px;
        // img{
        //   transform: translateY(50%);
        // }
      }
    }
    div:nth-of-type(3){
        img{
          width: 70%;
        }
    }
  }
}

.m-txt{
  color:@mTxt;
}

.btn{
  background-color: @mainCor;
  color: white;
  height: 37px;
  border-radius:15px;
  text-align: center;
}

.org-btn{
  background-color: @orgCor;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius:15px;
  text-align: center;
  border: @orgCor;
}

.star-btn{
  background-color: @commBtn;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius:15px;
  text-align: center;
  border: @commBtn;
}

.rongzi-common-backg{
  position: relative;
  max-width: 768px;
  background: url('images/rongzi/second-bg.jpg') no-repeat center;
  background-color: #000000;
}


.rongzi-common-bottom{
  height: 48px;
  width: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  background-color: @orgCor;
  color: white;
}

.rongzi-common-bottom-comm{
  height: 48px;
  width: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  background-color: @btmBtn;
  color: white;
}

.rongzi-common-top{
  width: 100%;
  height: auto;
  // min-height: 360px;
  position: relative;
  // padding-bottom: 20px;
  //background: url('images/rongzi/org-top1.png');

  .rongzi-common-logo{
    img{
      width: 30%;
      float: right;
      margin-right: 10px;
    }
    //height: 100px;
    //background: url('images/rongzi/rongzi-logo.png');
  }

  .rongzi-common-logo-enroll{
    img{
      width: 100%;
    }
    // width: 100%;
    // height: 70px;
    // background: url('images/rongzi/enroll-logo1.png');
  }

  .rongzi-common-textbtn-org{
    img{
      width: 100%;
    }
  //  height: 55px;
  //  background: url('images/rongzi/org-text.png');
  }

  .rongzi-common-textbtn-community{
    img{
      width: 100%;
    }
    // width: 100%;
    // height: 55px;
    // background: url('images/rongzi/community-text.png');
  }

  .rongzi-common-textbtn-investor{
    img{
      width: 100%;
    }
    // width: 100%;
    // height: 55px;
    // background: url('images/rongzi/investor-text.png');
  }

  .rongzi-common-textbtn-enroll{
    img{
      width: 100%;
    }
    // width: 100%;
    // height: 55px;
    // background: url('images/rongzi/enroll-txt.png');
  }
   .rongzi-enroll-btn{
     height: 40px;
     width: 100%;
     button{
       background-color: #ef0021;
       width: 40%;
       height: 33px;
       border-radius: 15px;
       line-height: 20px;
       color:#ffe69a;
       font-size: 16px;
       font-weight: bold;
       text-align: center;
       border: 1px solid #ffe69a;
       margin-left: 20px;
     }
   }

  .rongzi-enroll-text{
    color: #e4a48f;
    font-size:14px;
    width:100%;
    padding: 10px 0px;
    p{
      width: 90%;
      font-weight: 900;
      text-align: left;
      margin: 0 auto;
    }
    ul{
      margin: 0;
      padding:0;

      li{
        color: #e4a48f;
        //font-weight: bold;
        margin: 0 auto;
        width: 90%;
        text-align: left;
      }

      li:first-child{
        font-weight: 900;
        text-align: left;
        list-style-type: none;
      }
    }
  }

  .rongzi-common-pushtext{
    color: @pushTxt;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .rongzi-common-pushtext-investor{
    color: @starTxt;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .rongzi-common-text{
    text-align: left;
    height: auto;
    p{
      color: #fff6e4;
      font-size:14px;
      margin: 0 auto;
      font-weight: bold;
      width:90%;
      line-height: 18px;
    }
  }

  .rongzi-common-btn{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    height: 40px;
    button{
      margin: 0 auto;
      height: 30px;
      line-height: 15px;
      width: 210px;
      font-size: 16px;
      font-weight: 900;
    }
    a{
      height: auto;
      line-height: 40px;
      font-size: 16px;
      width: 60%;
      color: white;
      display: inline-block;
      border-radius: 25px;
    }
  }
}



.nativeAlert_wrap {
    background: rgba(0,0,0,0.60);
    overflow: visible;

    .modal-dialog {
        margin-top: 65px;
        //margin-left: 7.5%;
        //margin-right: 7.5%;
    }
    .modal-content {
        padding-bottom: 0;
        overflow: visible;
    }
    .modal-content {
        border: none 0;
        width:80%;
        margin: 0 auto;
        background-color: rgba(252,73,30,1);
    }
    .remindAlert_pop {
        position: relative;
        overflow: visible;
        padding-top: 15px;
        border-radius: 10px;

        h4 {
            text-align: center;
            margin: 0 30px;
            font-size: 16px;
            color: @pushTxt;
            letter-spacing: 0px;
            line-height: 19.5px;
            font-weight: 600;
        }
        .pop-content{
          position: relative;
          min-height: 200px;
          height: auto;
          text-align: center;
          p{
            margin: 0 auto;
            width:80%;
            text-align: left;
            color:#FFF;
            font-size: 12px;
            line-height: 20px;
            margin-top:10px;
            input{
                width: 80%;
            }
          }
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style-type: none;
              font-size: 12px;
              color: #f8f5ae;
              margin-top: 10px;
            }
          }
        }
        .enroll-msg {
          min-height: 120px;
        }
        .pop-bottom{
          width: 100%;
          min-height: 40px;
          height: auto;
          font-size: 15px;
          position: absolute;
          bottom:0px;
          background-color: rgba(252,73,30,1);
          color: @pushTxt;
          //border-top: 1px dotted @pushTxt;
          div{
            width: 100%;
            border-top: 1px dotted @pushTxt;
          }
          .pop-investor{
              display: inline-block;
              width: 100%;
              text-align: center;
              color: #f8f5ae;
              font-weight: bold;
              font-size: 12px;
              height: 30px;
              line-height: 30px;
          }
          h4{
            text-align: center;
            width: 100%;
            display: inline-block;
            line-height: 40px;
            margin: 0 auto;
          }
        }
    }
}


@media screen and (max-width: 414px) {
  .rongzi-common-top{
      background-size: 414px 100%;
      .rongzi-common-logo,.rongzi-common-textbtn-org,
      .rongzi-common-textbtn-investor,
      .rongzi-common-logo-enroll,
      .rongzi-common-textbtn-enroll,
      .rongzi-common-textbtn-community{
        background-size: 414px 100%;
      }
  }
  .rongzi-common-backg{
    background-size: 414px 100%;
  }
}

@media screen and (max-width: 375px) {
      .rongzi-common-top{
          background-size: 375px 100%;
          .rongzi-common-logo,.rongzi-common-textbtn-org,
          .rongzi-common-textbtn-investor,
          .rongzi-common-logo-enroll,
          .rongzi-common-textbtn-enroll,
          .rongzi-common-textbtn-community{
            background-size: 375px 100%;
          }
      }
      .rongzi-common-backg{
        background-size: 375px 100%;
      }
}

@media screen and (max-width: 320px) {
    .rongzi-common-top{
        background-size: 320px 100%;
        .rongzi-common-logo,.rongzi-common-textbtn-org,
        .rongzi-common-textbtn-investor,
        .rongzi-common-logo-enroll,
        .rongzi-common-textbtn-enroll,
        .rongzi-common-textbtn-community{
          background-size: 320px 100%;
        }
    }
    .rongzi-common-backg{
      background-size: 320px 100%;
    }
}

.special-item {
  border: 2px solid;
  border-radius: 12px;
  padding: 2px;
  position: relative;
  margin-bottom: 10px;
  .special-list-border {
    border: 1px dashed;
    border-radius: 8px;
  }
  .special-logo {
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    width: 110px;
    height: 110px;
    background: #fff no-repeat 50%;
    background-size: cover;
    margin: 10px;
  }
  .special-info {
    vertical-align:top;
    display: inline-block;
    margin: 10px 0;
    width: 57%;
    font-size: 12px;
    .special-name {
      font-size: 14px;
      font-weight: bold;
    }
    .special-arrow {
      position: absolute;
      right: 20px;
      top: 20px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid @orange;
    }
    .orange-arrow{
      border-top: 10px solid @orange;
    }
    .green-arrow{
      border-top: 10px solid @green;
    }
    .special-arrow-meat {
      position: absolute;
      right: 20px;
      top: 20px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid @meat;
    }
    .special-phase {
      .phase-item {
        border: 1px solid;
        display: inline-block;
        margin: 2px;
        padding: 0px 3px;
        font-size: 12px;
        line-height: 18px;
        border-radius: 3px;
        font-weight: bold;
      }
    }
    .special-content {
      font-size: 12px;
      color: @meat;
      line-height: 18px;
      font-weight: bold;
    }
    .special-time {
      border: 1px dashed;
      text-align: center;
      width: 70%;
      font-size:12px;
      margin-top: 5px;
      position: relative;
      float: right;
      font-weight: 600;
      margin-right: 10px;
    }
    .special-type{
      margin-top: 5px;
      position: relative;
      float: left;
      border: 1px dashed;
      font-size: 12px;
      border-radius: 10%;
      padding: 0 5px;
    }

    .special-start,.special-end{
      text-align: center;
      width: 70%;
    }
    .show-info {
      text-align: center;
      font-size:12px;
      margin-top: 5px;
      position: relative;
      float: right;
      font-weight: 600;
      margin-right: 2%;
    }
    .light {
      font-weight: bold;
    }
  }
  @media (max-width: 341px) {
    .special-logo {
      width: 100px;
      height: 100px;
    }
    .special-info {
      width: 55%;
      .special-arrow {
        right: 10px;
      }
      .special-time {
        width: 85%;
      }
    }
  }
  @media (min-width: 412px) {
    .special-info {
      width: 60%;
    }
  }
}
.site {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: @orange;
}
.special-state {
  border: 1px dashed;
  margin: 20px auto;
  text-align: center;
  width: 30%;
  border-radius: 25px;
  font-weight: bold;
}
.investor-remind-btn {
  color: #fff;
  background-color: @green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 55%;
  line-height: 40px;
  border-radius: 25px;
  margin-top: 20px;
}

.blur {
  -webkit-filter: blur(3px); /* Chrome, Opera */
     -moz-filter: blur(3px);
      -ms-filter: blur(3px);
          filter: blur(3px);
}

.rongzi-common-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(19,19,20,.9);
  text-align: center;
  z-index: 101;
  color: #f8ebd6;
  font-weight: bold;
  padding-top: 50%;
  font-size: 16px;
  display: none;
  p {
    margin: 0;
  }
  .weixin, .investor {
    background-color: @orange;
    border-radius: 25px;
    line-height: 35px;
    width: 55%;
    margin: 20px auto;
  }
  .or {
    color: @orange;
    margin: 30px auto;
    border: solid 1px @orange;
    border-radius: 100px;
    width: 8%;
    padding: 2px;

  }
}


//外围边框以及字体的颜色设置；
.green-color {
  color: @green;
}
.orange-color {
  color: @orange;
}

.yellow-color {
  color: @yellowBorder;
}

.yellowdotted-color {
  color: @pushTxt;
}

.gray-color{
  color:@grayEnd;
}
.meat-color {
  color: @meat;
}
.yellow-color {
  color: @yellow;
}
.mg-t {
  margin-top: 10px;
}
.mg-l {
  margin-left: 10px;
}
.mg-t-2 {
  margin-top: 20px;
}
