.detail-wrapper{
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow-x:hidden;

  .special-item{
    width: 90%;
    margin: 0 auto;
  }

  .detail-wrapper{
    .detail-logo{
      width:100%;
      height: auto;
      img{
        width:100%;
      }
    }

    .detail-btn{
      width:100%;
      img{
        width:100%;
      }
    }

    .detail-text{
      width: 100%;
      text-align: left;
      font-size:14px;
      color:#fcc45b;
      font-weight: bold;
      line-height: 20px;
      margin-top: 10px;
      p{
        margin: 0 auto;
        width: 90%;
      }
    }
  }

  .detail-bottom{
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid @orgCor;
    color: white;
    bottom: 0px;
    div{
      float: left;
      width: 49%;
    }
    div:first-child{
      background-color: @orgCor;
      border-left: 1px solid black;
    }
  }
}
