.enroll-wrapper {

  .organization-content {
    .enroll-list {
      .enroll-item {
        border: 1px dashed #ff4800;
        .logo {
          display: inline-block;
          border-radius: 5px;
          width: 80px;
          height: 80px;
          background: #fff no-repeat 50%;
          background-size: contain;
        }
        .enroll-info {
          display: inline-block;
        }
      }
    }
  }
}