.enroll-wrapper {
  padding: 0 10px 30px;
  .enroll-content {
    .enroll-list {
      .enroll-item {
        border: 1px dashed #ff4800;
        padding: 10px 0px 10px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        .logo {
          vertical-align:top;
          display: inline-block;
          border-radius: 5px;
          width: 60px;
          height: 60px;
          background: #fff no-repeat 50%;
          background-size: contain;
        }
        .enroll-info {
          vertical-align:top;
          display: inline-block;
          width: 49%;
          margin-left: 10px;
          .name {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #ffb400;
          }
          .phase {
            font-size: 14px;
            font-weight: bold;
            color: #ffb400;
          }
          .intro {
            font-size: 14px;
            color: #fff1d0;
            line-height: 20px;
          }
        }
        .enroll-btn {
          vertical-align:top;
          padding-top: 6px;
          text-align: center;
          display: inline-block;
          background-color: #cd0010;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
          color: #fff1d0;
          float: right;
          margin-right: 10px;
        }
      }
      .notApplied {
        border: 1px dashed #dcdcdc;
        padding: 10px 0px 10px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        .logo {
          vertical-align:top;
          display: inline-block;
          border-radius: 5px;
          width: 60px;
          height: 60px;
          background: #fff no-repeat 50%;
          background-size: contain;
        }
        .enroll-info {
          vertical-align:top;
          display: inline-block;
          width: 49%;
          margin-left: 10px;
          .name {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #dcdcdc;
          }
          .phase {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #dcdcdc;
            margin-left: 40px;
          }
          .intro {
            font-size: 14px;
            color: #dcdcdc;
          }
        }
        .enroll-btn {
          vertical-align:top;
          padding-top: 6px;
          text-align: center;
          display: inline-block;
          background-color: #dcdcdc;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
          color: #6f6f6f;
        }
      }
    }
  }

  .enroll-no-project-wapper {
    a{
      color: #d2b674;
    }
    .no-project {
      text-align: center;
      border: 1px solid #ffc741;
      color: #d2b674;
      font-size: 20px;
      font-weight: bold;
      line-height: 90px;
      width: 90%;
      margin: 0 auto;
    }
    .tips {
      color: #e60012;
      font-size: 16px;
      margin-top: 20px;
      width: 90%;
      margin-left: 25px;
      span {
        line-height: 35px;
      }
      ul {
        word-break: break-all;
      }
    }
  }


}

.share-fotter {
  background-color: black;
  width: 100%;
  padding-bottom: 0px;
  div{
    width: 50%;
  }
  .back-list {
    float:left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #ff4800;
    line-height: 55px;
    border: 1px solid #ff4800;
    position: relative;
  }
  .go-rzj {
    background-color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    line-height: 55px;
    border: 1px solid #ff4800;
    position: relative;
  }
  @media (max-width: 380px) {
    .back-list, .go-rzj{
      font-size: 16px;
      line-height: 50px;
    }
  }
  @media (max-width: 325px) {
    .back-list, .go-rzj{
      font-size: 16px;
      line-height: 45px;
    }
  }
}
