.investor-wrapper {
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow-x:hidden;
  padding: 0 10px;
  // padding-top:55px;
  // @media screen and (min-width: 768px) {
  //   padding-top:95px;
  // }
  .investor-content {
    .investor-list {
      .investor-item {
        margin-bottom: 10px;
        background-color: #d1c0a5;
        border-radius: 10px;
        padding: 3px;
      }
      .list-border {
        border: 1px dashed #02866f;
        border-radius: 10px;
        padding-bottom: 10px;
        .avatar {
          text-align: left;
          display: inline-block;
          background: #fff no-repeat 50%;
          background-size: cover;
          margin: 15px auto;
          width: 135px;
          height: 175px;
          border: 1px solid #02866f;
          margin-left: 10px;
          vertical-align:top;
        }
        @media (max-width: 400px) {
          .avatar {
            width: 115px;
            height: 155px;
          }
        }
        @media (max-width: 360px) {
          .avatar {
            width: 100px;
            height: 135px;
          }
        }
        .investor-info {
          display: inline-block;
          position: relative;
          top: 15px;
          left: 5px;
          width: 60%;
          vertical-align:top;
          .name {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #f8ebd6;
            div {
              padding: 4px;
              display: inline-block;
              border-radius: 45px;
              margin-right: 1px;
              background: url('images/rongzi/font-bg.png') no-repeat;
              background-size: contain;
            }
            span {
              position: relative;
              bottom: 3px;
            }
          }
          .arrows {
            position: absolute;
            right: -95px;
            top: 7px;
            img {
              width: 15%;
              position: relative;
              bottom: 5px;
            }
            .arr-l {
              left: 12px;
            }
            .arr-r {
              right: 12px;
            }
          }
          @media (max-width: 400px) {
            .arrows {
              right: -100px;
              img {
                width: 15%;
              }
            }
          }
          @media (max-width: 360px) {
            .arrows {
              right: -105px;
              top: 5px;
              img {
                width: 13%;
              }
            }
          }
          .content {
            color: #02866f;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            margin: 5px 0;
            line-height: 18px;
          }

          .time {
            background-color: #02866f;
            color: #f8ebd6;
            border-radius: 15px;
            width: 70%;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            line-height: 22px;
            position: relative;
            left: 28%;
            margin-bottom: 10px;
            margin-right: 5px;
          }
          // @media (max-width: 380px) {
          //   .time {
          //     width: 75%;
          //     left: 25%;
          //     margin-bottom: 15px;
          //   }
          // }
          // @media (max-width: 325px) {
          //   .time {
          //     width: 85%;
          //     left: 10%;
          //     margin-bottom: 15px;
          //     font-size: 14px;
          //     line-height: 24px;
          //   }
          // }
        }
      }
      .more {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #ffeecf;
        height: 40px;
      }
    }
  }

  .investor-vacancy {
      background-color: black;
      text-align: center;
      border: 1px dashed #000;
      box-shadow: 0 0 5px #f8ebd6;
      -webkit-box-shadow: 0 0 5px #f8ebd6;
      -moz-box-shadow: 0 0 5px #f8ebd6;
      border-radius: 5px;
      line-height: 50px;
      margin-bottom: 20px;
      div {
        color: #f8ebd6;
        font-size: 14px;
        font-weight: bold;
      }
    // .investor-item {
    //   margin-bottom: 10px;
    //   background-color: #d1c0a5;
    //   border-radius: 10px;
    //   padding: 3px;
    //   .list-border {
    //     border: 1px dashed #02866f;
    //     border-radius: 10px;
    //     padding-bottom: 10px;
    //     .site {
    //       text-align: center;
    //       background-color: #02866f;
    //       color: #f8ebd6;
    //       width: 80%;
    //       margin: 0 auto;
    //       line-height: 35px;
    //       font-size: 16px;
    //       font-weight: bold;
    //       margin-top: 10px;
    //       border-radius: 15px;
    //     }
    //   }
    // }
  }

}
