@import "../global/krfunction.less";
.demos-wrapper{
    .krfunction();
    .reset();
    @border-color: #dbdbdb;
    @black: #222c38;
    @gray: #5a626d;
    @btn-color: #464e58;
    @line-color: #e7e7e7;
    @red: #f65875;
    @cutter: 10px;
    position: relative;
    margin-bottom: 50px;
    header {
        height: 130px;
        background-position: 50% 50%;
        background-size: cover;
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 130px;
        p{
            display: inline-block;
            line-height: 1.2;
            vertical-align: middle;
            & > * {
                display: block;
            }
        }
        div{
            background:rgba(0,0,0,0.65);
        }
    }

    .cover-wrapper{
        height: 100vh;
        background-size: cover;
        background-position: 50% 50%;
        position: fixed;
        width: 100%;
        z-index: 222;
        top:0;
        display: flex;
        align-items: center;
        &:before{
            .full-before();
            z-index:1;
            background: rgba(0, 0, 0, 0.3);
        }
        section{
            flex: 1;
            z-index: 2;
        }

        h3{
            font-size: 20px;
            color: #fff;
            text-align: center;
            padding: 0 24px;
            line-height: 28px;
        }
        h4{
            color: #ccc;
            font-size: 15px;
            text-align: center;
            margin: 10px 0 23px;
        }
        p{
            background: rgba(255,255,2555, 0.8);
            border-radius: 5px;
            padding: 30px;
            color: #000;
            font-size: 14px;
            line-height: 20px;
            margin: 0 45px;
        }
        img{
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .demos-header{
        .header-img{
            height: 181px;
            background-size: cover;
            background-position: 50% 50%;

            p{
                background-color: rgba(0,0,0,0.30);
                height: 181px;
            }
            .header-name{
                display: block;
                text-align: center;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 21.5px;
                padding-top: 77px;
                padding-bottom: 9px;
                letter-spacing: -0.44px;
            }
            .header-proSetCount{
                display: block;
                text-align: center;
                font-size: 14px;
                color: #FFFFFF;
                line-height: 17px;
                letter-spacing: -0.34px;
            }
        }
        .header-info{
            text-align: center;
            background-color: white;
            .text-toggle{
                color: #969fa9;
                line-height: 45px;
                display: block;
            }
        }
        .text-container{
            padding: 20px;
            position: relative;
            &:before,&:after{
                content:"";
                display: block;
                position: absolute;
                height: 1px;
                left: 0;
                background: @line-color;
                right: 0;
                transform: scaleY(0.5);
            }
            &:before{
                top: 0;
            }
            &:after{
                bottom: 0;
            }
            .text-content{
                text-align: left;
                overflow : hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-height: 22px;
                font-size: 15px;
                color: #5A626D;
                letter-spacing: 0px;
                //使用after让浏览器重绘文字 使-webkit-line-clamp生效
                &:after{
                    width: 0;
                    height: 0;
                    display: inline-block;
                    overflow: hidden;
                    content: attr(style);
                }
            }

        }
    }

    .column-detail-wrapper{
        padding: 0 10px;
        ul{
            padding-bottom: 14px;
        }
        li{
            height: 140px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            margin-top: 14px;
            text-align: center;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            &:before{
                .full-before();
                background: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
            div{
                width: 100%;
                position: relative;
                z-index: 2;
            }
            h3{
                font-size: 18px;
                color: #fff;
                line-height: 24px;
                padding: 0 24px;
                text-align: center;
            }
            h4{
                font-size: 14px;
                color: #eceae9;
                margin-top: 10px;
                text-align: center;
            }
        }
        footer{
            margin: 5px 0;
            line-height: 19px;
            text-align: center;
        }
    }

    .loading-wrap{
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index:99;
    }
    .password-wrapper.slide-up{
        transition: transform  700ms;
        transform: translateY(-120%);
    }
    .project-name{
        font-size: 20px;
        font-weight: 600;
    }
    .project-num{
        font-size: 16px;
        margin-top: 6px;
    }
    .how-to-get-pwd{
        font-size: 14px;
        margin-top: 14px;
    }
    .password-wrapper{
        position:fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        padding:0 45px;
        z-index: 111;
        &:before{
            .full-before();
            z-index: 1;
            background:rgba(0, 0, 0, 0.3);
        }
        &>div{
            position: absolute;
            background-size: cover;
            background-position: 50% 50%;
            left: 0;
            height: 100%;
            width: 100%;
            filter: blur(5px);
        }
        section{
            position: relative;
            z-index: 11;
        }
    }
    .password-content{
        height: 224px;
        border-radius: 5px;
        margin: 0 auto;
        width: 100%;
        background: #fff;
        margin-top: 20px;
        text-align: center;
        position: relative;
        overflow: hidden;
        .pwd-invalid{
            position: absolute;
            width: 100%;
            bottom : 55px;
            left: 0;
            color: red;
        }
        .pwd-active{
            color: #222c38;
        }
        p{
            margin-top: 35px;
            color: @black;
            font-size: 16px;
            line-height: 20px;
        }
        input{
            margin-top: 20px;
            outline: none;
            width: 80%;
            height: 45px;
            font-size: 15px;
            line-height: 1;
            color: #969fa9;
            text-align: center;
            border: 1px solid @border-color;
            border-radius: 3px;
        }
        a{
            background: #e7e7e7;
            color: #9099a3;
            display: block;
            line-height: 45px;
            position: absolute;
            width: 100%;
            bottom: 0;
            font-size: 16px;
        }
    }
    .demos-content-wrapper{
        font-size: 13px;
        //padding:0 10px;
        color: @gray;
        margin-top: @cutter;
        min-height: 121px;
        height:auto;
        p{
            line-height: 20px;
        };
        li{
            background: #fff;
            border-radius: 5px;

            overflow: hidden;
            *{
                user-select: none;
            }
            &:last-child{
                .li-line{
                    height: 0;
                }
            }
        }
        li.active{
            background: #f8f8f8;
        }
        .demos-content-href{
            color: rgb(90, 98, 109);
        }
        .base-info-detail .content-wrapper{
            padding-left: 4%;
            .span-first{
                padding: 3px 4px 1px 4px;
            }
            .span-second{
                padding: 1px 0 0;
            }
        }
        .li-line{
            display: block;
            background: #E7E7E7;
            width:100%;
            height:1px;
            margin-left: 4%;
        }
        footer{
            margin: 5px 0;
            line-height: 19px;
            text-align: center;
        }
    }
}

.down_load_pop_wrap {
    background-color: rgba(0, 0, 0, 0.5);

    .modal-dialog {
        margin-top: 180px;
        margin-left: 42px;
        margin-right: 42px;
    }
    .modal-content {
        padding-bottom: 0;
    }
    .modal-content {
        border: none 0;
        border-radius: 10px;
    }
    .down_load_pop {
        padding: 16px 0 30px 0;

        p{
            height: 10px;
            padding-right: 18px;
            .down-close{
                float: right;
                cursor: pointer;
                color: #ccc;
            }
        }
        h4 {
            font-size: 19px;
            text-align: center;
            color: #5a626d;
            margin: 0;
            font-weight: 700;
        }

        ol {
            margin: 15px 20px 31px 20px;
        }
        li {
            list-style: none;
            font-size: 16px;
            color: #5a626d;
            text-align: center;
            height: 23px;
        }
        .down-href {
            margin-left: 31px;
            margin-right: 31px;
            height: 46px;
            border: none 0;
            color: #ffffff;
            background-color: #5a626d;
            display: block;
            text-align: center;
            border-radius: 4px;
            line-height: 46px;
            font-size: 17px;
            font-weight: 600;
        }
        .icon-download{
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
}
