.company-basic {
	background: url(images/org-basic-bg.jpg) center 0 no-repeat;
	position: relative;
	height: 543px;

	.basic-body {
		text-align: center;
		padding: 40px 30px 50px;
	}

	.company-name {
		margin: 10px 0;
		color: @base-white;
		font-size: 44px;
	}

	.brief {
		max-height: 72px;
		overflow: hidden; 
	}

	p {
		margin: 0;
		font-size: 28px;
		line-height: 36px;
		color: @base-white;
	}

	.website {
		display: inline-block;
		font-size: 24px;
		line-height: 36px;
		color: rgba(255,255,255,.5);
		margin: 14px 0 10px;
	}

	.tags {
		display: inline-block;
		span {
			float: left;
			padding: 0 20px;
			line-height: 32px;
			font-size: 20px;
			color: rgba(255,255,255,.5);
			border: 1px solid #8cabb4;
			margin: 0 5px;
		}
	}

	.org-footer {
		padding: 10px 30px;
		background-color: rgba(0,0,0,.3);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.location, .year {
			font-size: 26px;
			line-height: 38px;
			display: inline-block;
			color: #d2ccc6;
		}

		i {
			font-size: 32px;
			vertical-align: text-bottom;
		}
		.share {
			margin: 0;

		}
	} 
}