.company-basic {
	background: url(images/org-basic-bg.jpg) center 0 no-repeat;
	position: relative;
	background-size: cover;

	.basic-body {
		text-align: center;
		padding: 20px 15px 50px;
	}

	.company-name {
		margin: 10px 0 0 0;
		color: @base-white;
		font-size: 22px;
	}

	// .brief {
	// 	max-height: 72px;
	// 	overflow: hidden; 
	// }

	p {
		margin: 10px 0 0;
		font-size: 14px;
		line-height: 18px;
		color: @base-white;
	}

	.website {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		color: rgba(255,255,255,.5);
		margin-top: 10px;
	}

	.tags {
		display: inline-block;
		margin-top: 10px;
		span {
			float: left;
			padding: 0 12px;
			line-height: 18px;
			font-size: 12px;
			color: #fff;
			border: 1px solid rgba(255,255,255,.8);
			margin: 0 5px;
		}
	}

	.org-footer {
		padding: 5px 10px;
		background-color: rgba(0,0,0,.3);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.location, .year {
			font-size: 14px;
			line-height: 20px;
			float: left;
			margin-right: 20px;
			color: #d2ccc6;
		}

		i {
			font-size: 16px;
			vertical-align: text-bottom;
		}
		.share {
			margin: 0;
			a {
				width: 20px;
				height: 20px;
				border-radius: 4px;
				line-height: 20px;
				font-size: 14px;
			}
		}
	} 
}