<div  class="demos-wrapper">
    <loading ng-init="loadingInst.openApp=false"  loading="openApp"></loading>
    <!--- 头部 --->
    <div class="demos-header">
        <div class="header-img"
        ng-style="{'background-image': (vm.activity.headImgUrl | backgroundUrl)}">
        </div>
        <div class="header-info" ng-if="vm.activity.actIntro">
          <div class="text-container">
            <div markdown="vm.activity.actIntro" class="class-markdown"
            ng-bind="vm.activity.actIntro"></div>
          </div>
        </div>
    </div>

    <div  id="demosContent"  ng-if="vm.activity.projects.projects" class="activty-process">

      <div class="activity-column-detail-wrapper" ng-if="vm.activity.projects">
          <a href="javascript:" ng-bind="vm.activity.projects.title"></a>
      </div>

        <section  class="demos-content-wrapper" >
            <ul infinite-scroll='vm.loadMore()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='3'>
                <li ontouchstart="" kr-active="'active'"
                    ng-repeat="item in vm.activity.projects.projects">
                    <a class="projectList-content-href" >
                        <div class="base-info-detail">
                            <div  class="logo-wrapper" >
                                <img ng-src="{{item.logo | image}}" alt="" ng-if="item.logo">
                                <img ng-style="{'background-color':(item.ccid | demoDefaultColor)}" ng-if="!item.logo">
                                <span class="logo-name" ng-if="!item.logo">{{item.name | demoNameDufault}}</span>
                                <span class="logo-funding" ng-show="item.funding">正在融资</span>
                            </div>
                            <div class="content-wrapper">
                                <h3><span class="item-name">{{item.name}}</span>
                                  <span class="item-signs" style="background-color: rgb(107, 162, 252);" ng-if="item.phase">
                                    {{item.phase}}</span>

                                    <span ng-if="item.recommend" class="item-signs" style="background-color: #ffa546">
                                      精</span>

                                    <span ng-if="item.hot" class="item-signs" style="background-color: #f7647f">
                                      热</span>
                                  </h3>

                                <p class="item-brief">{{item.intro}}</p>
                                <p class="item-industry" ng-if="item.industry"><span class="span-first">行业</span><span class="span-second">{{item.industry}}</span></p>
                                <p class="item-advantage" ng-if="item.highLight"><span class="span-first">亮点</span><span class="span-second">{{item.highLight}}</span></p>
                            </div>
                        </div>
                    </a>
                    <span class="li-line" style=""></span>
                </li>
            </ul>
        </section>
          <span class="li-line" style=""></span>
          <div class="more-btn" ng-if = "vm.activity.projects.allProjectUrl">
            <a href="{{vm.activity.projects.allProjectUrl}}" target="_blank">查看全部项目</a>
          </div>
    </div>

    <div class="activty-process" ng-if="vm.activity.agenda">
      <div class="column-detail-wrapper">
          <a href="javascript:" ng-bind="vm.activity.agenda.title"></a>
      </div>
        <div class="sub-activity">
            <ul>
              <li ng-repeat="item in vm.activity.agenda.agenda">
                <div class="out">
                  <div class="inside">
                  </div>
                </div>
              <p class="act-time" ng-bind="item.time">
              </p>
              <p class="act-info" ng-bind="item.item">
              </p>
              </li>
            </ul>
        </div>

    </div>


<div class="section-footer" ng-if="vm.activity.status == 0">
  <div class="section-footer" ng-if="vm.activity.applierType == 'INVESTOR' " >
      <div class='all back' ng-click="vm.start('investor')">投资人报名</div>
  </div>
  <div class="section-footer" ng-if="vm.activity.applierType == 'STARTUP' ">
      <div class='all blue' ng-click="vm.start('startup')">创业者报名</div>
  </div>

  <div class="section-footer" ng-if="vm.activity.applierType == 'BOTH' " >
      <div class='half blue' ng-click="vm.start('startup')">创业者报名</div>
      <div class='half back' ng-click="vm.start('investor')"> 投资人报名</div>
  </div>
  </div>

<div class="section-footer" ng-if="vm.activity.status == 1">
  <div class="section-footer disabled" >本次报名已结束</div>
</div>

<div class="section-footer" ng-if="vm.activity.status == 2">
  <div class="section-footer disabled" >停止报名</div>
</div>

</div>
