<div class="container investor-apply-wrapper investor-wrapper">
    <div class="activity-info">
        <h3>本次活动对投资人和创业者开放</h3>
        <span class="activity-info-span">请认真填写您的信息</span>
        <img src="/styles/images/activity/krspace/group2@2x.png"/>
        <div>
            <span class="activity-info-left">验证手机</span>
            <span class="activity-info-middle">填写信息</span>
            <span class="activity-info-right">报名成功</span>
        </div>
    </div>
    <div class="welcome validate-welcome-wrapper">
        <form class="form-container" name="guideForm" ng-submit="$event.preventDefault()">
            <div error-wrapper error-group="errorGroup"></div>
            <div class="welcome-form">
                <div class="line">
                    <label>姓名</label>
                    <div class="control">
                        <input class="form-control" placeholder="未填写" type="text" name="name" maxlength="15"
                               ng-model="vm.investor.name" ng-pattern="/^[\u4E00-\u9FA5a-zA-Z\s]{0,15}$/" required/>
                    </div>
                </div>
            </div>
            <div class="basic-info basic-info-cutter "></div>
        </form>
    </div>

    <div class="investor-validate investor-validate-apply">
        <!--跟投人未提交验证-->
        <div>
            <form ng-submit="$event.preventDefault()"
                  name="investorValidateForm"
                  class="form-container">
                <div>

                    <div class="line">
                        <label>身份</label>
                        <div class="control icon-select pr-15">
                            <select ng-model="vm.investor.investorRole"
                                    name="identity"
                                    ng-change="$parent.detailHasChange = true"
                                    class="fr" required
                                    >
                                <option name="" value="">未选择</option>
                                <option name="" value="INDIVIDUAL">个人</option>
                                <option name="" value="ORGANIZATION">机构</option>
                                <option name="" value="COMPANY">公司</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="i-body" ng-if="(vm.investor.investorRole == 'ORGANIZATION')">

                    <!--新增机构-->
                    <div class="line content-list">
                        <div>
                            <label>机构名称</label>
                        </div>
                        <div kr-suggest type="comAndOrg" class="kr-fleft control" ng-if="user.auditStatus !== 0"
                             suggest-obj="suggestOrganizationObj" max-length="30" min-length="1"
                             autocomplete-options="suggestOrganizationOption" placeholder="未填写" name="companyName">
                        </div>
                        <div class="control suggestOrganizationObj" ng-if="user.auditStatus === 0"  ng-disabled="true"
                            placeholder="未填写" name="companyName" ng-bind="suggestOrganizationObj.word + '(审核中)'">
                        </div>
                    </div>
                </div>

                <div class="upload-wrapper" ng-if="detailHasChange || user.auditStatus === undefined || user.auditStatus === -1">
                    <!--上传名片-->
                    <div class="line upload-pictures">
                        <label for="pictures">名片</label>
                        <div class="col-max">
                            <div class="item">
                                <div class="intro-pic-list icon-select">
                                    <div class="pic-wrapper pic-input">
                                        <div class="pic-wrapper" ng-show="investorValidateForm.pictures.uploaded || invest.pictures" style="background-image: url({{ investorValidateForm.pictures.uploaded || invest.pictures}});"></div>
                                        <input ng-file-select
                                               type="file" name="pictures" id="pictures" class="input-file" accept="image/*"
                                               ng-file-change="imgFileSelected(investorValidateForm.pictures, $files)"
                                               ng-click="androidUpload(investorValidateForm.pictures, $event, 0)"
                                               ng-model="pictures" ng-multiple="false" resetOnClick="true"
                                        />
                                        <div ng-show="investorValidateForm.pictures.uploading" class="stick pic-stick" style="height:{{investorValidateForm.pictures.progress}}%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="basic-info"></div>
                <div class="form-submit">
                    <a href="" class="btn btn-default btn-auth" ng-click="submitForm($event)" ng-disabled="hasClick">立即提交</a>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="text/ng-template" id="templates/util/pop-captcha.html">
    <div class="pop-form">
        <div class="geetest-captcha">
            <div geetest type="type" phone="phone" is-voice="isVoice" callback="callback"></div>
        </div>
    </div>
</script>
