<div class="investor-success-wrapper">
    <div class="activity-info">
      <h3 ng-if="vm.bothh3">本次活动对投资人和创业者开放</h3>
      <h3 ng-if="vm.investorh3">本次活动仅对对投资人开放</h3>
      <h3 ng-if="vm.startuph3">本次活动仅对创业者开放</h3>
        <span class="activity-info-span">请认真填写您的信息</span>
        <img src="/styles/images/activity/krspace/group3@2x.png"/>
        <div>
            <span class="activity-info-left">验证手机</span>
            <span class="activity-info-middle">填写信息</span>
            <span class="activity-info-right">发送BP</span>
        </div>
    </div>
    <div class="activity-card">
        <div class="email-card">
          <div>
            24h内给以下邮箱，发送项目BP
          </div>
            <div>
              <label>收件箱</label>
              <input value="BP@36kr.com" style="margin-left: 20px;"/>
            </div>
            <div>
              <label>邮件正题</label>
              <input value="项目名称_报名活动名称" />
            </div>
        </div>
        <p ng-show ='vm.ifShow'>活动需审核，您可登录「36氪创投助手」App接收最终版邀请函</p>
        <span ng-show ='vm.ifShow'>※ 活动当天需凭借邀请函入场 ※</span>
    </div>
    <div class="header-banner-wrapper">
        <div>
            <img width="42" src="/styles/images/topBanner.png" alt="">
        </div>
        <div>
            <p>36氪创投助手</p>
            <p>即刻约见创始人</p>
        </div>
        <div>
            <a id="openApp" href="https://36kr.com/app/tou?ktm_source=investorSuccess">立即打开App</a>
        </div>
    </div>
</div>
