<div class="top-line"></div>
<div class="syndicates-desire activity-detail">
    <span class="icon-del" ng-click="cancel()"></span>
    <div class="top-title">活动详情</div>
    <ul>
        <li>
            <section class="detail-title">“创客筹赞”是个什么样的活动？</section>
            <section>
                我们希望通过本次“创客筹赞”活动，让更多有融资意愿的互联网创业者站出来为自己呐喊，让更多跟投人和36氪平台用户为创业者加油打气。
            </section>
            <section>
                现在，机会来了。如果你愿意，就可以让你的项目站在更瞩目的位置，获得更多人的青睐和鼓励。
            </section>
        </li>
        <li>
            <section class="detail-title">“创客筹赞”活动怎么玩？</section>
            <section class="">
                我们通过一个活动给更多的互联网创业者展示自己的机会，由广大关心创投的36氪网友和认证跟投人来按赞加油。<span class="c-black">每个36氪用户按赞+1，一个认证跟投人按赞+30。</span>好项目需要跟投人的大力点赞，看好的项目一定要亮出身份加油哦！（快向跟投人献媚才是制胜法宝。）
            </section>
            <section>
                我们会根据按赞加油量的排名优选前3名创业项目加入众筹平台，4-6名创业项目将获得平台banner展示位。
            </section>
            <section class="">
                报名成功后，项目将正式登陆活动页面，可以获得广大36氪用户、股权投资平台认证跟投人的支持。
            </section>
        </li>
        <li>
            <span class="detail-title">
            成功获得股权投资平台融资资格，创业者能获得什么？
            </span>
            <section class="detail-content c-black">
                1、优先在36氪股权投资平台私募股权融资
            </section>
            <section>
                2、每个项目预热期，轮次置顶预热三天
            </section>
            <section>
                3、36氪融资平台下所有优质推广渠道推荐
            </section>
            <section>
                4、进入36氪所有线上线下活动优先获选名单
            </section>
            <section>
                5、免收认证跟投人跟投金额2%的管理费
            </section>
        </li>
        <li>
            <span class="detail-title">
            每日点赞收获丰厚大礼
            </span>
            <section class="detail-content c-black">
                每日点赞跟投人将有机会参加抽奖，获得丰厚大奖！
            </section>
            <section>
                “礼品说”200元代金券一张   2名
            </section>
            <section>
                “虾baby”100元代金券一张  10名
            </section>
            <section>
                次日将在“36氪股权投资”微信公众号（zc36kr）公布中奖名单，请扫描屏幕下方二维码关注微信号zc36kr查看中奖名单。
            </section>
        </li>
        <li>
            <span class="qr-code">
                <img src="styles/images/zc-qr-code.jpg" width="100" alt=""/>
            </span>
        </li>
    </ul>
</div>

