<div class="desire-modal">
    <span class="icon-del" ng-click="cancel()"></span>
    <section class="modal-title red">24小时内请不要重复点赞</section>
    <section class="modal-content thirty-point">快分享我吧，让更多的人给我点赞，送我来股权投资吧！</section>
    <a class="share-icon icon-wechat" href="" ng-show="isWeiXin" ng-click="wxShare()"></a>
    <a class="share-icon icon-qq" href="" target="_blank" share-way="sqq" baidu-share="config" ng-click="shareSyndicate()"></a>
    <a class="share-icon icon-weibo" href="" target="_blank" share-way="tsina" baidu-share="config" ng-click="shareSyndicate()"></a>
</div>
