<div class="desire-modal">
    <span class="icon-del" ng-click="cancel()"></span>
    <section class="modal-title orange">恭喜你为心仪公司热力值+30！</section>
    <section class="modal-content thirty-point">这么好的公司，不怕别人知道，快分享我让更多人送我来股权投资！</section>
    <a class="share-icon icon-wechat" href="" ng-show="isWeiXin" ng-click="wxShare()"></a>
    <a class="share-icon icon-qq" href="" target="_blank" share-way="sqq" baidu-share="config" ng-click="shareSyndicate()"></a>
    <a class="share-icon icon-weibo" href="" target="_blank" share-way="tsina" baidu-share="config" ng-click="shareSyndicate()"></a>
</div>
