<div class="pop_create_tip">
    <h4>创建公司－特别提醒</h4>
    <ol>
        <li>36氪融资平台目前只服务于 <b>互联网及移动互联网项目</b>，如果你的项目不属于我们的收录范围，请你选择适合你的平台提交；</li>
        <li>请你填写准确的 <b>公司简称</b>，简称填写完成后，你无法自行修改；</li>
        <li>请务必填写你的产品官网或者demo准确链接，以便投资人更好地了解你的产品；</li>
        <li>如果你的产品已有完善的idea，只是还未完成开发，请你选择 <b>未上线</b> 状态；</li>
        <li>如果你只是有一个 <b>未成熟的idea</b>，建议你暂不提交；</li>
        <li>当你的项目被驳回，请你认真阅读驳回理由并作出有效更改，以免反复提交耽误你宝贵的时间；</li>
        <li>初审时，公司介绍及图片是我们了解你的项目最直接的方式，请你清晰明了的表述</li>
    </ol>
    <button ng-click="ok()">知道了</button>
</div>