<div class="company-detail">
    <div ng-include="'templates/company/company-basic.html'"></div>

    <div ng-include="'templates/company/company-capital.html'"></div>

    <div ng-include="'templates/company/company-product-intro.html'"></div>

    <div ng-include="'templates/company/company-tips.html'"></div>

    <div ng-include="'templates/company/company-team.html'"></div>

    <div ng-include="'templates/company/company-team-pro.html'"></div>

    <div ng-include="'templates/company/company-fa.html'"></div>

    <div ng-include="'templates/company/company-capital-history.html'"></div>

    <div ng-include="'templates/company/company-links.html'"></div>

    <div ng-include="'templates/company/company-business.html'"></div>

    <div ng-include="'templates/company/company-plan.html'"></div>

    <div ng-include="'templates/company/company-footbar.html'"></div>

    <div ng-include="'templates/company/pop-app-download.html'"></div>
</div>










































