<div ng-class="{'show-app-download':showAppDownload}" class="pop-app-download">
    <div ng-click="cancellDownloadClick($event)" class="app-download-mask">
    </div>
    <section>
        <div>
            <img src="/styles/images/chuangtouLogo.png" />
        </div>
        <div>
            <b style="download-chuangtou">下载36氪创投助手</b>
        </div>
        <div>
            <span>即时约谈排会，效率倍升！</span>
        </div>
        <div>
            <a class="no" href="#" ng-click="cancellDownloadClick($event)">暂不</a>
            <a  class="yes"
                href="http://huodong.36kr.com/h5/investor-app/hub.html?ktm_source=rongh5yuetan">立即下载</a>
        <div>
    </section>
</div>
