<div class="pop-apply-code">
    <span class="icon-del" ng-click="ok()"></span>
    <div class="protocol-wrap">
        <div class="container">
            <div>
                <h1><span>北京协力筑成金融信息服务有限公司</span></h1>
                <h1>用户服务协议</h1>
                <p >
                    <b>重要提示：</b>36氪私募股权投融资平台（网址：<a href="https://z.36kr.com">z.36kr.com</a>）由北京协力筑成金融信息服务有限公司（<b>“36氪平台公司”</b>）负责运营。在您注册成为36氪私募股权投融资平台用户前请务必仔细阅读以下条款，您同意以下条款（以在《用户服务协议》（<b>“本协议”</b>）下方点击“我同意”或具有类似功能的按钮，或者您开始使用36氪平台公司提供的平台服务（定义见下文）为确认）并提交注册信息后，您将作为本协议定义的用户与36氪平台公司签订本协议并立即生效。本协议具有合同效力，您将有权依据本协议的条款接受36氪私募股权投融资平台的服务，同时有义务接受本协议条款的约束。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>1</span>条
                        总则</b>
                </p>
                <p>
                    <span>1.1 </span>36氪平台公司同意按照本协议的规定及其不时发布的操作规则提供互联网私募股权投融资平台服务（<b>“平台服务”</b>）。为获得平台服务，平台服务使用人（<b>“用户”</b>）应当基于对本协议全部内容的了解，在独立思考的基础上认可、同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击“我同意”或具有类似功能的按钮，或者开始使用36氪平台公司提供的平台服务即表示用户完全接受本协议、《风险揭示书》及36氪平台公司制定、发布的各项规则、规范。
                </p>
                <p>
                    <span>1.2 </span>第1.1条所称的<b>“平台服务”</b>是指36氪平台公司基于36氪私募股权投融资平台为用户提供的信息发布、需求对接、协助资金划转等平台服务。本协议所称的<b>“私募股权融资项目”</b>是指创业企业（定义见下文）或创业企业股东（定义见下文）发布的关于向领投人（定义见下文）与跟投人（定义见下文）募集资金的融资活动。在36氪私募股权投融资平台上发布的私募股权融资项目分为两类：（i）在由创业企业发布的私募股权融资项目中，领投人与跟投人的投资款将用于购买创业企业新增的注册资本或新发行的股份；（ii）在由创业企业股东发布的私募股权融资项目中，领投人与跟投人的投资款将用于购买创业企业股东已认缴的创业企业注册资本及相应股权。本协议所称的<b>“私募股权融资项目信息”</b>是指创业企业或创业企业股东发布的与私募股权融资项目相关的信息，该等信息包括领投人的拟投资金额、拟向跟投人募集的金额、创业企业估值、创业企业主营业务、管理团队以及募集资金的用途（在由创业企业股东发布的私募股权融资项目中，可不包括募集资金的用途，但应包括创业企业股东拟转让的股权数量及价格）等，以及领投人与创业企业已商定的投资框架协议或者领投人与创业企业股东已商定的股权转让框架协议。
                </p>
                <p>
                    <span>1.3 </span>36氪私募股权投融资平台的用户分为以下四种：
                </p>
                <p>
                    （<span>1</span>）<b><span>“</span>领投人<span>”</span></b>。签署本协议并申请成为领投人的用户应当符合中华人民共和国（“<b>中国</b>”）的法律、法规、规章（合称“<b>法律</b>”）以及36氪平台公司制定并在36氪私募股权投融资平台发布的制度、规则规定的作为领投人进行私募股权投资的相关资格要求。申请成为领投人的用户应在相关页面提交36氪平台公司要求的申请材料，36氪平台公司有权对用户提交的申请材料进行审核。审核通过的用户方有权作为领投人使用36氪平台公司提供的平台服务在线浏览私募股权融资项目信息，通过36氪私募股权投融资平台与创业企业、创业企业股东接洽、谈判，进行股权投资的活动。领投人计划使用36氪私募股权投融资平台的平台服务开展私募股权投资活动的，应首先与36氪平台公司、创业企业（或创业企业股东）签署《互联网私募股权投融资服务协议》（“<b>私募股权投融资服务协议</b>”），之后36氪平台公司将在36氪私募股权投融资平台为领投人开通参与私募股权融资项目的权限。领投人有权通过使用36氪私募股权投融资平台与创业企业（或创业企业股东）接洽、谈判达成投资意向，在创业企业（或创业企业股东）发布私募股权融资项目信息并融资成功后，与各跟投人以各方商定的方式对创业企业进行私募股权投资（或购买创业企业股东所持创业企业的股权）。此外，领投人可以以跟投人的身份参与非由其领投的私募股权融资项目，并在该等项目中以跟投人的身份享有和承担权利义务。
                </p>
                <p>
                    （<span>2</span>）<b><span>“</span>跟投人<span>”</span></b>。签署本协议并申请成为跟投人的用户应当符合中国法律以及36氪平台公司制定并在36氪私募股权投融资平台发布的制度、规则规定的作为跟投人进行私募股权投资的相关资格要求。申请成为跟投人的用户应在相关页面提交36氪平台公司要求的申请材料，36氪平台公司有权对用户提交的申请材料进行审核，审核通过用户方有权作为跟投人使用36氪平台公司提供的平台服务在线进行浏览私募股权融资项目信息、进行互联网私募股权投资等活动。跟投人分为定向邀请的跟投人（定义见下文）和非定向邀请的跟投人（定义见下文）。在创业企业（或创业企业股东）发布私募股权融资项目后，非定向邀请的跟投人被允许认购私募股权融资项目的投资金额并支付投资款之前（“<b>私募股权融资项目预热阶段</b>”），领投人、创业企业（或创业企业股东）或36氪平台公司有权向部分特定的跟投人发出邀请，由36氪平台公司向受邀请的跟投人发放Kr码，获得Kr码的跟投人（“<b>定向邀请的跟投人</b>”，未获得Kr码的跟投人则为“<b>非定向邀请的跟投人</b>”）有权在此阶段即通过36氪私募股权投融资平台确认投资金额并将保证金（投资金额的1%作为保证金，定向邀请的跟投人反悔认购的，保证金不予返还）、剩余99%投资款及投资管理费（跟投人额外支付其投资金额的2%作为投资管理费）支付至36氪平台公司开设的用于接收和保管投资款及投资管理费的专用账户（“<b>专用账户</b>”）。非定向邀请的跟投人有权在私募股权融资项目向其开放认购后，按36氪平台公司发布的制度、规则要求36氪私募股权投融资平台确认投资金额并向专用账户汇入保证金（投资金额的1%作为保证金，非定向邀请的跟投人在支付之时起72小时内反悔认购的，保证金予以返还；支付之时起72小时后反悔认购的，保证金不予返还）、剩余99%投资款及投资管理费（跟投人额外支付其投资金额的2%作为投资管理费）。如私募股权融资项目融资成功，跟投人将与领投人或其指定的第三方按照各方商定的方式对创业企业进行私募股权投资（或购买创业企业股东所持创业企业的股权）。
                </p>
                <p>
                    （<span>3</span>）<b><span>“</span>创业企业<span>”</span></b>。签署本协议并申请成为创业企业的用户应当是依据中国法律有效设立并合法存续的有限责任公司、股份有限公司、合伙企业或其他合法组织。在通过36氪私募股权投融资平台的相关页面提交36氪平台公司要求的申请材料并获得36氪平台公司审核通过后，创业企业有权在36氪私募股权投融资平台进行开设企业主页、发布私募股权融资项目信息、与领投人或跟投人交流、洽谈等活动。创业企业在36氪私募股权投融资平台上只能针对已经通过36氪平台公司审核的领投人或跟投人发布私募股权融资项目信息，且创业企业不得在其他从事私募股权投融资业务的网站或公共场所发布类似的私募股权融资项目信息。
                </p>
                <p>
                    （<span>4</span>）<b><span>“</span>创业企业股东<span>”</span></b>。签署本协议并申请成为创业企业股东的用户应当是具有完全民事权利能力和民事行为能力的自然人，拥有充分的法定权利、权力和权限签署本协议，并且拥有充分的权利、权力和权限遵守和履行其在本协议项下的义务。申请成为创业企业股东的用户应当为创业企业的现有股东（为免歧义，在创业企业未设立之前，创业企业的发起人亦属于本协议定义的创业企业股东）。在通过36氪私募股权投融资平台的相关页面提交36氪平台公司要求的申请材料并获得36氪平台公司审核通过后，创业企业股东有权在36氪私募股权投融资平台进行发布股权融资项目信息、与领投人或跟投人交流、洽谈等活动。创业企业股东在36氪私募股权投融资平台上只能针对已经通过36氪平台公司审核的领投人或跟投人发布私募股权融资项目信息，且创业企业股东不得在其他从事私募股权投融资业务的网站或公共场所发布类似的私募股权融资项目信息。
                </p>
                <p>
                    （<span>5</span>）<b>“一般用户”</b>。签署本协议并在36氪私募股权投融资平台上成功注册的用户为一般用户，一般用户有权在36氪私募股权投融资平台上进行浏览信息（限定为只有创业企业、创业企业股东、领投人或跟投人有权浏览的信息除外）、在线交流等活动。一般用户可以在提供 36氪平台公司要求的信息或材料并经36氪平台公司审核通过后转变为创业企业、创业企业股东、领投人或跟投人。
                </p>
                <p>
                    <span>1.4 </span>36氪平台公司有权依据中国法律制定对创业企业、创业企业股东、领投人和跟投人的审核标准。对于是否通过一般用户成为创业企业、创业企业股东、领投人或跟投人的申请，36氪平台公司拥有最终解释权。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>2</span>条
                        服务内容</b>
                </p>
                <p>
                    用户理解，36氪平台公司仅提供与平台服务相关的技术服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>3</span>条
                        服务的变更、中断或终止</b>
                </p>
                <p>
                    <span>3.1 </span>平台服务的具体内容由36氪平台公司根据实际情况提供，36氪平台公司有权对其提供的平台服务进行升级或其他调整，并将及时更新页面以告知用户。
                </p>
                <p>
                    <span>3.2 </span>如发生下列任何一种情形，36氪平台公司有权随时中断或终止向用户提供本协议项下的平台服务而无需对用户或任何第三方承担任何责任：
                </p>
                <p>
                    （<span>1</span>）用户提供的任何资料不真实；
                </p>
                <p>
                    （<span>2</span>）用户提供的信息或产品侵害任何第三方或36氪平台公司知识产权、财产权等合法权益，或可能对第三方或36氪平台公司造成不利影响或侵害；
                </p>
                <p>
                    （<span>3</span>）用户违反本协议中规定的承诺与保证；
                </p>
                <p>
                    （<span>4</span>）用户违反中国法律、政策；
                </p>
                <p>
                    （<span>5</span>）用户的行为严重干扰36氪平台公司正常的运营活动。
                </p>
                <p>
                    用户应承担因上述行为而产生的全部法律责任，并赔偿36氪平台公司及其他任何第三方由此受到的损失（包括合理的追索费用）。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>4</span>条 <span>36氪平台公司的承诺与保证</span></b>
                </p>
                <p>
                    <span>4.1 </span>36氪平台公司承诺并保证其是依据中国法律设立并有效存续的有限责任公司，具有一切必要的权利及能力订立本协议及履行或承担本协议项下的所有义务和责任。
                </p>
                <p>
                    <span>4.2 </span>36氪平台公司承诺并保证运用36氪私募股权投融资平台为用户提供本协议约定的平台服务，但不对以下事项作出担保、保证或承担任何责任：
                </p>
                <p>
                    （<span>1</span>）用户利用36氪私募股权投融资平台发布的信息的真实性、准确性、完整性、合法性、及时性或有效性；
                </p>
                <p>
                    （<span>2</span>）用户的融资数额、投资收益以及投资交易的完成等事项。
                </p>
                <p>
                    除另有特殊说明外，36氪平台公司不以口头、书面或其他任何形式为用户提供任何信息或建议。
                </p>
                <p>
                    <span>4.3 </span>36氪平台公司承诺并保证依据自身既有条件和水平最大限度地维护36氪私募股权投融资平台的系统稳定性，但不就通信中断、技术故障、计算机病毒、网络攻击或其他任何超出36氪平台公司控制的原因向用户或任何第三方承担赔偿责任。
                </p>
                <p>
                    <span>4.4 </span>36氪平台公司承诺并保证若其违反上述承诺和保证而给用户造成损失的，36氪平台公司将对用户因此而遭受的损失承担相应的赔偿责任。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>5</span>条
                        36氪平台公司的权利</b>
                </p>
                <p>
                    <span>5.1 </span>36氪平台公司有权在私募股权融资项目预热阶段向部分特定的跟投人发出邀请，并向受邀请的跟投人发放Kr码，获得Kr码的跟投人有权在此阶段即通过36氪私募股权投融资平台确认投资金额并向专用账户汇入保证金、剩余投资款及投资管理费。
                </p>
                <p>
                    <span>5.2 </span>在私募股权融资项目中，领投人、创业企业（或创业企业股东）及36氪平台公司定向邀请的跟投人在私募股权融资项目预热阶段汇入专用账户的投资款总额受限于私募股权投融资服务协议的约定。若领投人、创业企业（或创业企业股东）及36氪平台公司定向邀请的跟投人在私募股权融资项目预热阶段汇入专用账户的投资款总额超出私募股权投融资服务协议的限制，36氪平台公司有权按照打款时间的先后顺序将超出部分的投资款按照各自的打款金额退还给后打款的跟投人。
                </p>
                <p>
                    <span>5.3 </span>创业企业（或创业企业股东）在36氪私募股权投融资平台发布私募股权融资项目后，36氪平台公司有权选择：（1）要求该私募股权融资项目仅在36氪私募股权投融资平台发布和募集资金；或（2）与其他从事私募股权投融资平台服务的平台公司合作，将该私募股权融资项目同时在两个以上的私募股权投融资平台（包括36氪私募股权投融资平台）发布和募集资金。创业企业（或创业企业股东）无条件同意并予以积极配合。
                </p>
                <p>
                    <b>第<span>6</span>条
                        用户的承诺与保证</b>
                </p>
                <p>
                    <span>6.1 </span>用户承诺并保证其是依据中国法律设立并有效存续的有限责任公司、股份有限公司、具有完全民事行为能力的自然人或其他民事主体，具有一切必要的权利及能力订立本协议及履行或承担本协议项下的所有义务和责任。
                </p>
                <p>
                    <span>6.2 </span>用户承诺并保证其作为创业企业（或创业企业股东）提供或发布的所有信息（包括但不限于用户的基本资料、私募股权融资项目信息等）是真实、准确、完整的，符合中国法律以及36氪平台公司制定并在36氪私募股权投融资平台发布的制度、规则的规定，不存在虚假、误导性陈述或遗漏。
                </p>
                <p>
                    <span>6.3 </span>用户承诺并保证，其作为领投人或跟投人具备进行私募股权投资活动的风险识别能力和风险承担能力，并已经认真阅读、理解并接受36氪平台公司在相关页面向其提供的《风险揭示书》的内容。
                </p>
                <p>
                    <span>6.4 </span>用户承诺并保证，其作为领投人或跟投人就其投资创业企业而支付的投资款来源合法，并且其有足够的能力支付投资款。
                </p>
                <p>
                    <span>6.5 </span>用户承诺并保证，其作为领投人或跟投人符合法律及36氪平台公司要求的资质条件，并承诺将依据本协议及其签署的与私募股权投融资项目相关的其他协议享有权利、履行义务。
                </p>
                <p>
                    <span>6.6 </span>用户承诺并保证将依据自身判断对在36氪私募股权投融资平台上进行的投融资活动作出独立的、审慎的决定，并保证依法、依约完成其通过使用36氪私募股权投融资平台提供的平台服务而达成的各项交易。
                </p>
                <p>
                    <span>6.7 </span>用户理解并同意其通过36氪私募股权投融资平台进行的任何投融资行为而产生的风险和损失将由其自身承担，36氪平台公司不对此负有或承担任何的责任，其无权要求36氪平台公司对其可能面临的风险和遭受的损失进行任何保证或赔偿。
                </p>
                <p>
                    <span>6.8 </span>用户承诺并保证将妥善保管其在36氪私募股权投融资平台的账号和密码，并对通过其账号进行的所有活动承担责任；36氪平台公司有权将所有通过其账号进行的行为视同为用户的行为或经用户授权的行为。
                <p>
                    <span>6.9 </span>用户承诺并保证遵守本协议以及其与36氪平台公司或36氪平台公司的关联方签署的其他协议的约定，并遵守36氪平台公司及36氪私募股权投融资平台制定的其他制度、规则，维护36氪平台公司及36氪私募股权投融资平台的正常运作及其公信力，不实施有损于36氪平台公司及36氪私募股权投融资平台的行为，包括但不限于：
                </p>
                <p>
                    （<span>1</span>）未经36氪平台公司书面许可，通过本协议约定方式之外的途径进入36氪平台公司或36氪私募股权投融资平台的计算机信息网络系统或者使用本协议约定范围外的36氪平台公司或36氪私募股权投融资平台的信息网络资源或服务；
                </p>
                <p>
                    （<span>2</span>）未经36氪平台公司书面许可，对36氪平台公司或36氪私募股权投融资平台的计算机信息网络的功能或其中存储、处理或者传输的数据和应用程序进行删除、修改或者增加；
                </p>
                <p>
                    （<span>3</span>）故意制作、传播计算机病毒等破坏性程序；
                </p>
                <p>
                    （<span>4</span>）其他危害计算机信息网络安全，妨碍36氪平台公司及36氪私募股权投融资平台正常运作、有损其公信力的行为。
                </p>
                <p>
                    <span>6.10 </span>用户承诺并保证其提供或发布的信息不存在以下情形：
                </p>
                <p>
                    （<span>1</span>）反对<span><a><span>《中华</span><span>人民</span><span>共和国</span><span>宪法</span><span>》</span></a></span>所确定的基本原则的；
                </p>
                <p>
                    （<span>2</span>）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
                </p>
                <p>
                    （<span>3</span>）损害国家荣誉和利益的；
                </p>
                <p>
                    （<span>4</span>）煽动民族仇恨、民族歧视，破坏民族团结的；
                </p>
                <p>
                    （<span>5</span>）破坏国家宗教政策，宣扬邪教和封建迷信的；
                </p>
                <p>
                    （<span>6</span>）散布谣言，扰乱社会秩序，破坏社会稳定的；
                </p>
                <p>
                    （<span>7</span>）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
                </p>
                <p>
                    （<span>8</span>）侮辱或者诽谤他人，侵害他人合法权益的；
                </p>
                <p>
                    （<span>9</span>）含有中国法律法规禁止的其他内容的。
                </p>
                <p>
                    <span>6.11 </span>用户同意，若其违反上述承诺和保证而给36氪平台公司造成损失的，用户将对36氪平台公司因此而遭受的损失承担相应的赔偿责任。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>7</span>条
                        知识产权</b>
                </p>
                <p>
                    <span>7.1 </span>36氪平台公司合法拥有36氪私募股权投融资平台所使用的软件、专利技术及其他受知识产权相关法律保护的资料、信息，36氪平台公司提供平台服务的任何行为不得视为对用户使用36氪平台公司所享有的知识产权的授权。
                </p>
                <p>
                    <span>7.2 </span>用户在36氪私募股权投融资平台上发布的信息不得侵犯任何第三人的知识产权，未经相关权利人之事先书面同意，用户不得以任何方式上传、发布、修改、传播或复制任何侵犯第三方知识产权的材料或信息。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>8</span>条
                        保密义务</b>
                </p>
                <p>
                    <span>8.1 </span>本协议任何一方（“<b>接收方</b>”）应当对根据本协议获得的另一方（“<b>披露方</b>”）的任何信息（“<b>保密信息</b>”）承担保密义务，未经披露方许可不得擅自将保密信息披露给第三方。
                </p>
                <p>
                    <span>8.2 </span>第8.1条所称的“<b>保密信息</b>”包括但不限于36氪平台公司和36氪私募股权投融资平台的技术秘密、资源，用户的基本资料、投资计划、私募股权融资项目信息，以及第三方授权用户向36氪平台公司提供的企业信息、经营计划、合同，但不包括以下信息：
                </p>
                <p>
                    （<span>1</span>）接收方已经独立开发的信息，并且该等信息是在接收方从披露方获悉该等信息之前独立开发的；
                </p>
                <p>
                    （<span>2</span>）接收方在从披露方获悉之前已经占有或了解的信息，并且就接收方所知接收方并不需要对该等信息承担任何具有约束力的保密义务；
                </p>
                <p>
                    （<span>3</span>）接收方在未违反其对披露方承担的任何义务的情况下从第三方获得的信息；
                </p>
                <p>
                    （<span>4</span>）其他并非由于接收方的过错而被公众所知的信息。
                </p>
                <p>
                    <span>8.3 </span>如果司法机构或政府机构要求接收方披露保密信息，接收方可以按要求披露，但应及时将该等情况通知披露方，且披露的保密信息不得超出司法机构或政府机构要求的范围。
                </p>
                <p>
                    <span>8.4 </span>为执行本协议，接收方可按需要合理地向其雇员、专业顾问或代理人披露有关保密信息，接收方须确保和促使其雇员、专业顾问或代理人遵守本协议约定的保密义务。
                </p>
                <p>
                    <span>8.5 </span>为依约提供平台服务之目的，36氪平台公司有权使用用户提供的信息，包括保密信息。
                </p>
                <p>
                    <span>8.6 </span>如接收方因违反本协议第8条规定的保密义务给披露方造成损失的，接收方应对披露方进行赔偿。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>9</span>条
                        法律适用和争议解决</b>
                </p>
                <p>
                    <span>9.1 </span>本协议的订立、效力、解释、履行和争议的解决应受中国法律的管辖，并依其解释。
                </p>
                <p>
                    <span>9.2 </span>在本协议执行过程中，若出现与本协议有关的争议，双方应通过友好协商解决；若任何争议无法在争议发生后十五天内通过协商解决，则任何一方有权将争议提交北京仲裁委员会通过仲裁解决。
                </p>
                <p>
                    <span>9.3 </span>在仲裁期间，除有争议的事项外，本协议应继续执行。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>10</span>条
                        违约责任</b>
                </p>
                <p>
                    本协议任何一方违反、或没有履行其在本协议中的陈述、保证、义务或责任，即构成违约。守约方有权以书面形式通知违约方要求对违约行为进行补救。若违约方在收到上述书面通知后的十日内未采取及时、充分的补救措施，守约方有权就其因违约行为所受的损失要求违约方进行赔偿。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
                <p>
                    <b>第<span>11</span>条
                        附则</b>
                </p>
                <p>
                    <span>11.1 </span>36氪平台公司可根据业务经营和服务的需要修改本协议的条款，并在36氪私募股权投融资平台予以公布。如用户继续使用平台服务，则视为已明知并同意修改后的本协议。
                </p>
                <p>
                    <span>11.2 </span>36氪平台公司有权在向用户发出书面通知的前提下，将其在本协议下的全部或部分权利与义务转让给其关联方继续享有或履行。但除非取得36氪平台公司的书面同意，用户不得将其在本协议项下的全部或部分权利与义务转让给任何第三方。
                </p>
                <p>
                    <span>11.3 </span>本协议部分条款无效、被撤销或者终止的，不影响其他条款的效力，其他条款仍然有效。
                </p>
                <p>
                    <span>&nbsp;</span>
                </p>
            </div>
        </div>
    </div>

    <a class="ensure-btn" ng-click="ok()">关闭</a>
</div>
