<form name="krCodeForm" class="krCodeForm">
    <div class="pop-apply-code">
        <span class="icon-del" ng-click="cancel()"></span>
        <div class="apply-content">
            <section class="apply-title">Kr码，是发放给平台资深用户的</section>
            <section class="apply-title">投资优先的特权服务</section>
            <input class="wish-count" type="text" placeholder="请输入意愿跟投金额(元)" ng-model="wishNum" num-validate name="wishNum" required />
            <div class="error" ng-show="krCodeForm.wishNum.$error.notNumber">金额只能为纯数字</div>
            <div class="error" ng-show="krCodeForm.wishNum.$error.required && krCodeForm.wishNum.$dirty">金额不能为空</div>
            <div class="error" ng-show="minError">不能小于最低跟投金额</div>
            <p class="code-content">
                请保证所填意愿真实有效，工作人员会根据你的真实情况及特权Kr码的数量决定发放计划，如果你符合要求，工作人员会主动联系你。
            </p>
        </div>
        <a class="ensure-btn" ng-click="ok()">申请Kr码</a>
    </div>
</form>

