<div ng-class="{'show-app-download':showAppDownload}" class="pop-app-download">
    <div ng-click="cancellDownloadClick($event)" class="app-download-mask">
    </div>
    <section>
        <div>
            <img src="/styles/images/36kr.png" />
        </div>
        <div>
            <b>下载36氪APP</b>
        </div>
        <div>
            <span>即时约谈排会，效率倍升！</span>
        </div>
        <div>
            <a class="no" href="#" ng-click="cancellDownloadClick($event)">暂不</a>
            <a  class="yes"
                href="http://a.app.qq.com/o/simple.jsp?pkgname=com.android36kr.app&g_f=991653">立即下载</a>
        <div>
    </section>
</div>
