.investor-validate-apply {
    .title{
         background-color:rgb(247, 247, 247);
         height:40px;
         line-height: 50px;
         color:#686868;
         margin:0;
         padding:0 20px;
         border:none;
    }
    .radio {
        label {
            text-align: left;
            input {
                width:auto;
            }
        }
        .active {
            color:#67aef5;
        }

    }
    .welcome-form {
        .basic-info {
            &:first-of-type {
                border-top:none;
            }
        }
    }
    .welcome-form .col-flex .stage.active {
        color:#67aef5;
    }
    .basic-info {
        border-top:1px solid #ddd;
        border-collapse: collapse;

    }
    .form-group {
        &.invest-money{
            border-bottom:none;
            .row-1 {
                overflow: hidden;
                height:auto;
                .ml-10 {
                    margin-left:0;
                    overflow: hidden;
                    height:auto;
                    margin-top:10px;
                    &:first-of-type {
                        margin-top:0;
                    }
                    .icon-zhi {
                        display: inline-block;
                        padding:0 10px;
                    }
                }
                input{
                    text-align: left;
                }
            }
        }
        &.fund-money {
            border-bottom:1px solid #ddd;
        }
        .label-control{
            width:auto;
            text-align: right;
            .box-content {
                min-width:100px;
                text-align: right;
                display:inline-block;
                padding-right:15px;

                *{
                    display:inline-block;
                }
            }
        }
        &.upload-pictures {
            border-bottom: none;
        }
        .btn-auth {
            border:none;
        }
    }
    .brief {
        border-bottom:1px solid #ddd !important;
    }
    .pic-list {
        input {
            margin:0;
        }
    }
}
