<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>36氪融资</title>
    <script src="./components/jquery/dist/jquery.min.js"></script>
    <script src="./components/angular/angular.min.js"></script>
    <script src="./components/angular-touch/angular-touch.js"></script>

    <link rel="stylesheet" href="./styles/components/company/create_company.css"/>


</head>
<body>

<div class="create_company">


    <div class="content_wrap">

        <h2>创建公司 <b>特别提醒</b></h2>

        <form action="">
            <div class="list">

                <table>
                    <tr>
                        <td>
                            <b class="important">*</b>
                            <span>公司简称</span>
                        </td>
                        <td>
                            <div class="suggest_wrap">
                                <input type="text" placeholder="请填写大众熟知的项目名称"/>
                                <d-suggest></d-suggest>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b class="important">*</b>
                            <span>产品状态</span>
                        </td>
                        <td>
                            <select name="">
                                <option value="1">请选择</option>
                                <option value="1">请选择11</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="important">*</b>
                            <span>公司网址</span>
                        </td>
                        <td>
                            <input type="text" placeholder="如：http://www.36kr.com"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="vtop">
                            <b class="important">*</b>
                            <span>一句话简介</span>
                        </td>
                        <td>
                            <textarea name="" id="" placeholder="请简要介绍下项目，30字以内"></textarea>
                        </td>
                    </tr>

                    <tr class="logo">
                        <td>
                            <b class="important">*</b>
                            <span>公司LOGO</span>
                        </td>
                        <td>
                            <div class="pic">
                                <span class="upload-b ng-binding" ng-click="uploadCard()">
                                    <img ng-src="//krplus-pic.b0.upaiyun.com/default_logo.png!70" width="70" height="70"
                                         alt="" src="//krplus-pic.b0.upaiyun.com/default_logo.png!70">
                                    <span class="filewrap">
                                        上传
                                        <input type="file" name="bizCardLink"
                                               class="input-file" ng-file-select=""
                                               ng-file-change="imgFileSelected($files, $event)"
                                               ng-multiple="false"
                                               resetonclick="true" accept="image/*">
                                    </span>
                                </span>

                            </div>
                            <p>支持小于5M的JPG、JPEG和PNG格式，为保证最佳显示，建议尺寸120*120px</p>
                        </td>
                    </tr>
                    <tr class="job">
                        <td class="vtop">
                            <b class="important">*</b>
                            <span>职位</span>
                        </td>
                        <td>
                            <select name="">
                                <option value="1">请选择</option>
                            </select>

                            <div class="split">
                                <input type="text" placeholder="具体任职或负责方向"/>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="important">*</b>
                            <span>任职时间段</span>
                        </td>
                        <td>
                            <span>请选择</span>
                            年
                            <span>请选择</span>
                            月
                            —— 至今
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="important">＊</b>
                            <span>上传名片</span>
                        </td>
                        <td class="logo card">
                            <p>上传名片有助于提升审核速度 <br/> 支持小于5M的JPG、JPEG和PNG格式</p>

                            <div class="pic">
                                <span class="upload-b ng-binding" ng-click="uploadCard()">
                                    <img  width="110" height="70"
                                         alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANcAAACJBAMAAABN17ABAAAAG1BMVEX///8AjfIZmPO23vv1+f3I4PaVxe1nq+VPnuGS0jTRAAAAeklEQVRo3u3YwQmDQBBA0YmmgGwqSFKBJaQLrzbh3dLFiwcXwYurC+818GFZGGZi/EcZz36KgoYAAAAAANhof10U06RPFPNIr9gjJiYmJpYTu1Ws/aatdxcnaVJmHdl1x44+Y30fRExMTExMLFfxAr+cJgAAAAAALjTMqvgNecQF9eAAAAAASUVORK5CYII=">
                                    <span class="filewrap">
                                        仅供审核使用
                                        <input type="file" name="bizCardLink"
                                               class="input-file" ng-file-select=""
                                               ng-file-change="imgFileSelected($files, $event)"
                                               ng-multiple="false"
                                               resetonclick="true" accept="image/*">
                                    </span>
                                </span>

                            </div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="submit">
                <button type="button">提交审核</button>
            </div>
        </form>


    </div>


</div>


</body>
</html>