<!doctype html>
<html class="no-js" lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <link href="//sta.36krcnd.com/nrong/images/favicon-181b5c4e95.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <script>
        if(location.hash.indexOf('demos') === -1){
            document.title = '创投助手';
        }
    </script>
    <script type="text/javascript">
        var _vds = _vds || [];
        (function () {
            _vds.push(['setAccountId',
                '76d36bd044527820a1787b198651e2f1'
            ]);
            _vds.push(['setImp', false]);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' :
                    'http://') + 'dn-growing.qbox.me/vds.js?v=0217';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();

    </script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            //            if(location.host.indexOf('test')>-1){return}
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e8ec47088ed7458ec32cde3617b23ee3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

    </script>

    <!--加载统计脚本-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//36kr.com/global/stat.js', 'krtracker');

    </script>

    <script>
        (function(para) {
          var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
          w['sensorsDataAnalytic201505'] = n;
          w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
          var ifs = ['track','quick','register','registerPage','registerOnce','clearAllRegister','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister'];
          for (var i = 0; i < ifs.length; i++) {
            w[n][ifs[i]] = w[n].call(null, ifs[i]);
          }
          if (!w[n]._t) {
            x = d.createElement(s), y = d.getElementsByTagName(s)[0];
            x.async = 1;
            x.src = p;
            y.parentNode.insertBefore(x, y);
            w[n].para = para;
          }
        })({
        sdk_url: 'https://static.sensorsdata.cn/sdk/1.6.55/sensorsdata.min.js',
        name: 'sa',
        //server_url: 'http://36kr.com/global/sensors/sa'
        //server_url: 'http://data.corp.36kr.com:8006/sa?token=aff9db0eb52d816d808c6701eac0c671&project=ChuangTest'
        server_url: 'http://data.corp.36kr.com:8006/sa?token=aff9db0eb52d816d808c6701eac0c671&project=ChuangTest',
        });
        sa.quick('autoTrack');
    </script>

    <!-- build:css /styles/base.css -->
    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/styles/base.css">
    <!-- endbuild -->
    <!-- build:css /styles/login-theme.css -->
    <link rel="stylesheet" id='loginCss' href="/styles/login-theme.css">
    <!-- endbuild -->
    <!-- build:js /scripts/jquery-min.js -->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <!-- endbuild -->
    <script type="text/x-template" id="topBanner">
        @@include('index.topBanner.html')
    </script>
    <script>
        @@include('./scripts/header.js')
    </script>
    <script src="https://lkme.cc/js/linkedme.min.js" ></script>
</head>

<body class="download-show">
    <loading loading="demos" ng-if="needLoading"></loading>
    <loading loading="findLoading" ng-if="findNeedLoading"></loading>
    <ui-view>
    </ui-view>


    <!--<footer class="download" style="display: none" ng-if="!isInApp">
        <div class="download-kr">打开“36氪”，查看更多</div>
        <a href="#" class="closed">&times;</a>
    </footer>-->
    <script>
        window.WEIXINSHARE = {
            shareTitle: '36氪融资',
            shareDesc: '36氪是一个关注互联网创业的科技博客',
            shareImg: 'http://img.36tr.com/logo/20140520/537aecb26e02d'
        };
    </script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script async src="https://static.geetest.com/static/tools/gt.js"></script>

    <!-- build:js /scripts/vendor-min.js -->
    <script src="/scripts/vendor.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/scripts-krmin.js -->
    <script src="/scripts/default.js"></script>
    <script src="/scripts/weixin.js"></script>
    <script src="/scripts/test.js"></script>
    <!-- endbuild -->
    <script>
        window.onload = function () {
            if (!navigator.userAgent.match(/36kr/)) {
                $(".download").show();
            } else {
                $('body.download-show').removeClass('download-show')
            }
            $('.download-kr').click(function (e) {
                e.stopPropagation();

                var str = window.location.hash;
                var cid;
                var type;
                var uid;
                var url;

                if (str.indexOf('company') != -1) {
                    cid = str.substr(10);
                    if (cid.indexOf('?')) {
                        var num = cid.indexOf('?');
                        cid = cid.substr(0, num);
                    }

                    if (str.indexOf('?') != -1) {
                        var num = str.indexOf('?');
                        type = str.substr(num + 1);
                    }
                    url = 'hub.html?id=' + cid + '&' + type;
                }

                if (str.indexOf('user') != -1) {
                    uid = str.substr(7);
                    url = 'hub.html?id=' + uid + '&type=4';
                }

                window.location.href = 'http://asset.36tr.com/m/hub.html';
            });

            $('.closed').click(function (e) {
                e.preventDefault();
                $('.download').hide();
                $('body').removeClass('download-show');
            });

            $('body').delegate('textarea, input', 'focus', function () {
                $('.download').hide();
            });
        }

    </script>
</body>

</html>
