/* 定义属性或者类名 要加上bd榜单前缀*/

@bdBgrColor:black;


//详情页面背景
.bd-detail-bgp{
    background: url('images/bangdan/bddetailhead.png') no-repeat center;
    height: 320px;
    width: 100%;
}
.bd-gold-belt{
    background: url('images/bangdan/bd-gold-belt.png') no-repeat center;
}
.bd-cilver-belt{
    background: url('images/bangdan/bd-cilver-belt.png') no-repeat center;
}
.bd-copper-belt{
    background: url('images/bangdan/bd-copper-belt.png') no-repeat center;
}

.bd-gold-metal{
    background: url('images/bangdan/bd-gold-metal.png') no-repeat center;
}
.bd-silver-metal{
    background: url('images/bangdan/bd-silver-metal.png') no-repeat center;
}
.bd-copper-metal{
    background: url('images/bangdan/bbd-copper-metal.png') no-repeat center;
}
.bd-gold-border{
    border:1px solid #CF9D3E;
}

.bd-silver-border{
    border:1px solid #D9D6CE ;
}

.bd-copper-border{
    border:1px solid #D99557;
}
.bd-dot{
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #969FA9;
    vertical-align: middle;
}





















@media screen and (max-width: 768px) {
    .bd-detail-bgp{
      background-size: 768px 100%;
    }
}

@media screen and (max-width: 414px) {
  .bd-detail-bgp{
    background-size: 414px 100%;
  }
}

@media screen and (max-width: 375px) {
      .bd-detail-bgp{
        background-size: 375px 100%;
      }
}

@media screen and (max-width: 320px) {
    .bd-detail-bgp{
      background-size: 320px 100%;
    }
}
