/* 定义属性或者类名 要加上bd榜单前缀*/

@bdBgrColor:black;

//设置页面浮动框的样式
@media screen and (max-width: 820px) {
    body {
        header.common-header {
        border-bottom: solid 1px black !important;
    }
 }
}

//详情页面背景
.bd-detail-bgp{
    background: url('images/bangdan/bddetailhead.png') no-repeat center;
    height: 256px;
    width: 100%;
}
.bd-gold-belt{
    background: url('images/bangdan/bd-gold-belt.png') no-repeat center;
}
.bd-cilver-belt{
    background: url('images/bangdan/bd-cilver-belt.png') no-repeat center;
}
.bd-copper-belt{
    background: url('images/bangdan/bd-copper-belt.png') no-repeat center;
}

.bd-gold-metal{
    background: url('images/bangdan/bd-gold-metal.png') no-repeat center;
}
.bd-silver-metal{
    background: url('images/bangdan/bd-silver-metal.png') no-repeat center;
}
.bd-copper-metal{
    background: url('images/bangdan/bd-copper-metal.png') no-repeat center;
}
.bd-gold-crown{
    background: url('images/bangdan/bd-gold-crown.png') no-repeat center;
}
.bd-silver-crown{
    background: url('images/bangdan/bd-silver-crown.png') no-repeat center;
}
.bd-copper-crown{
    background: url('images/bangdan/bd-copper-crown.png') no-repeat center;
}
.bd-share-wechat{
    background: url('images/bangdan/wechat-f.png') no-repeat center;
}
.bd-share-webo{
    background: url('images/bangdan/wechat-friends.png') no-repeat center;
}
.bd-gold-border{
    border:1px solid #CF9D3E;
}

.bd-silver-border{
    border:1px solid #D9D6CE ;
}

.bd-copper-border{
    border:1px solid #D99557;
}

.bd-normal-border{
    border:1px solid #E7E7E7;
}

.bd-dot{
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    vertical-align: middle;
}
.bd-downloadApp{
    position: fixed;
    width: 92px;
    height: 52px;
    right: 15px;
    bottom: 64px;
    z-index: 11111;
    background: url('images/bangdan/bd-download-logo.png') no-repeat center;
    //box-shadow: 0 3px 5px 0 rgba(34,44,56,0.30);
    background-size: 92px 52px;
    // img{
    //     width: 92px;
    //     height: 52px;
    //     //box-shadow: 0 3px 5px 0 rgba(34,44,56,0.30);
    // }
}

.bdorg-div-pop-in{
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    a{
        .download-btn-app;
    }
}

.bdorg-section-footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 178px;
    background: url('images/bangdan/bdorg-shadow.png') no-repeat center;
    background-size: 100% 178px;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,1.00) 57%, #FFFFFF 100%);
}

.bd-item-hover{
    background-color:#dfdfdf;
}

.bd-item-out{
    background-color:rgba(255,255,255,1.00);
}

.bd-footer-blur{
    background: url('images/bangdan/detail-overlap-btm.png') no-repeat center;
    background-size: 100% cover;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,1.00) 57%, #FFFFFF 100%);
}

.top-3Color {
  color: #CF9D3E !important;
}

.bd-dot-gray{
    background: #969FA9;
}

.bd-dot-yel{
    background: rgba(255,227,168,0.70);;
}
.bd-outapp-overlap{
    background: url('images/bangdan/detail-overlap.png') no-repeat center;
    width: 100%;
    height: 350px;
    background-size: 100% 340px;
    background-color: white;

    @media screen and (max-width: 414px) {
            height: 130px;
    }

    @media screen and (max-width: 375px) {
            height: 130px;
    }

    @media screen and (max-width: 320px) {
            height: 50px;
    }
}

.bd-nativeAlert_wrap {
    overflow: visible;
    .modal-dialog {
        margin-top: 15px;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .modal-content {
        background-color: black;
        width: 100%;
        padding-bottom: 0;
        overflow: visible;
    }
    .modal-content {
        border: none 0;
    }
    .nativeAlert_pop {
        background-color: black;
        position: relative;
        overflow: visible;
        padding-top: 30px;
        //width: 320px;
        height: 510px;
        background: url('images/bangdan/bd-share-bgp.png') no-repeat center;
        background-size: 100% 510px;
        .pop-close {
            position: absolute;
            bottom: -56px;
            width: 36px;
            height: 36px;
            transform: translate(-50%, 0);
            left: 50%;
        }
        .bd-share-logo{
            top:30px;
            position: relative;
            text-align: center;
            .bd-share-img{
                width: 70px;
                height: 70px;
                //border: 1px solid #E2B250;
                border-radius: 3.5px;
                margin: 0 auto;
                text-align: center;
                overflow: hidden;
                background: #fff no-repeat 50%;
                background-size: contain;
                img{
                    width: 70px;
                    height: 70px;
                }
            }
            .bd-belt{
                position: relative;
                top:-15px;
                margin: 0 auto;
                width: 110px;
                height: 18px;
            }
            span{
                top:-5px;
                position: relative;
                font-family: PingFangSC-Regular;
                font-size: 18px;
                color: #E2B250;
                letter-spacing: 0;
                text-shadow: 0 0 6px rgba(0,0,0,0.80);
                margin: 0 auto;
                display: inline-block;
            }
        }
        .bd-share-rank{
            height: 40px;
            text-align: center;
            margin-top:35px;
            .rank-num{
                span{
                    display: inline-block;
                    padding: 5px;
                }
                .h-line{
                    //width: 10px;
                    //height: 1px;
                    color: #FFC244;
                    font-weight: 600;
                    //background-color: #FFC244;
                }
                .num{
                    font-size: 65px;
                    color: #FFC244;
                    letter-spacing: 0;
                    line-height: 80px;
                    font-style:italic;
                    top: 10px;
                    position: relative;
                    left:-5px;
                }
                .txt{
                    font-size: 22px;
                    color: #E2B250;
                    letter-spacing: 0;
                }
            }
            .total-rank{
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: rgba(255,227,168,0.70);
                letter-spacing: 0;
                line-height: 20px;
            }
        }
        .bd-share-promote{
            width: 100%;
            text-align: center;
            margin-top:100px;
            .center-div{
                width: 80%;
                font-size: 16px;
                color: #FFC244;
                letter-spacing: 0;
                line-height: 30px;
                margin: 0 auto;
            }
        }
        .bd-share-text{
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: rgba(255,227,168,0.50);
            letter-spacing: 0;
        }
        .share-txt-top1{
            margin-top: 30px;
        }
        .share-txt-top2{
            margin-top: 10px;
        }

        .bd-share-app{
            width: 100%;
            margin-top:10px;
            text-align: center;
            .share-app{
                display: inline-block;
                height: 30px;
                width: 30px;
                background-size: 30px 30px;
                img{
                    width: 30px;
                }
            }
            .split-block{
                display: inline-block;
                width:70px;
            }
        }

        .bd-share-txt{
            bottom: 30px;
            position: absolute;
            width: 100%;
            text-align: center;
            @media screen and (max-width: 320px) {
                    bottom: 15px;
            }
            span{
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: rgba(255,227,168,0.70);
                letter-spacing: 0;
                line-height: 14px;
            }
        }

        .bd-investor-share-logo {
            position: relative;
            text-align: center;
            .bd-investor-logo {
                margin: 10px auto 0;
                border: 1px solid #E2B250;
                border-radius: 35px;
                display: inline-block;
                width: 70px;
                height: 70px;
                background: #fff no-repeat 50%;
                background-size: contain;
            }
            .bd-crown{
                position: relative;
                bottom: 84px;
                right: 29px;
                img {
                  width: 7%;
                }
            }
            .other-rank {
                height: 30px;
            }
            .bd-investor-name {
                width: 80%;
                margin: -5px auto 0;
                font-size: 18px;
                color: #E2B250;
                text-shadow: 0 0 6px rgba(0,0,0,0.80);
            }

            .bd-investor-position {
                font-size: 14px;
                color: rgba(255,227,168,0.70);
            }
        }
        .bd-investor-share-rank{
            height: 40px;
            text-align: center;
            .rank-num{
                span{
                    display: inline-block;
                    padding: 5px;
                }
                .h-line{
                    //width: 10px;
                    //height: 1px;
                    color: #FFC244;
                    font-weight: 600;
                    //background-color: #FFC244;
                }
                .num{
                    font-size: 65px;
                    color: #FFC244;
                    letter-spacing: 0;
                    line-height: 80px;
                    font-style:italic;
                    top: 10px;
                    position: relative;
                    left:-5px;
                }
                .txt{
                    font-size: 22px;
                    color: #E2B250;
                    letter-spacing: 0;
                }
            }
            .total-rank{
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: rgba(255,227,168,0.70);
                letter-spacing: 0;
                line-height: 20px;
            }
        }
        .bd-investor-share-promote{
            width: 100%;
            text-align: center;
            margin-top:110px;
            .center-div{
                width: 80%;
                font-size: 16px;
                color: #FFC244;
                letter-spacing: 0;
                line-height: 30px;
                margin: 0 auto;
            }
        }
        .bd-investor-share-app{
            width: 100%;
            margin-top: 45px;
            text-align: center;
            .share-app{
                display: inline-block;
                height: 30px;
                width: 30px;
                background-size: 30px 30px;
                img{
                    width: 30px;
                }
            }
            .split-block{
                display: inline-block;
                width:70px;
            }
        }
    }
}

.bd-txt-center{
    text-align: center;
}
.download-btn-app{
    background: #6ba2fc;
    width: 120px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(43,80,141,0.40);
    border-radius: 19px;
    font-size: 14px;
}
.bd-out-fixdiv{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 13px;
    height: 49px;
    a{
    .download-btn-app;
    }
}
.div-within-btn{
    width: 100%;
    text-align: center;
}

@keyframes popup{
       0%   { bottom: -30px; }
       100% {bottom:0px;}
}

//app外下载提示
.bd-out-app{
    .bd-out-fixdiv;
    background-color: white;
    color: black;
     div{
        float: left;
        width: 50%;
        overflow: hidden;
        height: 100%;
    }
    div:first-child{
        padding-left: 20px;
        p{
            margin-top: 6.5px;
            line-height: 18px;
            height: 30px;
        }
    }
    div:nth-child(2){
        text-align: right;
        a{
                .download-btn-app;
                position: relative;
                right: 20px;
                top:8.5px;
        }
    }
}

.bd-out-app-ani{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 13px;
    height:80px;
    text-align: center;
    div{
        height: 40px;
        width: 100%;
        overflow: hidden;
    }
    p{
        width: 100%;
        color: #3D495C;
        letter-spacing: 0;
        text-align: center;
        padding-left: 10px;
        font-size: 15px;
        line-height: 40px;
    }
    a{
        .download-btn-app;
        position: relative;
    }
}

/**
    app内button样式
**/
.app-bttom-footer{
    * {
        user-select: none;
    }
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 49px;
    border-top: 1px solid #E7E7E7;
    background-color: #FFF;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
    .left,.right{
        float: left;
    }
    .left{
        width:60%;
        line-height: 49px;
        span{
            margin-left: 20px;
            font-size: 15px;
            color: #5A626D;
            letter-spacing: 0;
            line-height: 22px;
        }
        @media screen and (max-width: 320px) {
                width:50%;
        }
    }
    .right{
        width:40%;
        .join-btn{
            margin-top: 7px;
            right:3px;
            position: relative;
            width:138px;
            height: 32px;
            background: #6BA2FC;
            border-radius: 4px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            span{
                font-size: 15px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 18px;
            }
        }
        @media screen and (max-width: 320px) {
                width:50%;
        }
    }
}

// .header-banner-wrapper{
//     width: 100%;
//     position: fixed;
//     top: 0;
//     background: #FFFFFF;
//     border-top: solid 1px #E7E7E7;
//     p:first-child{
//         font-size: 16px;
//         color: #222C38;
//         letter-spacing: -0.08px;
//     }
//     p:last-child{
//         font-size: 14px;
//         color: #969FA9;
//         letter-spacing: -0.07px;
//     }
//     a{
//         display: inline-block;
//         width: 110px;
//         height: 28px;
//         line-height: 28px;
//         background: #6BA2FC;
//         border-radius: 4px;
//         font-size: 14px;
//         color: #FFFFFF;
//         letter-spacing: -0.07px;
//     }
// }

@media screen and (max-width: 768px) {
    .bd-detail-bgp{
      background-size: 768px 100%;
    }
}

@media screen and (max-width: 414px) {
  .bd-detail-bgp{
    background-size: 414px 100%;
  }
}

@media screen and (max-width: 375px) {
      .bd-detail-bgp{
        background-size: 375px 100%;
      }
}

@media screen and (max-width: 320px) {
    .bd-detail-bgp{
      background-size: 320px 100%;
    }
}
