@import "../global/krfunction.less";
/**
    common的部分一般定义在上面

**/
.bd-detail-common{
    * {
        user-select: none;
    }
    width: 100%;
    height: auto;
    max-width:768px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.detail-h-line{
    background: #CF9D3E;
    height: 16px;
    width: 4px;
}
.detail-p-title{
    font-size: 15px;
    color: #222C38;
    letter-spacing: 0;
    margin-left: 10px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.detail-split-line{
    float: left;
    width:1px;
    height: 25px;
    background-color: #F2F4F5;
    //background-color: rgba(255,227,168,0.70);
}




//机构详情
.bd-org-detail{
    * {
        user-select: none;
    }
    width: 100%;
    height: auto;
    max-width:768px;
    margin: 0 auto;
    padding-bottom: 49px;

    .section-detail-footer{
        position: fixed;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,1.00) 57%, #FFFFFF 100%);
        width: 100%;
        height: 167px;
        bottom: 0px;
        background: url('images/bangdan/detail-overlap-btm.png') no-repeat center;
        background-size: 100% 167px;
    }

    .bd-orgdetail-head{
        background-color: black;
        .bd-orgdetail-logo,
        .bd-orgdetail-rank,
        .bd-orgdetail-sta,
        .bd-orgdetail-push{
            width: 100%;
            position: relative;
        }
        .bd-orgdetail-logo{
            top: 20px;
            text-align: center;
            .bd-orgdetail-img{
                width: 60px;
                height: 60px;
                //border: 1px solid #E2B250;
                border-radius: 3.5px;
                margin: 0 auto;
                text-align: center;
                overflow: hidden;
                background: #fff no-repeat 50%;
                background-size: contain;
                img{
                    width: 60px;
                    height: 60px;
                }
            }
            .bd-belt{
                position: relative;
                top:-15px;
                margin: 0 auto;
                width: 110px;
                height: 18px;
            }
            span{
                top:-10px;
                position: relative;
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #E2B250;
                letter-spacing: 0;
                text-shadow: 0 0 6px rgba(0,0,0,0.80);
                margin: 0 auto;
                display: inline-block;
            }
        }
        .bd-orgdetail-rank{
            top:20px;
            font-size: 22px;
            color: #FFCB60;
            letter-spacing: 0;
            text-align: center;
            span:nth-child(2){
                font-size: 12px;
                color: rgba(255,227,168,0.70);
                letter-spacing: 0;
            }
        }
        .bd-orgdetail-sta{
            top:26px;
            .bd-sta{
                width: 33%;
                margin: 0 auto;
                text-align: center;
                float: left;
                .num{
                    font-size: 20px;
                    color: #E2B250;
                    letter-spacing: 0;
                }
                .txt{
                    font-size: 12px;
                    color: rgba(255,227,168,0.70);
                    letter-spacing: 0;
                    line-height: 14px;
                }
            }
            .split-line{
                float: left;
                width:1px;
                height: 25px;
                margin-top:10px;
                background-color: rgba(255,227,168,0.70);
            }

        }
        .bd-orgdetail-push{
            top:36px;
            .push-left,.push-right{
                float: left;
            }

            .push-left{
                width: 70%;
                height: 38px;
                font-size: 12px;
                color: rgba(255,227,168,0.70);
                letter-spacing: 0;
                line-height: 38px;
                padding-left: 10px;

                @media screen and (max-width: 320px) {
                        width: 65%;
                        line-height: 19px;
                }
            }
            .push-right{
                height: 38px;
                width: 30%;
                right: 0px;
                //float:right;
                //margin-top: -25px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-image: linear-gradient(90deg, rgba(226,178,80,0.80) 0%, #E2B250 100%);
                div{
                    width: 100%;
                    font-size: 11px;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: 13px;
                    line-height: 17px;
                    text-align: center;
                }
                div:first-child{
                    margin-top:2px;
                }
                @media screen and (max-width: 320px) {
                        width: 35%;
                }
            }
        }
    }
    .bd-orgdetail-content-start{
        position: relative;
        height: 200px;
        top:50px;
        text-align: center;
    }

    .bd-orgdetail-content{
        position: relative;
        //padding: 0 10px;
        background-color: white;
        width: 100%;
        height: auto;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                * {
                    user-select: none;
                }
                list-style-type: none;
                height: auto;
                overflow: hidden;
                background-color: white;
                &:active{
                    background-color:#E7E7E7;
                }

                // &:hover{
                //     background-color:#dfdfdf;
                //     .icon-left{
                //         .metal{
                //             span{
                //                 color: white;
                //             }
                //         }
                //     }
                //     .txt-right{
                //         border-bottom: 1px solid #C5CEDA;
                //         .txt-middle{
                //             .bd-txt-title,.bd-txt-brief,.bd-txt-phase{
                //                 color: white;
                //             }
                //         }
                //         .sta-right{
                //             .sta-num,
                //             .sta-txt{
                //                 color: white;
                //             }
                //         }
                //     }
                // }
                .icon-left,.txt-right{
                    float: left;
                    height: 100%;
                    overflow: hidden;
                }
                .icon-left{
                    width: 13%;
                     display:table;
                     padding: 12px 0px;

                    .metal{
                        display:table-cell;
                        vertical-align:middle;
                        width: 30px;
                        height: 30px;
                        background-size: 30px 30px;
                        top: 10.5px;
                        position: relative;
                        text-align: center;
                        img{
                            width: 30px;
                        }
                        span{
                            font-size: 20px;
                            color: #C5CEDA;
                            letter-spacing: 0;
                            line-height: 22px;
                            margin: 0 auto;
                        }
                    }
                }
                .txt-right{
                    width:87%;
                    padding: 12px 0px;
                    border-bottom: 1px solid #F2F4F5;
                    .left-logo,.txt-middle,.sta-right{
                        float: left;
                    }
                    .left-logo{
                        width:20%;
                        .logo-outer{
                            border-radius: 5px;
                            text-align: center;
                            overflow: hidden;
                            height: 55px;
                            width: 55px;
                            position: relative;
                            background-size: contain;
                            background-repeat:no-repeat;
                            background-position: center;
                            img{
                                border-radius: 5px;
                                height: 55px;
                                width: 55px;
                            }
                            .funding{
                                position: absolute;
                                text-align: center;
                                height: 18px;
                                width: 55px;
                                font-size: 8px;
                                color: #FFFFFF;
                                font-weight: bold;
                                letter-spacing: 0;
                                line-height: 18px;
                                background-color: black;
                                opacity: 0.6;
                                margin-top: 35px;
                            }
                            .logo-name {
                                position: absolute;
                                text-align: center;
                                color: #fff;
                                height: 100%;
                                line-height: 55px;
                                left: 0;
                                font-size: 15px;
                                width: 100%;
                                top: 0;
                            }
                        }
                    }
                    .txt-middle{
                        width:60%;
                        padding-left: 4px;
                        .bd-txt-title,
                        .bd-txt-brief,
                        .bd-txt-phase{
                            padding: 2px 0px;
                        }
                        .bd-txt-title{
                            font-size: 16px;
                            //color: #CF9D3E;
                            letter-spacing: 0;
                            line-height: 16px;
                            color: #222C38;
                            font-weight: bold;
                        }
                        .bd-txt-brief{
                            font-size: 13px;
                            color: #969FA9;
                            letter-spacing: 0;
                            line-height: 16px;
                        }
                        .bd-txt-phase{
                            font-size: 13px;
                            color: #969FA9;
                            letter-spacing: 0;
                            line-height: 16px;
                        }
                    }
                    .sta-right{
                        width: 20%;
                        text-align: center;
                        margin-top:14px;
                        .sta-num{
                            font-size: 23px;
                            color: #CF9D3E;
                            color: #222C38;
                            letter-spacing: 0;
                            line-height: 24px;
                        }
                        .sta-txt{
                            font-size: 11px;
                            color: #969FA9;
                            letter-spacing: 0;
                            line-height: 14px;
                        }
                    }
                }
                .txt-right-loading{

                }
            }
        }
        .more,.no-more{
             background-color: white;
              text-align: center;
              color: #888;
              font-size: 14px;
              height: 100px;
              line-height: 100px;
        }
    }

    footer{
        * {
            user-select: none;
        }
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 49px;
        border-top: 1px solid #E7E7E7;
        background-color: #FFF;
        //background-color: white;
        //background: rgba(255,255,255,0.90);
        box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
        .left,.right{
            float: left;
        }
        .left{
            width:60%;
            line-height: 49px;
            span{
                margin-left: 20px;
                font-size: 15px;
                color: #5A626D;
                letter-spacing: 0;
                line-height: 22px;
            }
            @media screen and (max-width: 320px) {
                    width:50%;
            }
        }
        .right{
            width:40%;
            .join-btn{
                margin-top: 7px;
                right:3px;
                position: relative;
                width:138px;
                height: 32px;
                background: #6BA2FC;
                border-radius: 4px;
                line-height: 32px;
                text-align: center;
                cursor: pointer;
                span{
                    font-size: 15px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    line-height: 18px;
                }
            }
            @media screen and (max-width: 320px) {
                    width:50%;
            }
        }
    }
}

.bd-investor-detail{
    background-color: #f9f9f9;
    .bd-detail-common;
    position: relative;
    top: 0px;
    bottom: 100px;
    padding-bottom: 110px;

    .bd-investor-avatar{
            height: 196px;
            position: relative;
            text-align: center;
            .bd-orgdetail-logo{
                .bd-orgdetail-img{
                    top:20px;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    //border: 0 solid #E2B250;
                    border-radius: 30px;
                    margin: 0 auto;
                    text-align: center;
                    background: #fff no-repeat 50%;
                    background-size: contain;
                }
                .bd-belt{
                    position: relative;
                    width: 22px;
                    height: 22px;
                    //margin-left: -14px;
                    transform: rotate(5deg);
                    margin-left: -5px;
                    margin-top: -10px;
                }
                span{
                    top:30px;
                    position: relative;
                    font-size: 16px;
                    color: #E2B250;
                    letter-spacing: 0;
                    text-shadow: 0 0 6px rgba(0,0,0,0.80);
                    margin: 0 auto;
                    display: inline-block;
                }
             }
             .jg-info{
                 .txt-deco{
                    text-decoration:underline;
                 }
                 text-align: center;
                 width: 100%;
                 font-size: 14px;
                 color: rgba(255,227,168,0.70);
                 letter-spacing: 0;
                 position: relative;
                 top: 25px;
             }
             .rank-num{
                width: 80%;
                top:40px;
                position: relative;
                font-size: 22px;
                color: #FFCB60;
                letter-spacing: 0;
                text-align: center;
                span:nth-child(1){
                    margin-left:35%;
                }
                span:nth-child(2){
                    font-size: 12px;
                    color: rgba(255,227,168,0.70);
                    letter-spacing: 0;
                }
             }
             .push-right{
                 height: 38px;
                 font-size: 11px;
                 width: 74px;
                 right: 0px;
                 float: right;
                 margin-top: 10px;
                 z-index:22222;
                 border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
                 background-image: linear-gradient(90deg, rgba(226,178,80,0.80) 0%, #E2B250 100%);
                 div{
                     width: 100%;
                     font-size: 11px;
                     color: #000000;
                     letter-spacing: 0;
                     line-height: 13px;
                     line-height: 17px;
                     text-align: center;
                 }
                 div:first-child{
                     margin-top:2px;
                 }
                 img{
                     margin-top: -3px;
                 }
             }
            }

    .bd-investor-info{
        width: 100%;
        height: auto;
        padding: 15px;
        position: relative;

        .padd-Btm-f{
            padding-bottom: 40px;
        }

        .investor-info{
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            box-shadow: 0 0 8px 0 #E0E5EC;
            border-radius: 4px;
            padding-left:  20px;
            padding-right:  20px;
            padding-top:  20px;
            //padding-bottom:  20px;
            overflow:hidden;
            position: relative;

            .info-content{
                font-size: 15px;
                color: #5A626D;
                letter-spacing: 0;
                line-height: 20px;
                position: relative;

                .info{
                    border-bottom: 1px solid #f2f4f5;
                    .text-container{
                        position: relative;
                        //padding-right: 20px;
                        .text-content{
                            text-align: left;
                            overflow : hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            line-height: 20px;
                            font-size: 15px;
                            color: #5A626D;
                            letter-spacing: 0px;

                            //使用after让浏览器重绘文字 使-webkit-line-clamp生效
                            &:after{
                                width: 0;
                                height: 0;
                                display: inline-block;
                                overflow: hidden;
                                content: attr(style);
                            }
                        }
                    }
                    .text-toggle {
                        display: inline-block;
                        font-size: 15px;
                        color: #9aa3ac;
                        letter-spacing: 0;
                        line-height: 20px;
                        width: 100%;
                        height: 20px;
                        text-align: right;
                    }
                    span{
                        word-break: break-all;
                        line-height: 20px;
                        max-height: 80px;
                        display: inline-block;
                        word-wrap: break-word;
                    }
                }
                .industry{
                    margin-top: 8px;
                    background: #FFFFFF;
                    .in-left,.in-right{height: 100%;float: left;}
                    .in-right{
                        width: 80%;
                        position: relative;
                        margin-left: -5px;
                        .text-container{
                            position: relative;
                            //padding-right: 20px;
                            .text-content{
                                text-align: left;
                                overflow : hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                line-height: 22px;
                                font-size: 15px;
                                color: #5A626D;
                                letter-spacing: 0px;
                                padding-left: 10px;
                                margin-top: -2px;
                                //使用after让浏览器重绘文字 使-webkit-line-clamp生效
                                &:after{
                                    width: 0;
                                    height: 0;
                                    display: inline-block;
                                    overflow: hidden;
                                    content: attr(style);
                                }
                            }
                        }
                        .text-toggle {
                            display: inline-block;
                            font-size: 15px;
                            color: #9aa3ac;
                            letter-spacing: 0;
                            line-height: 20px;
                            width: 100%;
                            height: 20px;
                            text-align: right;
                        }

                    }
                    .in-left{
                        width: 20%;
                    }
                    .focus{
                        font-size: 15px;
                        color: #5A626D;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 20px;
                    }
                }
            }
            .open-more{
                width: 100%;
                background: #F9F9F9;
                height: 30px;
                text-align: center;
                bottom: 0px;
                position: absolute;
                left: 0px;
                right: 0px;
                color: #ACB5BF;
                span{
                    font-size: 12px;
                    background: #F9F9F9;
                    letter-spacing: 0;
                    line-height: 30px;
                    img{
                        margin-top: -2px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
    .bd-investor-pro{
        width: 100%;
        background-color: #FFFFFF;
        height: auto;
        padding-bottom: 15px;

        .pro-top{
                width: 100%;
                text-align: left;
                padding: 0px;
                height: 25px;
                line-height: 25px;
                position: relative;
                top: 20px;
                span{
                    display: inline-block;
                    background-color: #FFFFFF;
                }

            .h-line{
                .detail-h-line;
            }
            .p-title{
                .detail-p-title;
            }
        }
        .pro-num{
            height: 64px;
            width: 100%;
            padding: 15px;
            position: relative;
            top:13px;
            .rank-num{
                height: 64px;
                width: 100%;
                background: #F9F9F9;
                border-radius: 4px;
                padding: 10px 0px;
                //border: 1px solid red;
                line-height: 64px;
                .content-num{
                    height: 34px;
                    .bd-sta{
                        width: 33%;
                        height: 34px;
                        float: left;
                        line-height: 25px;
                        text-align: center;
                        .num{
                            font-size: 20px;
                            color: #222C38;
                            letter-spacing: 0;
                        }
                        .txt{
                            font-size: 12px;
                            color: #5A626D;
                            letter-spacing: 0;
                            line-height: 14px;
                        }

                    }
                    .split-line{
                            .detail-split-line;
                            margin-top: 10px;
                    }
                }
            }
        }
        .txt-intro{
            position: relative;
            top:50px;
            font-size: 12px;
            color: #969FA9;
            letter-spacing: 0;
            line-height: 14px;
            padding-left: 15px;
        }
        .pro-list{
            height: auto;
            width: 100%;
            position: relative;
            top:65px;

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                li{
                    * {
                        user-select: none;
                    }
                    list-style-type: none;
                    height: auto;
                    overflow: hidden;
                    background-color: white;
                    &:active{
                        background-color:#E7E7E7;
                    }
                    .icon-left,.txt-right{
                        float: left;
                        height: 100%;
                        overflow: hidden;
                    }
                    .icon-left{
                        width: 13%;
                         display:table;
                         padding: 12px 0px;

                        .metal{
                            display:table-cell;
                            vertical-align:middle;
                            width: 30px;
                            height: 30px;
                            background-size: 30px 30px;
                            top: 10.5px;
                            position: relative;
                            text-align: center;
                            img{
                                width: 30px;
                            }
                            span{
                                font-size: 20px;
                                color: #C5CEDA;
                                letter-spacing: 0;
                                line-height: 22px;
                                margin: 0 auto;
                            }
                        }
                    }
                    .txt-right{
                        width:87%;
                        padding: 12px 0px;
                        border-bottom: 1px solid #F2F4F5;
                        .left-logo,.txt-middle,.sta-right{
                            float: left;
                        }
                        .left-logo{
                            width:20%;
                            .logo-outer{
                                border-radius: 5px;
                                text-align: center;
                                overflow: hidden;
                                height: 55px;
                                width: 55px;
                                position: relative;
                                background-size: contain;
                                background-repeat:no-repeat;
                                background-position: center;
                                img{
                                    border-radius: 5px;
                                    height: 55px;
                                    width: 55px;
                                }
                                .funding{
                                    position: absolute;
                                    text-align: center;
                                    height: 18px;
                                    width: 55px;
                                    font-size: 8px;
                                    color: #FFFFFF;
                                    font-weight: bold;
                                    letter-spacing: 0;
                                    line-height: 18px;
                                    background-color: black;
                                    opacity: 0.6;
                                    margin-top: 35px;
                                }
                                .logo-name {
                                    position: absolute;
                                    text-align: center;
                                    color: #fff;
                                    height: 100%;
                                    line-height: 55px;
                                    left: 0;
                                    font-size: 15px;
                                    width: 100%;
                                    top: 0;
                                }
                            }
                        }
                        .txt-middle{
                            width:60%;
                            padding-left: 4px;
                            .bd-txt-title,
                            .bd-txt-brief,
                            .bd-txt-phase{
                                padding: 2px 0px;
                            }
                            .bd-txt-title{
                                font-size: 16px;
                                //color: #CF9D3E;
                                letter-spacing: 0;
                                line-height: 16px;
                                color: #222C38;
                                font-weight: bold;
                            }
                            .bd-txt-brief{
                                font-size: 13px;
                                color: #969FA9;
                                letter-spacing: 0;
                                line-height: 16px;
                            }
                            .bd-txt-phase{
                                font-size: 13px;
                                color: #969FA9;
                                letter-spacing: 0;
                                line-height: 16px;
                            }
                        }
                        .sta-right{
                            width: 20%;
                            text-align: center;
                            margin-top:14px;
                            .sta-num{
                                font-size: 23px;
                                color: #CF9D3E;
                                color: #222C38;
                                letter-spacing: 0;
                                line-height: 24px;
                            }
                            .sta-txt{
                                font-size: 12px;
                                color: #969FA9;
                                letter-spacing: 0;
                                line-height: 14px;
                            }
                        }
                    }
                    // div:last-child{
                    //     border-bottom: 1px solid white;
                    // }
                }
            }
        }
        .pro-list-loading{
            height: 100%;
            width: 100%;
            position: relative;
            top: 50px;
            text-align: center;
            //min-height: 50px;
            font-size: 15px;
            color: #969FA9;
        }
    }
    .bd-investor-org{
        margin-top: 15px;
        height: auto;
        min-height: 140px;
        width: 100%;
        background-color: #FFFFFF;
        position: relative;
        top: 45px;
        .pro-top{
            width: 100%;
            text-align: left;
            padding: 0px;
            height: 20px;
            line-height: 20px;
            position: relative;
            top: 20px;
            span{
                display: inline-block;
                background-color: #FFFFFF;
            }
        .h-line{
            .detail-h-line;
            }
        .p-title{
            .detail-p-title;
            }
        }
        .jigou-info{
                position: relative;
                top:33px;
                height: 100%;
            .icon-left, .icon-right{
                float: left;
                height: 40px;
            }
            .icon-left{
                width: 20%;
                .logo{
                    height: 40px;
                    width: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid #E7E7E7;
                    border-radius: 4px;
                    margin: 0 auto;
                    text-align: center;
                    span{
                        margin-top: 10px;
                        height: 20px;
                        display: inline-block;
                    }
                }
            }
            .icon-right{
                width: 80%;
                .j-title{
                    font-size: 16px;
                    color: #222C38;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                .j-info{
                    font-size: 13px;
                    color: #969FA9;
                    letter-spacing: 0;
                    line-height: 16px;
                    margin-top:3px;
                }
            }
        }
        .jigou-info-loading{
                position: relative;
                top:35px;
                height: auto;
                text-align: center;
            }
    }

}
